﻿@{
    Layout = "_Layout.cshtml";
}

<h4>@ViewBag.Title</h4>


<div class="tabs-right">
    <ul class="nav nav-tabs sideways visible-xs">
        <li @(ViewBag.ActiveTab == "Data" ? "class=active" : string.Empty)><a href="@(Url.Action("Details", "Customer", new { id = ViewBag.CustomerId }))">Base data</a></li>
        <li @(ViewBag.ActiveTab == "Meet" ? "class=active" : string.Empty)><a href="@(Url.RouteUrl("Intranet_CustomerMeet", new { customerid = ViewBag.CustomerId, action = "Index" }))">Appointments</a></li>
        <li @(ViewBag.ActiveTab == "Offer" ? "class=active" : string.Empty)><a href="@(Url.RouteUrl("Intranet_CustomerOffer", new { customerid = ViewBag.CustomerId, action = "Index" }))">Offer</a></li>
        <li @(ViewBag.ActiveTab == "Receipt" ? "class=active" : string.Empty)><a href="@(Url.RouteUrl("Intranet_CustomerReceipt", new { customerid = ViewBag.CustomerId, action = "Index" }))">Receipts</a></li>
        <li @(ViewBag.ActiveTab == "Bill" ? "class=active" : string.Empty)><a href="@(Url.RouteUrl("Intranet_CustomerBill", new { customerid = ViewBag.CustomerId, action = "Index" }))">Bills</a></li>
        <li @(ViewBag.ActiveTab == "Note" ? "class=active" : string.Empty)><a href="@(Url.RouteUrl("Intranet_CustomerNote", new { customerid = ViewBag.CustomerId, action = "Index" }))">Note</a></li>
    </ul>
    <ul class="nav nav-tabs hidden-xs">
        <li @(ViewBag.ActiveTab == "Data" ? "class=active" : string.Empty)><a href="@(Url.Action("Details", "Customer", new { id = ViewBag.CustomerId }))">Base data</a></li>
        <li @(ViewBag.ActiveTab == "Meet" ? "class=active" : string.Empty)><a href="@(Url.RouteUrl("Intranet_CustomerMeet", new { customerid = ViewBag.CustomerId, action = "Index" }))">Appointments</a></li>
        <li @(ViewBag.ActiveTab == "Offer" ? "class=active" : string.Empty)><a href="@(Url.RouteUrl("Intranet_CustomerOffer", new { customerid = ViewBag.CustomerId, action = "Index" }))">Offer</a></li>
        <li @(ViewBag.ActiveTab == "Receipt" ? "class=active" : string.Empty)><a href="@(Url.RouteUrl("Intranet_CustomerReceipt", new { customerid = ViewBag.CustomerId, action = "Index" }))">Receipts</a></li>
        <li @(ViewBag.ActiveTab == "Bill" ? "class=active" : string.Empty)><a href="@(Url.RouteUrl("Intranet_CustomerBill", new { customerid = ViewBag.CustomerId, action = "Index" }))">Bills</a></li>
        <li @(ViewBag.ActiveTab == "Note" ? "class=active" : string.Empty)><a href="@(Url.RouteUrl("Intranet_CustomerNote", new { customerid = ViewBag.CustomerId, action = "Index" }))">Note</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-inner tab-@ViewBag.ActiveTab">
            @RenderBody()
        </div>
    </div>
</div>

@RenderSection("scripts", required: false)
