﻿@{
    ViewBag.Title = string.Format("CRM {0} - {1}", Session["AccountName"], ViewBag.Title);
    ViewBag.Description = "Customer Relationship Software für Umzugsfirma. eker solutions, Uygar Eker.";
    ViewBag.MetaKeywords = "CRM, Customer Relationship, Kundenverwaltung, Software, Move, cleaning, Unterstützung. eker solutions, Uygar Eker.";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <meta name="title" content="@ViewBag.Title" />
    <meta name="description" content="@ViewBag.MetaDescription" />
    <meta name="keywords" content="@ViewBag.MetaKeywords" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <meta property="og:locale" content="de_DE" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:description" content="@ViewBag.MetaDescription" />
    <meta property="og:site_name" content="CRM of Helvetia Transporte AG, eker solutions, Uygar Eker" />

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/intranet")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("headerend", required: false)
</head>
<body>

    <header>
        @Html.Partial("Main/_HeaderPartial")
    </header>

    <div class="main-body">
        <div class="container body-content">
            @RenderBody()
        </div>
    </div>

    <div id="footer-wrapper">
        <footer>
            @Html.Partial("Main/_FooterPartial")
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
