﻿@model CRM_Umzugsfirma.ViewModels.Mail.MainMailData
@{
    Layout = null;
}

<link href="/Content/print.min.css" rel="stylesheet" />
<style type="text/css" media="all">
    span.color-red {
        color: #e30b0b;
    }
</style>

<br />
<hr />
<b>@Model.AccountName</b> | @Model.AccountStreet | CH-@Model.AccountZip @Model.AccountCity | Hotline: @Model.AccountPhone | Fax: @Model.AccountFax<br />
E-Mail: <span class="color-red">@Model.AccountMail</span> | Internet: <span class="color-red">@Model.AccountWebAddress</span>