﻿@model CRM_Umzugsfirma.ViewModels.Print.ReceiptPrintViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>Receipt</title>
        @Styles.Render("~/Content/css")
        <link href="/Content/print.min.css" rel="stylesheet" />
        <style type="text/css" media="all">
            .sender-adr {
                font-size: 10pt;
                padding-bottom: 20px;
                border-bottom: 1px solid #333;
            }
            .maintitle, .font-maincolor, .font-linkcolor {
                font-size: 18pt;
            }
            .innerbox .row {
                margin-top: 16px;
            }
            .innerbox .col-xs-4 {
                padding-left: 22px;
            }
            .customer-details div {
                line-height: 1.2;
            }
        </style>
    </head>

    <body style="font-size: 13pt !important;">
        <div class="content">
            <div class="clearfix">
                <div class="row btm-spc">
                    <div class="col-xs-12">
                        <img src="@Url.ContentFullPath(string.Format("{0}/img/logo.jpg", Model.PathAccount))" width="360" />
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 25px; font-size: 18pt !important;">
                <div class="col-xs-12"><b>Receipt / Invoice</b></div>
            </div>
            <div class="row customer-details" style="margin-top: 15px;">
                <div class="col-xs-3">
                    <div><b>Auftraggeber:</b></div>
                    <div>@Model.Receipt.CustomerLine1</div>
                    <div>@Model.Receipt.CustomerLine2</div>
                    <div>@Model.Receipt.CustomerLine3</div>
                    <div>@Model.Receipt.CustomerLine4</div>
                    <div>@Model.Receipt.CustomerLine5</div>
                </div>
                <div class="col-xs-3">
                    <div><b>From:</b></div>
                    <div>@Model.Receipt.AdrOut1Line1</div>
                    <div>@Model.Receipt.AdrOut1Line2</div>
                    <div>@Model.Receipt.AdrOut2Line1</div>
                    <div>@Model.Receipt.AdrOut2Line2</div>
                    <div>@Model.Receipt.AdrOut3Line1</div>
                    <div>@Model.Receipt.AdrOut3Line2</div>
                </div>
                <div class="col-xs-3">
                    <div><b>To:</b></div>
                    <div>@Model.Receipt.AdrIn1Line1</div>
                    <div>@Model.Receipt.AdrIn1Line2</div>
                    <div>@Model.Receipt.AdrIn2Line1</div>
                    <div>@Model.Receipt.AdrIn2Line2</div>
                    <div>@Model.Receipt.AdrIn3Line1</div>
                    <div>@Model.Receipt.AdrIn3Line2</div>
                </div>
                <div class="col-xs-3">
                    <div><b>Order Deadline:</b></div>
                    <div>@Model.Receipt.JobDate, @Model.Receipt.JobTime @(!string.IsNullOrEmpty(Model.Receipt.JobTime) ? " O'clock" : string.Empty)</div>
                </div>
            </div>

            <div class="row" style="margin-top: 40px;">
                @*Box with data*@
                <div class="col-xs-12">
                    <div class="innerbox" style="border: 1px solid #000;">
                        <div class="row">
                            <div class="col-xs-4">Expenditure:</div>
                            <div class="col-xs-5">
                                @Helpers.ValueOrUnderscore(Model.ReceiptUmzug.UmzugDuration, 5, null, " h") à @Helpers.ValueCashOrUnderscore(Model.ReceiptUmzug.UmzugRateCost, 8, "CHF ")
                            </div>
                            <div class="col-xs-3">@Helpers.ValueCashOrUnderscore(Model.ReceiptUmzug.UmzugCost, 13, "CHF ")</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-offset-4 col-xs-5">Expenses</div>
                            <div class="col-xs-3">@Helpers.ValueCashOrUnderscore(Model.ReceiptUmzug.UmzugspesenCost, 13, "CHF ")</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-offset-4 col-xs-5">Directions / Return Trip</div>
                            <div class="col-xs-3">@Helpers.ValueCashOrUnderscore(Model.ReceiptUmzug.UmzugWayCost, 13, "CHF ")</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-offset-4 col-xs-5">Packing Materials</div>
                            <div class="col-xs-3">@Helpers.ValueCashOrUnderscore(Model.ReceiptUmzug.UmzugPackCost, 13, "CHF ")</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">Disposal:</div>
                            <div class="col-xs-5">
                                @Helpers.ValueOrUnderscore(Model.ReceiptUmzug.EntsorgungVolume, 5, null, " m3") à @Helpers.ValueCashOrUnderscore(Model.ReceiptUmzug.EntsorgungRateCost, 8, "CHF ")
                            </div>
                            <div class="col-xs-3">@Helpers.ValueCashOrUnderscore(Model.ReceiptUmzug.EntsorgungCost, 13, "CHF ")</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-offset-4 col-xs-5">
                                @Html.DisplayNameFor(model => model.ReceiptUmzug.EntsorgungPauschalCost)
                            </div>
                            <div class="col-xs-3">@Helpers.ValueCashOrUnderscore(Model.ReceiptUmzug.EntsorgungPauschalCost, 13, "CHF ")</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">Supplements:</div>
                            <div class="col-xs-5">@Helpers.ValueOrUnderscore(Model.ReceiptUmzug.AdditionalText1, 25)</div>
                            <div class="col-xs-3">@Helpers.ValueCashOrUnderscore(Model.ReceiptUmzug.AdditionalCost1, 13, "CHF ")</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-offset-4 col-xs-5">@Helpers.ValueOrUnderscore(Model.ReceiptUmzug.AdditionalText2, 25)</div>
                            <div class="col-xs-3">@Helpers.ValueCashOrUnderscore(Model.ReceiptUmzug.AdditionalCost2, 13, "CHF ")</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-offset-4 col-xs-5">@Helpers.ValueOrUnderscore(Model.ReceiptUmzug.AdditionalText3, 25)</div>
                            <div class="col-xs-3">@Helpers.ValueCashOrUnderscore(Model.ReceiptUmzug.AdditionalCost3, 13, "CHF ")</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-offset-4 col-xs-5">@Helpers.ValueOrUnderscore(Model.ReceiptUmzug.AdditionalText4, 25)</div>
                            <div class="col-xs-3">@Helpers.ValueCashOrUnderscore(Model.ReceiptUmzug.AdditionalCost4, 13, "CHF ")</div>
                        </div>
                        @if (!string.IsNullOrEmpty(Model.ReceiptUmzug.AdditionalText3) || !string.IsNullOrEmpty(Model.ReceiptUmzug.AdditionalCost3))
                        {
                            <div class="row">
                                <div class="col-xs-offset-4 col-xs-5">@Helpers.ValueOrUnderscore(Model.ReceiptUmzug.AdditionalText5, 25)</div>
                                <div class="col-xs-3">@Helpers.ValueCashOrUnderscore(Model.ReceiptUmzug.AdditionalCost5, 13, "CHF ")</div>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(Model.ReceiptUmzug.AdditionalText4) || !string.IsNullOrEmpty(Model.ReceiptUmzug.AdditionalCost4))
                        {
                            <div class="row">
                                <div class="col-xs-offset-4 col-xs-5">@Helpers.ValueOrUnderscore(Model.ReceiptUmzug.AdditionalText6, 25)</div>
                                <div class="col-xs-3">@Helpers.ValueCashOrUnderscore(Model.ReceiptUmzug.AdditionalCost6, 13, "CHF ")</div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-xs-4">Deductions:</div>
                            <div class="col-xs-5">@Helpers.ValueOrUnderscore(Model.ReceiptUmzug.AdditionalSubText1, 25)</div>
                            <div class="col-xs-3">@Helpers.ValueCashOrUnderscore(Model.ReceiptUmzug.AdditionalSubCost1, 13, "CHF ")</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-offset-4 col-xs-5">@Helpers.ValueOrUnderscore(Model.ReceiptUmzug.AdditionalSubText2, 25)</div>
                            <div class="col-xs-3">@Helpers.ValueCashOrUnderscore(Model.ReceiptUmzug.AdditionalSubCost2, 13, "CHF ")</div>
                        </div>
                        @if (!string.IsNullOrEmpty(Model.ReceiptUmzug.AdditionalSubText3) || !string.IsNullOrEmpty(Model.ReceiptUmzug.AdditionalSubCost3))
                        {
                            <div class="row">
                                <div class="col-xs-offset-4 col-xs-5">@Helpers.ValueOrUnderscore(Model.ReceiptUmzug.AdditionalSubText3, 25)</div>
                                <div class="col-xs-3">@Helpers.ValueCashOrUnderscore(Model.ReceiptUmzug.AdditionalSubCost3, 13, "CHF ")</div>
                            </div>
                        }
                        <div class="row" >
                            <div class="col-xs-4"></div>
                            @if (!string.IsNullOrEmpty(Model.Receipt.CostFix))
                            {
                                <div class="col-xs-5"><b style="color: #ff0000 !important;">@Html.DisplayNameFor(model => model.Receipt.CostFix)</b></div>
                                <div class="col-xs-3"><b style="color: #ff0000 !important;">@Html.NumberCashPrintableWithCHF(Model.Receipt.CostFix)</b></div>
                            }
                            else if (!string.IsNullOrEmpty(Model.Receipt.CostHigh))
                            {
                                <div class="col-xs-5"><b style="color: #ff0000 !important;">@Html.DisplayNameFor(model => model.Receipt.CostHigh)</b></div>
                                <div class="col-xs-3"><b style="color: #ff0000 !important;">@Html.NumberCashPrintableWithCHF(Model.Receipt.CostHigh)</b></div>
                            }
                        </div>
						@if (Model.Receipt.CostExclTax)
                        {
                            <div class="row" >
								<div class="col-xs-offset-4 col-xs-5" >7.7% VAT</div>
                                <div class="col-xs-3">@string.Format("CHF _____________")</div>
                            </div>
                        }
                        <div class="row" style="padding-bottom: 10px;">
                            <div class="col-xs-4">
                                <b>Total Cost:</b>
                            </div>
                            <div class="col-xs-offset-5 col-xs-3">
                                <b>@Helpers.ValueCashOrUnderscore(Model.Receipt.TotalCost, 13, "CHF ")</b>
                            </div>
                        </div>
                        @if (Model.Receipt.CostInclTax)
                        {
                            <div class="row" style="margin-top: 0; font-size: 10pt !important;">
                                <div class="col-xs-4" style="padding-left: 22px;">All costs incl. VAT.</div>
                                <div class="col-xs-5">VAT.-Number:    CHE-100.582.488</div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 40px;">
                <div class="col-xs-2"><b>Payment:</b></div>
                <div class="col-xs-10">
                    In Bar&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-@(Model.Receipt.PayedCash ? "check" : "unchecked")"></span>&nbsp;&nbsp;&nbsp;@Helpers.ValueCashOrUnderscore(Model.Receipt.PayedCashCost, 17, "CHF ")&nbsp;&nbsp;&nbsp;&nbsp;/
                    &nbsp;&nbsp;&nbsp;&nbsp;Per Invoice&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-@(Model.Receipt.PayedBill ? "check" : "unchecked")"></span>&nbsp;&nbsp;&nbsp;@Helpers.ValueCashOrUnderscore(Model.Receipt.PayedBillCost, 17, "CHF ")
                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-xs-12">The client confirms the correct execution of the order and accepts the stated services. The customer is obliged to check the goods to be moved immediately after unloading at the place of destination. Damages and complaints are to be reported immediately to the team leader.</div>
            </div>
            <div class="row" style="margin-top: 50px;">
                <div class="col-xs-3"><b>Place/Date</b></div>
                <div class="col-xs-offset-1 col-xs-3" style="padding-left: 0;"><b>@Model.Account.AccountName</b></div>
                <div class="col-xs-offset-1 col-xs-4" style="padding-left: 0;"><b>@Model.Receipt.NameSignatureContact</b></div>
            </div>
            <div class="row" style="margin-top: 70px;">
                <div class="col-xs-3" style="border-bottom: 1px solid #000;">&nbsp;</div>
                <div class="col-xs-offset-1 col-xs-3" style="border-bottom: 1px solid #000;">&nbsp;</div>
                <div class="col-xs-offset-1 col-xs-4" style="border-bottom: 1px solid #000;">&nbsp;</div>
            </div>
        </div>
    </body>
</html>