﻿@model CRM_Umzugsfirma.ViewModels.Print.ReceiptPrintViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Receipt</title>
    @Styles.Render("~/Content/css")
    <link href="/Content/print.min.css" rel="stylesheet" />
    <style type="text/css" media="all">
        .sender-adr {
            font-size: 10pt;
            padding-bottom: 20px;
            border-bottom: 1px solid #333;
        }
        .maintitle, .font-maincolor, .font-linkcolor {
            font-size: 18pt;
        }
        .innerbox .row {
            margin-top: 16px;
        }
        .innerbox .col-xs-3, .innerbox .col-xs-8 {
            padding-left: 22px;
        }
        .customer-details div {
            line-height: 1.2;
        }
    </style>
</head>

<body style="font-size: 13pt !important;">
    <div class="content">
        <div class="clearfix">
            <div class="row btm-spc">
                <div class="col-xs-12">
                    <img src="@Url.ContentFullPath(string.Format("{0}/img/logo.jpg", Model.PathAccount))" width="360" />
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 30px; font-size: 18pt !important;">
            <div class="col-xs-12"><b>Receipt / Invoice</b></div>
        </div>
        <div class="row customer-details" style="margin-top: 35px;">
            <div class="col-xs-3">
                <div><b>Auftraggeber:</b></div>
                <div>@Model.Receipt.CustomerLine1</div>
                <div>@Model.Receipt.CustomerLine2</div>
                <div>@Model.Receipt.CustomerLine3</div>
                <div>@Model.Receipt.CustomerLine4</div>
                <div>@Model.Receipt.CustomerLine5</div>
            </div>
            <div class="col-xs-3">
                <div><b>Reinigungsadresse:</b></div>
                <div>@Model.Receipt.AdrOut1Line1</div>
                <div>@Model.Receipt.AdrOut1Line2</div>
            </div>
            <div class="col-xs-3">
                <div><b>cleaning Date:</b></div>
                <div>@Model.Receipt.JobDate@(!string.IsNullOrEmpty(Model.Receipt.JobDate) && !string.IsNullOrEmpty(Model.Receipt.JobTime) ? "," : string.Empty) @Model.Receipt.JobTime @(!string.IsNullOrEmpty(Model.Receipt.JobTime) ? " O'clock" : string.Empty)</div>
            </div>
            <div class="col-xs-3">
                <div><b>Deadline:</b></div>
                <div>@Model.ReceiptReinigung.AbgabeDate@(!string.IsNullOrEmpty(Model.ReceiptReinigung.AbgabeDate) && !string.IsNullOrEmpty(Model.ReceiptReinigung.AbgabeTime) ? "," : string.Empty) @Model.ReceiptReinigung.AbgabeTime @(!string.IsNullOrEmpty(Model.ReceiptReinigung.AbgabeTime) ? " O'clock" : string.Empty)</div>
            </div>
        </div>

        <div class="row" style="margin-top: 50px;">
            @*Box with data*@
            <div class="col-xs-12">
                <div class="innerbox" style="border: 1px solid #000;">
                    <div class="row">
                        <div class="col-xs-8"><strong>@Model.ReceiptReinigung.CleaningTypeText:</strong></div>
                        <div class="col-xs-4">@Model.ReceiptReinigung.Room</div>
                    </div>
                    @if (!string.IsNullOrEmpty(Model.ReceiptReinigung.WishedServices))
                    {
                        <div class="row" style="margin-bottom: 30px;">
                            <div class="col-xs-3">Services:</div>
                            <div class="col-xs-8" style="padding-left: 15px;">@Helpers.ValueOrUnderscore(Model.ReceiptReinigung.WishedServices, 58)</div>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.ReceiptReinigung.HourlyCostRate))
                    {
                        <div class="row">
                            <div class="col-xs-3">Expenditure:</div>
                            <div class="col-xs-5">
                                @Helpers.ValueOrUnderscore(Model.ReceiptReinigung.HourlyCostDuration, 5, null, " h") à @Helpers.ValueCashOrUnderscore(Model.ReceiptReinigung.HourlyCostRate, 8, "CHF ")
                            </div>
                            <div class="col-xs-4">@Helpers.ValueCashOrUnderscore(Model.ReceiptReinigung.HourlyCostSum, 13, "CHF ")</div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-xs-3">Price:</div>
                            <div class="col-xs-offset-5 col-xs-4">@Helpers.ValueCashOrUnderscore(Model.ReceiptReinigung.ReinigungCost, 13, "CHF ")</div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-xs-3">Supplements:</div>
                        <div class="col-xs-5">@Helpers.ValueOrUnderscore(Model.ReceiptReinigung.AdditionalText1, 25)</div>
                        <div class="col-xs-4">@Helpers.ValueCashOrUnderscore(Model.ReceiptReinigung.AdditionalCost1, 13, "CHF ")</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-offset-3 col-xs-5">@Helpers.ValueOrUnderscore(Model.ReceiptReinigung.AdditionalText2, 25)</div>
                        <div class="col-xs-4">@Helpers.ValueCashOrUnderscore(Model.ReceiptReinigung.AdditionalCost2, 13, "CHF ")</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-offset-3 col-xs-5">@Helpers.ValueOrUnderscore(Model.ReceiptReinigung.AdditionalText3, 25)</div>
                        <div class="col-xs-4">@Helpers.ValueCashOrUnderscore(Model.ReceiptReinigung.AdditionalCost3, 13, "CHF ")</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-offset-3 col-xs-5">@Helpers.ValueOrUnderscore(Model.ReceiptReinigung.AdditionalText4, 25)</div>
                        <div class="col-xs-4">@Helpers.ValueCashOrUnderscore(Model.ReceiptReinigung.AdditionalCost4, 13, "CHF ")</div>
                    </div>
                    @if (!string.IsNullOrEmpty(Model.ReceiptReinigung.AdditionalText3) || !string.IsNullOrEmpty(Model.ReceiptReinigung.AdditionalCost3))
                    {
                        <div class="row">
                            <div class="col-xs-offset-3 col-xs-5">@Helpers.ValueOrUnderscore(Model.ReceiptReinigung.AdditionalText5, 25)</div>
                            <div class="col-xs-4">@Helpers.ValueCashOrUnderscore(Model.ReceiptReinigung.AdditionalCost5, 13, "CHF ")</div>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.ReceiptReinigung.AdditionalText4) || !string.IsNullOrEmpty(Model.ReceiptReinigung.AdditionalCost4))
                    {
                        <div class="row">
                            <div class="col-xs-offset-3 col-xs-5">@Helpers.ValueOrUnderscore(Model.ReceiptReinigung.AdditionalText6, 25)</div>
                            <div class="col-xs-4">@Helpers.ValueCashOrUnderscore(Model.ReceiptReinigung.AdditionalCost6, 13, "CHF ")</div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-xs-3">Deductions:</div>
                        <div class="col-xs-5">@Helpers.ValueOrUnderscore(Model.ReceiptReinigung.AdditionalSubText1, 25)</div>
                        <div class="col-xs-4">@Helpers.ValueCashOrUnderscore(Model.ReceiptReinigung.AdditionalSubCost1, 13, "CHF ")</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-offset-3 col-xs-5">@Helpers.ValueOrUnderscore(Model.ReceiptReinigung.AdditionalSubText2, 25)</div>
                        <div class="col-xs-4">@Helpers.ValueCashOrUnderscore(Model.ReceiptReinigung.AdditionalSubCost2, 13, "CHF ")</div>
                    </div>
                    @if (!string.IsNullOrEmpty(Model.ReceiptReinigung.AdditionalSubText3) || !string.IsNullOrEmpty(Model.ReceiptReinigung.AdditionalSubCost3))
                    {
                        <div class="row">
                            <div class="col-xs-offset-3 col-xs-5">@Helpers.ValueOrUnderscore(Model.ReceiptReinigung.AdditionalSubText3, 25)</div>
                            <div class="col-xs-4">@Helpers.ValueCashOrUnderscore(Model.ReceiptReinigung.AdditionalSubCost3, 13, "CHF ")</div>
                        </div>
                    }
					@if (Model.Receipt.CostExclTax)
                        {
                            <div class="row" >
								<div class="col-xs-offset-3 col-xs-5" >7.7% VAT</div>
                                <div class="col-xs-4">@string.Format("CHF _____________")</div>
                            </div>
                        }
                    <div class="row" style="margin-top: 50px; margin-bottom: 20px;">
                        <div class="col-xs-3">
                            <b>Total Cost:</b>
                        </div>
                        <div class="col-xs-offset-5 col-xs-4">
                            <b>@Helpers.ValueCashOrUnderscore(Model.Receipt.TotalCost, 13, "CHF ")</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (Model.Receipt.CostInclTax)
        {
            <div class="row">
                <div class="col-xs-8" style="font-size: 10pt !important;">All costs incl. VAT.</div>
                <div class="col-xs-4" style="font-size: 10pt !important;">VAT.-Number: CHE-100.582.488</div>
            </div>
        }
        <div class="row" style="margin-top: 50px;">
            <div class="col-xs-2"><b>Payment:</b></div>
            <div class="col-xs-10">
                In Bar&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-@(Model.Receipt.PayedCash ? "check" : "unchecked")"></span>&nbsp;&nbsp;&nbsp;@Helpers.ValueCashOrUnderscore(Model.Receipt.PayedCashCost, 17, "CHF ")&nbsp;&nbsp;&nbsp;&nbsp;/
                &nbsp;&nbsp;&nbsp;&nbsp;Per Invoice&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-@(Model.Receipt.PayedBill ? "check" : "unchecked")"></span>&nbsp;&nbsp;&nbsp;@Helpers.ValueCashOrUnderscore(Model.Receipt.PayedBillCost, 17, "CHF ")
            </div>
        </div>
        <div class="row" style="margin-top: 15px;">
            <div class="col-xs-12">The customer confirms the correct execution of the order, accepts the designated services.</div>
        </div>
        <div class="row" style="margin-top: 100px;">
            <div class="col-xs-3"><b>Place/Date</b></div>
            <div class="col-xs-offset-1 col-xs-3" style="padding-left: 0;"><b>@Model.Account.AccountName</b></div>
            <div class="col-xs-offset-1 col-xs-4" style="padding-left: 0;"><b>@Model.Receipt.NameSignatureContact</b></div>
        </div>
        <div class="row" style="margin-top: 70px;">
            <div class="col-xs-3" style="border-bottom: 1px solid #000;">&nbsp;</div>
            <div class="col-xs-offset-1 col-xs-3" style="border-bottom: 1px solid #000;">&nbsp;</div>
            <div class="col-xs-offset-1 col-xs-4" style="border-bottom: 1px solid #000;">&nbsp;</div>
        </div>
    </div>
</body>
</html>