﻿@model CustomerNoteViewModel

@{
    Layout = "~/Areas/Intranet/Views/Shared/_LayoutCustomerView.cshtml";
    ViewBag.ActiveTab = "Note";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/customval")
}

<div class="bs-box bs-box-callout customer-note">
    <div class="bs-top primary">
        @*List of notes*@
        <div class="row">
            <div class="col-xs-12 col-sm-11 col-md-9">

                @for (int i = 0; i < Model.Notes.Count; i++)
                {
                    if (i > 0)
                    {
                        <hr />
                    }
                    <div class="row inner-space-sm">
                        <div class="pull-right col-xs-12 col-sm-offset-1 col-sm-11 col-md-offset-3 col-md-9 col-lg-offset-5 col-lg-7">
                            <div class="col-xs-12 pull-left">
                                <form method="post" action="@Url.RouteUrl("Intranet_CustomerNote", new { action = "Delete", customerid = ViewBag.CustomerId, id = Model.Notes[i].NoteId })">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-danger btn-xs" onclick="javascript:return confirm('Would you like the note of \'@Model.Notes[i].CreateUserId on @Model.Notes[i].CreateDate\' ?');">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </button>
                                    <label>@Model.Notes[i].CreateUserId am @Model.Notes[i].CreateDate</label>
                                    <div class="note-body">
                                        @Html.Raw(Html.Encode(Model.Notes[i].Body).Replace("\r\n", "<br />"))
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>


    </div>
    <div class="bs-end">
        @*New note*@
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-xs-12 col-sm-11 col-md-9">
                    <div class="form-horizontal">

                        <div class="pull-right col-xs-12 col-sm-offset-1 col-sm-11 col-md-offset-3 col-md-9 col-lg-offset-5 col-lg-7">
                            <div class="col-xs-12 pull-left">
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <strong>@Html.DisplayNameFor(model => model.NewNote.Body)</strong>
                                        @Html.TextAreaFor(model => model.NewNote.Body, htmlAttributes: new { @class = "form-control", rows = 5 })
                                        @Html.ValidationMessageFor(model => model.NewNote.Body, "", new { @class = "text-danger" })
                                        <p><i>@Html.DisplayTextFor(model => model.NewNoteCreateUser)</i></p>
                                        @Html.HiddenFor(model => model.NewNote.CustomerId)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input type="submit" value="Add a note" class="btn btn-primary btn-block" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

