﻿@Styles.Render("~/Content/css/intranet/page")

<div class="navbar">
    <div class="container-fluid top-navbar hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <a href="@Url.Action("index", "home")">@Html.GetAccountImage(Session["InnerAccountId"].ToString(), "logo.jpg", Session["AccountName"].ToString(), string.Empty, false)</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand visible-xs-block">
                <a href="@Url.Action("index", "home")">@Html.GetAccountImage(Session["InnerAccountId"].ToString(), "logo.jpg", Session["AccountName"].ToString(), string.Empty, false)</a>
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav main-links">
                <li>@Html.ActionLink("Customer", "Index", "CustomerHome", new { reset = 1 }, null)</li>
                <li>@Html.ActionLink("Appointments", "Index", "Appointments", new { reset = 1 }, null)</li>
                <li>@Html.ActionLink("Offer", "Index", "Offers", new { reset = 1 }, null)</li>
                <li>@Html.ActionLink("Receipts", "Index", "Receipts", new { reset = 1 }, null)</li>
                <li>@Html.ActionLink("Bills", "Index", "Bills", new { reset = 1 }, null)</li>
                <li> <a href="http://helvetiatransporte-crm.ch"> Switch to German </a></li>
                </ul>
            @Html.Partial("Main/_LoginPartial")
        </div>
    </div>
</div>