﻿@using (Html.BeginForm("LogOff", "UserAccount", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
{
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    <li class="top-sep visible-xs-block"></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@Session["UserName"].ToString() <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li>@Html.ActionLink("Edit Profile", "Index", "ManageUser", new { area = "Intranet" }, htmlAttributes: new { title = "Manage" })</li>
            <li>@Html.ActionLink("Edit company data", "Index", "ManageAccount", new { area = "Intranet" }, htmlAttributes: new { title = "Manage" })</li>
            <li class="divider"></li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()" class="link-logout">Sign out</a></li>
        </ul>
    </li>
</ul>
}
