﻿<div class="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Admin Area", "Index", "Home", new { area = "Admin" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("User Logins", "Index", "RegisterUsers", new { area = "Admin" }, null)</li>
                <li>@Html.ActionLink("Company Accounts", "Index", "RegisterAccounts", new { area = "Admin" }, null)</li>
                <li>@Html.ActionLink("Berechtigungen", "Configuration", "Home", new { area = "Admin" }, null)</li>
            </ul>
            @using (Html.BeginForm("LogOff", "UserAccount", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "" }))
            {
                <ul class="nav navbar-nav navbar-right">
                    @Html.AntiForgeryToken()
                    <li class="top-sep visible-xs-block"></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Abmelden</a></li>
                </ul>
            }
        </div>
    </div>
</div>