﻿@model CRM_Umzugsfirma.Areas.Intranet.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Edit Profile";
}

<h3>@ViewBag.Title</h3>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change Password", "ChangePassword")
            }
            ]
        </dd>
        @*<dt>External Logins:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("ManageUser", "ManageLogins") ]
            </dd>*@

    </dl>
</div>
