﻿@model CustomerReceiptViewModel

@Html.HiddenFor(model => model.ReceiptReinigung.ReceiptId)
@Html.HiddenFor(model => model.ReceiptReinigung.ReceiptReinigungId)

<div class="form-group">
    <div class="col-xs-12" style="background-color: powderblue">
        <div class="row top-space-inner-sm">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="row">
                    @Html.LabelFor(model => model.Receipt.CustomerLine1, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                    <div class="col-xs-12">
                        @Html.EditorFor(model => model.Receipt.CustomerLine1, new { htmlAttributes = new { @class = "form-control top-space-min3", type = "text" } })
                    </div>
                    <div class="col-xs-12">
                        @Html.EditorFor(model => model.Receipt.CustomerLine2, new { htmlAttributes = new { @class = "form-control top-space-min3", type = "text" } })
                    </div>
                    <div class="col-xs-12">
                        @Html.EditorFor(model => model.Receipt.CustomerLine3, new { htmlAttributes = new { @class = "form-control top-space-min3", type = "text" } })
                    </div>
                    <div class="col-xs-12">
                        @Html.EditorFor(model => model.Receipt.CustomerLine4, new { htmlAttributes = new { @class = "form-control top-space-min3", type = "text" } })
                    </div>
                    <div class="col-xs-12">
                        @Html.EditorFor(model => model.Receipt.CustomerLine5, new { htmlAttributes = new { @class = "form-control top-space-min3", type = "text" } })
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="row">
                    <label class="col-xs-12 label-bold">cleaning Address</label>
                    <div class="col-xs-12">
                        @Html.EditorFor(model => model.Receipt.AdrOut1Line1, new { htmlAttributes = new { @class = "form-control top-space-min3", type = "text", placeholder = "Street/No." } })
                    </div>
                    <div class="col-xs-12">
                        @Html.EditorFor(model => model.Receipt.AdrOut1Line2, new { htmlAttributes = new { @class = "form-control top-space-min3", type = "text", placeholder = "Place" } })
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="row">
                    <div class="col-xs-12"><b>cleaning Date</b></div>
                    <div class="col-xs-12 top-space-min3">
                        @Html.MyDatepickerFor(model => model.Receipt.JobDate, true, true)
                        @Html.ValidationMessageFor(model => model.Receipt.JobDate, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-xs-12">
                        @Html.EditorFor(model => model.Receipt.JobTime, new { htmlAttributes = new { @class = "form-control top-space-min3", type = "text", placeholder = "Time. Bsp. 8:00" } })
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="row">
                    <div class="col-xs-12"><b>Deadline</b></div>
                    <div class="col-xs-12 top-space-min3">
                        @Html.MyDatepickerFor(model => model.ReceiptReinigung.AbgabeDate, true, true)
                    </div>
                    <div class="col-xs-12">
                        @Html.EditorFor(model => model.ReceiptReinigung.AbgabeTime, new { htmlAttributes = new { @class = "form-control top-space-min3", type = "text", placeholder = "Time. Bsp. 8:00" } })
                    </div>
                </div>
            </div>
        </div>
        <div class="row top-space"></div>
    </div>
</div>

<div class="form-group">
    <div class="col-xs-12">
        <div class="row top-space bottom-space-inner">
            <div class="col-xs-12 col-md-3">
                <label class="label-bold bigger-font underlined-font">Tariff</label>
            </div>
            <div class="col-xs-12 col-md-9">
                <div class="row">
                    <div class="col-xs-12 col-md-7">
                        <div class="row">
                            @Html.LabelFor(model => model.ReceiptReinigung.CleaningTypeText, htmlAttributes: new {@class = "col-xs-12 label-bold"})
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptReinigung.CleaningTypeText, new {htmlAttributes = new {@class = "form-control", type = "text"}})
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-5">
                        <div class="row">
                            @Html.LabelFor(model => model.ReceiptReinigung.Room, htmlAttributes: new { @class = "col-xs-12" })
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptReinigung.Room, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ReceiptReinigung.WishedServices, htmlAttributes: new { @class = "col-xs-12" })
                    <div class="col-xs-12">
                        @Html.EditorFor(model => model.ReceiptReinigung.WishedServices, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                    </div>
                </div>
                <div class="form-group" style="margin-top: 25px; margin-bottom: 0; color: #ff0000;">
                    <div class="col-xs-12"><strong>Entweder Pauschaltarif ausfüllen or Hourly-Tariff. Falls Hourly-Feld (Approach [CHF]) ausgefüllt ist, wird in PDF dieser angezeigt, ansonsten der Pauschaltarif:</strong></div>
                </div>
                <div class="form-group" style="margin-top: 5px; background-color: lightgray;">
                    <div class="col-xs-12">
                        <label class="label-bold">Pauschaltarif</label>
                    </div>
                    <div class="col-xs-12 col-sm-offset-7 col-sm-5">
                        <div class="row">
                            <label class="col-xs-12" for="ReceiptReinigung_ReinigungCost">Price</label>
                            <div class="col-xs-12 req-semi-field">
                                @Html.EditorFor(model => model.ReceiptReinigung.ReinigungCost, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">&nbsp;</div>
                </div>
                <div class="form-group" style="margin-top: 0; margin-bottom: 0; color: #ff0000;">
                    <div class="col-xs-12"><strong>or</strong></div>
                </div>
                <div class="form-group" style="margin-top: 5px; background-color: lightgray;">
                    <div class="col-xs-12">
                        <label class="label-bold">Hourly-Tariff</label>
                    </div>
                    <div class="col-xs-4 col-sm-3">
                        <div class="row">
                            @Html.LabelFor(model => model.ReceiptReinigung.HourlyCostDuration, htmlAttributes: new { @class = "col-xs-12" })
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptReinigung.HourlyCostDuration, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-8 col-sm-4">
                        <div class="row">
                            @Html.LabelFor(model => model.ReceiptReinigung.HourlyCostRate, htmlAttributes: new { @class = "col-xs-12" })
                            <div class="col-xs-12 req-semi-field">
                                @Html.EditorFor(model => model.ReceiptReinigung.HourlyCostRate, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-5">
                        <div class="row">
                            @Html.LabelFor(model => model.ReceiptReinigung.HourlyCostSum, htmlAttributes: new { @class = "col-xs-12" })
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptReinigung.HourlyCostSum, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">&nbsp;</div>
                </div>
            </div>
        </div>

        <div class="row top-space bottom-space-inner">
            <div class="col-xs-12 col-md-3">
                <label class="label-bold bigger-font underlined-font">Supplements</label>
            </div>
            <div class="col-xs-12 col-md-9">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptReinigung.AdditionalText1, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "Text" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptReinigung.AdditionalCost1, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "[CHF]" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptReinigung.AdditionalText2, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "Text" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptReinigung.AdditionalCost2, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "[CHF]" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptReinigung.AdditionalText3, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "Text" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptReinigung.AdditionalCost3, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "[CHF]" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptReinigung.AdditionalText4, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "Text" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptReinigung.AdditionalCost4, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "[CHF]" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptReinigung.AdditionalText5, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "Text" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptReinigung.AdditionalCost5, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "[CHF]" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptReinigung.AdditionalText6, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "Text" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptReinigung.AdditionalCost6, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "[CHF]" } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row top-space bottom-space-inner">
            <div class="col-xs-12 col-md-3">
                <label class="label-bold bigger-font underlined-font">Deductions</label>
            </div>
            <div class="col-xs-12 col-md-9">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptReinigung.AdditionalSubText1, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "Text" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptReinigung.AdditionalSubCost1, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "[CHF]" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptReinigung.AdditionalSubText2, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "Text" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptReinigung.AdditionalSubCost2, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "[CHF]" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptReinigung.AdditionalSubText3, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "Text" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptReinigung.AdditionalSubCost3, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "[CHF]" } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
