﻿@model CustomerReceiptViewModel

@Html.HiddenFor(model => model.ReceiptUmzug.ReceiptId)
@Html.HiddenFor(model => model.ReceiptUmzug.ReceiptUmzugId)

<div class="form-group">
    <div class="col-xs-12" style="background-color: powderblue">
        <div class="row top-space-inner-sm">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="row">
                    @Html.LabelFor(model => model.Receipt.CustomerLine1, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                    <div class="col-xs-12">
                        @Html.EditorFor(model => model.Receipt.CustomerLine1, new { htmlAttributes = new { @class = "form-control top-space-min3", type = "text" } })
                    </div>
                    <div class="col-xs-12">
                        @Html.EditorFor(model => model.Receipt.CustomerLine2, new { htmlAttributes = new { @class = "form-control top-space-min3", type = "text" } })
                    </div>
                    <div class="col-xs-12">
                        @Html.EditorFor(model => model.Receipt.CustomerLine3, new { htmlAttributes = new { @class = "form-control top-space-min3", type = "text" } })
                    </div>
                    <div class="col-xs-12">
                        @Html.EditorFor(model => model.Receipt.CustomerLine4, new { htmlAttributes = new { @class = "form-control top-space-min3", type = "text" } })
                    </div>
                    <div class="col-xs-12">
                        @Html.EditorFor(model => model.Receipt.CustomerLine5, new { htmlAttributes = new { @class = "form-control top-space-min3", type = "text" } })
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="row">
                    @Html.LabelFor(model => model.Receipt.AdrOut1Line1, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                    <div class="col-xs-12">
                        @Html.EditorFor(model => model.Receipt.AdrOut1Line1, new { htmlAttributes = new { @class = "form-control top-space-min3", type = "text", placeholder = "Adr1: Street/No." } })
                    </div>
                    <div class="col-xs-12">
                        @Html.EditorFor(model => model.Receipt.AdrOut1Line2, new { htmlAttributes = new { @class = "form-control top-space-min3", type = "text", placeholder = "Adr1: Place" } })
                    </div>
                    <div class="col-xs-12">
                        @Html.EditorFor(model => model.Receipt.AdrOut2Line1, new { htmlAttributes = new { @class = "form-control top-space-min3", type = "text", placeholder = "Adr2: Street/No." } })
                    </div>
                    <div class="col-xs-12">
                        @Html.EditorFor(model => model.Receipt.AdrOut2Line2, new { htmlAttributes = new { @class = "form-control top-space-min3", type = "text", placeholder = "Adr2: Place" } })
                    </div>
                    <div class="col-xs-12">
                        @Html.EditorFor(model => model.Receipt.AdrOut3Line1, new { htmlAttributes = new { @class = "form-control top-space-min3", type = "text", placeholder = "Adr3: Street/No." } })
                    </div>
                    <div class="col-xs-12">
                        @Html.EditorFor(model => model.Receipt.AdrOut3Line2, new { htmlAttributes = new { @class = "form-control top-space-min3", type = "text", placeholder = "Adr3: Place" } })
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="row">
                    @Html.LabelFor(model => model.Receipt.AdrIn1Line1, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                    <div class="col-xs-12">
                        @Html.EditorFor(model => model.Receipt.AdrIn1Line1, new { htmlAttributes = new { @class = "form-control top-space-min3", type = "text", placeholder = "Adr1: Street/No." } })
                    </div>
                    <div class="col-xs-12">
                        @Html.EditorFor(model => model.Receipt.AdrIn1Line2, new { htmlAttributes = new { @class = "form-control top-space-min3", type = "text", placeholder = "Adr1: Place" } })
                    </div>
                    <div class="col-xs-12">
                        @Html.EditorFor(model => model.Receipt.AdrIn2Line1, new { htmlAttributes = new { @class = "form-control top-space-min3", type = "text", placeholder = "Adr2: Street/No." } })
                    </div>
                    <div class="col-xs-12">
                        @Html.EditorFor(model => model.Receipt.AdrIn2Line2, new { htmlAttributes = new { @class = "form-control top-space-min3", type = "text", placeholder = "Adr2: Place" } })
                    </div>
                    <div class="col-xs-12">
                        @Html.EditorFor(model => model.Receipt.AdrIn3Line1, new { htmlAttributes = new { @class = "form-control top-space-min3", type = "text", placeholder = "Adr3: Street/No." } })
                    </div>
                    <div class="col-xs-12">
                        @Html.EditorFor(model => model.Receipt.AdrIn3Line2, new { htmlAttributes = new { @class = "form-control top-space-min3", type = "text", placeholder = "Adr3: Place" } })
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="row">
                    <div class="col-xs-12"><b>Order Deadline</b></div>
                    <div class="col-xs-12 top-space-min3">
                        @Html.MyDatepickerFor(model => model.Receipt.JobDate, true, true)
                        @Html.ValidationMessageFor(model => model.Receipt.JobDate, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-xs-12">
                        @Html.EditorFor(model => model.Receipt.JobTime, new { htmlAttributes = new { @class = "form-control top-space-min3", type = "text", placeholder = "Time. Bsp. 8:00" } })
                    </div>
                </div>
            </div>
        </div>
        <div class="row top-space"></div>
    </div>
</div>

<div class="form-group">
    <div class="col-xs-12">
        <div class="row top-space bottom-space-inner">
            <div class="col-xs-12 col-md-3">
                <label class="label-bold bigger-font underlined-font">Expenditure</label>
            </div>
            <div class="col-xs-12 col-md-9">
                <div class="row">
                    <div class="col-xs-4 col-sm-3">
                        <div class="row">
                            @Html.LabelFor(model => model.ReceiptUmzug.UmzugDuration, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptUmzug.UmzugDuration, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-8 col-sm-4">
                        <div class="row">
                            @Html.LabelFor(model => model.ReceiptUmzug.UmzugRateCost, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptUmzug.UmzugRateCost, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-5">
                        <div class="row">
                            @Html.LabelFor(model => model.ReceiptUmzug.UmzugCost, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptUmzug.UmzugCost, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ReceiptUmzug.UmzugspesenCost, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                    <div class="col-xs-12">
                        @Html.EditorFor(model => model.ReceiptUmzug.UmzugspesenCost, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                    </div>
                </div>
                <div class="form-group top-sm">
                    @Html.LabelFor(model => model.ReceiptUmzug.UmzugWayCost, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                    <div class="col-xs-12">
                        @Html.EditorFor(model => model.ReceiptUmzug.UmzugWayCost, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "[CHF]" } })
                    </div>
                </div>
                <div class="form-group top-sm">
                    @Html.LabelFor(model => model.ReceiptUmzug.UmzugPackCost, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                    <div class="col-xs-12">
                        @Html.EditorFor(model => model.ReceiptUmzug.UmzugPackCost, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "[CHF]" } })
                    </div>
                </div>
            </div>
        </div>

        <div class="row top-space bottom-space-inner">
            <div class="col-xs-12 col-md-3">
                <label class="label-bold bigger-font underlined-font">disposal</label>
            </div>
            <div class="col-xs-12 col-md-9">
                <div class="row">
                    <div class="col-xs-4 col-sm-3">
                        <div class="row">
                            @Html.LabelFor(model => model.ReceiptUmzug.EntsorgungVolume, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptUmzug.EntsorgungVolume, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-8 col-sm-4">
                        <div class="row">
                            @Html.LabelFor(model => model.ReceiptUmzug.EntsorgungRateCost, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptUmzug.EntsorgungRateCost, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-5">
                        <div class="row">
                            @Html.LabelFor(model => model.ReceiptUmzug.EntsorgungCost, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptUmzug.EntsorgungCost, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-8">
                        <div class="row">
                            @Html.LabelFor(model => model.ReceiptUmzug.EntsorgungPauschalCost, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptUmzug.EntsorgungPauschalCost, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "[CHF]" } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row top-space bottom-space-inner">
            <div class="col-xs-12 col-md-3">
                <label class="label-bold bigger-font underlined-font">Supplements</label>
            </div>
            <div class="col-xs-12 col-md-9">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptUmzug.AdditionalText1, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "Text" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptUmzug.AdditionalCost1, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "[CHF]" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptUmzug.AdditionalText2, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "Text" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptUmzug.AdditionalCost2, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "[CHF]" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptUmzug.AdditionalText3, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "Text" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptUmzug.AdditionalCost3, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "[CHF]" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptUmzug.AdditionalText4, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "Text" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptUmzug.AdditionalCost4, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "[CHF]" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptUmzug.AdditionalText5, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "Text" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptUmzug.AdditionalCost5, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "[CHF]" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptUmzug.AdditionalText6, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "Text" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptUmzug.AdditionalCost6, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "[CHF]" } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row top-space bottom-space-inner">
            <div class="col-xs-12 col-md-3">
                <label class="label-bold bigger-font underlined-font">Deductions</label>
            </div>
            <div class="col-xs-12 col-md-9">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptUmzug.AdditionalSubText1, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "Text" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptUmzug.AdditionalSubCost1, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "[CHF]" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptUmzug.AdditionalSubText2, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "Text" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptUmzug.AdditionalSubCost2, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "[CHF]" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptUmzug.AdditionalSubText3, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "Text" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.EditorFor(model => model.ReceiptUmzug.AdditionalSubCost3, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "[CHF]" } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
