﻿@model CustomerReceiptViewModel

@{
    Layout = "~/Areas/Intranet/Views/Shared/_LayoutCustomerView.cshtml";
    ViewBag.ActiveTab = "Receipt";
}

@section Scripts {
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/receipt")
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
}
@Styles.Render("~/Content/css/datepicker")

<h2>@ViewBag.SubTitle</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-xs-12">
            <div class="form-horizontal">
                <div id="validator-form">
                    <div>
                        @Html.HiddenFor(model => model.Receipt.ReceiptId)
                        @Html.HiddenFor(model => model.Receipt.ReceiptInnerId)
                        @Html.HiddenFor(model => model.Receipt.ReceiptInnerSubId)
                        @Html.HiddenFor(model => model.Receipt.PayTypeId)
                        @Html.HiddenFor(model => model.Receipt.OfferId)
                        @Html.HiddenFor(model => model.Receipt.CustomerId)
                        @Html.HiddenFor(model => model.Receipt.AccountId)
                        @Html.HiddenFor(model => model.Receipt.AppointmentId)
                        @Html.HiddenFor(model => model.Receipt.CreateDate)
                        @Html.HiddenFor(model => model.Receipt.CreateUserId)
                        @Html.HiddenFor(model => model.Receipt.ReceiptTypeId)
                        @Html.HiddenFor(model => model.OldReceiptState)
                        @Html.HiddenFor(model => model.Receipt.ClosedDate)
                        @Html.HiddenFor(model => model.Receipt.ClosedUserId)
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-md-6 col-xl-5">
                            <div class="row">

                                @Html.LabelFor(model => model.Receipt.ReceiptInnerId, htmlAttributes: new { @class = "col-md-5 col-sm-3 label-bold bigger-font" })
                                <div class="col-md-7 col-sm-9 bigger-font">
                                    <strong>@Html.DisplayTextFor(model => model.Receipt.ReceiptInnerIdExtern)</strong>
                                </div>
                            </div>
                            @if (Model.IsEdit || !Model.IsEditable)
                            {
                                <div class="form-group">
                                    <i>@Html.LabelFor(model => model.Receipt.CreateDate, htmlAttributes: new { @class = "col-md-5 col-sm-3" })</i>
                                    <div class="col-md-7 col-sm-9">
                                        <i>@Html.DisplayFor(model => model.Receipt.CreateDate)</i>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    @if (!Model.IsEditable && (!string.IsNullOrEmpty(ViewBag.SuccessMessage)))
                    {
                        <hr />
                        <div class="form-group">
                            <div class="col-xs-12">
                                <p class="alert alert-success">
                                    <b>Successfully!</b><br />
                                    @ViewBag.SuccessMessage<br />
                                </p>
                            </div>
                        </div>
                    }

                    <hr />

                    <div class="form-group">
                        <div class="col-xs-12 col-md-6 col-xl-5">
                            <div class="row">
                                @Html.LabelFor(model => model.Receipt.ReceiptTypeId, htmlAttributes: new { @class = "col-md-5 col-sm-3 label-bold bigger-font" })
                                <div class="col-md-7 col-sm-9 bigger-font">
                                    @*                                    @Html.DisplayTextFor(model => model.Receipt.ReceiptTypeId)*@
                                    @Helpers.EnumDisplayName(@Model.Receipt.ReceiptTypeId)
                                </div>
                            </div>
                            @if (Model.IsEdit || !Model.IsEditable)
                            {
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Receipt.ReceiptStateId, htmlAttributes: new { @class = "col-md-5 col-sm-3 label-bold bigger-font" })
                                    <div class="col-md-7 col-sm-9">
                                        @Html.MyDropdownListFor(model => model.Receipt.ReceiptStateId, (List<SelectListItem>)ViewBag.ReceiptStateList)
                                    </div>
                                </div>
                                if (Model.Receipt.ReceiptStateId == Receipt.ReceiptState.Completed)
                                {
                                    if (Model.Receipt.ClosedDate != DateTime.MinValue)
                                    {
                                        <div class="form-group">
                                            <i>@Html.LabelFor(model => model.Receipt.ClosedDate, htmlAttributes: new { @class = "col-md-5 col-sm-3" })</i>
                                            <div class="col-md-7 col-sm-9">
                                                <i>@Html.DisplayFor(model => model.Receipt.ClosedDate)</i>
                                            </div>
                                        </div>
                                    }
                                    <div class="form-group">
                                        <div class="col-md-7 col-md-offset-5 col-sm-9 col-sm-offset-3">
                                            @if (Model.Receipt.OfferId > 0)
                                            {
                                                <a href="@Url.RouteUrl("Intranet_CustomerBill", new {action = "Edit", customerid = ViewBag.CustomerId, offerid = Model.Receipt.OfferId})"
                                                   onclick="javascript: alert('Attention: For the invoice, the data from the offer \'@Model.Receipt.ReceiptInnerId\' took.');" class="real-link">Create Invoice</a>
                                            }
                                            else
                                            {
                                                <a href="@Url.RouteUrl("Intranet_CustomerBill", new {action = "Edit", customerid = ViewBag.CustomerId, offerid = Model.Receipt.OfferId})"
                                                   onclick="javascript: return confirm('The receipt was not created via an offer, therefore the offer is unknown. Otherwise you can go to the offer and create the invoice via the offer. Do you still want to create the invoice?');" class="real-link">Create Invoice</a>
                                            }
                                        </div>
                                    </div>
                                }
                            }

                        </div>
                    </div>

                    <hr />

                    @*Partial render body*@
                    @if (Model.Receipt.ReceiptTypeId == Receipt.ReceiptType.cleaning)
                    {
                        @Html.Partial("~/Areas/Intranet/Views/Customer/CustomerReceipt/EditReinigung.cshtml", Model)
                    }
                    else
                    {
                        @Html.Partial("~/Areas/Intranet/Views/Customer/CustomerReceipt/EditUmzug.cshtml", Model)
                    }
                    
                    <div class="form-group">
                        <div class="col-xs-12" style="background-color: darksalmon">

                            <div class="row top-space bottom-space-inner">
                                <div class="col-xs-12 col-md-3">
                                    <label class="col-xs-12 label-bold bigger-font underlined-font">Costs</label>
                                </div>
                                <div class="col-xs-12 col-md-9">
                                    @if (Model.Receipt.ReceiptTypeId == Receipt.ReceiptType.Move)
                                    {
                                        <div class="row">
                                            @Html.LabelFor(model => model.Receipt.CostFix, htmlAttributes: new {@class = "col-xs-12 label-bold bigger-font"})
                                            <div class="col-xs-12">
                                                @Html.EditorFor(model => model.Receipt.CostFix, new {htmlAttributes = new {@class = "form-control", type = "text"}})
                                            </div>
                                            @if (!string.IsNullOrEmpty(Model.ReceiptCostFixText))
                                            {
                                                <div class="col-xs-12"><i><u>ACHTUNG:</u> @Model.ReceiptCostFixText</i></div>
                                            }
                                        </div>
                                        <div class="row">
                                            @Html.LabelFor(model => model.Receipt.CostHigh, htmlAttributes: new { @class = "col-xs-12 label-bold bigger-font" })
                                            <div class="col-xs-12">
                                                @Html.EditorFor(model => model.Receipt.CostHigh, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                                            </div>
                                            @if (!string.IsNullOrEmpty(Model.ReceiptCostHighText))
                                            {
                                                <div class="col-xs-12"><i><u>ACHTUNG:</u> @Model.ReceiptCostHighText</i></div>
                                            }
                                        </div>
                                    }
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Receipt.TotalCost, htmlAttributes: new {@class = "col-xs-12 label-bold bigger-font"})
                                        <div class="col-xs-12">
                                            @Html.EditorFor(model => model.Receipt.TotalCost, new {htmlAttributes = new {@class = "form-control", type = "text"}})
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-top: 5px;">
                                        <div class="col-xs-12">
                                            @Html.CheckBoxFor(model => model.Receipt.CostInclTax, new { @class = "control-checkbox" })
                                            <label for="Receipt_CostInclTax">Cost VAT Included.</label>
                                        </div>
                                        <div class="col-xs-12">
                                            @Html.CheckBoxFor(model => model.Receipt.CostExclTax, new { @class = "control-checkbox" })
                                            <label for="Receipt_CostExclTax">Cost VAT Excluded.</label>
                                        </div>
                                        <div class="col-xs-12">
                                            @Html.CheckBoxFor(model => model.Receipt.CostInclTax, new { @class = "control-checkbox" })
                                            <label for="Receipt_CostFreeTax">Cost VAT Free.</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" style="margin-top: 0;">
                        <div class="col-xs-12" style="background-color: orange">
                            <div class="row top-space bottom-space-inner">
                                <div class="col-xs-12 col-md-3">
                                    <label class="col-xs-12 label-bold bigger-font underlined-font">Payment</label>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            @Html.CheckBoxFor(model => model.Receipt.PayedCash, new { @class = "control-checkbox" })
                                            <label for="Receipt_PayedCash">In Bar</label>
                                        </div>
                                        <div class="col-xs-12">
                                            @Html.EditorFor(model => model.Receipt.PayedCashCost, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "CHF [Amount]" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            @Html.CheckBoxFor(model => model.Receipt.PayedBill, new { @class = "control-checkbox" })
                                            <label for="Receipt_PayedBill">In Invoice</label>
                                        </div>
                                        <div class="col-xs-12">
                                            @Html.EditorFor(model => model.Receipt.PayedBillCost, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "CHF [Amount]" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12 col-md-offset-7 col-md-5" style="background-color: powderblue">
                            <div class="form-group top-sm">
                                @Html.LabelFor(model => model.Receipt.NameSignatureContact, htmlAttributes: new { @class = "col-xs-12 label-bold bigger-font" })
                                <div class="col-xs-12">
                                    @Html.EditorFor(model => model.Receipt.NameSignatureContact, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                                </div>
                            </div>
                            <div class="row top-space"></div>
                        </div>
                    </div>

                    <hr />

                    <div class="form-group">
                        @*Email*@
                        <div class="col-xs-12">
                            @Html.CheckBoxFor(model => model.Receipt.EmailToCustomer, new { @class = "control-checkbox", aria_expanded = Model.Receipt.EmailToCustomer ? "true" : "false", aria_controls = "email-additions", data_toggle = "collapse", data_target = "#email-additions" })
                            @Html.LabelFor(model => model.Receipt.EmailToCustomer, htmlAttributes: new { @class = "label-bold bigger-font" })
                        </div>
                        <div id="email-additions" class="col-xs-12 collapse@(Model.Receipt.EmailToCustomer ? " in" : string.Empty)">
                            <div class="group-color clearfix bottom-space-inner">
                                <div class="col-xs-12 col-md-6 col-xl-5">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Receipt.EmailAddress, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                                        <div class="col-xs-12">
                                            @Html.EditorFor(model => model.Receipt.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Receipt.EmailAddress, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                @if (Model.IsEditable)
                                {
                                    <div class="col-xs-12">
                                        <div class="form-group top-space-inner-sm">
                                            @*Change EmailText*@
                                            <div id="emailchangetextselector" class="col-xs-12">
                                                @Html.CheckBoxFor(model => model.Receipt.ChangeEmailText, new { @class = "control-checkbox", aria_expanded = Model.Receipt.ChangeEmailText ? "true" : "false", aria_controls = "emailchangetext-additions", data_toggle = "collapse", data_target = "#emailchangetext-additions" })
                                                <i>@Html.LabelFor(model => model.Receipt.ChangeEmailText, htmlAttributes: new { @class = "label-bold" })</i>
                                                &nbsp;<span id="emailchangetext-tooltip" class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" data-html="true" title="The standard mail can be changed here. If nothing is changed, please activate the checkbox not. <br> If in the email text ##SystemText_BLABLA## this should happen ##...##-Words not removed. <br> Before sending, the system replaces these words with defined values."></span>
                                                <script type="text/javascript">
                                                    $(document).ready(function () {
                                                        $("#@Html.IdFor(model => model.Receipt.ChangeEmailText)").change(function () {
                                                            if ($(this).is(":checked")) {
                                                                var url = "@Url.Action("EmailText", new { customerid = ViewBag.CustomerId, mailTemplate = @Model.Receipt.ReceiptTypeId == Receipt.ReceiptType.cleaning ? "ReceiptReinigung" : "ReceiptUmzug" })";
                                                                loadEmailChangeData(url, "@Html.IdFor(model => model.Receipt.ChangeEmailTextContainer.Subject)", "@Html.IdFor(model => model.Receipt.ChangeEmailTextContainer.Body)", "emailchangetext-loader");
                                                            } else {
                                                                $("#@Html.IdFor(model => model.Receipt.ChangeEmailTextContainer.Subject)").val("");
                                                                $("#@Html.IdFor(model => model.Receipt.ChangeEmailTextContainer.Body)").val("");
                                                                tinymce.remove("#@Html.IdFor(model => model.Receipt.ChangeEmailTextContainer.Body)");
                                                                tinymceInitialized = false;
                                                            }
                                                        });
                                                        // if emailchangetext checkbox is checked at the beginning, so init tinymce
                                                        if (@(Model.Receipt.ChangeEmailText.ToString().ToLower())) {
                                                            initializeTinymce("@Html.IdFor(model => model.Receipt.ChangeEmailTextContainer.Body)");
                                                        }
                                                    });
                                                </script>
                                            </div>
                                            <div id="emailchangetext-additions" class="col-xs-12 collapse@(Model.Receipt.ChangeEmailText ? " in" : string.Empty)">
                                                <div class="row clearfix bottom-space-inner">
                                                    <div class="col-xs-12">
                                                        <div class="row">
                                                            <div id="emailchangetext-loader" class="loader-absolute-container" style="display: none;">
                                                                <div class="loader"></div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group top-sm">
                                                            <div class="col-xs-12">
                                                                @Html.LabelFor(model => model.Receipt.ChangeEmailTextContainer.Subject, htmlAttributes: new { @class = "label-bold" })
                                                            </div>
                                                            <div class="col-xs-12">
                                                                @Html.EditorFor(model => model.Receipt.ChangeEmailTextContainer.Subject, new { htmlAttributes = new { @class = "form-control" } })
                                                            </div>
                                                        </div>
                                                        <div class="form-group top-sm">
                                                            <div class="col-xs-12">
                                                                @Html.LabelFor(model => model.Receipt.ChangeEmailTextContainer.Body, htmlAttributes: new { @class = "label-bold" })
                                                            </div>
                                                            <div class="col-xs-12">
                                                                @Html.TextAreaFor(model => model.Receipt.ChangeEmailTextContainer.Body, htmlAttributes: new { @class = "form-control", rows = 20 })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <hr />

                    @if (Model.IsEditable)
                    {
                        <div class="form-group top-space-inner">
                            <div class="col-md-offset-2 col-md-3 col-sm-5">
                                <input type="submit" value="@ViewBag.SubmitText" class="btn btn-primary btn-block" />
                            </div>
                        </div>
                    }

                </div>

            </div>
        </div>
    </div>
}

<form method="post" class="form-horizontal" action="@Url.RouteUrl("Intranet_CustomerReceipt", new { action = "Delete", customerid = ViewBag.CustomerId, id = Model.Receipt.ReceiptId })">
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                @if (Model.IsEditable)
                {
                    <div class="col-md-offset-2 col-md-3 col-sm-5 col-xs-6">
                        <a href="@Url.RouteUrl("Intranet_CustomerReceipt", new { action = "Index", customerid = ViewBag.CustomerId })" class="btn btn-default btn-block">Cancel</a>
                    </div>
                    <div class="col-md-3 col-sm-5 col-xs-6">
                        @if ((Model.Receipt.ReceiptId != Guid.Empty))
                        {
                            <input type="submit" value="Clear" class="btn btn-danger btn-block" onclick="javascript: return confirm('Would you like the receipt with the ReceiptNo \'@Model.Receipt.ReceiptInnerIdExtern\' ?');" />
                        }
                    </div>
                    if (!Model.IsEdit)
                    {
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $("#validator-form").find('input[type="submit"]').click(function () {
                                    this.disabled = true;
                                    this.value = 'Created on..';
                                    enableSubmitBtn(this);
                                    this.form.submit();
                                    return true;
                                });
                            });
                            function enableSubmitBtn(btn) {
                                setTimeout(function () {
                                    this.value = 'Create';
                                    btn.disabled = false;
                                }, 20000);
                            }
                        </script>
                    }
                }
                else
                {
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-3 col-sm-5 col-xs-6">
                                <a href="@Url.RouteUrl("Intranet_CustomerReceipt", new { action = "Index", customerid = ViewBag.CustomerId })" class="btn btn-default btn-block">Back</a>
                            </div>
                            <div class="col-md-3 col-sm-5 col-xs-6">
                                <a href="@Url.RouteUrl("Intranet_CustomerReceipt", new { action = "Edit", customerid = ViewBag.CustomerId, id = Model.Receipt.ReceiptId })" class="btn btn-primary btn-block">Edit</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-3 col-sm-5 col-xs-6">
                                <a href="@Url.Action("ReceiptP", "Print", new { area = "", id = ViewBag.PrintId })" class="btn btn-default btn-block">Print</a>
                            </div>
                            @if (Model.Receipt.ReceiptStateId != Receipt.ReceiptState.Completed)
                            {
                                <div class="col-md-3 col-sm-5 col-xs-6">
                                    <a href="@Url.RouteUrl("Intranet_CustomerReceipt", new { action = "Close", customerid = ViewBag.CustomerId, id = Model.Receipt.ReceiptId })" class="btn btn-success btn-block">Auftrag abschliessen</a>
                                </div>
                            }
                        </div>
                    </div>

                    <script type="text/javascript">
                        $(document).ready(function () {
                            $("#validator-form").find("input,select,textarea").each(function () {
                                $(this).prop("disabled", true);
                            });
                        });
                    </script>
                }
            </div>
        </div>
    </div>
</form>
