﻿@model IEnumerable<Receipt>

@{
    Layout = "~/Areas/Intranet/Views/Shared/_LayoutCustomerView.cshtml";
    ViewBag.ActiveTab = "Receipt";
    ViewBag.SubTitle = "Receipts";
}

<h2>@ViewBag.SubTitle</h2>

<div class="row">
    @*<div class="col-xs-12"><a href="@Url.RouteUrl("Intranet_CustomerReceipt", new { action = "Edit", customerid = ViewBag.CustomerId })" class="real-link">Neue Create a receipt</a></div>*@
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="table table-linked">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ReceiptInnerId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ReceiptTypeId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.JobDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreateDate)
                    </th>
                    <th>
                        Amount
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PayTypeId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ReceiptStateId)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Details", new { customerid = item.CustomerId, id = item.ReceiptId })">
                                @Html.DisplayFor(modelItem => item.ReceiptInnerIdExtern)
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("Details", new { customerid = item.CustomerId, id = item.ReceiptId })">
                                @Html.DisplayFor(modelItem => item.ReceiptTypeId)
                            </a> 
                        </td>
                        <td>
                            <a href="@Url.Action("Details", new { customerid = item.CustomerId, id = item.ReceiptId })">
                                @Html.DisplayFor(modelItem => item.JobDate), @Html.DisplayFor(modelItem => item.JobTime)
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("Details", new { customerid = item.CustomerId, id = item.ReceiptId })">
                                @Html.DisplayFor(modelItem => item.CreateDate)
                            </a>
                        </td>
                        <td>
                            @{
                                var totalCostString = item.TotalCost;
                                decimal totalCost;
                                if (!string.IsNullOrEmpty(totalCostString) && decimal.TryParse(totalCostString, out totalCost))
                                {
                                    @Html.NumberCashPrintableWithChf(totalCost)
                                }
                                else
                                {
                                    @Html.Raw("-")
                                }

                            }
                        </td>
                        <td>
                            <a href="@Url.Action("Details", new { customerid = item.CustomerId, id = item.ReceiptId })">
                                @Html.DisplayFor(modelItem => item.PayTypeId)
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("Details", new { customerid = item.CustomerId, id = item.ReceiptId })">
                                @Html.DisplayFor(modelItem => item.ReceiptStateId)
                            </a>
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { customerid = item.CustomerId, id = item.ReceiptId }, new { @class = "real-link" })
                        </td>

                    </tr>
                }

            </table>
        </div>
    </div>
</div>
