﻿@model CRM_Umzugsfirma.Areas.Intranet.Models.Account

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="row">
    <div class="col-xs-12 col-md-6">
        @*Account*@
        <h4>Account</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.InnerAccountId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.InnerAccountId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AccountName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AccountName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Street)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Street)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Zip)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Zip)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Fax)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Fax)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Mobile)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Mobile)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ContactName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ContactName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ContactPhone)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ContactPhone)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.WebPage)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.WebPage)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.GoogleEmail)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.GoogleEmail)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CreateDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreateDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CreateUserId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreateUserId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ModifyDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ModifyDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ModifyUserId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ModifyUserId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>
        </dl>
    </div>
    <div class="col-xs-12 col-md-6">
        @*Email-Configuration*@
        <h4>Email-Configuration</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.AccountEmailConfig.Host)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AccountEmailConfig.Host)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AccountEmailConfig.Port)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AccountEmailConfig.Port)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AccountEmailConfig.UseSSL)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AccountEmailConfig.UseSSL)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AccountEmailConfig.SenderAccount)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AccountEmailConfig.SenderAccount)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AccountEmailConfig.SenderAccountPass)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AccountEmailConfig.SenderAccountPass)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AccountEmailConfig.SenderDisplayName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AccountEmailConfig.SenderDisplayName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AccountEmailConfig.ReplyAddress)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AccountEmailConfig.ReplyAddress)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AccountEmailConfig.SenderAddressSales)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AccountEmailConfig.SenderAddressSales)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AccountEmailConfig.SenderAddressAccounting)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AccountEmailConfig.SenderAddressAccounting)
            </dd>
        </dl>
    </div>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AccountId }, new { @class = "real-link" }) |
    @Html.ActionLink("Back to the View", "Index", null, new { @class = "real-link" })
</p>
