﻿@import '../variables.scss';

.navbar {
    background-color: #cf4141;
    color: #222;
    a {
        color: #222 !important;
        text-decoration: none;
    }
    .navbar-nav {
        li {
            a:hover, a:focus {
                background-color: #511b1b;
                color: #ddd !important;
            }
        }
        .top-sep {
            height: 1px;
            margin: 9px 0px;
            overflow: hidden;
            background-color: #E5E5E5;
        }

    }
    .navbar-toggle {
        background-color: #511b1b;
        border-color: #222;
        .icon-bar {
            background-color: #ddd;
        }
    }
}