﻿.navbar {
  background-color: #cf4141;
  color: #222; }
  .navbar a {
    color: #222 !important;
    text-decoration: none; }
  .navbar .navbar-nav li a:hover, .navbar .navbar-nav li a:focus {
    background-color: #511b1b;
    color: #ddd !important; }
  .navbar .navbar-nav .top-sep {
    height: 1px;
    margin: 9px 0px;
    overflow: hidden;
    background-color: #E5E5E5; }
  .navbar .navbar-toggle {
    background-color: #511b1b;
    border-color: #222; }
    .navbar .navbar-toggle .icon-bar {
      background-color: #ddd; }

