﻿/*generals*/
h2, h3 {
  margin-top: 10px; }

.subfields label {
  margin-bottom: 0;
  padding-top: 5px; }

/*home*/
.home-content .btn {
  width: 250px; }

/*note*/
.customer-note button.btn-danger {
  position: absolute;
  right: 0; }

