﻿@import '../variables.scss';

#footer-wrapper {
    position: fixed;
    height: 25px;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 0;
    .footer-info {
        padding-top: 0;
    }
}
@media (max-width: 417px)
{
    #footer-wrapper {
        height: 40px;
    }
}