﻿@model IEnumerable<Offer>

@{
    Layout = "~/Areas/Intranet/Views/Shared/_LayoutCustomerView.cshtml";
    ViewBag.ActiveTab = "Offer";
    ViewBag.SubTitle = "Offers";
}

<h2>@ViewBag.SubTitle</h2>

<div class="row">
    <div class="col-xs-12"><a href="@Url.RouteUrl("Intranet_CustomerOffer", new { action = "Edit", customerid = ViewBag.CustomerId })" class="real-link">Enter new offer</a></div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="table table-linked">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.OfferInnerId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreateDate)
                    </th>
                    <th>
                        Services
                    </th>
                    <th>
                        Service Completed
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OfferStateId)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Details", new { customerid = item.CustomerId, id = item.OfferId })">
                                @Html.DisplayFor(modelItem => item.OfferInnerId)
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("Details", new { customerid = item.CustomerId, id = item.OfferId })">
                                @Html.DisplayFor(modelItem => item.CreateDate)
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("Details", new { customerid = item.CustomerId, id = item.OfferId })">
                                @{
                                    string s = (item.UmzugActive ? ",Move" : string.Empty);
                                    s += (item.PackActive ? ",Packing" : string.Empty);
                                    s += (item.PackOutActive ? ",Unpacking" : string.Empty);
                                    s += (item.EntsorgungActive ? ",Disposal" : string.Empty);
                                    s += (item.ReinigungActive || item.Reinigung2Active ? ",cleaning" : string.Empty);
                                    s += (item.LagerungActive ? ",Storage" : string.Empty);
                                    s += (item.TransportActive ? ",Transport" : string.Empty);
                                    s += (item.PackMaterialActive ? ",Packingmaterial" : string.Empty);
                                    if (s.Length > 0)
                                    {
                                        s = s.Substring(1);
                                    }
                                    @Html.Raw(s)
                                }
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("Details", new { customerid = item.CustomerId, id = item.OfferId })">
                                    @if (item.UmzugActive && !string.IsNullOrEmpty(item.UmzugDate))
                                    {
                                        @Html.Raw(string.Format("{0}, {1}", item.UmzugDate, item.UmzugTime));
                                    }
                                    else if (item.PackActive && !string.IsNullOrEmpty(item.PackDate))
                                    {
                                        @Html.Raw(string.Format("{0}, {1}", item.PackDate, item.PackTime));
                                    }
                                    else if (item.PackOutActive && !string.IsNullOrEmpty(item.PackOutDate))
                                    {
                                        @Html.Raw(string.Format("{0}, {1}", item.PackOutDate, item.PackOutTime));
                                    }
                                    else if (item.ReinigungActive && item.OfferCleaning != null && !string.IsNullOrEmpty(item.OfferCleaning.ReinigungDate))
                                    {
                                        @Html.Raw(string.Format("{0}, {1}", item.OfferCleaning.ReinigungDate, item.OfferCleaning.ReinigungTime));
                                    }
                                    else if (item.Reinigung2Active && item.OfferCleaning2 != null && !string.IsNullOrEmpty(item.OfferCleaning2.ReinigungDate))
                                    {
                                        @Html.Raw(string.Format("{0}, {1}", item.OfferCleaning2.ReinigungDate, item.OfferCleaning2.ReinigungTime));
                                    }
                                    else if (item.TransportActive && item.OfferTransport != null && !string.IsNullOrEmpty(item.OfferTransport.TransportDate))
                                    {
                                        @Html.Raw(string.Format("{0}, {1}", item.OfferTransport.TransportDate, item.OfferTransport.TransportTime));
                                    }
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("Details", new { customerid = item.CustomerId, id = item.OfferId })">
                                @Html.DisplayFor(modelItem => item.OfferStateId)
                            </a>
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { customerid = item.CustomerId, id = item.OfferId }, new { @class = "real-link" })
                        </td>

                    </tr>
                }

            </table>
        </div>
    </div>
</div>
