﻿@model CustomerOfferViewModel
@{
    Layout = null;
}

<div id="ReceiptDecisionBox" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Confirm Receipt Type</h4>
            </div>
            <div class="modal-body">
                <div class="row bottom-space">
                    <div class="col-xs-12">
                        For what service do you want the Create a Receipt?
                    </div>
                </div>
                <div class="row">
                    @if (Model.Offer.UmzugActive || Model.Offer.PackActive || Model.Offer.PackOutActive || Model.Offer.EntsorgungActive || Model.Offer.TransportActive)
                    {
                        <div class="col-xs-12 col-sm-6 inner-space-sm">
                            <a href="@Url.RouteUrl("Intranet_CustomerReceipt", new {action = "Edit", customerid = ViewBag.CustomerId, offerid = Model.Offer.OfferId, receiptTypeId = 1})"
                               class="btn btn-primary btn-block">Standard: Moving / Disposal / Transport</a>
                        </div>
                    }
                    else
                    {
                        <div class="col-xs-12 col-sm-6 inner-space-sm">
                            <a href="@Url.RouteUrl("Intranet_CustomerReceipt", new {action = "Edit", customerid = ViewBag.CustomerId, offerid = Model.Offer.OfferId, receiptTypeId = 1})"
                               class="btn btn-primary btn-block" onclick="javascript: return confirm('You have not offered any of the services. Although you can create a Receipt, you must enter the data yourself. Continue?');">Standard: Moving / Disposal / Transport</a>
                        </div>
                    }
                    @if (Model.Offer.ReinigungActive)
                    {
                        <div class="col-xs-12 col-sm-6 inner-space-sm">
                            <a href="@Url.RouteUrl("Intranet_CustomerReceipt", new {action = "Edit", customerid = ViewBag.CustomerId, offerid = Model.Offer.OfferId, receiptTypeId = 2})"
                               class="btn btn-info btn-block">cleaning</a>
                        </div>
                    }
                    else
                    {
                        <div class="col-xs-12 col-sm-6 inner-space-sm">
                            <a href="@Url.RouteUrl("Intranet_CustomerReceipt", new {action = "Edit", customerid = ViewBag.CustomerId, offerid = Model.Offer.OfferId, receiptTypeId = 2})"
                               class="btn btn-info btn-block" onclick="javascript: return confirm('You have not offered cleaning. Although you can create a Receipt, you must enter the data yourself. Continue?');">cleaning</a>
                        </div>
                    }
                    @if (Model.Offer.Reinigung2Active)
                    {
                        <div class="col-xs-12 col-sm-offset-6 col-sm-6 inner-space-sm">
                            <a href="@Url.RouteUrl("Intranet_CustomerReceipt", new {action = "Edit", customerid = ViewBag.CustomerId, offerid = Model.Offer.OfferId, receiptTypeId = 2, subServicePart = 2})"
                               class="btn btn-info btn-block">cleaning 2</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>