﻿@using CRM_Umzugsfirma.Areas.Intranet.Models.Enums
@model CustomerOfferViewModel

@Html.HiddenFor(model => model.Offer.OfferCleaning2.OfferCleaningId)
@Html.HiddenFor(model => model.Offer.OfferCleaning2.OfferId)
@Html.HiddenFor(model => model.Offer.OfferCleaning2.SectorId)

<div class="form-group">
    <div class="col-xs-12">
        @Html.CheckBoxFor(model => model.Offer.Reinigung2Active, new
                       {
                           @class = "control-checkbox",
                           aria_expanded = Model.Offer.Reinigung2Active ? "true" : "false",
                           aria_controls = "reinigung2container",
                           data_toggle = "collapse",
                           data_target = "#reinigung2container"
                       })
        @Html.LabelFor(model => model.Offer.Reinigung2Active, htmlAttributes: new { @class = "label-bold bigger-font" })
    </div>
</div>
<div id="reinigung2container" class="form-group collapse@(Model.Offer.Reinigung2Active ? " in" : string.Empty)">
    <div class="inner-space-col group-color clearfix">
        <div class="col-xs-12 col-md-6 col-xl-5">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        @Html.LabelFor(model => model.Offer.OfferCleaning2.ReinigungType, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                        <div class="col-xs-12">
                            @Html.MyDropdownListFor(model => model.Offer.OfferCleaning2.ReinigungType, (List<SelectListItem>)ViewBag.Reinigung2TypeList, new { @class = "form-control", data_onchange = "#reinigung2typchangecont" })
                        </div>
                    </div>
                    <div id="reinigung2typchangecont" class="form-group top-sm" style="@((Model.Offer.OfferCleaning2.ReinigungType == CleaningType.Please_choose) ? "display: block;" : "display: none;")">
                        @Html.LabelFor(model => model.Offer.OfferCleaning2.ReinigungTypeFreeText, htmlAttributes: new { @class = "col-xs-12" })
                        <div class="col-xs-12">
                            @Html.EditorFor(model => model.Offer.OfferCleaning2.ReinigungTypeFreeText, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                            @Html.ValidationMessageFor(model => model.Offer.OfferCleaning2.ReinigungTypeFreeText, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group top-sm">
                @Html.LabelFor(model => model.Offer.OfferCleaning2.ReinigungWishedServiceFreeText, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                <div class="col-xs-12">
                    @Html.EditorFor(model => model.Offer.OfferCleaning2.ReinigungWishedServiceFreeText, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "[Part services: Ex. Only windows, bathroom, ..] / [cleaning: stone floors, wet, ..]" } })
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-xs-12" style="background-color: #bbb; padding-bottom: 20px;">
                    <div class="form-group">
                        @Html.LabelFor(model => model.HelperReinigung2PriceRateId, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                        <div class="col-xs-12 req-semi-field">
                            @Html.MyDropdownListFor(model => model.HelperReinigung2PriceRateId, (List<SelectListItem>)ViewBag.Reinigung2PriceList, new { @class = "form-control", data_onchange = "#reinigung2priceratechangecont" })
                            @Html.ValidationMessageFor(model => model.HelperReinigung2PriceRateId, "", new { @class = "text-danger" })
                        </div>
                        <div id="reinigung2priceratechangecont" class="col-xs-12" style="@((!string.IsNullOrEmpty(Model.HelperReinigung2PriceRateId) || !Model.IsEditable) ? "display: block;" : "display: none;")">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="row">
                                        @Html.LabelFor(model => model.Offer.OfferCleaning2.ReinigungCostChangedPrice, htmlAttributes: new { @class = "col-xs-12" })
                                        <div class="col-xs-12">
                                            @Html.EditorFor(model => model.Offer.OfferCleaning2.ReinigungCostChangedPrice, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <i>Either fill in "Tariff price (flat rate)" or "Tariff (hourly rate)". If tariff is filled, it will be taken.</i>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" style="background-color: #bbb; padding-bottom: 20px;">
                    <div class="form-group">
                        @Html.LabelFor(model => model.HelperReinigung2HourlyPriceRateId, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                        <div class="col-xs-12 req-semi-field">
                            @Html.MyDropdownListFor(model => model.HelperReinigung2HourlyPriceRateId, (List<SelectListItem>)ViewBag.Reinigung2HourlyPriceList, new { @class = "form-control", data_onchange = "#reinigung2hourlypriceratechangecont" })
                            @Html.ValidationMessageFor(model => model.HelperReinigung2HourlyPriceRateId, "", new { @class = "text-danger" })
                        </div>
                        <div id="reinigung2hourlypriceratechangecont" class="col-xs-12" style="@((!string.IsNullOrEmpty(Model.HelperReinigung2HourlyPriceRateId) || !Model.IsEditable) ? "display: block;" : "display: none;")">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="row">
                                        @Html.LabelFor(model => model.Offer.OfferCleaning2.ReinigungHourlyCostChangedPers, htmlAttributes: new { @class = "col-xs-12" })
                                        <div class="col-xs-12">
                                            @Html.EditorFor(model => model.Offer.OfferCleaning2.ReinigungHourlyCostChangedPers, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="row">
                                        @Html.LabelFor(model => model.Offer.OfferCleaning2.ReinigungHourlyCostChangedPrice, htmlAttributes: new { @class = "col-xs-12" })
                                        <div class="col-xs-12">
                                            @Html.EditorFor(model => model.Offer.OfferCleaning2.ReinigungHourlyCostChangedPrice, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group top-sm req-semi-field">
                                @Html.LabelFor(model => model.Offer.OfferCleaning2.ReinigungHourlyDuration, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                                <div class="col-xs-12">
                                    @Html.EditorFor(model => model.Offer.OfferCleaning2.ReinigungHourlyDuration, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                                    @Html.ValidationMessageFor(model => model.Offer.OfferCleaning2.ReinigungHourlyDuration, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Offer.OfferCleaning2.AdditServiceDuebellocher, htmlAttributes: new { @class = "col-xs-12 col-sm-6 label-bold" })
                <div class="col-xs-12 col-sm-6">
                    @Html.RadioButtonForEnum(model => model.Offer.OfferCleaning2.AdditServiceDuebellocher)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Offer.OfferCleaning2.AdditServiceHochdruckreiniger, htmlAttributes: new { @class = "col-xs-12 col-sm-6 label-bold" })
                <div class="col-xs-12 col-sm-6">
                    @Html.RadioButtonForEnum(model => model.Offer.OfferCleaning2.AdditServiceHochdruckreiniger)
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-xl-5 right-top-space-sm">
            <div class="row">
                @Html.LabelFor(model => model.Offer.OfferCleaning2.ReinigungDate, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                <div class="col-xs-12">
                    @Html.MyDatepickerFor(model => model.Offer.OfferCleaning2.ReinigungDate, true, false)
                </div>
            </div>
            <div class="form-group top-sm">
                @Html.LabelFor(model => model.Offer.OfferCleaning2.ReinigungTime, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                <div class="col-xs-12">
                    @Html.MyTimepickerFor(model => model.Offer.OfferCleaning2.ReinigungTime, "timepicker-reinigung2", true, true)
                </div>
            </div>
            <div class="form-group top-sm">
                @Html.LabelFor(model => model.Offer.OfferCleaning2.ReinigungDateCommit, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                <div class="col-xs-12">
                    @Html.MyDatepickerFor(model => model.Offer.OfferCleaning2.ReinigungDateCommit, true)
                </div>
            </div>
            <div class="form-group top-sm">
                @Html.LabelFor(model => model.Offer.OfferCleaning2.ReinigungTimeCommit, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                <div class="col-xs-12">
                    @Html.MyTimepickerFor(model => model.Offer.OfferCleaning2.ReinigungTimeCommit, "timepicker-reinigung2commit", true, true)
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    @Html.CheckBoxFor(model => model.Offer.OfferCleaning2.ReinigungCostAddit, new
                                   {
                                       @class = "control-checkbox",
                                       aria_expanded = Model.Offer.OfferCleaning2.ReinigungCostAddit ? "true" : "false",
                                       aria_controls = "reinigung2additcontainer",
                                       data_toggle = "collapse",
                                       data_target = "#reinigung2additcontainer"
                                   })
                    @Html.LabelFor(model => model.Offer.OfferCleaning2.ReinigungCostAddit, htmlAttributes: new { @class = "label-bold" })
                </div>
                <div id="reinigung2additcontainer" class="col-xs-12 collapse@(Model.Offer.OfferCleaning2.ReinigungCostAddit ? " in" : string.Empty)">
                    @for (int i = 0; i < Model.Reinigung2PriceAdditCosts.Count; i++)
                    {
                        <div class="form-group top-sm">
                            @Html.HiddenFor(m => m.Reinigung2PriceAdditCosts[i].Id)
                            @Html.HiddenFor(m => m.Reinigung2PriceAdditCosts[i].Descr)
                            @Html.HiddenFor(m => m.Reinigung2PriceAdditCosts[i].DescrToShow)
                            <div class="col-xs-8">
                                @Html.CheckBoxFor(m => m.Reinigung2PriceAdditCosts[i].Selected, new { @class = "control-checkbox", data_value = Model.Reinigung2PriceAdditCosts[i].Descr })
                                @Html.LabelFor(m => m.Reinigung2PriceAdditCosts[i].Selected, Model.Reinigung2PriceAdditCosts[i].Descr)
                            </div>
                            <div class="col-xs-4">
                                @Html.EditorFor(m => m.Reinigung2PriceAdditCosts[i].Price, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                            </div>
                        </div>
                    }
                    <div class="form-group top-sm">
                        <div class="col-xs-8">
                            @Html.EditorFor(m => m.Offer.OfferCleaning2.ReinigungCostAdditFreeTextPlus1, new { htmlAttributes = new { @class = "form-control", placeholder = "Free Text" } })
                        </div>
                        <div class="col-xs-4">
                            @Html.EditorFor(m => m.Offer.OfferCleaning2.ReinigungCostAdditFreeTextPlus1Price, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        </div>
                    </div>
                    <div class="form-group top-sm">
                        <div class="col-xs-8">
                            @Html.EditorFor(m => m.Offer.OfferCleaning2.ReinigungCostAdditFreeTextPlus2, new { htmlAttributes = new { @class = "form-control", placeholder = "Free Text" } })
                        </div>
                        <div class="col-xs-4">
                            @Html.EditorFor(m => m.Offer.OfferCleaning2.ReinigungCostAdditFreeTextPlus2Price, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group top-sm">
                @Html.LabelFor(model => model.Offer.OfferCleaning2.ReinigungCostAdditFreeTextMinus1, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                <div class="col-xs-12">
                    <div class="form-group top-sm">
                        <div class="col-xs-8">
                            @Html.EditorFor(m => m.Offer.OfferCleaning2.ReinigungCostAdditFreeTextMinus1, new { htmlAttributes = new { @class = "form-control", placeholder = "Free Text" } })
                        </div>
                        <div class="col-xs-4">
                            @Html.EditorFor(m => m.Offer.OfferCleaning2.ReinigungCostAdditFreeTextMinus1Price, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group top-sm">
                @if (!string.IsNullOrEmpty(Model.Offer.OfferCleaning2.ReinigungCostSum))
                {
                    @Html.Label(!string.IsNullOrEmpty(Model.HelperReinigung2PriceRateId) ? "Package Price" : "Estimated Costs", htmlAttributes: new { id = "Offer_OfferCleaning2_ReinigungCostSumLabel", @class = "col-xs-12 label-bold" })
                }
                else
                {
                    @Html.LabelFor(model => model.Offer.OfferCleaning2.ReinigungCostSum, htmlAttributes: new { id = "Offer_OfferCleaning2_ReinigungCostSumLabel", @class = "col-xs-12 label-bold" })
                }
                <div class="col-xs-12">
                    @Html.EditorFor(model => model.Offer.OfferCleaning2.ReinigungCostSum, new { htmlAttributes = new { @class = "form-control req-field" } })
                    @Html.ValidationMessageFor(model => model.Offer.OfferCleaning2.ReinigungTime, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function () {
    $('#Offer_OfferCleaning2_ReinigungType').change(function () {
        if (this.value !== "" && this.value !== "0") {
            $(this.dataset.onchange).hide();
            $('#Offer_OfferCleaning2_ReinigungTypeFreeText').val('');
        }
        else {
            $(this.dataset.onchange).show();
        }
    });
    $('#HelperReinigung2PriceRateId').change(function () {
        if (this.value !== "") {
            $(this.dataset.onchange).show();
            var split = this.value.split("|");
            $('#Offer_OfferCleaning2_ReinigungCostChangedPrice').val(split[1]);
        }
        else {
            $(this.dataset.onchange).hide();
            $('#Offer_OfferCleaning2_ReinigungCostChangedPrice').val('0');
        }
    });
    $('#HelperReinigung2HourlyPriceRateId').change(function () {
        if (this.value !== "") {
            $(this.dataset.onchange).show();
            var split = this.value.split("|");
            $('#Offer_OfferCleaning2_ReinigungHourlyCostChangedPers').val(split[2]);
            $('#Offer_OfferCleaning2_ReinigungHourlyCostChangedPrice').val(split[1]);
        }
        else {
            $(this.dataset.onchange).hide();
            $('#Offer_OfferCleaning2_ReinigungHourlyCostChangedPers').val('0');
            $('#Offer_OfferCleaning2_ReinigungHourlyCostChangedPrice').val('0');
            $('#Offer_OfferCleaning2_ReinigungHourlyDuration').val('');
        }
    });
    $('#HelperReinigung2PriceRateId, #Offer_OfferCleaning2_ReinigungCostChangedPrice, #HelperReinigung2HourlyPriceRateId, #Offer_OfferCleaning2_ReinigungHourlyDuration, #Offer_OfferCleaning2_ReinigungHourlyCostChangedPrice').change(function () {
        // remove sum cost, so that user must set it again after change tarif
        $('#Offer_OfferCleaning2_ReinigungCostSum').val('');
        offercleaning2_updatetotallabel();
    });
    $('#Offer_OfferCleaning2_ReinigungCostSum').focus(function () {
        var ctrl = $('#Offer_OfferCleaning2_ReinigungCostSum');
        if (ctrl.val()) {
            offercleaning2_updatetotallabel();
            return;
        }

        var pricemin = 0;
        var pricemax = 0;

        if ($('#HelperReinigung2PriceRateId').val() != "") {
            pricemin = parseInt($('#Offer_OfferCleaning2_ReinigungCostChangedPrice').val());
        } else if ($('#HelperReinigung2HourlyPriceRateId').val() != "") {
            var reinigunghourlycost = $('#Offer_OfferCleaning2_ReinigungHourlyCostChangedPrice').val();
            if (reinigunghourlycost == 0) return;

            if ($('#Offer_OfferCleaning2_ReinigungHourlyDuration').val() == "") return;
            var time = $('#Offer_OfferCleaning2_ReinigungHourlyDuration').val().split("-");
            if (time.length == 2) {
                pricemin = reinigunghourlycost * parseInt(time[0]);
                pricemax = reinigunghourlycost * parseInt(time[1]);
            }
            else {
                pricemin = reinigunghourlycost * parseInt(time[0]);
            }
        }
        if (pricemin == 0) return;

        var additionprice = 0;
        if ($('#Offer_OfferCleaning2_ReinigungCostAddit').is(':checked')) {
            $('#reinigung2additcontainer').find('input:checked').each(function () {
                var intprice = $('#' + this.id.replace("_Selected", "_Price")).val();
                if (intprice != "") {
                    additionprice += parseInt(intprice);
                }
            });
            var priceplus = $('#Offer_OfferCleaning2_ReinigungCostAdditFreeTextPlus1Price').val();
            if (priceplus != "") additionprice += parseInt(priceplus);
            priceplus = $('#Offer_OfferCleaning2_ReinigungCostAdditFreeTextPlus2Price').val();
            if (priceplus != "") additionprice += parseInt(priceplus);
        }

        var subtractprice = 0;
        var priceminus = $('#Offer_OfferCleaning2_ReinigungCostAdditFreeTextMinus1Price').val();
        if (priceminus != "") subtractprice += parseInt(priceminus);

        var estimateCost = "0";
        if (additionprice > 0) {
            pricemin += parseInt(additionprice);
            if (pricemax > 0) {
                pricemax += parseInt(additionprice);
            }
        }
        if (subtractprice > 0) {
            pricemin -= parseInt(subtractprice);
            if (pricemax > 0) {
                pricemax -= parseInt(subtractprice);
            }
        }

        if (pricemax > 0) {
            estimateCost = pricemin + "-" + pricemax;
        } else {
            estimateCost = pricemin;
        }

        ctrl[0].value = estimateCost;
    });
});
function offercleaning2_updatetotallabel() {
    // set costsum description: Flat rate (CostFix) or Geschatzt (HourlyPriceRate)
    var costSumLabelDescription = "Package Price oder Estimated Costs (je nach gewähltes Tariff)";
    var tempField = $('#HelperReinigung2PriceRateId').val();
    if (tempField != "") {
        costSumLabelDescription = "Package Price";
    } else {
        tempField = $('#HelperReinigung2HourlyPriceRateId').val();
        if (tempField != "") {
            costSumLabelDescription = "Estimated Costs";
        }
    }
    $('#Offer_OfferCleaning2_ReinigungCostSumLabel').html(costSumLabelDescription);
}
@if (!Model.IsEditable)
{
    @Html.Raw("offercleaning2_updatetotallabel();");
}
</script>