﻿@model CustomerOfferViewModel

@Html.HiddenFor(model => model.Offer.OfferTransport.OfferTransportId)
@Html.HiddenFor(model => model.Offer.OfferTransport.OfferId)
@Html.HiddenFor(model => model.Offer.OfferTransport.SectorId)

<div class="form-group">
    <div class="col-xs-12">
        @Html.CheckBoxFor(model => model.Offer.TransportActive, new
                       {
                           @class = "control-checkbox",
                           aria_expanded = Model.Offer.TransportActive ? "true" : "false",
                           aria_controls = "transportcontainer",
                           data_toggle = "collapse",
                           data_target = "#transportcontainer"
                       })
        @Html.LabelFor(model => model.Offer.TransportActive, htmlAttributes: new { @class = "label-bold bigger-font" })
    </div>
</div>
<div id="transportcontainer" class="form-group collapse@(Model.Offer.TransportActive ? " in" : string.Empty)">
    <div class="inner-space-col group-color clearfix">
    <div class="col-xs-12 col-md-6 col-xl-5">
        <div class="row">
            @Html.LabelFor(model => model.Offer.OfferTransport.TransportTypeFreeText, htmlAttributes: new { @class = "col-xs-12 label-bold" })
            <div class="col-xs-12">
                @Html.EditorFor(model => model.Offer.OfferTransport.TransportTypeFreeText, new { htmlAttributes = new { @class = "form-control", type = "text" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12" style="background-color: #bbb; padding-bottom: 20px;">
                <div class="form-group">
                    @Html.LabelFor(model => model.Offer.OfferTransport.TransportCostFixRatePrice, htmlAttributes: new { @class = "col-xs-12" })
                    <div class="col-xs-12">
                        @Html.EditorFor(model => model.Offer.OfferTransport.TransportCostFixRatePrice, new { htmlAttributes = new { @class = "form-control req-semi-field", type = "text" } })
                        @Html.ValidationMessageFor(model => model.Offer.OfferTransport.TransportCostFixRatePrice, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12" style="padding-bottom: 10px;">
                <i>Either fill in "flat rate tariff" or "hourly tariff". If flat rate rate is filled, this is taken.</i>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="background-color: #bbb; padding-bottom: 20px;">
                <div class="form-group">
                    @Html.LabelFor(model => model.HelperTransportPriceRateId, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                    <div class="col-xs-12 req-semi-field">
                        @Html.MyDropdownListFor(model => model.HelperTransportPriceRateId, (List<SelectListItem>)ViewBag.TransportPriceList, new { @class = "form-control", data_onchange = "#transportpriceratechangecont" })
                        @Html.ValidationMessageFor(model => model.HelperTransportPriceRateId, "", new { @class = "text-danger" })
                    </div>
                    <div id="transportpriceratechangecont" class="col-xs-12" style="@((!string.IsNullOrEmpty(Model.HelperTransportPriceRateId) || !Model.IsEditable) ? "display: block;" : "display: none;")">
                        <div class="row">
                            <div class="col-xs-4 col-sm-3">
                                <div class="row">
                                    @Html.LabelFor(model => model.Offer.OfferTransport.TransportCostChangedPers, htmlAttributes: new { @class = "col-xs-12" })
                                    <div class="col-xs-12">
                                        @Html.EditorFor(model => model.Offer.OfferTransport.TransportCostChangedPers, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-3">
                                <div class="row">
                                    @Html.LabelFor(model => model.Offer.OfferTransport.TransportCostChangedVeh, htmlAttributes: new { @class = "col-xs-12" })
                                    <div class="col-xs-12">
                                        @Html.EditorFor(model => model.Offer.OfferTransport.TransportCostChangedVeh, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-3">
                                <div class="row">
                                    @Html.LabelFor(model => model.Offer.OfferTransport.TransportCostChangedTrailer, htmlAttributes: new { @class = "col-xs-12" })
                                    <div class="col-xs-12">
                                        @Html.EditorFor(model => model.Offer.OfferTransport.TransportCostChangedTrailer, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-offset-8 col-xs-4 col-sm-offset-0 col-sm-3">
                                <div class="row">
                                    @Html.LabelFor(model => model.Offer.OfferTransport.TransportCostChangedPrice, htmlAttributes: new { @class = "col-xs-12" })
                                    <div class="col-xs-12">
                                        @Html.EditorFor(model => model.Offer.OfferTransport.TransportCostChangedPrice, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group top-sm">
                    @Html.LabelFor(model => model.Offer.OfferTransport.TransportDuration, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                    <div class="col-xs-12">
                        @Html.EditorFor(model => model.Offer.OfferTransport.TransportDuration, new { htmlAttributes = new { @class = "form-control req-semi-field", placeholder = "4-5" } })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group top-sm">
            @Html.LabelFor(model => model.Offer.OfferTransport.TransportDate, htmlAttributes: new {@class = "col-xs-12 label-bold"})
            <div class="col-xs-12">
                @Html.MyDatepickerFor(model => model.Offer.OfferTransport.TransportDate, true, false)
            </div>
        </div>
        <div class="form-group top-sm">
            @Html.LabelFor(model => model.Offer.OfferTransport.TransportTime, htmlAttributes: new {@class = "col-xs-12 label-bold"})
            <div class="col-xs-12">
                @Html.MyTimepickerFor(model => model.Offer.OfferTransport.TransportTime, "timepicker-transport", true, true)
            </div>
        </div>
        <div class="form-group top-sm">
            @Html.LabelFor(model => model.Offer.OfferTransport.TransportCostWay, htmlAttributes: new {@class = "col-xs-12 label-bold"})
            <div class="col-xs-12">
                @Html.EditorFor(model => model.Offer.OfferTransport.TransportCostWay, new {htmlAttributes = new {@class = "form-control", type = "text"}})
            </div>
        </div>
    </div>
        <div class="col-xs-12 col-md-6 col-xl-5 right-top-space-sm">
            <div class="row">
                <div class="col-xs-12">
                    @Html.CheckBoxFor(model => model.Offer.OfferTransport.TransportCostAddit, new
                                   {
                                       @class = "control-checkbox",
                                       aria_expanded = Model.Offer.OfferTransport.TransportCostAddit ? "true" : "false",
                                       aria_controls = "transportadditcontainer",
                                       data_toggle = "collapse",
                                       data_target = "#transportadditcontainer"
                                   })
                    @Html.LabelFor(model => model.Offer.OfferTransport.TransportCostAddit, htmlAttributes: new { @class = "label-bold" })
                </div>
                <div id="transportadditcontainer" class="col-xs-12 collapse@(Model.Offer.OfferTransport.TransportCostAddit ? " in" : string.Empty)">
                    <div class="form-group top-sm">
                        <div class="col-xs-8">
                            @Html.EditorFor(m => m.Offer.OfferTransport.TransportCostAdditFreeTextPlus1, new { htmlAttributes = new { @class = "form-control", placeholder = "Free Text" } })
                        </div>
                        <div class="col-xs-4">
                            @Html.EditorFor(m => m.Offer.OfferTransport.TransportCostAdditFreeTextPlus1Price, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        </div>
                    </div>
                    <div class="form-group top-sm">
                        <div class="col-xs-8">
                            @Html.EditorFor(m => m.Offer.OfferTransport.TransportCostAdditFreeTextPlus2, new { htmlAttributes = new { @class = "form-control", placeholder = "Free Text" } })
                        </div>
                        <div class="col-xs-4">
                            @Html.EditorFor(m => m.Offer.OfferTransport.TransportCostAdditFreeTextPlus2Price, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        </div>
                    </div>
                    <div class="form-group top-sm">
                        <div class="col-xs-8">
                            @Html.EditorFor(m => m.Offer.OfferTransport.TransportCostAdditFreeTextPlus3, new { htmlAttributes = new { @class = "form-control", placeholder = "Free Text" } })
                        </div>
                        <div class="col-xs-4">
                            @Html.EditorFor(m => m.Offer.OfferTransport.TransportCostAdditFreeTextPlus3Price, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        </div>
                    </div>
                    <div class="form-group top-sm">
                        <div class="col-xs-8">
                            @Html.EditorFor(m => m.Offer.OfferTransport.TransportCostAdditFreeTextPlus4, new { htmlAttributes = new { @class = "form-control", placeholder = "Free Text" } })
                        </div>
                        <div class="col-xs-4">
                            @Html.EditorFor(m => m.Offer.OfferTransport.TransportCostAdditFreeTextPlus4Price, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        </div>
                    </div>
                    <div class="form-group top-sm">
                        <div class="col-xs-8">
                            @Html.EditorFor(m => m.Offer.OfferTransport.TransportCostAdditFreeTextPlus5, new { htmlAttributes = new { @class = "form-control", placeholder = "Free Text" } })
                        </div>
                        <div class="col-xs-4">
                            @Html.EditorFor(m => m.Offer.OfferTransport.TransportCostAdditFreeTextPlus5Price, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        </div>
                    </div>
                    <div class="form-group top-sm">
                        <div class="col-xs-8">
                            @Html.EditorFor(m => m.Offer.OfferTransport.TransportCostAdditFreeTextPlus6, new { htmlAttributes = new { @class = "form-control", placeholder = "Free Text" } })
                        </div>
                        <div class="col-xs-4">
                            @Html.EditorFor(m => m.Offer.OfferTransport.TransportCostAdditFreeTextPlus6Price, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        </div>
                    </div>
                    <div class="form-group top-sm">
                        <div class="col-xs-8">
                            @Html.EditorFor(m => m.Offer.OfferTransport.TransportCostAdditFreeTextPlus7, new { htmlAttributes = new { @class = "form-control", placeholder = "Free Text" } })
                        </div>
                        <div class="col-xs-4">
                            @Html.EditorFor(m => m.Offer.OfferTransport.TransportCostAdditFreeTextPlus7Price, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group top-sm">
                @Html.LabelFor(model => model.Offer.OfferTransport.TransportCostSum, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                <div class="col-xs-12">
                    @Html.EditorFor(model => model.Offer.OfferTransport.TransportCostSum, new { htmlAttributes = new { @class = "form-control colored" } })
                </div>
            </div>
            <div class="form-group top-sm">
                @Html.LabelFor(model => model.Offer.OfferTransport.TransportCostDiscount, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                <div class="col-xs-12">
                    @Html.EditorFor(model => model.Offer.OfferTransport.TransportCostDiscount, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                </div>
            </div>
            <div class="form-group top-sm">
                @Html.LabelFor(model => model.Offer.OfferTransport.TransportCostDiscount2, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                <div class="col-xs-12">
                    @Html.EditorFor(model => model.Offer.OfferTransport.TransportCostDiscount2, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                </div>
            </div>
            <div class="form-group top-sm">
                @Html.LabelFor(model => model.Offer.OfferTransport.TransportCostAdditFreeTextMinus1, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                <div class="col-xs-12">
                    <div class="form-group top-sm">
                        <div class="col-xs-8">
                            @Html.EditorFor(m => m.Offer.OfferTransport.TransportCostAdditFreeTextMinus1, new { htmlAttributes = new { @class = "form-control", placeholder = "Free Text" } })
                        </div>
                        <div class="col-xs-4">
                            @Html.EditorFor(m => m.Offer.OfferTransport.TransportCostAdditFreeTextMinus1Price, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group top-sm">
                        <div class="col-xs-8">
                            @Html.EditorFor(m => m.Offer.OfferTransport.TransportCostAdditFreeTextMinus2, new { htmlAttributes = new { @class = "form-control", placeholder = "Free Text" } })
                        </div>
                        <div class="col-xs-4">
                            @Html.EditorFor(m => m.Offer.OfferTransport.TransportCostAdditFreeTextMinus2Price, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group top-sm">
                @if (!string.IsNullOrEmpty(Model.Offer.OfferTransport.TransportCostEstimated))
                {
                    @Html.Label((Model.Offer.OfferTransport.TransportCostFixRatePrice > 0) ? "Package Price" : "Estimated Costs", htmlAttributes: new { id="Offer_OfferTransport_TransportCostEstimatedLabel", @class = "col-xs-12 label-bold" })
                }
                else
                {
                    @Html.LabelFor(model => model.Offer.OfferTransport.TransportCostEstimated, htmlAttributes: new { id = "Offer_OfferTransport_TransportCostEstimatedLabel", @class = "col-xs-12 label-bold"})
                }
                <div class="col-xs-12">
                    @Html.EditorFor(model => model.Offer.OfferTransport.TransportCostEstimated, new {htmlAttributes = new {@class = "form-control colored"}})
                </div>
            </div>
            <div class="form-group top-sm">
                <div class="col-xs-12">
                    @Html.CheckBoxFor(model => model.Offer.OfferTransport.TransportCostHighSecurity, new
                                   {
                                       @class = "control-checkbox",
                                       aria_expanded = Model.Offer.OfferTransport.TransportCostHighSecurity ? "true" : "false",
                                       aria_controls = "transportcosthighcont",
                                       data_toggle = "collapse",
                                       data_target = "#transportcosthighcont"
                                   })
                    @Html.LabelFor(model => model.Offer.OfferTransport.TransportCostHighSecurity, htmlAttributes: new { @class = "label-bold" })
                </div>
                <div id="transportcosthighcont" class="col-xs-12 collapse@(Model.Offer.OfferTransport.TransportCostHighSecurity ? " in" : string.Empty)">
                    <div class="row">
                        <div class="col-xs-12">
                            @Html.EditorFor(model => model.Offer.OfferTransport.TransportCostHighSecurityPrice, new { htmlAttributes = new { @class = "form-control colored", type = "text" } })
                            <div class="col-xs-12">
                                @Html.CheckBoxFor(model => model.Offer.OfferTransport.TransportCostHighSecurityManual, new { @class = "control-checkbox" })
                                @Html.LabelFor(model => model.Offer.OfferTransport.TransportCostHighSecurityManual)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group top-sm">
                <div class="col-xs-12">
                    @Html.CheckBoxFor(model => model.Offer.OfferTransport.TransportCostFix, new
                                   {
                                       @class = "control-checkbox",
                                       aria_expanded = Model.Offer.OfferTransport.TransportCostFix ? "true" : "false",
                                       aria_controls = "transportcostfixcont",
                                       data_toggle = "collapse",
                                       data_target = "#transportcostfixcont"
                                   })
                    @Html.LabelFor(model => model.Offer.OfferTransport.TransportCostFix, htmlAttributes: new { @class = "label-bold" })
                </div>
                <div id="transportcostfixcont" class="col-xs-12 collapse@(Model.Offer.OfferTransport.TransportCostFix ? " in" : string.Empty)">
                    @Html.EditorFor(model => model.Offer.OfferTransport.TransportCostFixPrice, new { htmlAttributes = new { @class = "form-control colored", type = "text" } })
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function () {
    $('#HelperTransportPriceRateId').change(function () {
        if (this.value !== "") {
            $(this.dataset.onchange).show();
            var split = this.value.split("|");
            $('#Offer_OfferTransport_TransportCostChangedPers').val(split[2]);
            $('#Offer_OfferTransport_TransportCostChangedVeh').val(split[3]);
            $('#Offer_OfferTransport_TransportCostChangedPrice').val(split[1]);

            var spesenctrl = $('#transportadditcontainer').find('input[data-metatag="spesen"]');
            if (spesenctrl !== undefined) {
                spesenctrl.val(parseInt(split[2]) * parseInt(spesenctrl.data("priceperpiece")));
            }
        }
        else {
            $(this.dataset.onchange).hide();
            $('#Offer_OfferTransport_TransportCostChangedPers').val('0');
            $('#Offer_OfferTransport_TransportCostChangedVeh').val('0');
            $('#Offer_OfferTransport_TransportCostChangedPrice').val('0');
        }
    });
    $('#Offer_OfferTransport_TransportCostFixRatePrice, #HelperTransportPriceRateId').change(function () {
        // remove sum cost, so that user must set it again after change tarif
        $('#Offer_OfferTransport_TransportCostSum').val('');
        $('#Offer_OfferTransport_TransportCostEstimated').val('');

        // set costsum description: Flat rate (CostFix) or Geschatzt (HourlyPriceRate)
        var costSumLabelDescription = "Package Price oder Estimated Costs (je nach gewähltes Tariff)";
        var tempField = $('#Offer_OfferTransport_TransportCostFixRatePrice').val();
        if (tempField != "" && tempField != 0 && isNumeric(tempField)) {
            costSumLabelDescription = "Package Price";
        } else {
            tempField = $('#Offer_OfferTransport_TransportCostChangedPrice').val();
            if (tempField > 0) {
                costSumLabelDescription = "Estimated Costs";
            }
        }
        $('#Offer_OfferTransport_TransportCostEstimatedLabel').html(costSumLabelDescription);
    });
    $('#Offer_OfferTransport_TransportCostSum').focus(function () {
        updateEstimateTransport($('#Offer_OfferTransport_TransportCostSum'));
    });
    $('#Offer_OfferTransport_TransportCostEstimated, #Offer_OfferTransport_TransportCostHighSecurityPrice').focus(function () {
        updateEstimateTransport($('#Offer_OfferTransport_TransportCostSum'));

        if ($('#Offer_OfferTransport_TransportCostSum').val() == "") return;

        var additionprice = 0;
        var priceminus = $('#Offer_OfferTransport_TransportCostDiscount').val();
        if (priceminus != "") additionprice += parseInt(priceminus);
        priceminus = $('#Offer_OfferTransport_TransportCostDiscount2').val();
        if (priceminus != "") additionprice += parseInt(priceminus);
        priceminus = $('#Offer_OfferTransport_TransportCostAdditFreeTextMinus1Price').val();
        if (priceminus != "") additionprice += parseInt(priceminus);
        priceminus = $('#Offer_OfferTransport_TransportCostAdditFreeTextMinus2Price').val();
        if (priceminus != "") additionprice += parseInt(priceminus);

        var estimateCost = "0";
        var price = $('#Offer_OfferTransport_TransportCostSum').val().split("-");
        if (price.length == 2) {
            pricemin = parseInt(price[0]) - additionprice;
            pricemax = parseInt(price[1]) - additionprice;
            estimateCost = pricemin + "-" + pricemax;
        }
        else {
            pricemax = parseInt(price[0]) - additionprice;
            estimateCost = pricemax;
        }

        $("#Offer_OfferTransport_TransportCostEstimated").val(estimateCost);

        // set cost highprice only to defined algorithm, if user has not set it manually or the highprice is 0
        if (!($("#Offer_OfferTransport_TransportCostHighSecurityManual").is(":checked")) || ($("#Offer_OfferTransport_TransportCostHighSecurityPrice").val() == 0)) {
            $("#Offer_OfferTransport_TransportCostHighSecurityPrice").val((parseInt((parseInt(pricemax) * 1.2) / 10) + 1) * 10);
        }
        $('#Offer_OfferTransport_TransportCostFixPrice').val((parseInt((parseInt(pricemax) * 1.1) / 10) + 1) * 10);
    });
    $("#Offer_OfferTransport_TransportCostHighSecurityPrice").change(function () {
        if (this.value > 0) {
            $("#Offer_OfferTransport_TransportCostHighSecurityManual").prop("checked", true);
        }
    });
});
</script>