﻿@using CRM_Umzugsfirma.Areas.Intranet.Models.Enums
@model CustomerOfferViewModel

@Html.HiddenFor(model => model.Offer.OfferCleaning.OfferCleaningId)
@Html.HiddenFor(model => model.Offer.OfferCleaning.OfferId)
@Html.HiddenFor(model => model.Offer.OfferCleaning.SectorId)

<div class="form-group">
    <div class="col-xs-12">
        @Html.CheckBoxFor(model => model.Offer.ReinigungActive, new
                       {
                           @class = "control-checkbox",
                           aria_expanded = Model.Offer.ReinigungActive ? "true" : "false",
                           aria_controls = "reinigungcontainer",
                           data_toggle = "collapse",
                           data_target = "#reinigungcontainer"
                       })
        @Html.LabelFor(model => model.Offer.ReinigungActive, htmlAttributes: new { @class = "label-bold bigger-font" })
    </div>
</div>
<div id="reinigungcontainer" class="form-group collapse@(Model.Offer.ReinigungActive ? " in" : string.Empty)">
    <div class="inner-space-col group-color clearfix">
        <div class="col-xs-12 col-md-6 col-xl-5">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        @Html.LabelFor(model => model.Offer.OfferCleaning.ReinigungType, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                        <div class="col-xs-12">
                            @Html.MyDropdownListFor(model => model.Offer.OfferCleaning.ReinigungType, (List<SelectListItem>)ViewBag.ReinigungTypeList, new { @class = "form-control", data_onchange = "#reinigungtypchangecont" })
                        </div>
                    </div>
                    <div id="reinigungtypchangecont" class="form-group top-sm" style="@((Model.Offer.OfferCleaning.ReinigungType == CleaningType.Please_choose) ? "display: block;" : "display: none;")">
                        @Html.LabelFor(model => model.Offer.OfferCleaning.ReinigungTypeFreeText, htmlAttributes: new { @class = "col-xs-12" })
                        <div class="col-xs-12">
                            @Html.EditorFor(model => model.Offer.OfferCleaning.ReinigungTypeFreeText, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                            @Html.ValidationMessageFor(model => model.Offer.OfferCleaning.ReinigungTypeFreeText, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group top-sm">
                @Html.LabelFor(model => model.Offer.OfferCleaning.ReinigungWishedServiceFreeText, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                <div class="col-xs-12">
                    @Html.EditorFor(model => model.Offer.OfferCleaning.ReinigungWishedServiceFreeText, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "[Part services: Ex. Only windows, bathroom, ..] / [cleaning: stone floors, wet, ..]" } })
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-xs-12" style="background-color: #bbb; padding-bottom: 20px;">
                    <div class="form-group">
                        @Html.LabelFor(model => model.HelperReinigungPriceRateId, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                        <div class="col-xs-12 req-semi-field">
                            @Html.MyDropdownListFor(model => model.HelperReinigungPriceRateId, (List<SelectListItem>)ViewBag.ReinigungPriceList, new { @class = "form-control", data_onchange = "#reinigungpriceratechangecont" })
                            @Html.ValidationMessageFor(model => model.HelperReinigungPriceRateId, "", new { @class = "text-danger" })
                        </div>
                        <div id="reinigungpriceratechangecont" class="col-xs-12" style="@((!string.IsNullOrEmpty(Model.HelperReinigungPriceRateId) || !Model.IsEditable) ? "display: block;" : "display: none;")">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="row">
                                        @Html.LabelFor(model => model.Offer.OfferCleaning.ReinigungCostChangedPrice, htmlAttributes: new { @class = "col-xs-12" })
                                        <div class="col-xs-12">
                                            @Html.EditorFor(model => model.Offer.OfferCleaning.ReinigungCostChangedPrice, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <i>Either fill in "Tariff price (flat rate)" or "Tariff (hourly rate)". If tariff is filled, it will be taken.</i>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" style="background-color: #bbb; padding-bottom: 20px;">
                    <div class="form-group">
                        @Html.LabelFor(model => model.HelperReinigungHourlyPriceRateId, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                        <div class="col-xs-12 req-semi-field">
                            @Html.MyDropdownListFor(model => model.HelperReinigungHourlyPriceRateId, (List<SelectListItem>)ViewBag.ReinigungHourlyPriceList, new { @class = "form-control", data_onchange = "#reinigunghourlypriceratechangecont" })
                            @Html.ValidationMessageFor(model => model.HelperReinigungHourlyPriceRateId, "", new { @class = "text-danger" })
                        </div>
                        <div id="reinigunghourlypriceratechangecont" class="col-xs-12" style="@((!string.IsNullOrEmpty(Model.HelperReinigungHourlyPriceRateId) || !Model.IsEditable) ? "display: block;" : "display: none;")">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="row">
                                        @Html.LabelFor(model => model.Offer.OfferCleaning.ReinigungHourlyCostChangedPers, htmlAttributes: new { @class = "col-xs-12" })
                                        <div class="col-xs-12">
                                            @Html.EditorFor(model => model.Offer.OfferCleaning.ReinigungHourlyCostChangedPers, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="row">
                                        @Html.LabelFor(model => model.Offer.OfferCleaning.ReinigungHourlyCostChangedPrice, htmlAttributes: new { @class = "col-xs-12" })
                                        <div class="col-xs-12">
                                            @Html.EditorFor(model => model.Offer.OfferCleaning.ReinigungHourlyCostChangedPrice, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group top-sm req-semi-field">
                                @Html.LabelFor(model => model.Offer.OfferCleaning.ReinigungHourlyDuration, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                                <div class="col-xs-12">
                                    @Html.EditorFor(model => model.Offer.OfferCleaning.ReinigungHourlyDuration, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                                    @Html.ValidationMessageFor(model => model.Offer.OfferCleaning.ReinigungHourlyDuration, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Offer.OfferCleaning.AdditServiceDuebellocher, htmlAttributes: new { @class = "col-xs-12 col-sm-6 label-bold" })
                <div class="col-xs-12 col-sm-6">
                    @Html.RadioButtonForEnum(model => model.Offer.OfferCleaning.AdditServiceDuebellocher)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Offer.OfferCleaning.AdditServiceHochdruckreiniger, htmlAttributes: new { @class = "col-xs-12 col-sm-6 label-bold" })
                <div class="col-xs-12 col-sm-6">
                    @Html.RadioButtonForEnum(model => model.Offer.OfferCleaning.AdditServiceHochdruckreiniger)
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-xl-5 right-top-space-sm">
            <div class="row">
                @Html.LabelFor(model => model.Offer.OfferCleaning.ReinigungDate, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                <div class="col-xs-12">
                    @Html.MyDatepickerFor(model => model.Offer.OfferCleaning.ReinigungDate, true, false)
                </div>
            </div>
            <div class="form-group top-sm">
                @Html.LabelFor(model => model.Offer.OfferCleaning.ReinigungTime, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                <div class="col-xs-12">
                    @Html.MyTimepickerFor(model => model.Offer.OfferCleaning.ReinigungTime, "timepicker-reinigung", true, true)
                </div>
            </div>
            <div class="form-group top-sm">
                @Html.LabelFor(model => model.Offer.OfferCleaning.ReinigungDateCommit, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                <div class="col-xs-12">
                    @Html.MyDatepickerFor(model => model.Offer.OfferCleaning.ReinigungDateCommit, true)
                </div>
            </div>
            <div class="form-group top-sm">
                @Html.LabelFor(model => model.Offer.OfferCleaning.ReinigungTimeCommit, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                <div class="col-xs-12">
                    @Html.MyTimepickerFor(model => model.Offer.OfferCleaning.ReinigungTimeCommit, "timepicker-reinigungcommit", true, true)
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    @Html.CheckBoxFor(model => model.Offer.OfferCleaning.ReinigungCostAddit, new
                                   {
                                       @class = "control-checkbox",
                                       aria_expanded = Model.Offer.OfferCleaning.ReinigungCostAddit ? "true" : "false",
                                       aria_controls = "reinigungadditcontainer",
                                       data_toggle = "collapse",
                                       data_target = "#reinigungadditcontainer"
                                   })
                    @Html.LabelFor(model => model.Offer.OfferCleaning.ReinigungCostAddit, htmlAttributes: new { @class = "label-bold" })
                </div>
                <div id="reinigungadditcontainer" class="col-xs-12 collapse@(Model.Offer.OfferCleaning.ReinigungCostAddit ? " in" : string.Empty)">
                    @for (int i = 0; i < Model.ReinigungPriceAdditCosts.Count; i++)
                    {
                        <div class="form-group top-sm">
                            @Html.HiddenFor(m => m.ReinigungPriceAdditCosts[i].Id)
                            @Html.HiddenFor(m => m.ReinigungPriceAdditCosts[i].Descr)
                            @Html.HiddenFor(m => m.ReinigungPriceAdditCosts[i].DescrToShow)
                            <div class="col-xs-8">
                                @Html.CheckBoxFor(m => m.ReinigungPriceAdditCosts[i].Selected, new { @class = "control-checkbox", data_value = Model.ReinigungPriceAdditCosts[i].Descr })
                                @Html.LabelFor(m => m.ReinigungPriceAdditCosts[i].Selected, Model.ReinigungPriceAdditCosts[i].Descr)
                            </div>
                            <div class="col-xs-4">
                                @Html.EditorFor(m => m.ReinigungPriceAdditCosts[i].Price, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                            </div>
                        </div>
                    }
                    <div class="form-group top-sm">
                        <div class="col-xs-8">
                            @Html.EditorFor(m => m.Offer.OfferCleaning.ReinigungCostAdditFreeTextPlus1, new { htmlAttributes = new { @class = "form-control", placeholder = "Free Text" } })
                        </div>
                        <div class="col-xs-4">
                            @Html.EditorFor(m => m.Offer.OfferCleaning.ReinigungCostAdditFreeTextPlus1Price, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        </div>
                    </div>
                    <div class="form-group top-sm">
                        <div class="col-xs-8">
                            @Html.EditorFor(m => m.Offer.OfferCleaning.ReinigungCostAdditFreeTextPlus2, new { htmlAttributes = new { @class = "form-control", placeholder = "Free Text" } })
                        </div>
                        <div class="col-xs-4">
                            @Html.EditorFor(m => m.Offer.OfferCleaning.ReinigungCostAdditFreeTextPlus2Price, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group top-sm">
                @Html.LabelFor(model => model.Offer.OfferCleaning.ReinigungCostAdditFreeTextMinus1, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                <div class="col-xs-12">
                    <div class="form-group top-sm">
                        <div class="col-xs-8">
                            @Html.EditorFor(m => m.Offer.OfferCleaning.ReinigungCostAdditFreeTextMinus1, new { htmlAttributes = new { @class = "form-control", placeholder = "Free Text" } })
                        </div>
                        <div class="col-xs-4">
                            @Html.EditorFor(m => m.Offer.OfferCleaning.ReinigungCostAdditFreeTextMinus1Price, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group top-sm">
                @if (!string.IsNullOrEmpty(Model.Offer.OfferCleaning.ReinigungCostSum))
                {
                    @Html.Label(!string.IsNullOrEmpty(Model.HelperReinigungPriceRateId) ? "Package Price" : "Estimated Costs", htmlAttributes: new { id = "Offer_OfferCleaning_ReinigungCostSumLabel", @class = "col-xs-12 label-bold" })
                }
                else
                {
                    @Html.LabelFor(model => model.Offer.OfferCleaning.ReinigungCostSum, htmlAttributes: new { id = "Offer_OfferCleaning_ReinigungCostSumLabel", @class = "col-xs-12 label-bold" })
                }
                <div class="col-xs-12">
                    @Html.EditorFor(model => model.Offer.OfferCleaning.ReinigungCostSum, new { htmlAttributes = new { @class = "form-control req-field" } })
                    @Html.ValidationMessageFor(model => model.Offer.OfferCleaning.ReinigungTime, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function () {
    $('#Offer_OfferCleaning_ReinigungType').change(function () {
        if (this.value !== "" && this.value !== "0") {
            $(this.dataset.onchange).hide();
            $('#Offer_OfferCleaning_ReinigungTypeFreeText').val('');
        }
        else {
            $(this.dataset.onchange).show();
        }
    });
    $('#HelperReinigungPriceRateId').change(function () {
        if (this.value !== "") {
            $(this.dataset.onchange).show();
            var split = this.value.split("|");
            $('#Offer_OfferCleaning_ReinigungCostChangedPrice').val(split[1]);
        }
        else {
            $(this.dataset.onchange).hide();
            $('#Offer_OfferCleaning_ReinigungCostChangedPrice').val('0');
        }
    });
    $('#HelperReinigungHourlyPriceRateId').change(function () {
        if (this.value !== "") {
            $(this.dataset.onchange).show();
            var split = this.value.split("|");
            $('#Offer_OfferCleaning_ReinigungHourlyCostChangedPers').val(split[2]);
            $('#Offer_OfferCleaning_ReinigungHourlyCostChangedPrice').val(split[1]);
        }
        else {
            $(this.dataset.onchange).hide();
            $('#Offer_OfferCleaning_ReinigungHourlyCostChangedPers').val('0');
            $('#Offer_OfferCleaning_ReinigungHourlyCostChangedPrice').val('0');
            $('#Offer_OfferCleaning_ReinigungHourlyDuration').val('');
        }
    });
    $('#HelperReinigungPriceRateId, #Offer_OfferCleaning_ReinigungCostChangedPrice, #HelperReinigungHourlyPriceRateId, #Offer_OfferCleaning_ReinigungHourlyDuration, #Offer_OfferCleaning_ReinigungHourlyCostChangedPrice').change(function () {
        // remove sum cost, so that user must set it again after change tarif
        $('#Offer_OfferCleaning_ReinigungCostSum').val('');
        offercleaning_updatetotallabel();
    });
    $('#Offer_OfferCleaning_ReinigungCostSum').focus(function () {
        var ctrl = $('#Offer_OfferCleaning_ReinigungCostSum');
        if (ctrl.val()) {
            offercleaning_updatetotallabel();
            return;
        }

        var pricemin = 0;
        var pricemax = 0;

        if ($('#HelperReinigungPriceRateId').val() != "") {
            pricemin = parseInt($('#Offer_OfferCleaning_ReinigungCostChangedPrice').val());
        } else if ($('#HelperReinigungHourlyPriceRateId').val() != "") {
            var reinigunghourlycost = $('#Offer_OfferCleaning_ReinigungHourlyCostChangedPrice').val();
            if (reinigunghourlycost == 0) return;

            if ($('#Offer_OfferCleaning_ReinigungHourlyDuration').val() == "") return;
            var time = $('#Offer_OfferCleaning_ReinigungHourlyDuration').val().split("-");
            if (time.length == 2) {
                pricemin = reinigunghourlycost * parseInt(time[0]);
                pricemax = reinigunghourlycost * parseInt(time[1]);
            }
            else {
                pricemin = reinigunghourlycost * parseInt(time[0]);
            }
        }
        if (pricemin == 0) return;

        var additionprice = 0;
        if ($('#Offer_OfferCleaning_ReinigungCostAddit').is(':checked')) {
            $('#reinigungadditcontainer').find('input:checked').each(function () {
                var intprice = $('#' + this.id.replace("_Selected", "_Price")).val();
                if (intprice != "") {
                    additionprice += parseInt(intprice);
                }
            });
            var priceplus = $('#Offer_OfferCleaning_ReinigungCostAdditFreeTextPlus1Price').val();
            if (priceplus != "") additionprice += parseInt(priceplus);
            priceplus = $('#Offer_OfferCleaning_ReinigungCostAdditFreeTextPlus2Price').val();
            if (priceplus != "") additionprice += parseInt(priceplus);
        }

        var subtractprice = 0;
        var priceminus = $('#Offer_OfferCleaning_ReinigungCostAdditFreeTextMinus1Price').val();
        if (priceminus != "") subtractprice += parseInt(priceminus);

        var estimateCost = "0";
        if (additionprice > 0) {
            pricemin += parseInt(additionprice);
            if (pricemax > 0) {
                pricemax += parseInt(additionprice);
            }
        }
        if (subtractprice > 0) {
            pricemin -= parseInt(subtractprice);
            if (pricemax > 0) {
                pricemax -= parseInt(subtractprice);
            }
        }

        if (pricemax > 0) {
            estimateCost = pricemin + "-" + pricemax;
        } else {
            estimateCost = pricemin;
        }

        ctrl[0].value = estimateCost;
    });
});
function offercleaning_updatetotallabel() {
    // set costsum description: Flat rate (CostFix) or Geschatzt (HourlyPriceRate)
    var costSumLabelDescription = "Package Price oder Estimated Costs (je nach gewähltes Tariff)";
    var tempField = $('#HelperReinigungPriceRateId').val();
    if (tempField != "") {
        costSumLabelDescription = "Package Price";
    } else {
        tempField = $('#HelperReinigungHourlyPriceRateId').val();
        if (tempField != "") {
            costSumLabelDescription = "Estimated Costs";
        }
    }
    $('#Offer_OfferCleaning_ReinigungCostSumLabel').html(costSumLabelDescription);
}
@if (!Model.IsEditable)
{
    @Html.Raw("offercleaning_updatetotallabel();");
}
</script>