﻿@model CRM_Umzugsfirma.ViewModels.Mail.MainMailData

@{
    Layout = null;
}

<br />
<div class="footer">
    <div>Best regards,</div>
    <div>
        <b>@Model.AccountContactName</b>
    </div>
    <br />
    <br />
    <div>
        <img src="@Url.ContentFullPath(string.Format("{0}/img/footerlogo.jpg", Model.PathAccount))" width="120" />
    </div>
    <br />
    <div>
        <b>@Model.AccountName</b>
    </div>
    <div>@Model.AccountStreet</div>
    <div>CH-@Model.AccountCity</div>
    <br />
    <table cellspacing="0" cellpadding="0" border="0">
        <tr>
            <td width="50">Tel:</td>
            <td>@Model.AccountPhone</td>
        </tr>
        @if (!string.IsNullOrEmpty(Model.AccountFax))
        {
            <tr>
                <td width="50">Fax:</td>
                <td>@Model.AccountFax</td>
            </tr>
        }
        <tr>
            <td width="50">Email:</td>
            <td><a href="mailto:@Model.AccountMail"><u>@Model.AccountMail</u></a></td>
        </tr>
        <tr>
            <td width="50">Web:</td>
            <td><a href="@Model.AccountWebAddress"><u>@Model.AccountWebAddress</u></a></td>
        </tr>
    </table>
    <br />
    <div>
        <span style="font-size: 11.0px;">This email may contain confidential and/or legally protected information. If you are not the right addressee or have received this email in error, please inform the sender immediately and destroy this email. The unauthorized copying and the unauthorized transmission of this email is not permitted. We have taken all reasonable measures to minimize the risk of spreading virus-infected e-mails. Nevertheless, we recommend that you carry out your own virus checks. In any case, we exclude liability for any loss or damage caused by virus-infected email or file attachments.</span>
    </div>
</div>
