﻿@model CRM_Umzugsfirma.ViewModels.Mail.BillMail

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.MainMailData.MailTitle</title>
    <style type="text/css">
        body {
            font-family: arial, helvetica, sans-serif;
            font-size: 12px !important;
        }
        .footer img {
            height: auto;
            max-width: 120px;
        }
        @@media only screen and (max-width: 480px) {
            .footer img {
                width: 50% !important;
            }
        }
    </style>
</head>
<body>
    @*Partial render header*@
    <div>
        <div>
            @Model.MainMailData.CustomerSalutation
        </div>
        <br />
        <div>
            We would like to thank you again for the pleasant cooperation.
        </div>
        <br />
        <div>
            Attached you will find the invoice for our service.
        </div>
        <div>
            We ask the invoice amount of <b>@Html.DecimalToCurrencyCHF(Model.BillCost)</b> to '@Model.BillToPayUntil.ToString("dd.MM.yyyy")' to remit.
        </div>
        <br />
        <table cellspacing="0" cellpadding="0" border="0">
            <tr>
                <td width="200" height="30">Amount:</td>
                <td>@Html.DecimalToCurrencyCHF(Model.BillCost)</td>
            </tr>
            <tr>
                <td width="200" height="30">Bank details:</td>
                <td>Raiffeisen Bank</td>
            </tr>
            <tr>
                <td width="200" height="30">IBAN-Number:</td>
                <td>CH02 8080 8008 0219 8698 0</td>
            </tr>
            <tr>
                <td width="200" height="30">BIC/SWIFT:</td>
                <td>RAIFCH22666</td>
            </tr>
            <tr>
                <td width="200" height="30">Payable to:</td>
                <td>@Model.BillToPayUntil.ToString("dd.MM.yyyy")</td>
            </tr>
        </table>
        <br />
        <div>
            If deviations have crept in, please let us know.
        </div>
        <br />
        <div>
            For any questions or to clarify the invoice, we are at your disposal.
        </div>
        @*Partial render footer*@
        @Html.Partial(string.Format("{0}/text/_FooterPartial.cshtml", Model.MainMailData.PathAccount), Model.MainMailData)
    </div>
</body>
</html>
