﻿@model CRM_Umzugsfirma.ViewModels.Mail.ViewAppointment

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.MainMailData.MailTitle</title>
    <style type="text/css">
        body {
            font-family: arial, helvetica, sans-serif;
            font-size: 12px !important;
        }

        .footer img {
            height: auto;
            max-width: 120px;
        }

        @@media only screen and (max-width: 480px) {
            .footer img {
                width: 50% !important;
            }
        }
    </style>
</head>
<body>
    @*Partial render header*@
    <div>
        <div>
            @Model.MainMailData.CustomerSalutation
        </div>
        <br />
        <div>
            We sincerely thank you for placing the order and your trust in us.
        </div>
        <div>
            Hereby we confirm your order as follows:
        </div>
        <br /><br />
        <table cellspacing="0" cellpadding="0" border="0">
            @if (!string.IsNullOrEmpty(Model.DateUmzugStart))
            {
                <tr>
                    <td width="120"><b>Move:</b></td>
                    <td><b>@string.Format("{0}{1}", Helpers.GetDateFormatted(Model.DateUmzugStart), ((!string.IsNullOrEmpty(Model.TimeUmzugStart)) ? string.Format(", {0} O'clock", Helpers.GetTimeFormatted(Model.TimeUmzugStart, '.')) : string.Empty))</b></td>
                </tr>
                <tr>
                    
                    <td colspan="2">
                        @if (Model.PaymentType == "Bar")
                        {
                            @Html.Raw("Bar: Moves are to be paid in cash after the furniture transport department of the Swiss Commercial Vehicle Association ASTAG.")<br />
                        }

                        @if (Model.PaymentType == "Invoice")
                        {
                            @Html.Raw("Invoice: Advance invoice for approx. 50% of the estimated costs. Payable before the start of the move, so that the amount on the move date is shown on our account. Balance is payable in 14 days.")}
                    </td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.DateUmzugStart2))
            {
                <tr>
                    <td width="120"><b>Move (Tag 2):</b></td>
                    <td><b>@string.Format("{0}{1}", Helpers.GetDateFormatted(Model.DateUmzugStart2), ((!string.IsNullOrEmpty(Model.TimeUmzugStart2)) ? string.Format(", {0} O'clock", Helpers.GetTimeFormatted(Model.TimeUmzugStart2, '.')) : string.Empty))</b></td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.DateUmzugStart3))
            {
                <tr>
                    <td width="120"><b>Move (Tag 3):</b></td>
                    <td><b>@string.Format("{0}{1}", Helpers.GetDateFormatted(Model.DateUmzugStart3), ((!string.IsNullOrEmpty(Model.TimeUmzugStart3)) ? string.Format(", {0} O'clock", Helpers.GetTimeFormatted(Model.TimeUmzugStart3, '.')) : string.Empty))</b></td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.DatePackStart))
            {
                <tr>
                    <td width="120"><b>Packing:</b></td>
                    <td><b>@string.Format("{0}{1}", Helpers.GetDateFormatted(Model.DatePackStart), ((!string.IsNullOrEmpty(Model.TimePackStart)) ? string.Format(", {0} O'clock", Helpers.GetTimeFormatted(Model.TimePackStart, '.')) : string.Empty))</b></td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.DatePackOutStart))
            {
                <tr>
                    <td width="120"><b>Unpacking:</b></td>
                    <td><b>@string.Format("{0}{1}", Helpers.GetDateFormatted(Model.DatePackOutStart), ((!string.IsNullOrEmpty(Model.TimePackOutStart)) ? string.Format(", {0} O'clock", Helpers.GetTimeFormatted(Model.TimePackOutStart, '.')) : string.Empty))</b></td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.DateEntsorgungStart))
            {
                <tr>
                    <td width="120"><b>Disposal:</b></td>
                    <td><b>@string.Format("{0}{1}", Helpers.GetDateFormatted(Model.DateEntsorgungStart), ((!string.IsNullOrEmpty(Model.TimeEntsorgungStart)) ? string.Format(", {0} O'clock", Helpers.GetTimeFormatted(Model.TimeEntsorgungStart, '.')) : string.Empty))</b></td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.DateReinigungStart))
            {
                <tr>
                    <td width="120"><b>cleaning:</b></td>
                    <td><b>@string.Format("{0}{1}", Helpers.GetDateFormatted(Model.DateReinigungStart), ((!string.IsNullOrEmpty(Model.TimeReinigungStart)) ? string.Format(", {0} O'clock", Helpers.GetTimeFormatted(Model.TimeReinigungStart, '.')) : string.Empty))</b></td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.DateReinigungRelease))
            {
                <tr>
                    <td width="120"><b>Deadline:</b></td>
                    <td><b>@string.Format("{0}{1}", Helpers.GetDateFormatted(Model.DateReinigungRelease), ((!string.IsNullOrEmpty(Model.TimeReinigungRelease)) ? string.Format(", {0} O'clock", Helpers.GetTimeFormatted(Model.TimeReinigungRelease, '.')) : string.Empty))</b></td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.DateLagerungStart))
            {
                <tr>
                    <td width="120"><b>Storage:</b></td>
                    <td><b>@string.Format("{0}{1}", Helpers.GetDateFormatted(Model.DateLagerungStart), ((!string.IsNullOrEmpty(Model.TimeLagerungStart)) ? string.Format(", {0} O'clock", Helpers.GetTimeFormatted(Model.TimeLagerungStart, '.')) : string.Empty))</b></td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.DateTransportStart))
            {
                <tr>
                    <td width="120"><b>Transport:</b></td>
                    <td><b>@string.Format("{0}{1}", Helpers.GetDateFormatted(Model.DateTransportStart), ((!string.IsNullOrEmpty(Model.TimeTransportStart)) ? string.Format(", {0} O'clock", Helpers.GetTimeFormatted(Model.TimeTransportStart, '.')) : string.Empty))</b></td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.Comment))
            {
                <tr>
                    <td width="120" valign="top"><b>Comment:</b></td>
                    <td valign="top"><b>@Html.Raw(Html.Encode(Model.Comment).Replace("\r\n", "<br />"))</b></td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            }
        </table>
        <br />
        <div>
            We do everything we can to carry out your order with a high standard of service, quickly and carefully!
        </div>
        <br />
        <div>
            For any questions, we are very happy to be contacted on the following phone number @Model.MainMailData.AccountPhone.
        </div>
        @*Partial render footer*@
        @Html.Partial(string.Format("{0}/text/_FooterPartial.cshtml", Model.MainMailData.PathAccount), Model.MainMailData)
    </div>
</body>
</html>
