﻿@model CustomerHomeViewModel
@{
    ViewBag.Title = "Home";
}

<h3>Welcome @Session["AccountName"].ToString()!</h3>

<div class="home-content">
    <div class="bs-box">
        <div class="bs-top">
            <div class="row">
                <div class="col-sm-12 text-center inner-content">
                    <a href="@Url.Action("Edit", "CustomerHome")" class="btn btn-primary btn-lg outer-space">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;Capture customers
                    </a>
                    <a href="@Url.Action("Index", "CustomerHome", new { reset = 1 })" class="btn btn-primary btn-lg outer-space">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;&nbsp;Looking for customers
                    </a>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-sm-12 text-center inner-content">
                    <a href="@Url.Action("Index", "Appointments", new { reset = 1 })" class="btn btn-primary btn-lg outer-space">
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;&nbsp;Events
                    </a>
                    <a href="@Url.Action("Index", "Offers", new { reset = 1 })" class="btn btn-primary btn-lg outer-space">
                        <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>&nbsp;&nbsp;Offer
                    </a>
                    <a href="@Url.Action("Index", "Receipts", new { reset = 1 })" class="btn btn-primary btn-lg outer-space">
                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;Receipts
                    </a>
                    <a href="@Url.Action("Index", "Bills", new { reset = 1 })" class="btn btn-primary btn-lg outer-space">
                        <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>&nbsp;&nbsp;Bills
                    </a>
                </div>
            </div>

        </div>
        <div class="bs-end">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>Open past orders</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            @if (Model.OpenReceiptsInPast > 0)
                            {
                                @Html.ActionLink(string.Format("Complete orders ({0})", Model.OpenReceiptsInPast), "Index", "Receipts", new { openreceipt = 1 }, new { @class = "real-link" })
                            }
                            else
                            {
                                <i>@Html.Raw("Complete orders (0)")</i>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="row top-space">
                <div class="col-xs-12">
                    <h4>Open invoices</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    @if (Model.OpenBillReminder > 0)
                    {
                        @Html.ActionLink(string.Format("Send reminder ({0})", Model.OpenBillReminder), "Index", "Bills", new { paystate = 1 }, new { @class = "real-link" })
                    }
                    else
                    {
                        <i>@Html.Raw("Send reminder(0)")</i>
                    }
                </div>
                <div class="col-xs-12">
                    @if (Model.OpenBillPrecollection > 0)
                    {
                        @Html.ActionLink(string.Format("Send reminder({0})", Model.OpenBillPrecollection), "Index", "Bills", new { paystate = 2 }, new { @class = "real-link" })
                    }
                    else
                    {
                        <i>@Html.Raw("Send reminder(0)")</i>
                    }
                </div>
            </div>
        </div>
    </div>

</div>
