﻿@model CRM_Umzugsfirma.ViewModels.Print.BillPrintViewModel
    @{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
<head>
    <title>Invoice</title>
    @Styles.Render("~/Content/css")
    <link href="/Content/print.min.css" rel="stylesheet" />
    <style type="text/css" media="all">
        .sender-adr {
            font-size: 10pt;
            padding-bottom: 20px;
            border-bottom: 1px solid #333;
        }
        .maintitle, .font-maincolor, .font-linkcolor {
            font-size: 18pt;
        }
    </style>
</head>

    <body>
        <div class="content">
            <div class="clearfix">
                <div class="row btm-spc">
                    <div class="col-xs-12">
                        <img src="@Url.ContentFullPath(string.Format("{0}/img/logo.jpg", Model.PathAccount))" width="320" />
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 40px;">
                <div class="col-xs-6" style="font-size: 9pt !important;">
                    <div class="row">
                        <div class="col-xs-12">
                            @Model.Account.AccountName<br />
                            @Model.Account.Street<br />
                            CH-@Model.Account.Zip @Model.Account.City<br />
                            <br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">Clerk:</div>
                        <div class="col-xs-9">@Model.Account.ContactName</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">Email:</div>
                        <div class="col-xs-9">@Model.Account.Email</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">Tel. Directly:</div>
                        <div class="col-xs-9">@Model.Account.Phone</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">Fax:</div>
                        <div class="col-xs-9">@Model.Account.Fax</div>
                    </div>
                </div>
                <div class="col-xs-6" style="font-size: 10pt !important;">
                    <div class="row">
                        @if (Model.Customer.MarketId == CRM_Umzugsfirma.Areas.Intranet.Models.MarketType.Private_person)
                        {
                            <div class="col-xs-12">@Model.Customer.LastName @Model.Customer.FirstName</div>
                        }
                        else
                        {
                            <div class="col-xs-12">@Model.Customer.CompanyName</div>
                            if (!string.IsNullOrEmpty(Model.Customer.CompanyContactPerson))
                            {
                                <div class="col-xs-12">@Model.Customer.CompanyContactPerson</div>
                            }
                        }
                        <div class="col-xs-12">@Model.Customer.Street</div>
                        <div class="col-xs-12">CH-@Model.Customer.Zip @Model.Customer.City</div>
                        @{
                            string phone = Model.Customer.Phone;
                            if (!string.IsNullOrEmpty(Model.Customer.Mobile))
                            {
                                phone = string.Format("{0}{1}{2}", phone, !string.IsNullOrEmpty(phone) ? " / " : string.Empty, Model.Customer.Mobile);
                            }
                        }
                        <div class="col-xs-12">@phone</div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 20px; font-size: 9pt !important;">
                <div class="col-xs-6">
                    <div class="row">
                        <div class="col-xs-3">Date:</div>
                        <div class="col-xs-9">@((Model.Bill.ModifyDate != null && Model.Bill.ModifyDate != DateTime.MinValue) ? Model.Bill.ModifyDate.ToString("dd.MM.yyyy") : Model.Bill.CreateDate.ToString("dd.MM.yyyy"))</div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="row" style="font-size: 10pt !important;">
                        <div class="col-xs-12">Invoice-No: @Model.Bill.BillInnerId</div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 60px;">
                <div class="col-xs-12">
                    @Model.CustomerSalutation<br /><br />
                </div>
                <div class="col-xs-12">
                    According to our agreement, we allow ourselves to charge you our services as follows:<br /><br />
                </div>
            </div>

            <div class="row" style="margin-top: 20px;">
                <div class="col-xs-12">
                    <div class="row" style="background-color: #BDBDBD !important; margin-bottom: 10px;">
                        <div class="col-xs-4">
                            <div class="row">
                                <div class="col-xs-7">&nbsp;<b>Designation</b></div>
                                <div class="col-xs-4"><b>Date</b></div>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="row">
                                <div class="col-xs-6"><b>Expenditure</b></div>
                                <div class="col-xs-6"><b>Amount incl. 8% VAT.</b></div>
                            </div>
                        </div>
                    </div>
                    @if (Model.Bill.PackActive)
                    {
                        <div class="row section">
                            <div class="col-xs-4">
                                <div class="row">
                                    <div class="col-xs-7">&nbsp;<b>packing_service</b></div>
                                    <div class="col-xs-4">@Model.Bill.PackDate</div>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="row">
                                    <div class="col-xs-6">@string.Format("{0} hours à {1}.-", Model.Bill.PackDuration, Model.Bill.PackPerPrice)</div>
                                    <div class="col-xs-6">@Html.NumberCashPrintableWithChf(Model.Bill.PackCostService)</div>
                                </div>
                                @if (Model.Bill.PackCostWay > 0)
                                {
                                    <div class="row">
                                        <div class="col-xs-6">Directions / Return Trip</div>
                                        <div class="col-xs-6">@string.Format("CHF {0}.-", Model.Bill.PackCostWay)</div>
                                    </div>
                                }
                                @if (Model.Bill.PackCostFix && Model.Bill.PackCostFixPrice > 0)
                                {
                                    <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-6"><b>Package Price</b></div>
                                                <div class="col-xs-6">@string.Format("CHF {0}.-", Model.Bill.PackCostFixPrice)</div>
                                            </div>
                                            @if (Model.Bill.PackCostAddit)
                                            {
                                                for (int i = 0; i < Model.PackAdditCost.Count; i++)
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-6">incl. @Model.PackAdditCost[i].Descr</div>
                                                    </div>
                                                }
                                                if (!string.IsNullOrEmpty(Model.Bill.PackCostAdditFreeTextPlus1))
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-6">incl. @Model.Bill.PackCostAdditFreeTextPlus1</div>
                                                    </div>
                                                }
                                                if (!string.IsNullOrEmpty(Model.Bill.PackCostAdditFreeTextPlus2))
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-6">incl. @Model.Bill.PackCostAdditFreeTextPlus2</div>
                                                    </div>
                                                }
                                            }
                                            @if (!string.IsNullOrEmpty(Model.Bill.PackCostAdditFreeTextMinus1))
                                            {
                                                <div class="row">
                                                    <div class="col-xs-6">incl. @Model.Bill.PackCostAdditFreeTextMinus1 (Discount)</div>
                                                </div>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.Bill.PackCostAdditFreeTextMinus2))
                                            {
                                                <div class="row">
                                                    <div class="col-xs-6">incl. @Model.Bill.PackCostAdditFreeTextMinus2 (Discount)</div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    if (Model.Bill.PackCostAddit)
                                    {
                                        for (int i = 0; i < Model.PackAdditCost.Count; i++)
                                        {
                                            <div class="row">
                                                <div class="col-xs-6">@Model.PackAdditCost[i].Descr</div>
                                                <div class="col-xs-6">@string.Format("CHF {0}.-", Model.PackAdditCost[i].OverwrittenPrice)</div>
                                            </div>
                                        }
                                        if (!string.IsNullOrEmpty(Model.Bill.PackCostAdditFreeTextPlus1))
                                        {
                                            <div class="row">
                                                <div class="col-xs-6">@Model.Bill.PackCostAdditFreeTextPlus1</div>
                                                <div class="col-xs-6">@Html.NumberCashPrintableWithChf(Model.Bill.PackCostAdditFreeTextPlus1Price)</div>
                                            </div>
                                        }
                                        if (!string.IsNullOrEmpty(Model.Bill.PackCostAdditFreeTextPlus2))
                                        {
                                            <div class="row">
                                                <div class="col-xs-6">@Model.Bill.PackCostAdditFreeTextPlus2</div>
                                                <div class="col-xs-6">@Html.NumberCashPrintableWithChf(Model.Bill.PackCostAdditFreeTextPlus2Price)</div>
                                            </div>
                                        }
                                    }
                                    if (Model.Bill.PackCostDiscount > 0)
                                    {
                                        <div class="row">
                                            <div class="col-xs-6">Discount</div>
                                            <div class="col-xs-6">CHF - @Html.NumberCashPrintable(Model.Bill.PackCostDiscount)</div>
                                        </div>
                                    }
                                    if (Model.Bill.PackCostDiscount2 > 0)
                                    {
                                        <div class="row">
                                            <div class="col-xs-6">Concession</div>
                                            <div class="col-xs-6">CHF - @Html.NumberCashPrintable(Model.Bill.PackCostDiscount2)</div>
                                        </div>
                                    }
                                    if (!string.IsNullOrEmpty(Model.Bill.PackCostAdditFreeTextMinus1))
                                    {
                                        <div class="row">
                                            <div class="col-xs-6">@Model.Bill.PackCostAdditFreeTextMinus1</div>
                                            <div class="col-xs-6">CHF - @Html.NumberCashPrintable(Model.Bill.PackCostAdditFreeTextMinus1Price)</div>
                                        </div>
                                    }
                                    if (!string.IsNullOrEmpty(Model.Bill.PackCostAdditFreeTextMinus2))
                                    {
                                        <div class="row">
                                            <div class="col-xs-6">@Model.Bill.PackCostAdditFreeTextMinus2</div>
                                            <div class="col-xs-6">CHF - @Html.NumberCashPrintable(Model.Bill.PackCostAdditFreeTextMinus2Price)</div>
                                        </div>
                                    }
                                }
                                @if (Model.Bill.PackCostDamage > 0)
                                {
                                    <div class="row">
                                        <div class="col-xs-6">Claims_payment</div>
                                        <div class="col-xs-6">CHF - @Html.NumberCashPrintable(Model.Bill.PackCostDamage)</div>
                                    </div>
                                }
                                @if (Model.Bill.PackCostPartialPayment > 0)
                                {
                                    <div class="row">
                                        <div class="col-xs-6">Deposit</div>
                                        <div class="col-xs-6">CHF - @Html.NumberCashPrintable(Model.Bill.PackCostPartialPayment)</div>
                                    </div>
                                }
                                @if (Model.Bill.PackCostPartialByCash > 0)
                                {
                                    <div class="row">
                                        <div class="col-xs-6">Bar Paid</div>
                                        <div class="col-xs-6">CHF - @Html.NumberCashPrintable(Model.Bill.PackCostPartialByCash)</div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    @if (Model.Bill.UmzugActive)
                    {
                        <div class="row section">
                            <div class="col-xs-4">
                                <div class="row">
                                    <div class="col-xs-7">&nbsp;<b>Move</b></div>
                                    <div class="col-xs-4">@Model.Bill.UmzugDate</div>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="row">
                                    <div class="col-xs-6">@string.Format("{0} hours à {1}.-", Model.Bill.UmzugDuration, Model.Bill.UmzugPerPrice)</div>
                                    <div class="col-xs-6">@Html.NumberCashPrintableWithChf(Model.Bill.UmzugCostService)</div>
                                </div>
                                @if (Model.Bill.UmzugCostWay > 0)
                                {
                                    <div class="row">
                                        <div class="col-xs-6">Directions / Return Trip</div>
                                        <div class="col-xs-6">@string.Format("CHF {0}.-", Model.Bill.UmzugCostWay)</div>
                                    </div>
                                }
                                @if (Model.Bill.UmzugCostFix && Model.Bill.UmzugCostFixPrice > 0)
                                {
                                    <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-6"><b>Package Price</b></div>
                                                <div class="col-xs-6">@Html.NumberCashPrintableWithChf(Model.Bill.UmzugCostFixPrice)</div>
                                            </div>
                                            @if (Model.Bill.UmzugCostAddit)
                                            {
                                                for (int i = 0; i < Model.UmzugAdditCost.Count; i++)
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-6">incl. @Model.UmzugAdditCost[i].Descr</div>
                                                    </div>
                                                }
                                                if (!string.IsNullOrEmpty(Model.Bill.UmzugCostAdditFreeTextPlus1))
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-6">incl. @Model.Bill.UmzugCostAdditFreeTextPlus1</div>
                                                    </div>
                                                }
                                                if (!string.IsNullOrEmpty(Model.Bill.UmzugCostAdditFreeTextPlus2))
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-6">incl. @Model.Bill.UmzugCostAdditFreeTextPlus2</div>
                                                    </div>
                                                }
                                            }
                                            @if (!string.IsNullOrEmpty(Model.Bill.UmzugCostAdditFreeTextMinus1))
                                            {
                                                <div class="row">
                                                    <div class="col-xs-6">incl. @Model.Bill.UmzugCostAdditFreeTextMinus1 (Discount)</div>
                                                </div>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.Bill.UmzugCostAdditFreeTextMinus2))
                                            {
                                                <div class="row">
                                                    <div class="col-xs-6">incl. @Model.Bill.UmzugCostAdditFreeTextMinus2 (Discount)</div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    if (Model.Bill.UmzugCostAddit)
                                    {
                                        for (int i = 0; i < Model.UmzugAdditCost.Count; i++)
                                        {
                                            <div class="row">
                                                <div class="col-xs-6">@Model.UmzugAdditCost[i].Descr</div>
                                                <div class="col-xs-6">@string.Format("CHF {0}.-", Model.UmzugAdditCost[i].OverwrittenPrice)</div>
                                            </div>
                                        }
                                        if (!string.IsNullOrEmpty(Model.Bill.UmzugCostAdditFreeTextPlus1))
                                        {
                                            <div class="row">
                                                <div class="col-xs-6">@Model.Bill.UmzugCostAdditFreeTextPlus1</div>
                                                <div class="col-xs-6">@Html.NumberCashPrintableWithChf(Model.Bill.UmzugCostAdditFreeTextPlus1Price)</div>
                                            </div>
                                        }
                                        if (!string.IsNullOrEmpty(Model.Bill.UmzugCostAdditFreeTextPlus2))
                                        {
                                            <div class="row">
                                                <div class="col-xs-6">@Model.Bill.UmzugCostAdditFreeTextPlus2</div>
                                                <div class="col-xs-6">@Html.NumberCashPrintableWithChf(Model.Bill.UmzugCostAdditFreeTextPlus2Price)</div>
                                            </div>
                                        }
                                    }
                                    if (Model.Bill.UmzugCostDiscount > 0)
                                    {
                                        <div class="row">
                                            <div class="col-xs-6">Discount</div>
                                            <div class="col-xs-6">CHF - @Html.NumberCashPrintable(Model.Bill.UmzugCostDiscount)</div>
                                        </div>
                                    }
                                    if (Model.Bill.UmzugCostDiscount2 > 0)
                                    {
                                        <div class="row">
                                            <div class="col-xs-6">Concession</div>
                                            <div class="col-xs-6">CHF - @Html.NumberCashPrintable(Model.Bill.UmzugCostDiscount2)</div>
                                        </div>
                                    }
                                    if (!string.IsNullOrEmpty(Model.Bill.UmzugCostAdditFreeTextMinus1))
                                    {
                                        <div class="row">
                                            <div class="col-xs-6">@Model.Bill.UmzugCostAdditFreeTextMinus1</div>
                                            <div class="col-xs-6">CHF - @Html.NumberCashPrintable(Model.Bill.UmzugCostAdditFreeTextMinus1Price)</div>
                                        </div>
                                    }
                                    if (!string.IsNullOrEmpty(Model.Bill.UmzugCostAdditFreeTextMinus2))
                                    {
                                        <div class="row">
                                            <div class="col-xs-6">@Model.Bill.UmzugCostAdditFreeTextMinus2</div>
                                            <div class="col-xs-6">CHF - @Html.NumberCashPrintable(Model.Bill.UmzugCostAdditFreeTextMinus2Price)</div>
                                        </div>
                                    }
                                }
                                @if (Model.Bill.UmzugCostDamage > 0)
                                {
                                    <div class="row">
                                        <div class="col-xs-6">Claims_payment</div>
                                        <div class="col-xs-6">CHF - @Html.NumberCashPrintable(Model.Bill.UmzugCostDamage)</div>
                                    </div>
                                }
                                @if (Model.Bill.UmzugCostPartialPayment > 0)
                                {
                                    <div class="row">
                                        <div class="col-xs-6">Deposit</div>
                                        <div class="col-xs-6">CHF - @Html.NumberCashPrintable(Model.Bill.UmzugCostPartialPayment)</div>
                                    </div>
                                }
                                @if (Model.Bill.UmzugCostPartialByCash > 0)
                                {
                                    <div class="row">
                                        <div class="col-xs-6">Bar Paid</div>
                                        <div class="col-xs-6">CHF - @Html.NumberCashPrintable(Model.Bill.UmzugCostPartialByCash)</div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    @if (Model.Bill.EntsorgungActive)
                    {
                        <div class="row section">
                            <div class="col-xs-4">
                                <div class="row">
                                    <div class="col-xs-7">&nbsp;<b>disposal</b></div>
                                    <div class="col-xs-4">@Model.Bill.EntsorgungDate</div>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                @if (!string.IsNullOrEmpty(Model.Bill.EntsorgungDuration) && Model.Bill.EntsorgungPersonPerPrice > 0)
                                {
                                    <div class="row">
                                        <div class="col-xs-6">@string.Format("{0} hours à {1}.-", Model.Bill.EntsorgungDuration, Model.Bill.EntsorgungPersonPerPrice)</div>
                                        <div class="col-xs-6">@Html.NumberCashPrintableWithChf(Model.Bill.EntsorgungPersonCostService)</div>
                                    </div>
                                }
                                @if (!string.IsNullOrEmpty(Model.Bill.EntsorgungVolume) && Model.Bill.EntsorgungPerPrice > 0)
                                {
                                    <div class="row">
                                        <div class="col-xs-6">@string.Format("{0} m3 à {1}.-", Model.Bill.EntsorgungVolume, Model.Bill.EntsorgungPerPrice)</div>
                                        <div class="col-xs-6">@Html.NumberCashPrintableWithChf(Model.Bill.EntsorgungCostService)</div>
                                    </div>
                                }
                                @if (Model.Bill.EntsorgungCostFix && Model.Bill.EntsorgungCostFixPrice > 0)
                                {
                                    <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-6"><b>Package Price</b></div>
                                                <div class="col-xs-6">@string.Format("CHF {0}.-", Model.Bill.EntsorgungCostFixPrice)</div>
                                            </div>
                                            @if ((!string.IsNullOrEmpty(Model.Bill.EntsorgungDuration) && Model.Bill.EntsorgungPersonPerPrice > 0) && (Model.Bill.EntsorgungCostWay > 0))
                                            {
                                                <div class="row">
                                                    <div class="col-xs-6">incl. Directions / Return Trip</div>
                                                </div>
                                            }
                                            @if ((!string.IsNullOrEmpty(Model.Bill.EntsorgungVolume) && Model.Bill.EntsorgungPerPrice > 0) && (!string.IsNullOrEmpty(Model.Bill.EntsorgungFixCost) && (Model.Bill.EntsorgungFixCost != "0")))
                                            {
                                                <div class="row">
                                                    <div class="col-xs-6">incl. Expenditure Disposal Site</div>
                                                </div>
                                            }
                                            @if (Model.Bill.EntsorgungCostAddit)
                                            {
                                                for (int i = 0; i < Model.EntsorgungAdditCost.Count; i++)
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-6">incl. @Model.EntsorgungAdditCost[i].Descr</div>
                                                    </div>
                                                }
                                                if (!string.IsNullOrEmpty(Model.Bill.EntsorgungCostAdditFreeTextPlus1))
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-6">incl. @Model.Bill.EntsorgungCostAdditFreeTextPlus1</div>
                                                    </div>
                                                }
                                                if (!string.IsNullOrEmpty(Model.Bill.EntsorgungCostAdditFreeTextPlus2))
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-6">incl. @Model.Bill.EntsorgungCostAdditFreeTextPlus2</div>
                                                    </div>
                                                }
                                            }
                                            @if (!string.IsNullOrEmpty(Model.Bill.EntsorgungCostAdditFreeTextMinus1))
                                            {
                                                <div class="row">
                                                    <div class="col-xs-6">incl. @Model.Bill.EntsorgungCostAdditFreeTextMinus1 (Discount)</div>
                                                </div>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.Bill.EntsorgungCostAdditFreeTextMinus2))
                                            {
                                                <div class="row">
                                                    <div class="col-xs-6">incl. @Model.Bill.EntsorgungCostAdditFreeTextMinus2 (Discount)</div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    if ((!string.IsNullOrEmpty(Model.Bill.EntsorgungDuration) && Model.Bill.EntsorgungPersonPerPrice > 0) && (Model.Bill.EntsorgungCostWay > 0))
                                    {
                                        <div class="row">
                                            <div class="col-xs-6">Directions / Return Trip</div>
                                            <div class="col-xs-6">@string.Format("CHF {0}.-", Model.Bill.EntsorgungCostWay)</div>
                                        </div>
                                    }
                                    if ((!string.IsNullOrEmpty(Model.Bill.EntsorgungVolume) && Model.Bill.EntsorgungPerPrice > 0) && (!string.IsNullOrEmpty(Model.Bill.EntsorgungFixCost) && (Model.Bill.EntsorgungFixCost != "0")))
                                    {
                                        <div class="row">
                                            <div class="col-xs-6">Expenditure at the Disposal Site</div>
                                            <div class="col-xs-6">@string.Format("CHF {0}.-", Model.Bill.EntsorgungFixCost)</div>
                                        </div>
                                    }
                                    if (Model.Bill.EntsorgungCostAddit)
                                    {
                                        for (int i = 0; i < Model.EntsorgungAdditCost.Count; i++)
                                        {
                                            <div class="row">
                                                <div class="col-xs-6">@Model.EntsorgungAdditCost[i].Descr</div>
                                                <div class="col-xs-6">@string.Format("CHF {0}.-", Model.EntsorgungAdditCost[i].OverwrittenPrice)</div>
                                            </div>
                                        }
                                        if (!string.IsNullOrEmpty(Model.Bill.EntsorgungCostAdditFreeTextPlus1))
                                        {
                                            <div class="row">
                                                <div class="col-xs-6">@Model.Bill.EntsorgungCostAdditFreeTextPlus1</div>
                                                <div class="col-xs-6">@Html.NumberCashPrintableWithChf(Model.Bill.EntsorgungCostAdditFreeTextPlus1Price)</div>
                                            </div>
                                        }
                                        if (!string.IsNullOrEmpty(Model.Bill.EntsorgungCostAdditFreeTextPlus2))
                                        {
                                            <div class="row">
                                                <div class="col-xs-6">@Model.Bill.EntsorgungCostAdditFreeTextPlus2</div>
                                                <div class="col-xs-6">@Html.NumberCashPrintableWithChf(Model.Bill.EntsorgungCostAdditFreeTextPlus2Price)</div>
                                            </div>
                                        }
                                    }
                                    if (Model.Bill.EntsorgungCostDiscount > 0)
                                    {
                                        <div class="row">
                                            <div class="col-xs-6">Discount</div>
                                            <div class="col-xs-6">CHF - @Html.NumberCashPrintable(Model.Bill.EntsorgungCostDiscount)</div>
                                        </div>
                                    }
                                    if (Model.Bill.EntsorgungCostDiscount2 > 0)
                                    {
                                        <div class="row">
                                            <div class="col-xs-6">Concession</div>
                                            <div class="col-xs-6">CHF - @Html.NumberCashPrintable(Model.Bill.EntsorgungCostDiscount2)</div>
                                        </div>
                                    }
                                    if (!string.IsNullOrEmpty(Model.Bill.EntsorgungCostAdditFreeTextMinus1))
                                    {
                                        <div class="row">
                                            <div class="col-xs-6">@Model.Bill.EntsorgungCostAdditFreeTextMinus1</div>
                                            <div class="col-xs-6">CHF - @Html.NumberCashPrintable(Model.Bill.EntsorgungCostAdditFreeTextMinus1Price)</div>
                                        </div>
                                    }
                                    if (!string.IsNullOrEmpty(Model.Bill.EntsorgungCostAdditFreeTextMinus2))
                                    {
                                        <div class="row">
                                            <div class="col-xs-6">@Model.Bill.EntsorgungCostAdditFreeTextMinus2</div>
                                            <div class="col-xs-6">CHF - @Html.NumberCashPrintable(Model.Bill.EntsorgungCostAdditFreeTextMinus2Price)</div>
                                        </div>
                                    }
                                }
                                @if (Model.Bill.EntsorgungCostPartialPayment > 0)
                                {
                                    <div class="row">
                                        <div class="col-xs-6">Deposit</div>
                                        <div class="col-xs-6">CHF - @Html.NumberCashPrintable(Model.Bill.EntsorgungCostPartialPayment)</div>
                                    </div>
                                }
                                @if (Model.Bill.EntsorgungCostPartialByCash > 0)
                                {
                                    <div class="row">
                                        <div class="col-xs-6">Bar Paid</div>
                                        <div class="col-xs-6">CHF - @Html.NumberCashPrintable(Model.Bill.EntsorgungCostPartialByCash)</div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    @if (Model.Bill.ReinigungActive)
                    {
                        <div class="row section">
                            <div class="col-xs-4">
                                <div class="row">
                                    <div class="col-xs-7">&nbsp;<b>cleaning</b></div>
                                    <div class="col-xs-4">@Model.Bill.ReinigungDate</div>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="row">
                                    <div class="col-xs-6">@Model.Bill.ReinigungTarifText</div>
                                </div>
                                @if (Model.Bill.ReinigungCostAddit)
                                {
                                    for (int i = 0; i < Model.ReinigungAdditCost.Count; i++)
                                    {
                                        <div class="row">
                                            <div class="col-xs-6">incl. @Model.ReinigungAdditCost[i].Descr</div>
                                            <div class="col-xs-6">@string.Format("CHF {0}.-", Model.ReinigungAdditCost[i].OverwrittenPrice)</div>
                                        </div>
                                    }
                                    if (!string.IsNullOrEmpty(Model.Bill.ReinigungCostAdditFreeTextPlus1))
                                    {
                                        <div class="row">
                                            <div class="col-xs-6">incl. @Model.Bill.ReinigungCostAdditFreeTextPlus1</div>
                                            <div class="col-xs-6">@Html.NumberCashPrintableWithChf(Model.Bill.ReinigungCostAdditFreeTextPlus1Price)</div>
                                        </div>
                                    }
                                    if (!string.IsNullOrEmpty(Model.Bill.ReinigungCostAdditFreeTextPlus2))
                                    {
                                        <div class="row">
                                            <div class="col-xs-6">incl. @Model.Bill.ReinigungCostAdditFreeTextPlus2</div>
                                            <div class="col-xs-6">@Html.NumberCashPrintableWithChf(Model.Bill.ReinigungCostAdditFreeTextPlus2Price)</div>
                                        </div>
                                    }
                                }
                                @if (Model.Bill.ReinigungCostDiscount > 0)
                                {
                                    <div class="row">
                                        <div class="col-xs-6">Discount</div>
                                        <div class="col-xs-6">CHF - @Html.NumberCashPrintable(Model.Bill.ReinigungCostDiscount)</div>
                                    </div>
                                }
                                @if (Model.Bill.ReinigungCostDiscount2 > 0)
                                {
                                    <div class="row">
                                        <div class="col-xs-6">Concession</div>
                                        <div class="col-xs-6">CHF - @Html.NumberCashPrintable(Model.Bill.ReinigungCostDiscount2)</div>
                                    </div>
                                }
                                @if (!string.IsNullOrEmpty(Model.Bill.ReinigungCostAdditFreeTextMinus1))
                                {
                                    <div class="row">
                                        <div class="col-xs-6">@Model.Bill.ReinigungCostAdditFreeTextMinus1</div>
                                        <div class="col-xs-6">CHF - @Html.NumberCashPrintable(Model.Bill.ReinigungCostAdditFreeTextMinus1Price)</div>
                                    </div>
                                }
                                @if (!string.IsNullOrEmpty(Model.Bill.ReinigungCostAdditFreeTextMinus2))
                                {
                                    <div class="row">
                                        <div class="col-xs-6">@Model.Bill.ReinigungCostAdditFreeTextMinus2</div>
                                        <div class="col-xs-6">CHF - @Html.NumberCashPrintable(Model.Bill.ReinigungCostAdditFreeTextMinus2Price)</div>
                                    </div>
                                }
                                <div class="row">
                                    <div class="col-xs-6"><b>Package Price</b></div>
                                    <div class="col-xs-6">@Html.NumberCashPrintableWithChf(Model.Bill.ReinigungCostSub)</div>
                                </div>
                                @if (Model.Bill.ReinigungCostDamage > 0)
                                {
                                    <div class="row">
                                        <div class="col-xs-6">Claims_payment</div>
                                        <div class="col-xs-6">CHF - @Html.NumberCashPrintable(Model.Bill.ReinigungCostDamage)</div>
                                    </div>
                                }
                                @if (Model.Bill.ReinigungCostPartialPayment > 0)
                                {
                                    <div class="row">
                                        <div class="col-xs-6">Deposit</div>
                                        <div class="col-xs-6">CHF - @Html.NumberCashPrintable(Model.Bill.ReinigungCostPartialPayment)</div>
                                    </div>
                                }
                                @if (Model.Bill.ReinigungCostPartialByCash > 0)
                                {
                                    <div class="row">
                                        <div class="col-xs-6">Bar Paid</div>
                                        <div class="col-xs-6">CHF - @Html.NumberCashPrintable(Model.Bill.ReinigungCostPartialByCash)</div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    @if (Model.Bill.LagerungActive)
                    {
                        <div class="row section">
                            <div class="col-xs-4">
                                <div class="row">
                                    <div class="col-xs-7">&nbsp;<b>Storage</b></div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-7">&nbsp;Billing Period</div>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="row">
                                    <div class="col-xs-6">@string.Format("{0} m3 à {1} .- per month", Model.Bill.LagerungVolume, Model.Bill.LagerungPerPrice)</div>
                                    <div class="col-xs-6">@Html.NumberCashPrintableWithChf(Model.Bill.LagerungCostService)</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">@Model.Bill.LagerungDatePeriodFrom - @Model.Bill.LagerungDatePeriodTo</div>
                                </div>
                                @if (Model.Bill.LagerungCostFix && Model.Bill.LagerungCostFixPrice > 0)
                                {
                                    <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-6"><b>Package Price</b></div>
                                                <div class="col-xs-6">@string.Format("CHF {0}.-", Model.Bill.LagerungCostFixPrice)</div>
                                            </div>
                                            @if (!string.IsNullOrEmpty(Model.Bill.LagerungCostAdditFreeTextPlus1))
                                            {
                                                <div class="row">
                                                    <div class="col-xs-6">incl. @Model.Bill.LagerungCostAdditFreeTextPlus1</div>
                                                </div>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.Bill.LagerungCostAdditFreeTextPlus2))
                                            {
                                                <div class="row">
                                                    <div class="col-xs-6">incl. @Model.Bill.LagerungCostAdditFreeTextPlus2</div>
                                                </div>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.Bill.LagerungCostAdditFreeTextMinus1))
                                            {
                                                <div class="row">
                                                    <div class="col-xs-6">incl. @Model.Bill.LagerungCostAdditFreeTextMinus1 (Discount)</div>
                                                </div>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.Bill.LagerungCostAdditFreeTextMinus2))
                                            {
                                                <div class="row">
                                                    <div class="col-xs-6">incl. @Model.Bill.LagerungCostAdditFreeTextMinus2 (Discount)</div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    if (!string.IsNullOrEmpty(Model.Bill.LagerungCostAdditFreeTextPlus1))
                                    {
                                        <div class="row">
                                            <div class="col-xs-6">@Model.Bill.LagerungCostAdditFreeTextPlus1</div>
                                            <div class="col-xs-6">@Html.NumberCashPrintableWithChf(Model.Bill.LagerungCostAdditFreeTextPlus1Price)</div>
                                        </div>
                                    }
                                    if (!string.IsNullOrEmpty(Model.Bill.LagerungCostAdditFreeTextPlus2))
                                    {
                                        <div class="row">
                                            <div class="col-xs-6">@Model.Bill.LagerungCostAdditFreeTextPlus2</div>
                                            <div class="col-xs-6">@Html.NumberCashPrintableWithChf(Model.Bill.LagerungCostAdditFreeTextPlus2Price)</div>
                                        </div>
                                    }
                                    if (Model.Bill.LagerungCostDiscount > 0)
                                    {
                                        <div class="row">
                                            <div class="col-xs-6">Discount</div>
                                            <div class="col-xs-6">CHF - @Html.NumberCashPrintable(Model.Bill.LagerungCostDiscount)</div>
                                        </div>
                                    }
                                    if (Model.Bill.LagerungCostDiscount2 > 0)
                                    {
                                        <div class="row">
                                            <div class="col-xs-6">Concession</div>
                                            <div class="col-xs-6">CHF - @Html.NumberCashPrintable(Model.Bill.LagerungCostDiscount2)</div>
                                        </div>
                                    }
                                    if (!string.IsNullOrEmpty(Model.Bill.LagerungCostAdditFreeTextMinus1))
                                    {
                                        <div class="row">
                                            <div class="col-xs-6">@Model.Bill.LagerungCostAdditFreeTextMinus1</div>
                                            <div class="col-xs-6">CHF - @Html.NumberCashPrintable(Model.Bill.LagerungCostAdditFreeTextMinus1Price)</div>
                                        </div>
                                    }
                                    if (!string.IsNullOrEmpty(Model.Bill.LagerungCostAdditFreeTextMinus2))
                                    {
                                        <div class="row">
                                            <div class="col-xs-6">@Model.Bill.LagerungCostAdditFreeTextMinus2</div>
                                            <div class="col-xs-6">CHF - @Html.NumberCashPrintable(Model.Bill.LagerungCostAdditFreeTextMinus2Price)</div>
                                        </div>
                                    }
                                }
                                @if (Model.Bill.LagerungCostPartialPayment > 0)
                                {
                                    <div class="row">
                                        <div class="col-xs-6">Deposit</div>
                                        <div class="col-xs-6">CHF - @Html.NumberCashPrintable(Model.Bill.LagerungCostPartialPayment)</div>
                                    </div>
                                }
                                @if (Model.Bill.LagerungCostPartialByCash > 0)
                                {
                                    <div class="row">
                                        <div class="col-xs-6">Bar Paid</div>
                                        <div class="col-xs-6">CHF - @Html.NumberCashPrintable(Model.Bill.LagerungCostPartialByCash)</div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    @if (Model.Bill.PackMaterialActive)
                    {
                        <div class="row section">
                            <div class="col-xs-4">
                                <div class="row">
                                    <div class="col-xs-7">&nbsp;<b>Packing_Material</b></div>
                                    <div class="col-xs-4">@Model.Bill.PackMaterialDate</div>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                @for (int i = 0; i < Model.PackMaterials.Count; i++)
                                {
                                    <div class="row">
                                        <div class="col-xs-6">@Model.PackMaterials[i].Text - @Model.PackMaterials[i].MieteKauf</div>
                                        <div class="col-xs-6"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">@string.Format("Quantity: {0} / Unit Price: {1} {2}", Model.PackMaterials[i].CountNumber, Model.PackMaterials[i].PricePerPiece, Model.PackMaterials[i].PricePerPiece.Contains('.') ? string.Empty : ".-")</div>
                                        <div class="col-xs-6">@string.Format("CHF {0}{1}", Model.PackMaterials[i].EndPrice, Model.PackMaterials[i].EndPrice.Contains('.') ? string.Empty : ".-")</div>
                                    </div>
                                }

                                @if (Model.Bill.PackMaterialCostDiscount > 0)
                                {
                                    <div class="row">
                                        <div class="col-xs-6">Reduction</div>
                                        <div class="col-xs-6">@string.Format("CHF {0}.-", Model.Bill.PackMaterialCostDiscount)</div>
                                    </div>
                                }
                                @if (Model.Bill.PackMaterialDeliver)
                                {
                                    <div class="row">
                                        <div class="col-xs-6">Delivery Costs</div>
                                        <div class="col-xs-6">@string.Format("CHF {0}.-", Model.Bill.PackMaterialDeliverPrice)</div>
                                    </div>
                                }
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-xs-6">Total Price</div>
                                    <div class="col-xs-6">@string.Format("CHF {0}{1}", Model.Bill.PackMaterialCost, Model.Bill.PackMaterialCost.Contains('.') ? string.Empty : ".-")</div>
                                </div>

                            </div>
                        </div>
                    }
                    @if (Model.Bill.PreCollectionCost > 0)
                    {
                        <div class="row section">
                            <div class="col-xs-4">
                                <div class="row">
                                    <div class="col-xs-7">&nbsp;<b>Reminder Fee</b></div>
                                    @if (Model.Bill.PreCollectionDate != DateTime.MinValue)
                                    {
                                        <div class="col-xs-4">@Model.Bill.PreCollectionDate.ToString("dd.MM.yyyy")</div>
                                    }
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="row">
                                    <div class="col-xs-6"></div>
                                    <div class="col-xs-6">@string.Format("CHF {0}.-", Model.Bill.PreCollectionCost)</div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="row" style="background-color: #BDBDBD !important; margin-bottom: 10px;">
                        <div class="col-xs-4">
                            <div class="row">
                                <div class="col-xs-7">&nbsp;<b>Total Cost</b></div>
                                <div class="col-xs-4"></div>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="row">
                                <div class="col-xs-6"></div>
                                <div class="col-xs-6"><b>@Html.DecimalToCurrencyCHF(Model.Bill.BillCost)</b></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-4">Payment Terms:</div>
                        <div class="col-xs-8">To pay @Model.Bill.PaymentTermId.ToString().Replace('_', ' ')</div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-xs-4">Bank details:</div>
                        <div class="col-xs-8">Raiffeisen Bank</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">IBAN-Number:</div>
                        <div class="col-xs-8">CH17 0900 0000 4070 0757 2</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">BIC/SWIFT:</div>
                        <div class="col-xs-8">RAIFCH22666</div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-xs-12">Thank you for the valued order.</div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-xs-12">@Model.Account.AccountName</div>
            </div>
            <div class="row" style="margin-top: 40px;">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-4">@Model.Account.AccountName</div>
                        <div class="col-xs-8">
                            <div class="row">
                                <div class="col-xs-3">Telephone:</div>
                                <div class="col-xs-9">@Model.Account.Phone</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">@Model.Account.Street</div>
                        <div class="col-xs-8">
                            <div class="row">
                                <div class="col-xs-3">Fax:</div>
                                <div class="col-xs-9">@Model.Account.Fax</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">CH-@Model.Account.Zip @Model.Account.City</div>
                        <div class="col-xs-8">
                            <div class="row">
                                <div class="col-xs-3">Email:</div>
                                <div class="col-xs-9">@Model.Account.Email</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>