﻿/* generals */
body {
  color: #333;
  font-family: "Helvetica Neue",Helvetica,Arial,FreeSans,sans-serif;
  /*margin-top: 2cm;
	margin-right: 2cm;
	margin-bottom: 1.5cm;
	margin-left: 2cm;*/ }

.body-content {
  padding-left: 15px;
  padding-right: 15px; }

a {
  color: #337AB7; }
  a.no-link {
    color: inherit; }
  a.real-link {
    text-decoration: underline; }
  a.imp-link {
    font-weight: bold;
    text-decoration: underline; }

a:hover,
a:focus {
  color: #337AB7;
  text-decoration: none; }

.color-mainlink {
  color: #337AB7; }

hr {
  border-color: #ddd;
  margin: 10px 0; }

/*ul{
    padding: 0;
    &.styled {
        &>li {
            list-style-type: disc;
        }
    }
    &>li {
        list-style-type: none;
    }
}*/
label.light-label {
  font-weight: normal; }

input.control-checkbox {
  margin-right: 5px; }

div.control-input {
  padding-top: 7px; }

.form-group.label-onleft label {
  margin-right: 5px; }

.form-group.label-onright label {
  margin-left: 5px; }

table.table-linked tbody tr:hover {
  background-color: #ddd; }

table.table-linked tbody tr td {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 2.7; }
  table.table-linked tbody tr td a {
    display: block;
    height: 100%;
    width: 100%;
    color: inherit; }
    table.table-linked tbody tr td a.real-link {
      color: #337AB7; }

/* generics */
.imp {
  color: #d9534f;
  font-weight: bold; }

.body-content {
  padding-top: 1.7em;
  padding-bottom: 1.7em; }

.fix-width-right {
  display: table-cell;
  float: right;
  width: 270px;
  margin-left: 30px; }

.fix-width-left {
  display: table-cell;
  float: left;
  width: 270px;
  margin-right: 30px; }

.dynamic-width {
  width: auto;
  display: table-cell; }

/* validation */
input.input-validation-error {
  border-color: #d9534f;
  border-width: 2px;
  color: #d9534f; }

select.input-validation-error {
  border-color: #d9534f;
  border-width: 2px; }

.field-validation-error > span {
  font-size: 11px;
  color: #d9534f; }

/* bootstrap */
.navbar {
  margin-bottom: 0; }

.btn, button {
  border-radius: 0; }

form .btn, form button {
  border-radius: 4px; }

/* Override the default bootstrap behavior where horizontal description lists will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal; }

.tabs-right > .tab-content > .tab-inner {
  min-height: 325px; }

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea,
a.btn {
  max-width: 350px; }

.navbar-toggle {
  border-radius: 0; }

.form-group {
  margin-top: 15px;
  margin-bottom: 0; }

/* set generic spaces */
.inner-space {
  padding: 20px; }

.inner-space-col {
  padding: 15px 0;
  margin: 0 15px; }

.inner-space-sm {
  padding: 10px; }

.outer-space {
  margin: 20px; }
  .outer-space.btn {
    margin: 10px 20px; }

.top-space {
  margin-top: 20px; }

.top-space-inner {
  padding-top: 20px; }

.top-space-inner-sm {
  padding-top: 10px; }

.top-space-min {
  margin-top: 5px; }

.top-space-min3 {
  margin-top: 3px; }

.bottom-space {
  margin-bottom: 20px; }

.bottom-space-min {
  margin-bottom: 5px; }

.bottom-space-inner {
  padding-bottom: 20px; }

.bottom-space-inner-sm {
  padding-bottom: 10px; }

label.text-inline {
  font-weight: normal;
  padding-top: 7px; }

blockquote {
  border-left: 4px solid #d9534f;
  font-size: inherit; }

.collapse-nopanel .panel {
  margin: 0;
  background-color: none;
  border: none;
  box-shadow: none; }

.bs-box {
  margin: 20px 0; }
  .bs-box .bs-top {
    position: relative;
    padding: 30px 15px 15px;
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 4px 4px 0px 0px;
    box-shadow: none; }
  .bs-box .bs-end {
    padding: 9px 14px;
    margin-top: -16px 0 15px 0;
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    border-top: 0;
    border-radius: 0 0 4px 4px; }
  .bs-box.bs-box-callout .bs-top {
    padding-top: 15px;
    border-left-width: 5px; }
    .bs-box.bs-box-callout .bs-top.primary {
      border-left-color: #286090; }
    .bs-box.bs-box-callout .bs-top.success {
      border-left-color: #5CB85C; }
    .bs-box.bs-box-callout .bs-top.info {
      border-left-color: #5BC0DE; }
    .bs-box.bs-box-callout .bs-top.warning {
      border-left-color: #F0AD4E; }
    .bs-box.bs-box-callout .bs-top.danger {
      border-left-color: #D9534F; }
  .bs-box.bs-box-callout .bs-end {
    background-color: #F8F8F8; }

.modal {
  z-index: 99999; }
  .modal .btn, .modal button {
    border-radius: 4px; }
  .modal .modal-dialog {
    margin-top: 90px; }
  .modal.success-form .modal-content {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d; }
    .modal.success-form .modal-content .modal-header, .modal.success-form .modal-content .modal-footer {
      border-color: #3c763d; }
    .modal.success-form .modal-content .close {
      color: #3c763d;
      opacity: 1; }
  .modal.error-form .modal-content {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442; }
    .modal.error-form .modal-content .modal-header, .modal.error-form .modal-content .modal-footer {
      border-color: #a94442; }
    .modal.error-form .modal-content .close {
      color: #a94442;
      opacity: 1; }

/*loading spinner*/
.loader-absolute-container {
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: #666;
  opacity: 0.7; }
  .loader-absolute-container .loader {
    margin: auto;
    margin-top: 100px; }

.loader {
  border: 8px solid #f3f3f3;
  /* Light grey */
  border-top: 8px solid #d9534f;
  /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

#spinner .modal-title {
  text-align: center; }

#spinner .spinner {
  margin: 30px 0;
  text-align: center; }
  #spinner .spinner > div {
    width: 18px;
    height: 18px;
    background-color: #923b37;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
  #spinner .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s; }
  #spinner .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s; }

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

@media (min-width: 1280px) {
  .container {
    width: 1250px; } }

@media (min-width: 1340px) {
  .container {
    width: 1310px; } }

@media (min-width: 1400px) {
  .container {
    width: 1370px; } }

@media (min-width: 1600px) {
  .container {
    width: 1570px; }
  .visible-lg, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block {
    display: none !important; }
  .visible-xl {
    display: block !important; }
  .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px; }
  .col-xl-12 {
    width: 100%; }
  .col-xl-11 {
    width: 91.66666667%; }
  .col-xl-10 {
    width: 83.33333333%; }
  .col-xl-9 {
    width: 75%; }
  .col-xl-8 {
    width: 66.66666667%; }
  .col-xl-7 {
    width: 58.33333333%; }
  .col-xl-6 {
    width: 50%; }
  .col-xl-5 {
    width: 41.66666667%; }
  .col-xl-4 {
    width: 33.33333333%; }
  .col-xl-3 {
    width: 25%; }
  .col-xl-2 {
    width: 16.66666667%; }
  .col-xl-1 {
    width: 8.33333333%; } }

@media (max-width: 1599px) {
  .visible-xl {
    display: none !important; } }

