﻿#NoJSMsg {
  background-color: #ffd1d1;
  border: 2px solid #58585a;
  color: #f70606;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px 15px; }
  #NoJSMsg a {
    color: #58585a; }

header {
  color: #ddd; }

#footer-wrapper {
  position: relative;
  bottom: 0;
  padding-top: 50px; }
  #footer-wrapper footer {
    background-color: #555;
    color: #eee;
    padding-top: 3px;
    padding-bottom: 3px; }
  #footer-wrapper .footer-info {
    padding-top: 5px;
    font-size: 12px; }

.form-horizontal label {
  font-weight: normal; }
  .form-horizontal label.req-field {
    font-weight: bold; }

.form-horizontal.search-box input, .form-horizontal.search-box button, .form-horizontal.search-box select, .form-horizontal.search-box textarea, .form-horizontal.search-box a.btn {
  max-width: 250px; }

.form-horizontal.search-box label.control-label {
  font-weight: bold; }
  .form-horizontal.search-box label.control-label.light-label {
    font-weight: normal; }

.tooltip-inner {
  min-width: 200px; }

#offer-form #email-additions .tooltip-inner, #bill-form #email-additions .tooltip-inner, #CustMeetEdit #email-additions .tooltip-inner {
  min-width: 400px; }

/*pagedlist*/
.pagination-container .pagination {
  margin: 10px 0 0 0 !important; }

@media (max-width: 991px) {
  .col-sm-top-space {
    margin-top: 1em; }
  .right-top-space-sm {
    margin-top: 15px; } }

@media (max-width: 767px) {
  dl.list-data dd {
    margin-bottom: 10px; }
  .right-top-space-xs {
    margin-top: 15px; } }

