﻿body {
  background: #fff;
  font-size: 12pt;
  font-family: "Helvetica Neue",Helvetica,Arial,FreeSans,sans-serif; }

/*@page {
    size: A4 portrait;
    margin: 2cm;
    border: thin solid black;
    padding: 1em;
}
body {
    font-size: 16pt;
}
*/
#wrapper,
#content {
  width: auto;
  margin: 0 5%;
  padding: 0;
  border: 0;
  float: none !important;
  color: #000;
  background: transparent; }

a:link,
a:visited {
  color: #0094ff;
  background: transparent;
  font-weight: bold;
  text-decoration: underline; }

#content a:link:after,
#content a:visited:after {
  content: " (" attr(href) ") ";
  font-size: 90%; }

.section {
  page-break-inside: avoid;
  margin-bottom: 25px; }

.btm-spc {
  padding-bottom: 15px; }

.maintitle {
  font-size: 20pt;
  color: #f13535 !important; }

.font-maincolor {
  color: #f13535 !important; }

.font-linkcolor {
  color: #f13535 !important;
  text-decoration: underline; }

/*table*/
.table-box .table-head {
  border: 1px solid #111;
  background-color: #f13535 !important;
  color: #fff !important;
  font-weight: bold;
  padding: 2px 15px; }

.table-box .table-content {
  font-size: 11pt;
  border-left: 1px solid #111;
  border-right: 1px solid #111;
  border-bottom: 1px solid #111;
  padding: 15px 15px 10px 15px; }

.table-box.indent .table-head, .table-box.indent .table-content {
  padding-top: 2px;
  padding-left: 90px; }

.table-box.inner-border .table-head {
  padding: 0; }
  .table-box.inner-border .table-head > .row > .col-xs-6 {
    padding: 2px 15px; }
    .table-box.inner-border .table-head > .row > .col-xs-6.bordered {
      border-right: 1px solid #111; }

.table-box.inner-border .table-content {
  padding: 0; }
  .table-box.inner-border .table-content > .row > .col-xs-6 {
    padding: 20px 15px; }
    .table-box.inner-border .table-content > .row > .col-xs-6.bordered {
      border-right: 1px solid #111; }

.table-box.inner-border.indent .table-head > .row > .col-xs-6, .table-box.inner-border.indent .table-content > .row > .col-xs-6 {
  padding-top: 2px;
  padding-left: 90px; }

.row .col-xs-12 .table-head {
  color: #fff !important; }

/*special form admin printed lists*/
.admin-resultlist {
  font-size: 80%; }
  .admin-resultlist a {
    pointer-events: none;
    cursor: default;
    color: black; }
    .admin-resultlist a[href]:after {
      content: none !important; }

