﻿$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;
$screen-lg-max: 1599px;
$screen-xl-min: 1600px;

$container-xl: 1570px;

$color-red-main: #d9534f;
$color-red-darker-main: #923b37;
$color-blue-main: #337AB7;
$color-gray-geom-main: #ddd;
$color-gray-menu-area: #f2f2f2;
$color-black-main: #333;
