﻿@import '../../variables.scss';

/*header*/
header {
    color: #404040;
}
.navbar {
    background-color: #f5f5f5;
    border: none;
    a {
        color: #404040 !important;
        text-decoration: none;
        &.link-logout {
            color: $color-blue-main !important;
            font-weight: bold;
        }
    }
    .top-navbar {
        background-color: #fff;
        img {
            height: 50px;
        }
    }
    .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;
        img {
            height: 100%;
        }
    }
    .navbar-nav {
        &.main-links {
            font-weight: bold;
        }
        ul.dropdown-menu {
            background-color: #EEE !important;
        }
        .top-sep {
            height: 1px;
            margin: 9px 0px;
            overflow: hidden;
            background-color: #E5E5E5;
        }
    }
    .navbar-toggle {
        border-color: #404040;
        .icon-bar {
            background-color: #333;
        }
    }
}

/*footer*/
#footer-wrapper
{
    padding-top: 0;
}

/*body*/
.main-body {
    padding: 20px 0 0 0;
    background-color: #DBDBDB;
    .body-content {
        padding: 20px 30px 50px 30px;
        background-color: #ffffff;
        box-shadow: 0 1px 2px rgba(0,0,0,0.15)
    }
}

/* general */
.bottom-line {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}
.form-group {
    &.top-sm {
        margin-top: 10px;
    }
    &.mark-important, .mark-important {
        background-color: #FFA500;
    }
    &.group-color, .group-color {
        background-color: #eee;
    }
}
.control-text {
    margin-top: 7px;
}
.bigger-font {
    font-size: 16px;
}
.underlined-font {
    text-decoration: underline;
}
input.colored {
    background-color: #dddddd;
}
input, select {
    &.req-field {
        background-color: #FFD4D4;
    }
    .req-field & {
        background-color: #FFD4D4;
    }
    &.req-semi-field {
        background-color: #fee3c7;
    }
    .req-semi-field & {
        background-color: #fee3c7;
    }
}

/*customer-appointment*/
.tab-Meet {
    form {
        input[type="checkbox"] {
            margin-top: 10px;
        }
        .checkbox-inline {
            input[type="checkbox"] {
                margin-top: 4px;
            }
        }
    }
    #emailchangetext-additions {
        input[type="text"], textarea {
            max-width: 100%;
        }
    }
}
.tab-Offer, .tab-Bill, .tab-Receipt {
    form {
        input[type="text"], input[type="email"], textarea, select {
            max-width: 100%;
        }
        label {
            margin-bottom: 0;
            &.label-bold {
                font-weight: bold;
            }
        }
    }
    .form-horizontal .radio-inline {
        padding-top: 0;
    }
    #packmaterialcontainer {
        .inner-space-col {
            padding-top: 0;
        }
        #freepackmaterialcontainer {
            margin-top: 30px;
        }
    }
}
#bill-form {
    label.label-danger {
        font-size: 91%;
    }
}
#attachments-input {
    .checkbox-inline {
        margin-left: 10px;
    }
}

@media (max-width: $screen-xs-max)
{
   .main-body {
        .body-content {
            padding: 10px 10px 30px 10px;
        }
    }
   .tab-Meet {
       #CustMeetEdit {
           input {
               max-width: 100%;
           }
       }
    }
}
