﻿/*header*/
header {
  color: #404040; }

.navbar {
  background-color: #f5f5f5;
  border: none; }
  .navbar a {
    color: #404040 !important;
    text-decoration: none; }
    .navbar a.link-logout {
      color: #337AB7 !important;
      font-weight: bold; }
  .navbar .top-navbar {
    background-color: #fff; }
    .navbar .top-navbar img {
      height: 50px; }
  .navbar .navbar-brand {
    padding-top: 0;
    padding-bottom: 0; }
    .navbar .navbar-brand img {
      height: 100%; }
  .navbar .navbar-nav.main-links {
    font-weight: bold; }
  .navbar .navbar-nav ul.dropdown-menu {
    background-color: #EEE !important; }
  .navbar .navbar-nav .top-sep {
    height: 1px;
    margin: 9px 0px;
    overflow: hidden;
    background-color: #E5E5E5; }
  .navbar .navbar-toggle {
    border-color: #404040; }
    .navbar .navbar-toggle .icon-bar {
      background-color: #333; }

/*footer*/
#footer-wrapper {
  padding-top: 0; }

/*body*/
.main-body {
  padding: 20px 0 0 0;
  background-color: #DBDBDB; }
  .main-body .body-content {
    padding: 20px 30px 50px 30px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }

/* general */
.bottom-line {
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px; }

.form-group.top-sm {
  margin-top: 10px; }

.form-group.mark-important, .form-group .mark-important {
  background-color: #FFA500; }

.form-group.group-color, .form-group .group-color {
  background-color: #eee; }

.control-text {
  margin-top: 7px; }

.bigger-font {
  font-size: 16px; }

.underlined-font {
  text-decoration: underline; }

input.colored {
  background-color: #dddddd; }

input.req-field, select.req-field {
  background-color: #FFD4D4; }

.req-field input, .req-field select {
  background-color: #FFD4D4; }

input.req-semi-field, select.req-semi-field {
  background-color: #fee3c7; }

.req-semi-field input, .req-semi-field select {
  background-color: #fee3c7; }

/*customer-appointment*/
.tab-Meet form input[type="checkbox"] {
  margin-top: 10px; }

.tab-Meet form .checkbox-inline input[type="checkbox"] {
  margin-top: 4px; }

.tab-Meet #emailchangetext-additions input[type="text"], .tab-Meet #emailchangetext-additions textarea {
  max-width: 100%; }

.tab-Offer form input[type="text"], .tab-Offer form input[type="email"], .tab-Offer form textarea, .tab-Offer form select, .tab-Bill form input[type="text"], .tab-Bill form input[type="email"], .tab-Bill form textarea, .tab-Bill form select, .tab-Receipt form input[type="text"], .tab-Receipt form input[type="email"], .tab-Receipt form textarea, .tab-Receipt form select {
  max-width: 100%; }

.tab-Offer form label, .tab-Bill form label, .tab-Receipt form label {
  margin-bottom: 0; }
  .tab-Offer form label.label-bold, .tab-Bill form label.label-bold, .tab-Receipt form label.label-bold {
    font-weight: bold; }

.tab-Offer .form-horizontal .radio-inline, .tab-Bill .form-horizontal .radio-inline, .tab-Receipt .form-horizontal .radio-inline {
  padding-top: 0; }

.tab-Offer #packmaterialcontainer .inner-space-col, .tab-Bill #packmaterialcontainer .inner-space-col, .tab-Receipt #packmaterialcontainer .inner-space-col {
  padding-top: 0; }

.tab-Offer #packmaterialcontainer #freepackmaterialcontainer, .tab-Bill #packmaterialcontainer #freepackmaterialcontainer, .tab-Receipt #packmaterialcontainer #freepackmaterialcontainer {
  margin-top: 30px; }

#bill-form label.label-danger {
  font-size: 91%; }

#attachments-input .checkbox-inline {
  margin-left: 10px; }

@media (max-width: 767px) {
  .main-body .body-content {
    padding: 10px 10px 30px 10px; }
  .tab-Meet #CustMeetEdit input {
    max-width: 100%; } }

