﻿@model CRM_Umzugsfirma.Areas.Admin.ViewModels.RegisterUserViewModel

@{
    ViewBag.Title = "Benutzer löschen";
}

<h2>@ViewBag.Title</h2>

<h3>Sind Sie sicher, dass Sie diesen Benutzer löschen möchten?</h3>
<div class="row">
    <div class="col-xs-12">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

        </dl>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Clear" class="btn btn-danger" onclick="javascript:return confirm('Do you want the user\'@Model.UserName\' ?');" /> |
        @Html.ActionLink("Back to the View", "Index", null, new { @class = "real-link" })
    </div>
}
