﻿@using CRM_Umzugsfirma.Models
@model CRM_Umzugsfirma.Areas.Admin.ViewModels.RegisterUserViewModel

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/customval")
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#roles-input").find("input[data-value='AccountManager']").change(function () {
            if ($(this).is(":checked")) {
                $("#roles-input").find("input[data-value='AccountUser']").prop("checked", true);
            }
        });
    });
</script>

<h2>@ViewBag.Title</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div id="validator-form">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-xs-12 col-md-6">

                    <div class="col-md-offset-4 col-md-8">
                        @if (Model != null && !string.IsNullOrEmpty(Model.UserId))
                        {
                            @Html.HiddenFor(model => model.UserId);
                            @Html.HiddenFor(model => model.UserName);
                        }
                    </div>

@if (Model != null && !string.IsNullOrEmpty(Model.UserId))
                        {
                    <div class="form-group">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            <label class="text-inline">
                                @Html.DisplayFor(model => model.UserName)
                            </label>
                        </div>
                    </div>
                        }
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Roles, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div id="roles-input" class="col-md-8">
                            @for (int i = 0; i < Model.Roles.Count; i++)
                            {
                                <label class="checkbox-inline">
                                    @Html.HiddenFor(m => m.Roles[i].Id)
                                    @Html.HiddenFor(m => m.Roles[i].Name)
                                    @Html.CheckBoxFor(m => m.Roles[i].Selected, new { @class = "control-checkbox", data_value = Model.Roles[i].Name })
                                    @Html.DisplayFor(m => m.Roles[i].Name)
                                </label>
                            }
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Account, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.MyDropdownListFor(model => model.Account, (List<SelectListItem>)ViewBag.AccountList)
                        </div>
                    </div>


                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-6">
                    @ViewBag.ResultText
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            <input type="submit" value="@ViewBag.SubmitText" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}
<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                @Html.ActionLink("Back to the View", "Index", null, new { @class = "real-link" })
            </div>
        </div>
    </div>
</div>
