﻿@using CRM_Umzugsfirma.Models
@model IEnumerable<CRM_Umzugsfirma.Areas.Admin.ViewModels.RegisterUserViewModel>

@{
    ViewBag.Title = "Benutzer";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-xs-12">@Html.ActionLink("Neuen Benutzer erstellen", "Edit", null, new { @class = "real-link" })</div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.UserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Role)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Account)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Role)
                            </td>
                            <th>
                                @Html.DisplayFor(modelItem => item.Account)
                            </th>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.UserId }, new { @class = "real-link" }) |
                                @Html.ActionLink("Clear", "Delete", new { id = item.UserId }, new { @class = "real-link" })
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>
