﻿@model Customer

@{
    Layout = "~/Areas/Intranet/Views/Shared/_LayoutCustomerView.cshtml";
    ViewBag.ActiveTab = "Data";
}


<div class="row">
    <div class="col-md-12 col-lg-6">
        <dl class="dl-horizontal list-data">
            <dt>
                @Html.DisplayNameFor(model => model.CustomerInnerId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CustomerInnerId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.MarketId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MarketId)
            </dd>
            @if (Model.MarketId == MarketType.Private_person)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.TitleId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TitleId)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
            }
            else
            {
                <dt>
                    @Html.DisplayNameFor(model => model.CompanyName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CompanyName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CompanyContactPerson)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CompanyContactPerson)
                </dd>
            }
            <dt>
                @Html.DisplayNameFor(model => model.Street)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Street)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Zip) @Html.DisplayFor(model => model.City)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CountryCode)
            </dt>
            <dd>
                @Html.CountryCodeDescription(Model.CountryCode)
            </dd>
            @if (!string.IsNullOrEmpty(Model.Phone))
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Phone)
                </dd>
            }
            @if (!string.IsNullOrEmpty(Model.Mobile))
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Mobile)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Mobile)
                </dd>
            }
            @if (!string.IsNullOrEmpty(Model.Fax))
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Fax)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Fax)
                </dd>
            }
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CustomerSource)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CustomerSource)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.OtherSource)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OtherSource)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Note)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Note)
            </dd>

        </dl>
    </div>
    <div class="col-md-12 col-lg-6">
        <dl class="dl-horizontal list-data">
            <dt>
                @Html.DisplayNameFor(model => model.ContractType)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ContractType)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ContractTypeChangeDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ContractTypeChangeDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ContactStage)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ContactStage)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ContactAlreadyHave)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ContactAlreadyHave)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CustomerId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CustomerId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CreateDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreateDate)
            </dd>
            <dt>
                @Html.Raw("Created by")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreateUserId)
            </dd>

        </dl>
    </div>
</div>
<p>
    @Html.ActionLink("Change customer data", "Edit", "CustomerHome", new { id = Model.CustomerId, redir = Url.Action("Details", "Customer", new { id = Model.CustomerId }) }, null) |
</p>