﻿@model DatabaseUpdateViewModel
@{
    ViewBag.Title = "Database Updates";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<h2>@ViewBag.Title.</h2>
@using (Html.BeginForm("Index", "DatabaseUpdate", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.Id, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Id, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Key, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Key, new { @class = "form-control" })
        </div>
    </div>
    if (!string.IsNullOrEmpty(ViewBag.ResultText))
     {
         <div class="form-group">
             <div class="col-xs-12">
                 <p class="alert alert-@(ViewBag.Successful ? "success" : "danger")">
                     @ViewBag.ResultText
                 </p>
             </div>
         </div>
     }
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Say" />
        </div>
    </div>
}