﻿@model CRM_Umzugsfirma.Areas.Intranet.ViewModels.CustomerReceiptViewModel

<div>
    <h4>Task Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Receipt.ReceiptInnerId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Receipt.ReceiptInnerIdExtern)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Receipt.ReceiptId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Receipt.ReceiptId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Receipt.ReceiptTypeId)
        </dt>
        <dd>
            @Helpers.EnumDisplayName(@Model.Receipt.ReceiptTypeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Receipt.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Receipt.CreateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Receipt.ReceiptStateId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Receipt.ReceiptStateId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Receipt.ClosedDate)
        </dt>
        <dd>
            @if (Model.Receipt.ClosedDate != DateTime.MinValue)
            {
                @Html.DisplayFor(model => model.Receipt.ClosedDate)
            }
        </dd>

        <dt><br /></dt>
        <dd><br /></dd>

        <dt>
            @Html.DisplayNameFor(model => model.Receipt.JobDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Receipt.JobDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Receipt.JobTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Receipt.JobTime)
        </dd>
        @if (Model.Receipt.ReceiptTypeId == Receipt.ReceiptType.Move)
        {
            <dt>
                Order Deadline
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Receipt.JobDate), @Html.DisplayFor(model => model.Receipt.JobTime)
            </dd>
            <dt><br /></dt>
            <dd><br /></dd>
            <dt>
                Removal Costs
            </dt>
            <dd>
                CHF @Html.NumberCashPrintable(Model.ReceiptUmzug.UmzugCost)
            </dd>
            <dt>
                Disposal Costs
            </dt>
            <dd>
                CHF @Html.NumberCashPrintable(Model.ReceiptUmzug.EntsorgungCost)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ReceiptUmzug.EntsorgungPauschalCost)
            </dt>
            <dd>
                CHF @Html.NumberCashPrintable(Model.ReceiptUmzug.EntsorgungPauschalCost)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Receipt.CostFix)
            </dt>
            <dd>
                CHF @Html.NumberCashPrintable(Model.Receipt.CostFix)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Receipt.CostHigh)
            </dt>
            <dd>
                CHF @Html.NumberCashPrintable(Model.Receipt.CostHigh)
            </dd>
            <dt>
                Total Costs
            </dt>
            <dd>
                CHF @Html.NumberCashPrintable(Model.Receipt.TotalCost)
            </dd>
        }
        else if (Model.Receipt.ReceiptTypeId == Receipt.ReceiptType.cleaning)
        {
            <dt>
                cleaning Date
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Receipt.JobDate), @Html.DisplayFor(model => model.Receipt.JobTime)
            </dd>
            <dt>
                Deadline
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ReceiptReinigung.AbgabeDate), @Html.DisplayFor(model => model.ReceiptReinigung.AbgabeTime)
            </dd>
            <dt>
                Tariff Costs
            </dt>
            <dd>
                CHF @Html.NumberCashPrintable(Model.ReceiptReinigung.ReinigungCost)
            </dd>
        }

        <dt><br /></dt>
        <dd><br /></dd>

        <dt>
            Payment
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Receipt.PayedCash) In Bar (CHF @Html.NumberCashPrintable(Model.Receipt.PayedCashCost)) / @Html.DisplayFor(model => model.Receipt.PayedBill) By Invoice (CHF @Html.NumberCashPrintable(Model.Receipt.PayedCashCost))
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to the View", "Index")
</p>
