﻿@model CRM_Umzugsfirma.Areas.Intranet.ViewModels.Receipts.ReceiptViewModel

@{
    IFormatProvider formatProvider = new System.Globalization.CultureInfo("de-CH");
}
@if (Model.PrintVersion)
{
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/print")
}

<table class="table table-linked @(Model.PrintVersion ? "admin-resultlist" : string.Empty)">
    <thead>
        <tr>
            <th>
                <a href="@Url.Action("Index", new { sortOrder = ViewBag.SortIdParam })">
                    @Html.DisplayNameFor(model => model.ResultListHeader.ReceiptInnerId)
                </a>
            </th>
            <th>
                <a href="@Url.Action("Index", new { sortOrder = ViewBag.SortTypeIdParam })">
                    @Html.DisplayNameFor(model => model.ResultListHeader.ReceiptTypeId)
                </a>
            </th>
            <th>
                <a href="@Url.Action("Index", new { sortOrder = ViewBag.SortJobDateParam })">
                    @Html.DisplayNameFor(model => model.ResultListHeader.JobDate)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResultListHeader.TotalCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResultListHeader.PayTypeId)
            </th>
            <th>
                <a href="@Url.Action("Index", new { sortOrder = ViewBag.SortStateIdParam })">
                    @Html.DisplayNameFor(model => model.ResultListHeader.ReceiptStateId)
                </a>
            </th>
            <th>
                <a href="@Url.Action("Index", new { sortOrder = ViewBag.SortDateCreateParam })">
                    @Html.DisplayNameFor(model => model.ResultListHeader.CreateDate)
                </a>
            </th>
            <th>
                Customer
            </th>
            @if (!Model.PrintVersion)
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ResultList)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Details", new { id = item.ReceiptId })">
                        @Html.DisplayFor(modelItem => item.ReceiptInnerIdExtern)
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", new { id = item.ReceiptId })">
                        @Html.DisplayFor(modelItem => item.ReceiptTypeId)
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", new { id = item.ReceiptId })">
                        @item.JobDate
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", new { id = item.ReceiptId })">
                        @(!string.IsNullOrEmpty(item.TotalCost) ? string.Format("CHF {0}", Helpers.NumberCashPrintable(item.TotalCost)) : "-")
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", new { id = item.ReceiptId })">
                        @Html.DisplayFor(modelItem => item.PayTypeId)
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", new { id = item.ReceiptId })">
                        @Html.DisplayFor(modelItem => item.ReceiptStateId)
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", new { id = item.ReceiptId })">
                        @item.CreateDate.ToString("dd.MM.yyyy")
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", new { id = item.ReceiptId })">
                        @if (item.CustomerMarketId == MarketType.Private_person)
                        {
                            @(HttpUtility.HtmlDecode(string.Format(formatProvider, "{0} {1}", Html.DisplayFor(modelItem => item.LastName), Html.DisplayFor(modelItem => item.FirstName))))
                        }
                        else
                        {
                            <i>@Html.DisplayFor(modelItem => item.CompanyName)</i>
                        }
                    </a>
                </td>
                @if (!Model.PrintVersion)
                {
                    <td>
                        <a class="real-link" href="@Url.RouteUrl("Intranet_CustomerReceipt", new { action = "Index", customerid = item.CustomerId })">To the customer</a>
                    </td>
                }
            </tr>
        }
    </tbody>

</table>

@if (Model.PrintVersion)
{
    <script>
        window.print();
    </script>
}