﻿@using Microsoft.AspNet.Identity

<div id="footer" class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "UserAccount", FormMethod.Post, new { id = "logoutForm", @class = "" }))
                {
                    @Html.AntiForgeryToken()

                    if (Session["AccountName"] != null)
                    {
                        <div class="text-center">Logged in as: @string.Format("{0} ({1})", Session["AccountName"].ToString(), User.Identity.GetUserName())</div>
                    }
                    else
                    {
                        <div class="text-center">Logged in as: @User.Identity.GetUserName()</div>
                    }
                    <div class="text-center">
                        <a class="imp-link" href="javascript:document.getElementById('logoutForm').submit()">Sign out</a>
                    </div>
                }
            }
        </div>
    </div>
    <div class="row footer-info">
        <div class="col-xs-12">
            &copy; @DateTime.Now.Year, CRM from Helvetia Transporte AG. <a href="http://www.eker.ch" class="no-link" title="www.eker.ch" target="_blank">Engineering by eker</a>. All rights reserved.
            <div class="visible-xl pull-right">xl</div>
            <div class="visible-lg pull-right">lg</div>
            <div class="visible-md pull-right">md</div>
            <div class="visible-sm pull-right">sm</div>
            <div class="visible-xs pull-right">xs</div>
        </div>
    </div>
</div>