﻿<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("CRM - customer administration", "Login", "UserAccount", new { area = "" }, new { @class = "navbar-brand no-link" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "UserAccount", FormMethod.Post, new { id = "logoutForm", @class = "" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()">Sign out</a>
                        }
                    }
                    else
                    {
                        @Html.ActionLink("Login", "Login", "UserAccount", new { area = "" }, new { @class = "imp-link" })
                    }
                </li>
                <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "no-link" })</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "no-link" })</li>
            </ul>
        </div>
    </div>
</div>