﻿@{
    ViewBag.Title = "Page not found";
}

@section headerend {
    <style type="text/css">
        .error-body {
            padding: 10% 5%;
            font-size: 1.1em;
        }

        h2 {
            color: #923b37;
        }

        .descr {
            padding-top: 15px;
            font-size: 1.5em;
        }
    </style>
}


<div class="error-body">
    <blockquote><h2>Page not found</h2></blockquote>
    <div class="descr">
        <div class="row">
            <div class="col-xs-12">
                The page could not be found.
            </div>
        </div>
    </div>
</div>
