﻿@model CRM_Umzugsfirma.ViewModels.Mail.Appointment.AppointmentDeliveryMail
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.MainMailData.MailTitle</title>
    <style type="text/css">
        body {
            font-family: arial, helvetica, sans-serif;
            font-size: 12px !important;
        }
        table tbody tr td {
            font-size: 12px !important;
        }
        .footer img {
            height: auto;
            max-width: 420px;
        }
        @@media only screen and (max-width: 480px)
        {
            .footer img {
                width: 100% !important;
            }
        }
    </style>
</head>
<body>
    <div>
        <div>
            @Model.MainMailData.CustomerSalutation
        </div>
        <br />
        <div>
            We are confirming the pick-up date as follows:
        </div>
        <br />
        <div>
            @{
                string appointmentDateDescription = Helpers.GetDateFormatted(Model.Date);
                if (!string.IsNullOrEmpty(Model.TimeFrom))
                {
                    if (!string.IsNullOrEmpty(Model.TimeTo))
                    {
                        appointmentDateDescription += string.Format(", between {0} o'clock - {1} o'clock", Model.TimeFrom, Model.TimeTo);
                    }
                    else
                    {
                        appointmentDateDescription += string.Format(", {0} O'clock", Model.TimeFrom);
                    }
                }
            }
            <b>@appointmentDateDescription</b>
        </div>
        <br />
        <div style="color: red;">
            Important: The packaging material should be folded and stored in a dry place for collection.
        </div>
        <br />
        <div>
            For any questions we are at your disposal.
        </div>
        @*Partial render footer*@
        @Html.Partial(string.Format("{0}/text/_FooterPartial.cshtml", Model.MainMailData.PathAccount), Model.MainMailData)
    </div>
</body>
</html>