﻿@model CRM_Umzugsfirma.ViewModels.Mail.Appointment.AppointmentDeliveryMail
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.MainMailData.MailTitle</title>
    <style type="text/css">
        body {
            font-family: arial, helvetica, sans-serif;
            font-size: 12px !important;
        }
        table tbody tr td {
            font-size: 12px !important;
        }
        .footer img {
            height: auto;
            max-width: 420px;
        }
        @@media only screen and (max-width: 480px)
        {
            .footer img {
                width: 100% !important;
            }
        }
    </style>
</head>
<body>
    <div>
        <div>
            @Model.MainMailData.CustomerSalutation
        </div>
        <br />
        <div>
            We are confirming the delivery date as follows:
        </div>
        <br />
        <div>
            @{
                string appointmentDateDescription = Helpers.GetDateFormatted(Model.Date);
                if (!string.IsNullOrEmpty(Model.TimeFrom))
                {
                    if (!string.IsNullOrEmpty(Model.TimeTo))
                    {
                        appointmentDateDescription += string.Format(", between {0} o'clock - {1} o'clock", Model.TimeFrom, Model.TimeTo);
                    }
                    else
                    {
                        appointmentDateDescription += string.Format(", {0} O'clock", Model.TimeFrom);
                    }
                }
            }
            <b>@appointmentDateDescription</b>
        </div>
        <br />
        <div>
            We do our utmost best to ensure that your delivery is of high standard of service and carried out with care!
        </div>
        <br /><br />
        <div>
            <span style="color: red; font-size: 22.0px; text-decoration: underline;">Now only for Castle_Atelier customers:</span>
        </div>
        <br /><br />
        <div>
            <span style="color: red; font-size: 22.0px;">Get a 15% discount on all our services!</span>
        </div>
        <br /><br />
        <div>
            Helvetia Transporte AG is a national / international transport and moving company that stands for unique quality and the highest standards in the areas of removals, transport, cleaning, Storage and disposal.
            Since our founding in 1999, we have not only been able to establish ourselves on the market, but we have been able to influence this industry for many years with our wide range of services..
        </div>
        <br />
        <div>
            Take advantage of our services as Castle_Atelier customers and contact us now for a non-binding and free offer.
            We are also happy to offer viewing appointments in order to create a customized and individual offer for you. 
        </div>
        @*Partial render footer*@
        @Html.Partial(string.Format("{0}/text/_FooterPartial.cshtml", Model.MainMailData.PathAccount), Model.MainMailData)
    </div>
</body>
</html>