﻿@model CRM_Umzugsfirma.ViewModels.Mail.MainMailData
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.MailTitle</title>
    <style type="text/css">
        body {
            font-family: arial, helvetica, sans-serif;
            font-size: 12px !important;
        }
        table tbody tr td {
            font-size: 12px !important;
        }
        .footer img {
            height: auto;
            max-width: 420px;
        }
        @@media only screen and (max-width: 480px) {
            .footer img {
                width: 100% !important;
            }
        }
    </style>
</head>
<body>
<div>
    <div>
        @Model.CustomerSalutation
    </div>
    <br />
    <div>
        We really enjoyed the work we did with you and thank you very much for the trust that you have placed in us. We also hope that we have convinced you with our services and have offered you a full service..
    </div>
    <br />
    <div>
        With this letter, we would like to make sure once again whether our team has executed your order quickly and carefully with a high level of service..
    </div>
    <br />
    <div>
        Your opinion and suggestions for improvement are very important to us and we ask for a short feedback, so that we can constantly improve our service.
    </div>
    <br />
    <div>
        We thank you for your cooperation.
    </div>
    @*Partial render footer*@
    @Html.Partial(string.Format("{0}/text/_FooterPartial.cshtml", Model.PathAccount), Model)
</div>
</body>
</html>
