﻿@model CRM_Umzugsfirma.ViewModels.Mail.MainMailData
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.MailTitle</title>
    <style type="text/css">
        body {
            font-family: arial, helvetica, sans-serif;
            font-size: 12px !important;
        }
        table tbody tr td {
            font-size: 12px !important;
        }
        .footer img {
            height: auto;
            max-width: 420px;
        }
        @@media only screen and (max-width: 480px) {
            .footer img {
                width: 100% !important;
            }
        }
    </style>
</head>
<body>
<div>
    <div>
        @Model.CustomerSalutation
    </div>
    <br />
    <div>
        Regarding your request, we have sent you an offer.
    </div>
    <div>
        In this way, we would like to make sure that you have received them.
    </div>
    <br />
    <div>
        We would like to hold a short consultation on the phone number <u>043 537 80 48</u> with you to discuss the individual points to clarify any questions or make appointments. Of course, you can also reply to this letter by e-mail.
    </div>
    <br />
    <div>
        We hope we could create your desired offer and are at your disposal for all requests and questions.
    </div>
    <br />
    <div>
        For questions or to clarify the offer we are at your disposal.
    </div>
    @*Partial render footer*@
    @Html.Partial(string.Format("{0}/text/_FooterPartial.cshtml", Model.PathAccount), Model)
</div>
</body>
</html>
