﻿@model CRM_Umzugsfirma.ViewModels.Mail.OfferMail
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.MainMailData.MailTitle</title>
    <style type="text/css">
        body {
            font-family: arial, helvetica, sans-serif;
            font-size: 12px !important;
        }
        table tbody tr td {
            font-size: 12px !important;
        }
        .footer img {
            height: auto;
            max-width: 420px;
        }
        @@media only screen and (max-width: 480px) {
            .footer img {
                width: 100% !important;
            }
        }
    </style>
</head>
<body>
    <div>
        <div>
            @Model.MainMailData.CustomerSalutation
        </div>
        <br />
        @if (Model.ViewAppointmentStateId == CRM_Umzugsfirma.Areas.Intranet.Models.Offer.ViewAppointmentState.made)
        {
            <div>
                Thank you for your time in front of place.
            </div>
            <div>
                Gladly we send you in the attachment your individual offer with all details.
            </div>
            <br />
        }
        else
        {
            <div>
                Thank you for your inquiry.
            </div>
            <div>
                Enclosed we send you in the appendix your offer with all details
            </div>
            <br />
        }
        <div>
            If deviations have crept in, please let us know.
        </div>
        <div>
            We would be pleased to carry out this order for you and we assure you already on time, prompt and expert service.
        </div>
        <br />
        @if (Model.ViewAppointmentStateId == CRM_Umzugsfirma.Areas.Intranet.Models.Offer.ViewAppointmentState.no)
            {
            <div>
                To make sure that everything works out to your fullest satisfaction on the move day, we are pleased to offer you a free and non-binding viewing appointment with the aim of creating an individual offer for you.
            </div>
            <br />
        }
        <div>
            If you like our offer, simply confirm the offer via our web form: <a href="##SystemKey-NICHT-ENTFERNEN-AcceptLink##"><u>Confirm offer here</u></a>
        </div>
        <div>
            Optionally, you can also confirm the order by e-mail, fax or by post.
        </div>
        <br />
        <div>
            For any queries, we are at your disposal anytime.
        </div>
        @*Partial render footer*@
        @Html.Partial(string.Format("{0}/text/_FooterPartial.cshtml", Model.MainMailData.PathAccount), Model.MainMailData)
    </div>
</body>
</html>