﻿@model CRM_Umzugsfirma.ViewModels.Mail.MainMailData
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.MailTitle</title>
    <style type="text/css">
        body {
            font-family: arial, helvetica, sans-serif;
            font-size: 12px !important;
        }
        table tbody tr td {
            font-size: 12px !important;
        }
        .footer img {
            height: auto;
            max-width: 420px;
        }
        @@media only screen and (max-width: 480px) {
            .footer img {
                width: 100% !important;
            }
        }
    </style>
</head>
<body>
    <div>
        <div>
            @Model.CustomerSalutation
        </div>
        <br />
        <div>
            We would like to thank you again for the pleasant cooperation.
        </div>
        <br />
        <div>
            Attached you will find the receipt for our service.
        </div>
        <br />
        <div>
            If deviations have crept in, please let us know.
        </div>
        <br />
        <div>
            For questions or to clarify the receipt, we are at your disposal.
        </div>
        @*Partial render footer*@
        @Html.Partial(string.Format("{0}/text/_FooterPartial.cshtml", Model.PathAccount), Model)
    </div>
</body>
</html>
