﻿@model CRM_Umzugsfirma.ViewModels.Mail.Appointment.AppointmentServiceMail
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.MainMailData.MailTitle</title>
    <style type="text/css">
        body {
            font-family: arial, helvetica, sans-serif;
            font-size: 12px !important;
        }

        table tbody tr td {
            font-size: 12px !important;
        }

        .footer img {
            height: auto;
            max-width: 420px;
        }

        @@media only screen and (max-width: 480px) {
            .footer img {
                width: 100% !important;
            }
        }
    </style>
</head>
<body>
    <div>
        <div>
            @Model.MainMailData.CustomerSalutation
        </div>
        <br />
        <div>
            We sincerely thank you for placing the order and your trust in us.
        </div>
        <div>
            Hereby we confirm your order as follows:
        </div>
        <br /><br />
        <table cellspacing="0" cellpadding="0" border="0">
            @if (!string.IsNullOrEmpty(Model.DateUmzug))
            {
                <tr>
                    <td width="120"><b>Move:</b></td>
                    <td><b>@string.Format("{0}{1}", Helpers.GetDateFormatted(Model.DateUmzug), ((!string.IsNullOrEmpty(Model.TimeUmzug)) ? string.Format(", {0} O'clock", Helpers.GetTimeFormatted(Model.TimeUmzug, ':')) : string.Empty))</b></td>

                </tr>
                <tr>
                    <td colspan="2">
                       
                        @if (@Html.DisplayNameFor(appointmentpayment => appointmentpayment.AppointmentService.PaymentType).Equals ("Bar"))
                        {
                            @Html.Raw("Bar: Moves are to be paid in cash after the furniture transport department of the Swiss Commercial Vehicle Association ASTAG.")
                        }
                        else
                        {
                            @Html.Raw("Invoice: Advance invoice for approx. 50% of the estimated costs. Payable before the start of the move, so that the amount on the move date is shown on our account. Balance is payable in 14 days.")}
                    </td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.DateUmzug2))
            {
                <tr>
                    <td width="120"><b>Move (Tag 2):</b></td>
                    <td><b>@string.Format("{0}{1}", Helpers.GetDateFormatted(Model.DateUmzug2), ((!string.IsNullOrEmpty(Model.TimeUmzug2)) ? string.Format(", {0} O'clock", Helpers.GetTimeFormatted(Model.TimeUmzug2, ':')) : string.Empty))</b></td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.DateUmzug3))
            {
                <tr>
                    <td width="120"><b>Move (Tag 3):</b></td>
                    <td><b>@string.Format("{0}{1}", Helpers.GetDateFormatted(Model.DateUmzug3), ((!string.IsNullOrEmpty(Model.TimeUmzug3)) ? string.Format(", {0} O'clock", Helpers.GetTimeFormatted(Model.TimeUmzug3, ':')) : string.Empty))</b></td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.DatePack))
            {
                <tr>
                    <td width="120"><b>Packing:</b></td>
                    <td><b>@string.Format("{0}{1}", Helpers.GetDateFormatted(Model.DatePack), ((!string.IsNullOrEmpty(Model.TimePack)) ? string.Format(", {0} O'clock", Helpers.GetTimeFormatted(Model.TimePack, ':')) : string.Empty))</b></td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.DatePackOut))
            {
                <tr>
                    <td width="120"><b>Unpacking:</b></td>
                    <td><b>@string.Format("{0}{1}", Helpers.GetDateFormatted(Model.DatePackOut), ((!string.IsNullOrEmpty(Model.TimePackOut)) ? string.Format(", {0} O'clock", Helpers.GetTimeFormatted(Model.TimePackOut, ':')) : string.Empty))</b></td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.DateEntsorgung))
            {
                <tr>
                    <td width="120"><b>disposal:</b></td>
                    <td><b>@string.Format("{0}{1}", Helpers.GetDateFormatted(Model.DateEntsorgung), ((!string.IsNullOrEmpty(Model.TimeEntsorgung)) ? string.Format(", {0} O'clock", Helpers.GetTimeFormatted(Model.TimeEntsorgung, ':')) : string.Empty))</b></td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.DateReinigung))
            {
                <tr>
                    <td width="120"><b>cleaning:</b></td>
                    <td><b>@string.Format("{0}{1}", Helpers.GetDateFormatted(Model.DateReinigung), ((!string.IsNullOrEmpty(Model.TimeReinigung)) ? string.Format(", {0} O'clock", Helpers.GetTimeFormatted(Model.TimeReinigung, ':')) : string.Empty))</b></td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.DateReinigungRelease))
            {
                <tr>
                    <td width="120"><b>Deadline:</b></td>
                    <td><b>@string.Format("{0}{1}", Helpers.GetDateFormatted(Model.DateReinigungRelease), ((!string.IsNullOrEmpty(Model.TimeReinigungRelease)) ? string.Format(", {0} O'clock", Helpers.GetTimeFormatted(Model.TimeReinigungRelease, ':')) : string.Empty))</b></td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.DateReinigung2))
            {
                <tr>
                    <td width="120"><b>cleaning 2:</b></td>
                    <td><b>@string.Format("{0}{1}", Helpers.GetDateFormatted(Model.DateReinigung2), ((!string.IsNullOrEmpty(Model.TimeReinigung2)) ? string.Format(", {0} O'clock", Helpers.GetTimeFormatted(Model.TimeReinigung2, ':')) : string.Empty))</b></td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.DateReinigung2Release))
            {
                <tr>
                    <td width="120"><b>Deadline:</b></td>
                    <td><b>@string.Format("{0}{1}", Helpers.GetDateFormatted(Model.DateReinigung2Release), ((!string.IsNullOrEmpty(Model.TimeReinigung2Release)) ? string.Format(", {0} O'clock", Helpers.GetTimeFormatted(Model.TimeReinigung2Release, ':')) : string.Empty))</b></td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.DateTransport))
            {
                <tr>
                    <td width="120"><b>transport:</b></td>
                    <td><b>@string.Format("{0}{1}", Helpers.GetDateFormatted(Model.DateTransport), ((!string.IsNullOrEmpty(Model.TimeTransport)) ? string.Format(", {0} O'clock", Helpers.GetTimeFormatted(Model.TimeTransport, ':')) : string.Empty))</b></td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.DateLagerung))
            {
                <tr>
                    <td width="120"><b>Storage:</b></td>
                    <td><b>@string.Format("{0}{1}", Helpers.GetDateFormatted(Model.DateLagerung), ((!string.IsNullOrEmpty(Model.TimeLagerung)) ? string.Format(", {0} O'clock", Helpers.GetTimeFormatted(Model.TimeLagerung, ':')) : string.Empty))</b></td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.Comment))
            {
                <tr>
                    <td width="120" valign="top"><b>Comment:</b></td>
                    <td valign="top"><b>@Html.Raw(Html.Encode(Model.Comment).Replace("\r\n", "<br />"))</b></td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            }
        </table>
        <br />
        <div>
            We do everything we can to carry out your order with a high standard of service, quickly and carefully!
        </div>
        <br />
        <div>
            For any questions, we are very happy to be contacted on the following phone number  @Model.MainMailData.AccountPhone to disposal.
        </div>
        @*Partial render footer*@
        @Html.Partial(string.Format("{0}/text/_FooterPartial.cshtml", Model.MainMailData.PathAccount), Model.MainMailData)
    </div>
</body>
</html>