﻿@model CRM_Umzugsfirma.ViewModels.Mail.Appointment.AppointmentViewMail
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.MainMailData.MailTitle</title>
    <style type="text/css">
        body {
            font-family: arial, helvetica, sans-serif;
            font-size: 12px !important;
        }
        table tbody tr td {
            font-size: 12px !important;
        }
        .footer img {
            height: auto;
            max-width: 420px;
        }
        @@media only screen and (max-width: 480px)
        {
            .footer img {
                width: 100% !important;
            }
        }
    </style>
</head>
<body>
    <div>
        <div>
            @Model.MainMailData.CustomerSalutation
        </div>
        <br />
        <div>
            We are very pleased about your interest in our company.
        </div>
        <br />
        <div>
            We are happy to visit your apartment and offer you a non-binding and free offer.
        </div>
        <br />
        <div>
            The agreed date is confirmed as follows:
        </div>
        <br />
        <div>
            <b>@string.Format("{0}, {1} O'clock", Helpers.GetDateFormatted(Model.Date), Helpers.GetTimeFormatted(Model.Time, ':'))</b>
        </div>
        <br /><br />
        <div>
            Meanwhile, you can convince yourself of our quality: <a href="@Model.MainMailData.AccountWebAddress">@Model.MainMailData.AccountWebAddress</a>
        </div>
        <br />
        <div>
            If you have any further questions, we are at your disposal.
        </div>
        @*Partial render footer*@
        @Html.Partial(string.Format("{0}/text/_FooterPartial.cshtml", Model.MainMailData.PathAccount), Model.MainMailData)
    </div>
</body>
</html>