﻿@model CRM_Umzugsfirma.Areas.Intranet.Models.Bill

<div>
    <h4>Invoice Details</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BillInnerId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillInnerId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BillId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentTermId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentTermId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ToPayDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ToPayDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SendStateId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SendStateId)
        </dd>

        <dt>
            <br/>
        </dt>
        <dd>
            <br/>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillStateId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BillStateId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReminderDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReminderDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PreCollectionDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PreCollectionDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PayedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PayedDate)
        </dd>
        <dt><br /></dt>
        <dd><br /></dd>

        <dt>
            Services
        </dt>
        <dd>
            @ViewBag.BookedServices
        </dd>
        <dt><br /></dt>
        <dd><br /></dd>

        @if (Model.UmzugActive)
        {
            <dt>
                Moving Date
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UmzugDate) (Duration: @Html.DisplayFor(model => model.UmzugDuration) h@(!string.IsNullOrEmpty(Model.UmzugDuration2) ? string.Format(" / {0} h", Model.UmzugDuration2) : string.Empty))
            </dd>
            <dt>
                Costs
            </dt>
            <dd>
                @Html.Raw(string.Format("CHF {0}.-", Model.UmzugCost))
            </dd>
        }
        @if (Model.PackActive)
        {
            <dt>
               Packing Date
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PackDate) (Duration: @Html.DisplayFor(model => model.PackDuration) h@(!string.IsNullOrEmpty(Model.PackDuration2) ? string.Format(" / {0} h", Model.PackDuration2) : string.Empty))
            </dd>
            <dt>
                Costs
            </dt>
            <dd>
                @Html.Raw(string.Format("CHF {0}.-", Model.PackCost))
            </dd>
        }
        @if (Model.PackOutActive)
        {
            <dt>
                Unpacking Date
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PackOutDate) (Duration: @Html.DisplayFor(model => model.PackOutDuration) h@(!string.IsNullOrEmpty(Model.PackOutDuration2) ? string.Format(" / {0} h", Model.PackOutDuration2) : string.Empty))
            </dd>
            <dt>
                Costs
            </dt>
            <dd>
                @Html.Raw(string.Format("CHF {0}.-", Model.PackOutCost))
            </dd>
        }
        @if (Model.EntsorgungActive)
        {
            <dt>
                Disposal Costs
            </dt>
            <dd>
                @Html.Raw(string.Format("CHF {0}.-", Model.EntsorgungCost))
            </dd>
        }
        @if (Model.ReinigungActive)
        {
            <dt>
                cleaning Date
            </dt>
            <dd>
                @Html.DisplayFor(model => model.BillCleaning.ReinigungDate)
            </dd>
            <dt>
                Costs
            </dt>
            <dd>
                @Html.Raw(string.Format("CHF {0}.-", Model.BillCleaning.ReinigungCost))
            </dd>
        }
        @if (Model.Reinigung2Active)
        {
            <dt>
                cleaning Date 2
            </dt>
            <dd>
                @Html.DisplayFor(model => model.BillCleaning2.ReinigungDate)
            </dd>
            <dt>
                Costs
            </dt>
            <dd>
                @Html.Raw(string.Format("CHF {0}.-", Model.BillCleaning2.ReinigungCost))
            </dd>
        }
        @if (Model.TransportActive)
        {
            <dt>
                Transport Date
            </dt>
            <dd>
                @Html.DisplayFor(model => model.BillTransport.TransportDate)
            </dd>
            <dt>
                Costs
            </dt>
            <dd>
                @Html.Raw(string.Format("CHF {0}.-", Model.BillTransport.TransportCost))
            </dd>
        }
        @if (Model.LagerungActive)
        {
            <dt>
                Period
            </dt>
            <dd>
                @Html.Raw(string.Format("{0} to {1}", Model.LagerungDatePeriodFrom, Model.LagerungDatePeriodTo))
            </dd>
            <dt>
                Storage Costs
            </dt>
            <dd>
                @Html.Raw(string.Format("CHF {0}.-", Model.LagerungCost))
            </dd>
            <dt>Reminder Date</dt>
            <dd>@Html.DisplayFor(model => Model.LagerungDateReminder)</dd>
        }

        <dt>
            <br/>
        </dt>
        <dd>
            <br/>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BillCost)
        </dt>
        <dd>
            @Html.Raw(Html.DecimalToCurrencyCHF(Model.BillCost))
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PreCollectionCost)
        </dt>
        <dd>
            @Html.Raw(string.Format("CHF {0}.-", Model.PreCollectionCost))
        </dd>

        <dt>
            <br/>
        </dt>
        <dd>
            <br/>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateUserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to the View", "Index")
</p>