﻿@model CRM_Umzugsfirma.Areas.Intranet.ViewModels.Bills.BillViewModel
@using PagedList.Mvc;

@{
    ViewBag.Title = "Bills";
}

@section Scripts {
    @Scripts.Render("~/bundles/datepicker")
}
@Styles.Render("~/Content/css/datepicker")
@Styles.Render("~/Content/css/pagedlist")

<h2>@ViewBag.Title</h2>

<div class="bs-box bs-box-callout">
    <div class="bs-top primary">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-horizontal search-box">

                        <div class="form-group">
                            @Html.LabelFor(model => model.SearchFilter.BillInnerId, htmlAttributes: new { @class = "control-label col-sm-4 col-md-3 col-lg-2" })
                            <div class="col-sm-8 col-md-9 col-lg-10">
                                @Html.EditorFor(model => model.SearchFilter.BillInnerId, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SearchFilter.BillStateId, htmlAttributes: new { @class = "control-label col-sm-4 col-md-3 col-lg-2" })
                            <div class="col-sm-8 col-md-9 col-lg-10">
                                @Html.RadioButtonSearchForEnum(model => model.SearchFilter.BillStateId)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SearchFilter.PaymentStateId, htmlAttributes: new { @class = "control-label col-sm-4 col-md-3 col-lg-2" })
                            <div class="col-sm-8 col-md-9 col-lg-10">
                                @Html.RadioButtonSearchForEnum(model => model.SearchFilter.PaymentStateId)
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            @Html.LabelFor(model => model.SearchFilter.DateCreateFrom, htmlAttributes: new { @class = "control-label col-sm-4 col-md-3 col-lg-2" })
                            <div class="col-sm-3">
                                @Html.MyDatepickerFor(model => model.SearchFilter.DateCreateFrom, false, true)
                            </div>
                            @Html.LabelFor(model => model.SearchFilter.DateCreateTo, htmlAttributes: new { @class = "control-label col-sm-1" })
                            <div class="col-sm-3">
                                @Html.MyDatepickerFor(model => model.SearchFilter.DateCreateTo, false, true)
                            </div>
                        </div>
                        <hr />
                        <div class="form-group top-space">
                            <div class="col-sm-offset-4 col-md-offset-3 col-lg-offset-2 col-sm-3 col-xs-6">
                                <input type="submit" value="Search" class="btn btn-primary btn-block" />
                            </div>
                            <div class="col-sm-offset-1 col-sm-3 col-xs-6">
                                @Html.ActionLink("Reset to default", "Index", "Bills", new { area = "Intranet", reset = 1 }, new { @class = "btn btn-default btn-block" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
    <div class="bs-end">

        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">

                    @*Partial render Resultlist*@
                    @Html.Partial("~/Areas/Intranet/Views/Bills/ResultList.cshtml", Model)

                    <br />
                    Search has <span class="color-mainlink">@Model.ResultList.TotalItemCount</span> Scored hits.
                    @Html.PagedListPager(Model.ResultList, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort }))
                    <i>Page @(Model.ResultList.PageCount < Model.ResultList.PageNumber ? 0 : Model.ResultList.PageNumber) of @Model.ResultList.PageCount</i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-right">
                    <div class="pull-left inner-space-sm">
                        @Html.ActionLink("Print", "Print", "Bills", new { area = "Intranet", sortOrder = ViewBag.CurrentSort }, new { @class = "btn btn-default btn-block", target = "_blank" })
                    </div>
                    <div class="pull-right inner-space-sm">
                        @Html.ActionLink("Excel", "Csv", "Bills", new { area = "Intranet", sortOrder = ViewBag.CurrentSort }, new { @class = "btn btn-success btn-block" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
