﻿@model CRM_Umzugsfirma.Areas.Intranet.ViewModels.Bills.BillViewModel

@{
    IFormatProvider formatProvider = new System.Globalization.CultureInfo("de-CH");
}
@if (Model.PrintVersion)
{
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/print")
}

<table class="table table-linked @(Model.PrintVersion ? "admin-resultlist" : string.Empty)">
    <thead>
        <tr>
            <th>
                <a href="@Url.Action("Index", new { sortOrder = ViewBag.SortIdParam })">
                    @Html.DisplayNameFor(model => model.ResultListHeader.BillInnerId)
                </a>
            </th>
            <th>
                Customer
            </th>
            <th>
                <a href="@Url.Action("Index", new { sortOrder = ViewBag.SortDateCreateParam })">
                    @Html.DisplayNameFor(model => model.ResultListHeader.CreateDate)
                </a>
            </th>
            <th>
                <a href="@Url.Action("Index", new { sortOrder = ViewBag.SortDatePayParam })">
                    @Html.DisplayNameFor(model => model.ResultListHeader.ToPayDate)
                </a>
            </th>
            <th>
                <a href="@Url.Action("Index", new { sortOrder = ViewBag.SortStateIdParam })">
                    @Html.DisplayNameFor(model => model.ResultListHeader.BillStateId)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResultListHeader.BookedServices)
            </th>
            <th>
                Service Date
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResultListHeader.BillCost)
            </th>
            @if (!Model.PrintVersion)
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ResultList)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Details", new { id = item.BillId })">
                        @Html.DisplayFor(modelItem => item.BillInnerId)
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", new { id = item.BillId })">
                        @if (item.CustomerMarketId == MarketType.Private_person)
                        {
                            @(HttpUtility.HtmlDecode(string.Format(formatProvider, "{0} {1}", Html.DisplayFor(modelItem => item.LastName), Html.DisplayFor(modelItem => item.FirstName))))
                        }
                        else
                        {
                            <i>@Html.DisplayFor(modelItem => item.CompanyName)</i>
                        }
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", new { id = item.BillId })">
                        @item.CreateDate.ToString("dd.MM.yyyy")
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", new { id = item.BillId })">
                        @Html.Raw(item.ToPayDate.ToString("dd.MM.yyyy"))
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", new { id = item.BillId })">
                        @Html.DisplayFor(modelItem => item.BillStateId)
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", new { id = item.BillId })">
                        @Html.DisplayFor(modelItem => item.BookedServices)
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", new { id = item.BillId })">
                        @if (!string.IsNullOrEmpty(item.DateUmzugFromString))
                        {
                            @Html.Raw(item.DateUmzugFromString)
                        }
                        else if (!string.IsNullOrEmpty(item.DatePackFromString))
                        {
                            @Html.Raw(item.DatePackFromString)
                        }
                        else if (!string.IsNullOrEmpty(item.DatePackOutFromString))
                        {
                            @Html.Raw(item.DatePackOutFromString)
                        }
                        else if (!string.IsNullOrEmpty(item.DateReinigungFromString))
                        {
                            @Html.Raw(item.DateReinigungFromString)
                        }
                        else if (!string.IsNullOrEmpty(item.DateReinigung2FromString))
                        {
                            @Html.Raw(item.DateReinigung2FromString)
                        }
                        else if (!string.IsNullOrEmpty(item.DateTransportFromString))
                        {
                            @Html.Raw(item.DateTransportFromString)
                        }
                        else if (!string.IsNullOrEmpty(item.DateEntsorgungFromString))
                        {
                            @Html.Raw(item.DateEntsorgungFromString)
                        }
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", new { id = item.BillId })">
                        @Html.DisplayFor(modelItem => item.BillCost)
                    </a>
                </td>
                @if (!Model.PrintVersion)
                {
                    <td>
                        <a class="real-link" href="@Url.RouteUrl("Intranet_CustomerBill", new { action = "Index", customerid = item.CustomerId })">To the customer</a>
                    </td>
                }
            </tr>
        }
    </tbody>

</table>

@if (Model.PrintVersion)
{
    <script>
        window.print();
    </script>
}