﻿@model CRM_Umzugsfirma.ViewModels.Mail.MainMailData

@{
    Layout = null;
}

<br />
<div class="footer">
    <div>Best regards,</div>
    <div>
        <b>@Model.AccountContactName</b>
    </div>
    <div>
        <img src="@Url.ContentFullPath(string.Format("{0}/img/footerlogo.jpg", Model.PathAccount))" width="420" />
    </div>
    <br />
    <div>
        <b>@Model.AccountName</b>
    </div>
    <div>@Model.AccountStreet</div>
    <div>CH-@Model.AccountCity</div>
    <table cellspacing="0" cellpadding="0" border="0">
        <tr>
            <td colspan="2">--------------------------------------------------------------</td>
        </tr>
        <tr>
            <td width="60">Tel:</td>
            <td>@Model.AccountPhone (Local Rate)</td>
        </tr>
        <tr>
            <td width="60">Tel:</td>
            <td>044 500 27 41</td>
        </tr>
        @if (!string.IsNullOrEmpty(Model.AccountFax))
        {
            <tr>
                <td width="60">Fax:</td>
                <td>@Model.AccountFax</td>
            </tr>
        }
        <tr>
            <td colspan="2">--------------------------------------------------------------</td>
        </tr>
        <tr>
            <td width="60">Email:</td>
            <td><a href="mailto:@Model.AccountMail"><u>@Model.AccountMail</u></a></td>
        </tr>
        <tr>
            <td width="60"><u>Internet:</u></td>
            <td><a href="@Model.AccountWebAddress"><u>@Model.AccountWebAddress</u></a></td>
        </tr>
        <tr>
            <td colspan="2">--------------------------------------------------------------</td>
        </tr>
        <tr>
            <td colspan="2">Business hours:</td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td width="60">Mo. - Fr.:</td>
            <td>08:00 - 12:30</td>
        </tr>
        <tr>
            <td width="60"></td>
            <td>13:30 - 18:00</td>
        </tr>
        <tr>
            <td width="60">Sa.:</td>
            <td>closed (only via personal adviser)</td>
        </tr>
        <tr>
            <td width="60">So.:</td>
            <td>closed</td>
        </tr>
        <tr>
            <td colspan="2">--------------------------------------------------------------</td>
        </tr>
    </table>
</div>
