﻿@model CRM_Umzugsfirma.ViewModels.Mail.BillMail

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.MainMailData.MailTitle</title>
    <style type="text/css">
        body {
            font-family: arial, helvetica, sans-serif;
            font-size: 12px !important;
        }
        .footer img {
            height: auto;
            max-width: 420px;
        }
        @@media only screen and (max-width: 480px) {
            .footer img {
                width: 100% !important;
            }
        }
    </style>
</head>
<body>
    @*Partial render header*@
    <div>
        <div>
            @Model.MainMailData.CustomerSalutation
        </div>
        <br />
        <div>
            Surely you have missed that the payment period for the invoice has expired. You also did not respond to our reminder.
        </div>
        <br />
        <div>
            Due to additional costs on the occasion of the compensation of fee claims raises the @Model.MainMailData.AccountName 
            Reminder fees in the amount of @Html.FloatToCurrencyCHF(Model.PreCollectionCost, Model.CostInclTax)
        </div>
        <br />
        <div>
            We ask you to pay the outstanding amount of <b>@Html.DecimalToCurrencyCHF(Model.BillCost)</b>
            <u>in the next 7 days</u> to remit. Otherwise, we see ourselves forced, a <u>debt collection procedures</u> to initiate and commission a debt collection company for further action.
        </div>
        <br />
        <div>
            In the attachment we have sent you the invoice again.
        </div>
        <br />
        <div>
            If this reminder has crossed with the payment of the outstanding amount, please consider this letter as meaningless.
        </div>
        <br />
        <div>
            For questions or to clarify the outstanding claim we are at your disposal.
        </div>
        @*Partial render footer*@
        @Html.Partial(string.Format("{0}/text/_FooterPartial.cshtml", Model.MainMailData.PathAccount), Model.MainMailData)
    </div>
</body>
</html>
