﻿@model CRM_Umzugsfirma.ViewModels.Mail.OfferMail

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.MainMailData.MailTitle</title>
    <style type="text/css">
        body {
            font-family: arial, helvetica, sans-serif;
            font-size: 12px !important;
        }
        .footer img {
            height: auto;
            max-width: 420px;
        }
        @@media only screen and (max-width: 480px) {
            .footer img {
                width: 100% !important;
            }
        }
    </style>
</head>
<body>
    @*Partial render header*@
    <div>
        <div>
            @Model.MainMailData.CustomerSalutation
        </div>
        <br />
        @if (Model.ViewAppointmentStateId == CRM_Umzugsfirma.Areas.Intranet.Models.Offer.ViewAppointmentState.made)
        {
            <div>
                Thank you for your time in front of place.
            </div>
            <br />
            <div>
                Enclosed you receive as discussed your individual offer.
            </div>
            <br />
            <div>
                If you have any questions, questions or changes, please let us know in writing or by calling the contact details below.
            </div>
            <br />
            <div>
                If you like our offer, please sign the document by e-mail, fax or post.
            </div>
            if (!string.IsNullOrEmpty(Model.LinkOfferAccept))
            {
                <div>
                    Or simply confirm the offer via our webform: <a href="@Model.LinkOfferAccept"><u>Confirm offer here</u></a>
                </div>
            }
            <br />
            <div>
                Upon receipt, you will receive your binding confirmation.
            </div>
            <br />
        }
        else
        {
            <div>
                Thank you for your inquiry.
            </div>
            <br />
            <div>
                Based on your data, we have prepared a reference offer based on our experience.
            </div>
            <br />
            <div>
                For an individual offer do not hesitate to contact us by mail or phone and benefit from a free and non-binding visit.
            </div>
            <br />
            <div>
                If the offer meets your expectations, you can return the signed document by post, e-mail or fax.
            </div>
            if (!string.IsNullOrEmpty(Model.LinkOfferAccept))
            {
                <div>
                    Or simply confirm the offer via our webform: <a href="@Model.LinkOfferAccept"><u>Confirm offer here</u></a>
                </div>
            }
            <br />
            <div>
                After checking for a possible date, we will gladly confirm the order as soon as possible.
            </div>
            <br />
        }
        <div>
            For any queries, we are at your disposal anytime.
        </div>
        @*Partial render footer*@
        @Html.Partial(string.Format("{0}/text/_FooterPartial.cshtml", Model.MainMailData.PathAccount), Model.MainMailData)
    </div>
</body>
</html>
