﻿@model CRM_Umzugsfirma.ViewModels.Mail.ViewAppointment

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.MainMailData.MailTitle</title>
    <style type="text/css">
        body {
            font-family: arial, helvetica, sans-serif;
            font-size: 12px !important;
        }

        .footer img {
            height: auto;
            max-width: 420px;
        }

        @@media only screen and (max-width: 480px) {
            .footer img {
                width: 100% !important;
            }
        }
    </style>
</head>
<body>
    @*Partial render header*@
    <div>
        <div>
            @Model.MainMailData.CustomerSalutation
        </div>
        <br />
        <div>
            Thank you for your order and related trust.
        </div>
        <div>
            Hereby we confirm the appointments as follows:
        </div>
        <br /><br />
        <table cellspacing="0" cellpadding="0" border="0">
            @if (!string.IsNullOrEmpty(Model.DateUmzugStart))
            {
                <tr>
                    <td width="120"><b>Move:</b></td>
                    <td><b>@string.Format("{0}{1}", Helpers.GetDateFormatted(Model.DateUmzugStart, "dddd, dd.MM.yyyy"), ((!string.IsNullOrEmpty(Model.TimeUmzugStart)) ? string.Format(" um O'clock {0}", Helpers.GetTimeFormatted(Model.TimeUmzugStart)) : string.Empty))</b></td>
                </tr>
                <tr>
                    <td colspan="2">
                        @if (Model.PaymentType.Equals("Bar"))
                        {
                            @Html.Raw("Bar: Moves are to be paid in cash after the furniture transport department of the Swiss Commercial Vehicle Association ASTAG.")<br />
                        }
                        else
                        {
                            @Html.Raw("Invoice: Advance invoice for approx. 50% of the estimated costs. Payable before the start of the move, so that the amount on the move date is shown on our account. Balance is payable in 14 days.")}
                    </td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.DateUmzugStart2))
            {
                <tr>
                    <td width="120"><b>Move (Tag 2):</b></td>
                    <td><b>@string.Format("{0}{1}", Helpers.GetDateFormatted(Model.DateUmzugStart2), ((!string.IsNullOrEmpty(Model.TimeUmzugStart2)) ? string.Format(", {0} O'clock", Helpers.GetTimeFormatted(Model.TimeUmzugStart2, '.')) : string.Empty))</b></td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.DateUmzugStart3))
            {
                <tr>
                    <td width="120"><b>Move (Tag 3):</b></td>
                    <td><b>@string.Format("{0}{1}", Helpers.GetDateFormatted(Model.DateUmzugStart3), ((!string.IsNullOrEmpty(Model.TimeUmzugStart3)) ? string.Format(", {0} O'clock", Helpers.GetTimeFormatted(Model.TimeUmzugStart3, '.')) : string.Empty))</b></td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.DatePackStart))
            {
                <tr>
                    <td width="120"><b>packing_service:</b></td>
                    <td><b>@string.Format("{0}{1}", Helpers.GetDateFormatted(Model.DatePackStart, "dddd, dd.MM.yyyy"), ((!string.IsNullOrEmpty(Model.TimePackStart)) ? string.Format(" um O'clock {0}", Helpers.GetTimeFormatted(Model.TimePackStart)) : string.Empty))</b></td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.DatePackOutStart))
            {
                <tr>
                    <td width="120"><b>unpacking_service:</b></td>
                    <td><b>@string.Format("{0}{1}", Helpers.GetDateFormatted(Model.DatePackOutStart, "dddd, dd.MM.yyyy"), ((!string.IsNullOrEmpty(Model.TimePackOutStart)) ? string.Format(" um O'clock {0}", Helpers.GetTimeFormatted(Model.TimePackOutStart)) : string.Empty))</b></td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.DateEntsorgungStart))
            {
                <tr>
                    <td width="120"><b>disposal:</b></td>
                    <td><b>@string.Format("{0}{1}", Helpers.GetDateFormatted(Model.DateEntsorgungStart, "dddd, dd.MM.yyyy"), ((!string.IsNullOrEmpty(Model.TimeEntsorgungStart)) ? string.Format(" um O'clock {0}", Helpers.GetTimeFormatted(Model.TimeEntsorgungStart)) : string.Empty))</b></td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.DateReinigungStart))
            {
                <tr>
                    <td width="120"><b>cleaning:</b></td>
                    <td><b>@string.Format("{0}{1}", Helpers.GetDateFormatted(Model.DateReinigungStart, "dddd, dd.MM.yyyy"), ((!string.IsNullOrEmpty(Model.TimeReinigungStart)) ? string.Format(" um O'clock {0}", Helpers.GetTimeFormatted(Model.TimeReinigungStart)) : string.Empty))</b></td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.DateReinigungRelease))
            {
                <tr>
                    <td width="120"><b>Deadline:</b></td>
                    <td><b>@string.Format("{0}{1}", Helpers.GetDateFormatted(Model.DateReinigungRelease, "dddd, dd.MM.yyyy"), ((!string.IsNullOrEmpty(Model.TimeReinigungRelease)) ? string.Format(" um O'clock {0}", Helpers.GetTimeFormatted(Model.TimeReinigungRelease)) : string.Empty))</b></td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.DateLagerungStart))
            {
                <tr>
                    <td width="120"><b>Storage:</b></td>
                    <td><b>@string.Format("{0}{1}", Helpers.GetDateFormatted(Model.DateLagerungStart, "dddd, dd.MM.yyyy"), ((!string.IsNullOrEmpty(Model.TimeLagerungStart)) ? string.Format(" um O'clock {0}", Helpers.GetTimeFormatted(Model.TimeLagerungStart)) : string.Empty))</b></td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.DateTransportStart))
            {
                <tr>
                    <td width="120"><b>transport:</b></td>
                    <td><b>@string.Format("{0}{1}", Helpers.GetDateFormatted(Model.DateTransportStart, "dddd, dd.MM.yyyy"), ((!string.IsNullOrEmpty(Model.TimeTransportStart)) ? string.Format(" um O'clock {0}", Helpers.GetTimeFormatted(Model.TimeTransportStart)) : string.Empty))</b></td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.Comment))
            {
                <tr>
                    <td width="120" valign="top"><b>Comment:</b></td>
                    <td valign="top"><b>@Html.Raw(Html.Encode(Model.Comment).Replace("\r\n", "<br />"))</b></td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            }
        </table>
        <br />
        <div>
            If there are any changes to the schedule or if we are pleased to welcome you, we welcome your early contact with us.
        </div>
        <br />
        <div>
            Looking forward to a good cooperation, we are always happy to disposal.
        </div>
        <br />
        <table cellspacing="0" cellpadding="0" border="0">
            <tr>
                <td width="65">Emergencies:</td>
                <td>076 580 69 31</td>
            </tr>
        </table>
        @*Partial render footer*@
        @Html.Partial(string.Format("{0}/text/_FooterPartial.cshtml", Model.MainMailData.PathAccount), Model.MainMailData)
    </div>
</body>
</html>
