﻿@model CRM_Umzugsfirma.ViewModels.Mail.ViewAppointment

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.MainMailData.MailTitle</title>
    <style type="text/css">
        body {
            font-family: arial, helvetica, sans-serif;
            font-size: 12px !important;
        }
        .footer img {
            height: auto;
            max-width: 420px;
        }
        @@media only screen and (max-width: 480px)
        {
            .footer img {
                width: 100% !important;
            }
        }
    </style>
</head>
<body>
    @*Partial render header*@
    <div>
        <div>
            @Model.MainMailData.CustomerSalutation
        </div>
        <br />
        <div>
            Thank you for the previous phone conversation.
        </div>
        <br />
        <div>
            We hereby confirm the appointment as follows:
        </div>
        <br />
        <div>
            <b>@string.Format("{0} um O'clock {1}", Helpers.GetDateFormatted(Model.DateStart, "dddd, dd.MM.yyyy"), Helpers.GetTimeFormatted(Model.TimeStart))</b>
        </div>
        <br />
        <div>
            Your personal adviser, Mr. Ipekgül, 076 580 69 31 is pleased to meet you personally.
        </div>
        <br />
        <div>
            For any questions, we are at your disposal anytime.
        </div>
        <br />
        <div>
            Your Swiss transport team from Schlieren.
        </div>
        @*Partial render footer*@
        @Html.Partial(string.Format("{0}/text/_FooterPartial.cshtml", Model.MainMailData.PathAccount), Model.MainMailData)
    </div>
</body>
</html>
