﻿@model CustomerMeetViewModel

@{
    Layout = "~/Areas/Intranet/Views/Shared/_LayoutCustomerView.cshtml";
    ViewBag.ActiveTab = "Meet";
}

@section Scripts {
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/meet")
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
}
@Styles.Render("~/Content/css/datepicker")

<h2>@ViewBag.SubTitle</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div id="CustMeetEdit" class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-8">

            <div class="form-horizontal">
                <div id="validator-form">

                    <div class="form-group">
                        @Html.HiddenFor(model => model.Appointment.AppointmentId)
                        @Html.HiddenFor(model => model.Appointment.CustomerId)
                        @Html.HiddenFor(model => model.Appointment.AccountId)
                        @if (Model.Appointment.AppointmentView != null && Model.Appointment.AppointmentView.AppointmentId > 0)
                        {
                            @Html.HiddenFor(model => model.Appointment.AppointmentView.AppointmentId)
                        }
                        @if (Model.Appointment.AppointmentService != null && Model.Appointment.AppointmentService.AppointmentId > 0)
                        {
                            @Html.HiddenFor(model => model.Appointment.AppointmentService.AppointmentId)
                        }
                        @if (Model.Appointment.AppointmentDelivery != null && Model.Appointment.AppointmentDelivery.AppointmentId > 0)
                        {
                            @Html.HiddenFor(model => model.Appointment.AppointmentDelivery.AppointmentId)
                        }

                        @Html.HiddenFor(model => model.Appointment.AppointmentView.GoogleEventViewId)
                        @Html.HiddenFor(model => model.Appointment.AppointmentService.GoogleEventUmzugId)
                        @Html.HiddenFor(model => model.Appointment.AppointmentService.GoogleEventUmzugId2)
                        @Html.HiddenFor(model => model.Appointment.AppointmentService.GoogleEventUmzugId3)
                        @Html.HiddenFor(model => model.Appointment.AppointmentService.GoogleEventPackId)
                        @Html.HiddenFor(model => model.Appointment.AppointmentService.GoogleEventPackOutId)
                        @Html.HiddenFor(model => model.Appointment.AppointmentService.GoogleEventEntsorgungId)
                        @Html.HiddenFor(model => model.Appointment.AppointmentService.GoogleEventReinigungId)
                        @Html.HiddenFor(model => model.Appointment.AppointmentService.GoogleEventReinigung2Id)
                        @Html.HiddenFor(model => model.Appointment.AppointmentService.GoogleEventTransportId)
                        @Html.HiddenFor(model => model.Appointment.AppointmentService.GoogleEventLagerungId)
                        @Html.HiddenFor(model => model.Appointment.AppointmentDelivery.GoogleEventDeliveryId)
                        @Html.HiddenFor(model => model.Appointment.CreateDate)
                        @Html.HiddenFor(model => model.Appointment.CreateUserId)
                    </div>

                    <div id="container-AppointmentTypeId" class="collapse-nopanel">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Appointment.AppointmentTypeId, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3 req-field" })
                            <div class="col-md-8 col-sm-9">
                                @Html.RadioButtonForEnum(model => model.Appointment.AppointmentTypeId, "container-AppointmentTypeId")
                                @Html.ValidationMessageFor(model => model.Appointment.AppointmentTypeId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <hr />

                        <div class="panel">
                            <div id="container-AppointmentTypeId_Sightseeing" class="clearfix collapse@((Model.Appointment.AppointmentTypeId == Appointment.AppointmentType.Sightseeing) ? " in" : string.Empty)" aria-expanded="@(Model.Appointment.AppointmentTypeId == Appointment.AppointmentType.Sightseeing)">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Appointment.AppointmentView.MeetPlace, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3 req-field" })
                                    <div class="col-md-8 col-sm-9">
                                        @Html.RadioButtonForEnum(model => model.Appointment.AppointmentView.MeetPlace)
                                        @Html.ValidationMessageFor(model => model.Appointment.AppointmentView.MeetPlace, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Appointment.AppointmentView.ViewDate, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3" })
                                    <div class="col-md-6 col-sm-8">
                                        <div class="row">
                                            <div class="col-md-7 col-sm-7 bottom-space-min">
                                                @Html.MyDatepickerFor(model => model.Appointment.AppointmentView.ViewDate, true, true)
                                            </div>
                                            <div class="col-md-5 col-sm-5">
                                                @Html.MyTimepickerFor(model => model.Appointment.AppointmentView.ViewTime, "timepicker-viewfrom", true, true)
                                            </div>
                                            <div class="col-xs-12">
                                                @Html.ValidationMessageFor(model => model.Appointment.AppointmentView.ViewDate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div id="container-AppointmentTypeId_Delivery" class="clearfix collapse@((Model.Appointment.AppointmentTypeId == Appointment.AppointmentType.Delivery) ? " in" : string.Empty)" aria-expanded="@(Model.Appointment.AppointmentTypeId == Appointment.AppointmentType.Delivery)">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Appointment.AppointmentDelivery.DeliveryProduct, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3 req-field" })
                                    <div class="col-md-8 col-sm-9">
                                        @Html.RadioButtonForEnum(model => model.Appointment.AppointmentDelivery.DeliveryProduct, "container-DeliveryProduct")
                                        @Html.ValidationMessageFor(model => model.Appointment.AppointmentDelivery.DeliveryProduct, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div id="container-DeliveryProduct" class="collapse-nopanel">
                                    <div class="panel">
                                        <div id="container-DeliveryProduct_Packing Material" class="clearfix collapse@((Model.Appointment.AppointmentDelivery.DeliveryProduct == AppointmentDelivery.DeliveryProductType.Packing_Material) ? " in" : string.Empty)" aria-expanded="@(Model.Appointment.AppointmentDelivery.DeliveryProduct == AppointmentDelivery.DeliveryProductType.Packing_Material)">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Appointment.AppointmentDelivery.Delivery, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3 req-field" })
                                                <div class="col-md-8 col-sm-9">
                                                    @Html.RadioButtonForEnum(model => model.Appointment.AppointmentDelivery.Delivery)
                                                    @Html.ValidationMessageFor(model => model.Appointment.AppointmentDelivery.Delivery, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div id="container-DeliveryProduct_Schlossatelier" class="clearfix collapse@((Model.Appointment.AppointmentDelivery.DeliveryProduct == AppointmentDelivery.DeliveryProductType.Castle_Atelier) ? " in" : string.Empty)" aria-expanded="@(Model.Appointment.AppointmentDelivery.DeliveryProduct == AppointmentDelivery.DeliveryProductType.Castle_Atelier)">
                                            &nbsp;
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Appointment.AppointmentDelivery.DeliveryDate, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3 req-field" })
                                    <div class="col-md-6 col-sm-8">
                                        <div class="row">
                                            <div class="col-xs-12 bottom-space-min">
                                                <div class="row">
                                                    <div class="col-md-7 col-sm-7">
                                                        @Html.MyDatepickerFor(model => model.Appointment.AppointmentDelivery.DeliveryDate, true, true)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <div class="col-sm-2 control-label">zwischen</div>
                                                    <div class="col-sm-4">
                                                        @Html.MyTimepickerFor(model => model.Appointment.AppointmentDelivery.DeliveryTimeFrom, "timepicker-deliveryfrom", true, true)
                                                    </div>
                                                    <div class="col-sm-1 control-label">to</div>
                                                    <div class="col-sm-4">
                                                        @Html.MyTimepickerFor(model => model.Appointment.AppointmentDelivery.DeliveryTimeTo, "timepicker-deliveryto", true, true)
                                                    </div>
                                                    <div class="col-xs-12">
                                                        @Html.ValidationMessageFor(model => model.Appointment.AppointmentDelivery.DeliveryDate, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="panel">
                            <div id="container-AppointmentTypeId_Confirmation_of_the_order" class="clearfix panel collapse@((Model.Appointment.AppointmentTypeId == Appointment.AppointmentType.Confirmation_of_the_order) ? " in" : string.Empty)" aria-expanded="@(Model.Appointment.AppointmentTypeId == Appointment.AppointmentType.Confirmation_of_the_order)">
                                @*show offerid, only if it is set*@
                                @if (Model.Appointment.OfferInnerId > 0)
                                {
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Appointment.OfferInnerId, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3" })
                                        <div class="col-md-2 col-sm-3">
                                            <div class="control-text">
                                                <a class="real-link" target="_blank" href="@Url.RouteUrl("Intranet_CustomerOffer", new { action = "Details", customerid = ViewBag.CustomerId, id = Model.Appointment.OfferId })">@Model.Appointment.OfferInnerId</a>
                                                @Html.HiddenFor(model => model.Appointment.OfferInnerId)
                                            </div>
                                        </div>
                                    </div>
                                }
                                @*Payment Options*@
                        
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Appointment.AppointmentService.PaymentType, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3" })
                                    <div class="col-md-8 col-sm-9">
                                        @Html.DropDownListFor(model => model.Appointment.AppointmentService.PaymentType, new SelectList(new List<Object>{
                                        new {value = "Bar", text = "Bar" },
                                        new {value = "Invoice", text = "Invoice"}}, "value", "text", 2))

                                    </div>
                                </div>

                                @*Move*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Appointment.AppointmentService.ServiceUmzug, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3" })
                                    <div class="col-md-8 col-sm-9">
                                        @Html.CheckBoxFor(model => model.Appointment.AppointmentService.ServiceUmzug, new
                                   {
                                       @class = "control-checkbox",
                                       aria_expanded = Model.Appointment.AppointmentService.ServiceUmzug ? "true" : "false",
                                       aria_controls = "serviceumzugdate",
                                       data_toggle = "collapse",
                                       data_target = "#serviceumzugdate"
                                   })
                                    </div>
                                </div>
                                <div id="serviceumzugdate" class="collapse@(Model.Appointment.AppointmentService.ServiceUmzug ? " in" : string.Empty)">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Appointment.AppointmentService.UmzugDate, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3" })
                                        <div class="col-md-6 col-sm-8">
                                            <div class="row">
                                                <div class="col-md-7 col-sm-7 bottom-space-min">
                                                    @Html.MyDatepickerFor(model => model.Appointment.AppointmentService.UmzugDate, false, true)
                                                </div>
                                                <div class="col-md-5 col-sm-5">
                                                    @Html.MyTimepickerFor(model => model.Appointment.AppointmentService.UmzugTime, "timepicker-umzugfrom", true, true)
                                                </div>
                                                <div class="col-xs-12">
                                                    @Html.ValidationMessageFor(model => model.Appointment.AppointmentService.UmzugDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group group-color subfields">
                                        <div class="col-xs-6 col-sm-offset-3 col-sm-3 col-md-offset-4 col-md-2">
                                            @Html.LabelFor(model => model.Appointment.AppointmentService.DurationUmzug, new { htmlAttributes = new { @class = "control-label" } })
                                            @Html.EditorFor(model => model.Appointment.AppointmentService.DurationUmzug, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "4-5" } })
                                        </div>
                                        <div class="col-xs-6 col-sm-2 col-md-2">
                                            @Html.LabelFor(model => model.Appointment.AppointmentService.CountPersonUmzug, new { htmlAttributes = new { @class = "control-label" } })
                                            @Html.EditorFor(model => model.Appointment.AppointmentService.CountPersonUmzug, new { htmlAttributes = new { @class = "form-control", placeholder = "2" } })
                                        </div>
                                        <div class="col-xs-6 col-sm-2 col-md-2">
                                            @Html.LabelFor(model => model.Appointment.AppointmentService.CountVehUmzug, new { htmlAttributes = new { @class = "control-label" } })
                                            @Html.EditorFor(model => model.Appointment.AppointmentService.CountVehUmzug, new { htmlAttributes = new { @class = "form-control", placeholder = "1" } })
                                        </div>
                                        <div class="col-xs-6 col-sm-2 col-md-2">
                                            @Html.LabelFor(model => model.Appointment.AppointmentService.CountTrailerUmzug, new { htmlAttributes = new { @class = "control-label" } })
                                            @Html.EditorFor(model => model.Appointment.AppointmentService.CountTrailerUmzug, new { htmlAttributes = new { @class = "form-control", placeholder = "1" } })
                                        </div>
                                    </div>
                                    <div class="form-group bottom-line">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                @Html.LabelFor(model => model.Appointment.AppointmentService.DateUmzugMoreAppointment, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3" })
                                                <div class="col-md-6 col-sm-7">
                                                    @Html.CheckBoxFor(model => model.Appointment.AppointmentService.DateUmzugMoreAppointment, new
                                                   {
                                                       @class = "control-checkbox",
                                                       aria_expanded = Model.Appointment.AppointmentService.DateUmzugMoreAppointment ? "true" : "false",
                                                       aria_controls = "serviceumzugmoredates",
                                                       data_toggle = "collapse",
                                                       data_target = "#serviceumzugmoredates"
                                                   })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div id="serviceumzugmoredates" class="collapse@(Model.Appointment.AppointmentService.DateUmzugMoreAppointment ? " in" : string.Empty)">

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Appointment.AppointmentService.UmzugDate2, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3" })
                                                    <div class="col-md-6 col-sm-8">
                                                        <div class="row">
                                                            <div class="col-md-7 col-sm-7 bottom-space-min">
                                                                @Html.MyDatepickerFor(model => model.Appointment.AppointmentService.UmzugDate2, false, true)
                                                            </div>
                                                            <div class="col-md-5 col-sm-5">
                                                                @Html.MyTimepickerFor(model => model.Appointment.AppointmentService.UmzugTime2, "timepicker-umzugfrom2", true, true)
                                                            </div>
                                                            <div class="col-xs-12">
                                                                @Html.ValidationMessageFor(model => model.Appointment.AppointmentService.UmzugDate2, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group group-color subfields">
                                                    <div class="col-xs-6 col-sm-offset-3 col-sm-3 col-md-offset-4 col-md-2">
                                                        @Html.LabelFor(model => model.Appointment.AppointmentService.DurationUmzug2, new { htmlAttributes = new { @class = "control-label" } })
                                                        @Html.EditorFor(model => model.Appointment.AppointmentService.DurationUmzug2, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "4-5" } })
                                                    </div>
                                                    <div class="col-xs-6 col-sm-2 col-md-2">
                                                        @Html.LabelFor(model => model.Appointment.AppointmentService.CountPersonUmzug2, new { htmlAttributes = new { @class = "control-label" } })
                                                        @Html.EditorFor(model => model.Appointment.AppointmentService.CountPersonUmzug2, new { htmlAttributes = new { @class = "form-control", placeholder = "2" } })
                                                    </div>
                                                    <div class="col-xs-6 col-sm-2 col-md-2">
                                                        @Html.LabelFor(model => model.Appointment.AppointmentService.CountVehUmzug2, new { htmlAttributes = new { @class = "control-label" } })
                                                        @Html.EditorFor(model => model.Appointment.AppointmentService.CountVehUmzug2, new { htmlAttributes = new { @class = "form-control", placeholder = "1" } })
                                                    </div>
                                                    <div class="col-xs-6 col-sm-2 col-md-2">
                                                        @Html.LabelFor(model => model.Appointment.AppointmentService.CountTrailerUmzug2, new { htmlAttributes = new { @class = "control-label" } })
                                                        @Html.EditorFor(model => model.Appointment.AppointmentService.CountTrailerUmzug2, new { htmlAttributes = new { @class = "form-control", placeholder = "1" } })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Appointment.AppointmentService.UmzugDate3, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3" })
                                                    <div class="col-md-6 col-sm-8">
                                                        <div class="row">
                                                            <div class="col-md-7 col-sm-7 bottom-space-min">
                                                                @Html.MyDatepickerFor(model => model.Appointment.AppointmentService.UmzugDate3, false, true)
                                                            </div>
                                                            <div class="col-md-5 col-sm-5">
                                                                @Html.MyTimepickerFor(model => model.Appointment.AppointmentService.UmzugTime3, "timepicker-umzugfrom3", true, true)
                                                            </div>
                                                            <div class="col-xs-12">
                                                                @Html.ValidationMessageFor(model => model.Appointment.AppointmentService.UmzugDate3, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group group-color subfields">
                                                    <div class="col-xs-6 col-sm-offset-3 col-sm-3 col-md-offset-4 col-md-2">
                                                        @Html.LabelFor(model => model.Appointment.AppointmentService.DurationUmzug3, new { htmlAttributes = new { @class = "control-label" } })
                                                        @Html.EditorFor(model => model.Appointment.AppointmentService.DurationUmzug3, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "4-5" } })
                                                    </div>
                                                    <div class="col-xs-6 col-sm-2 col-md-2">
                                                        @Html.LabelFor(model => model.Appointment.AppointmentService.CountPersonUmzug3, new { htmlAttributes = new { @class = "control-label" } })
                                                        @Html.EditorFor(model => model.Appointment.AppointmentService.CountPersonUmzug3, new { htmlAttributes = new { @class = "form-control", placeholder = "2" } })
                                                    </div>
                                                    <div class="col-xs-6 col-sm-2 col-md-2">
                                                        @Html.LabelFor(model => model.Appointment.AppointmentService.CountVehUmzug3, new { htmlAttributes = new { @class = "control-label" } })
                                                        @Html.EditorFor(model => model.Appointment.AppointmentService.CountVehUmzug3, new { htmlAttributes = new { @class = "form-control", placeholder = "1" } })
                                                    </div>
                                                    <div class="col-xs-6 col-sm-2 col-md-2">
                                                        @Html.LabelFor(model => model.Appointment.AppointmentService.CountTrailerUmzug3, new { htmlAttributes = new { @class = "control-label" } })
                                                        @Html.EditorFor(model => model.Appointment.AppointmentService.CountTrailerUmzug3, new { htmlAttributes = new { @class = "form-control", placeholder = "1" } })
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*Packing*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Appointment.AppointmentService.ServicePack, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3" })
                                    <div class="col-md-8 col-sm-9">
                                        @Html.CheckBoxFor(model => model.Appointment.AppointmentService.ServicePack, new
                                   {
                                       @class = "control-checkbox",
                                       aria_expanded = Model.Appointment.AppointmentService.ServicePack ? "true" : "false",
                                       aria_controls = "servicepackdate",
                                       data_toggle = "collapse",
                                       data_target = "#servicepackdate"
                                   })
                                    </div>
                                </div>
                                <div id="servicepackdate" class="collapse@(Model.Appointment.AppointmentService.ServicePack ? " in" : string.Empty)">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Appointment.AppointmentService.PackDate, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3" })
                                        <div class="col-md-6 col-sm-7">
                                            <div class="row">
                                                <div class="col-md-7 col-sm-7 bottom-space-min">
                                                    @Html.MyDatepickerFor(model => model.Appointment.AppointmentService.PackDate, false, true)
                                                </div>
                                                <div class="col-md-5 col-sm-5">
                                                    @Html.MyTimepickerFor(model => model.Appointment.AppointmentService.PackTime, "timepicker-packfrom", true, true)
                                                </div>
                                                <div class="col-xs-12">
                                                    @Html.ValidationMessageFor(model => model.Appointment.AppointmentService.PackDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="mark-important bottom-space-min">
                                                <i>Falls gleiches Date wie Move, dann leer lassen.</i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group group-color subfields bottom-line">
                                        <div class="col-xs-6 col-sm-offset-3 col-sm-3 col-md-offset-4 col-md-2">
                                            @Html.LabelFor(model => model.Appointment.AppointmentService.DurationPack, new { htmlAttributes = new { @class = "control-label" } })
                                            @Html.EditorFor(model => model.Appointment.AppointmentService.DurationPack, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "4-5" } })
                                        </div>
                                        <div class="col-xs-6 col-sm-2 col-md-2">
                                            @Html.LabelFor(model => model.Appointment.AppointmentService.CountPersonPack, new { htmlAttributes = new { @class = "control-label" } })
                                            @Html.EditorFor(model => model.Appointment.AppointmentService.CountPersonPack, new { htmlAttributes = new { @class = "form-control", placeholder = "2" } })
                                        </div>
                                        <div class="col-xs-6 col-sm-2 col-md-2">
                                            @Html.LabelFor(model => model.Appointment.AppointmentService.CountVehPack, new { htmlAttributes = new { @class = "control-label" } })
                                            @Html.EditorFor(model => model.Appointment.AppointmentService.CountVehPack, new { htmlAttributes = new { @class = "form-control", placeholder = "1" } })
                                        </div>
                                        <div class="col-xs-6 col-sm-2 col-md-2">
                                            @Html.LabelFor(model => model.Appointment.AppointmentService.CountTrailerPack, new { htmlAttributes = new { @class = "control-label" } })
                                            @Html.EditorFor(model => model.Appointment.AppointmentService.CountTrailerPack, new { htmlAttributes = new { @class = "form-control", placeholder = "1" } })
                                        </div>
                                    </div>
                                </div>

                                @*Unpacking*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Appointment.AppointmentService.ServicePackOut, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3" })
                                    <div class="col-md-8 col-sm-9">
                                        @Html.CheckBoxFor(model => model.Appointment.AppointmentService.ServicePackOut, new
                                   {
                                       @class = "control-checkbox",
                                       aria_expanded = Model.Appointment.AppointmentService.ServicePackOut ? "true" : "false",
                                       aria_controls = "servicepackoutdate",
                                       data_toggle = "collapse",
                                       data_target = "#servicepackoutdate"
                                   })
                                    </div>
                                </div>
                                <div id="servicepackoutdate" class="collapse@(Model.Appointment.AppointmentService.ServicePackOut ? " in" : string.Empty)">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Appointment.AppointmentService.PackOutDate, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3" })
                                        <div class="col-md-6 col-sm-7">
                                            <div class="row">
                                                <div class="col-md-7 col-sm-7 bottom-space-min">
                                                    @Html.MyDatepickerFor(model => model.Appointment.AppointmentService.PackOutDate, false, true)
                                                </div>
                                                <div class="col-md-5 col-sm-5">
                                                    @Html.MyTimepickerFor(model => model.Appointment.AppointmentService.PackOutTime, "timepicker-packoutfrom", true, true)
                                                </div>
                                                <div class="col-xs-12">
                                                    @Html.ValidationMessageFor(model => model.Appointment.AppointmentService.PackOutDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="mark-important bottom-space-min">
                                                <i>Falls gleiches Date wie Move, dann leer lassen.</i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group group-color subfields bottom-line">
                                        <div class="col-xs-6 col-sm-offset-3 col-sm-3 col-md-offset-4 col-md-2">
                                            @Html.LabelFor(model => model.Appointment.AppointmentService.DurationPackOut, new { htmlAttributes = new { @class = "control-label" } })
                                            @Html.EditorFor(model => model.Appointment.AppointmentService.DurationPackOut, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "4-5" } })
                                        </div>
                                        <div class="col-xs-6 col-sm-2 col-md-2">
                                            @Html.LabelFor(model => model.Appointment.AppointmentService.CountPersonPackOut, new { htmlAttributes = new { @class = "control-label" } })
                                            @Html.EditorFor(model => model.Appointment.AppointmentService.CountPersonPackOut, new { htmlAttributes = new { @class = "form-control", placeholder = "2" } })
                                        </div>
                                        <div class="col-xs-6 col-sm-2 col-md-2">
                                            @Html.LabelFor(model => model.Appointment.AppointmentService.CountVehPackOut, new { htmlAttributes = new { @class = "control-label" } })
                                            @Html.EditorFor(model => model.Appointment.AppointmentService.CountVehPackOut, new { htmlAttributes = new { @class = "form-control", placeholder = "1" } })
                                        </div>
                                        <div class="col-xs-6 col-sm-2 col-md-2">
                                            @Html.LabelFor(model => model.Appointment.AppointmentService.CountTrailerPackOut, new { htmlAttributes = new { @class = "control-label" } })
                                            @Html.EditorFor(model => model.Appointment.AppointmentService.CountTrailerPackOut, new { htmlAttributes = new { @class = "form-control", placeholder = "1" } })
                                        </div>
                                    </div>
                                </div>

                                @*cleaning*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Appointment.AppointmentService.ServiceReinigung, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3" })
                                    <div class="col-md-8 col-sm-9">
                                        @Html.CheckBoxFor(model => model.Appointment.AppointmentService.ServiceReinigung, new
                                   {
                                       @class = "control-checkbox",
                                       aria_expanded = Model.Appointment.AppointmentService.ServiceReinigung ? "true" : "false",
                                       aria_controls = "servicereinigungdate",
                                       data_toggle = "collapse",
                                       data_target = "#servicereinigungdate"
                                   })
                                    </div>
                                </div>
                                <div id="servicereinigungdate" class="collapse@(Model.Appointment.AppointmentService.ServiceReinigung ? " in" : string.Empty)">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Appointment.AppointmentService.ReinigungDate, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3" })
                                        <div class="col-md-6 col-sm-7">
                                            <div class="row">
                                                <div class="col-md-7 col-sm-7 bottom-space-min">
                                                    @Html.MyDatepickerFor(model => model.Appointment.AppointmentService.ReinigungDate, false, true)
                                                </div>
                                                <div class="col-md-5 col-sm-5">
                                                    @Html.MyTimepickerFor(model => model.Appointment.AppointmentService.ReinigungTime, "timepicker-reinfrom", true, true)
                                                </div>
                                                <div class="col-xs-12">
                                                    @Html.ValidationMessageFor(model => model.Appointment.AppointmentService.ReinigungDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="mark-important bottom-space-min">
                                                <i>Falls gleiches Date wie Move, dann leer lassen.</i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Appointment.AppointmentService.DateReinigungRelease, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3" })
                                        <div class="col-md-6 col-sm-7 bottom-line">
                                            <div class="row">
                                                <div class="col-md-7 col-sm-7 bottom-space-min">
                                                    @Html.MyDatepickerFor(model => model.Appointment.AppointmentService.DateReinigungRelease, false, true)
                                                </div>
                                                <div class="col-md-5 col-sm-5">
                                                    @Html.MyTimepickerFor(model => model.Appointment.AppointmentService.TimeReinigungRelease, "timepicker-reinrelease", true, true)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*cleaning 2*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Appointment.AppointmentService.ServiceReinigung2, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3" })
                                    <div class="col-md-8 col-sm-9">
                                        @Html.CheckBoxFor(model => model.Appointment.AppointmentService.ServiceReinigung2, new
                                   {
                                       @class = "control-checkbox",
                                       aria_expanded = Model.Appointment.AppointmentService.ServiceReinigung2 ? "true" : "false",
                                       aria_controls = "servicereinigung2date",
                                       data_toggle = "collapse",
                                       data_target = "#servicereinigung2date"
                                   })
                                    </div>
                                </div>
                                <div id="servicereinigung2date" class="collapse@(Model.Appointment.AppointmentService.ServiceReinigung2 ? " in" : string.Empty)">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Appointment.AppointmentService.Reinigung2Date, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3" })
                                        <div class="col-md-6 col-sm-7">
                                            <div class="row">
                                                <div class="col-md-7 col-sm-7 bottom-space-min">
                                                    @Html.MyDatepickerFor(model => model.Appointment.AppointmentService.Reinigung2Date, false, true)
                                                </div>
                                                <div class="col-md-5 col-sm-5">
                                                    @Html.MyTimepickerFor(model => model.Appointment.AppointmentService.Reinigung2Time, "timepicker-rein2from", true, true)
                                                </div>
                                                <div class="col-xs-12">
                                                    @Html.ValidationMessageFor(model => model.Appointment.AppointmentService.Reinigung2Date, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="mark-important bottom-space-min">
                                                <i>Falls gleiches Date wie Move, dann leer lassen.</i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Appointment.AppointmentService.DateReinigung2Release, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3" })
                                        <div class="col-md-6 col-sm-7 bottom-line">
                                            <div class="row">
                                                <div class="col-md-7 col-sm-7 bottom-space-min">
                                                    @Html.MyDatepickerFor(model => model.Appointment.AppointmentService.DateReinigung2Release, false, true)
                                                </div>
                                                <div class="col-md-5 col-sm-5">
                                                    @Html.MyTimepickerFor(model => model.Appointment.AppointmentService.TimeReinigung2Release, "timepicker-rein2release", true, true)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*disposal*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Appointment.AppointmentService.ServiceEntsorgung, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3" })
                                    <div class="col-md-8 col-sm-9">
                                        @Html.CheckBoxFor(model => model.Appointment.AppointmentService.ServiceEntsorgung, new
                                   {
                                       @class = "control-checkbox",
                                       aria_expanded = Model.Appointment.AppointmentService.ServiceEntsorgung ? "true" : "false",
                                       aria_controls = "serviceentsorgungdate",
                                       data_toggle = "collapse",
                                       data_target = "#serviceentsorgungdate"
                                   })
                                    </div>
                                </div>
                                <div id="serviceentsorgungdate" class="collapse@(Model.Appointment.AppointmentService.ServiceEntsorgung ? " in" : string.Empty)">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Appointment.AppointmentService.EntsorgungDate, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3" })
                                        <div class="col-md-6 col-sm-7">
                                            <div class="row">
                                                <div class="col-md-7 col-sm-7 bottom-space-min">
                                                    @Html.MyDatepickerFor(model => model.Appointment.AppointmentService.EntsorgungDate, false, true)
                                                </div>
                                                <div class="col-md-5 col-sm-5">
                                                    @Html.MyTimepickerFor(model => model.Appointment.AppointmentService.EntsorgungTime, "timepicker-entsfrom", true, true)
                                                </div>
                                                <div class="col-xs-12">
                                                    @Html.ValidationMessageFor(model => model.Appointment.AppointmentService.EntsorgungDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="mark-important bottom-space-min">
                                                <i>Falls gleiches Date wie Move, dann leer lassen.</i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group group-color subfields bottom-line">
                                        <div class="col-xs-6 col-sm-offset-3 col-sm-3 col-md-offset-4 col-md-2">
                                            @Html.LabelFor(model => model.Appointment.AppointmentService.DurationEntsorgung, new { htmlAttributes = new { @class = "control-label" } })
                                            @Html.EditorFor(model => model.Appointment.AppointmentService.DurationEntsorgung, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "4-5" } })
                                        </div>
                                        <div class="col-xs-6 col-sm-2 col-md-2">
                                            @Html.LabelFor(model => model.Appointment.AppointmentService.CountPersonEntsorgung, new { htmlAttributes = new { @class = "control-label" } })
                                            @Html.EditorFor(model => model.Appointment.AppointmentService.CountPersonEntsorgung, new { htmlAttributes = new { @class = "form-control", placeholder = "2" } })
                                        </div>
                                        <div class="col-xs-6 col-sm-2 col-md-2">
                                            @Html.LabelFor(model => model.Appointment.AppointmentService.CountVehEntsorgung, new { htmlAttributes = new { @class = "control-label" } })
                                            @Html.EditorFor(model => model.Appointment.AppointmentService.CountVehEntsorgung, new { htmlAttributes = new { @class = "form-control", placeholder = "1" } })
                                        </div>
                                        <div class="col-xs-6 col-sm-2 col-md-2">
                                            @Html.LabelFor(model => model.Appointment.AppointmentService.CountTrailerEntsorgung, new { htmlAttributes = new { @class = "control-label" } })
                                            @Html.EditorFor(model => model.Appointment.AppointmentService.CountTrailerEntsorgung, new { htmlAttributes = new { @class = "form-control", placeholder = "1" } })
                                        </div>
                                    </div>
                                </div>

                                @*transport*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Appointment.AppointmentService.ServiceTransport, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3" })
                                    <div class="col-md-8 col-sm-9">
                                        @Html.CheckBoxFor(model => model.Appointment.AppointmentService.ServiceTransport, new
                                   {
                                       @class = "control-checkbox",
                                       aria_expanded = Model.Appointment.AppointmentService.ServiceTransport ? "true" : "false",
                                       aria_controls = "servicetransportdate",
                                       data_toggle = "collapse",
                                       data_target = "#servicetransportdate"
                                   })
                                    </div>
                                </div>
                                <div id="servicetransportdate" class="collapse@(Model.Appointment.AppointmentService.ServiceTransport ? " in" : string.Empty)">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Appointment.AppointmentService.TransportDate, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3" })
                                        <div class="col-md-6 col-sm-7">
                                            <div class="row">
                                                <div class="col-md-7 col-sm-7 bottom-space-min">
                                                    @Html.MyDatepickerFor(model => model.Appointment.AppointmentService.TransportDate, false, true)
                                                </div>
                                                <div class="col-md-5 col-sm-5">
                                                    @Html.MyTimepickerFor(model => model.Appointment.AppointmentService.TransportTime, "timepicker-transportfrom", true, true)
                                                </div>
                                                <div class="col-xs-12">
                                                    @Html.ValidationMessageFor(model => model.Appointment.AppointmentService.TransportDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="mark-important bottom-space-min">
                                                <i>Falls gleiches Date wie Move, dann leer lassen.</i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group group-color subfields bottom-line">
                                        <div class="col-xs-6 col-sm-offset-3 col-sm-3 col-md-offset-4 col-md-2">
                                            @Html.LabelFor(model => model.Appointment.AppointmentService.DurationTransport, new { htmlAttributes = new { @class = "control-label" } })
                                            @Html.EditorFor(model => model.Appointment.AppointmentService.DurationTransport, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "4-5" } })
                                        </div>
                                        <div class="col-xs-6 col-sm-2 col-md-2">
                                            @Html.LabelFor(model => model.Appointment.AppointmentService.CountPersonTransport, new { htmlAttributes = new { @class = "control-label" } })
                                            @Html.EditorFor(model => model.Appointment.AppointmentService.CountPersonTransport, new { htmlAttributes = new { @class = "form-control", placeholder = "2" } })
                                        </div>
                                        <div class="col-xs-6 col-sm-2 col-md-2">
                                            @Html.LabelFor(model => model.Appointment.AppointmentService.CountVehTransport, new { htmlAttributes = new { @class = "control-label" } })
                                            @Html.EditorFor(model => model.Appointment.AppointmentService.CountVehTransport, new { htmlAttributes = new { @class = "form-control", placeholder = "1" } })
                                        </div>
                                        <div class="col-xs-6 col-sm-2 col-md-2">
                                            @Html.LabelFor(model => model.Appointment.AppointmentService.CountTrailerTransport, new { htmlAttributes = new { @class = "control-label" } })
                                            @Html.EditorFor(model => model.Appointment.AppointmentService.CountTrailerTransport, new { htmlAttributes = new { @class = "form-control", placeholder = "1" } })
                                        </div>
                                        <div class="col-xs-6 col-sm-offset-3 col-sm-5 col-md-offset-4 col-md-4">
                                            @Html.Label("of", htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.Appointment.AppointmentService.TransportWhereFrom, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        <div class="col-xs-6 col-sm-4 col-md-4">
                                            @Html.Label("nach", htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.Appointment.AppointmentService.TransportWhereTo, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                </div>

                                @*Storage*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Appointment.AppointmentService.ServiceLagerung, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3" })
                                    <div class="col-md-8 col-sm-9">
                                        @Html.CheckBoxFor(model => model.Appointment.AppointmentService.ServiceLagerung, new
                                   {
                                       @class = "control-checkbox",
                                       aria_expanded = Model.Appointment.AppointmentService.ServiceLagerung ? "true" : "false",
                                       aria_controls = "servicelagerungdate",
                                       data_toggle = "collapse",
                                       data_target = "#servicelagerungdate"
                                   })
                                    </div>
                                </div>
                                <div id="servicelagerungdate" class="collapse@(Model.Appointment.AppointmentService.ServiceLagerung ? " in" : string.Empty)">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Appointment.AppointmentService.LagerungDate, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3" })
                                        <div class="col-md-6 col-sm-7">
                                            <div class="row">
                                                <div class="col-md-7 col-sm-7 bottom-space-min">
                                                    @Html.MyDatepickerFor(model => model.Appointment.AppointmentService.LagerungDate, false, true)
                                                </div>
                                                <div class="col-md-5 col-sm-5">
                                                    @Html.MyTimepickerFor(model => model.Appointment.AppointmentService.LagerungTime, "timepicker-lagfrom", true, true)
                                                </div>
                                                <div class="col-xs-12">
                                                    @Html.ValidationMessageFor(model => model.Appointment.AppointmentService.LagerungDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="mark-important bottom-space-min">
                                                <i>Falls gleiches Date wie Move, dann leer lassen.</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <hr />

                    <div class="form-group">
                        @Html.LabelFor(model => model.Appointment.Where, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3" })
                        <div class="col-md-8 col-sm-9">
                            @Html.EditorFor(model => model.Appointment.Where, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                            @Html.ValidationMessageFor(model => model.Appointment.Where, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Appointment.CalendarTitleAddition, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3" })
                        <div class="col-md-8 col-sm-9">
                            @Html.EditorFor(model => model.Appointment.CalendarTitleAddition, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                            <i>Ex: "Move Mr Meier 08:00 ... 7-8h [HERE]"</i>
                            @Html.ValidationMessageFor(model => model.Appointment.CalendarTitleAddition, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Appointment.CalendarNote, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3" })
                        <div class="col-md-8 col-sm-9">
                            @Html.TextAreaFor(model => model.Appointment.CalendarNote, htmlAttributes: new { @class = "form-control", rows = 5 })
                            <span><i>Is entered in the calendar as comment.</i></span>
                            @Html.ValidationMessageFor(model => model.Appointment.CalendarNote, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <hr />

                    @*Email*@
                    <div class="form-group">
                        @Html.LabelFor(model => model.Appointment.EmailToCustomer, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3" })
                        <div class="col-md-8 col-sm-9">
                            @Html.CheckBoxFor(model => model.Appointment.EmailToCustomer, new { @class = "control-checkbox", aria_expanded = Model.Appointment.EmailToCustomer ? "true" : "false", aria_controls = "email-additions", data_toggle = "collapse", data_target = "#email-additions" })
                        </div>
                    </div>

                    <div id="email-additions" class="collapse@(Model.Appointment.EmailToCustomer ? " in" : string.Empty)">
                        <div class="form-group">
                            <div class="control-label col-md-4 col-sm-3">
                                @Html.LabelFor(model => model.Appointment.EmailAddress)
                                &nbsp;<span id="email-tooltip" class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" data-html="true" title="Mit ; [Strichpunkt] wird der Date an mehrere Empfänger verschickt. <br> Bsp. max.mustermann@gmx.net;erika.mustermann@gmail.com"></span>
                            </div>
                            <div class="col-md-8 col-sm-9">
                                @Html.EditorFor(model => model.Appointment.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Appointment.EmailAddress, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Appointment.EmailNote, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3" })
                            <div class="col-md-8 col-sm-9">
                                @Html.TextAreaFor(model => model.Appointment.EmailNote, htmlAttributes: new { @class = "form-control", rows = 5 })
                                <span><i>Will be sent in the email as a comment to customers.</i></span>
                                @Html.ValidationMessageFor(model => model.Appointment.EmailNote, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @if (Model.EmailAttachments != null)
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.EmailAttachments, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3" })
                                <div id="roles-input" class="col-md-8 col-sm-9">
                                    @for (int i = 0; i < Model.EmailAttachments.Count; i++)
                                    {
                                        <label class="checkbox-inline">
                                            @Html.HiddenFor(m => m.EmailAttachments[i].Id)
                                            @Html.HiddenFor(m => m.EmailAttachments[i].Name)
                                            @Html.CheckBoxFor(m => m.EmailAttachments[i].Selected, new { @class = "control-checkbox", data_value = Model.EmailAttachments[i].Name })
                                            @Html.DisplayFor(m => m.EmailAttachments[i].Name)
                                        </label>
                                    }
                                </div>
                            </div>
                        }
                        @if (Model.IsEditable)
                        {
                            <div class="form-group top-space-inner-sm">
                                @*Change EmailText*@
                                <div class="control-label col-md-4 col-sm-3">
                                    <i>@Html.LabelFor(model => model.Appointment.ChangeEmailText)</i>
                                    &nbsp;<span id="emailchangetext-tooltip" class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" data-html="true" title="The standard mail can be changed here. If nothing is changed, please activate the checkbox not. <br> If in the email text ##SystemText_BLABLA## this should happen ##...##-Words not removed. <br> Before sending, the system replaces these words with defined values."></span>
                                </div>
                                <div class="col-md-8 col-sm-9">
                                    @Html.CheckBoxFor(model => model.Appointment.ChangeEmailText, new { @class = "control-checkbox", aria_expanded = Model.Appointment.ChangeEmailText ? "true" : "false", aria_controls = "emailchangetext-additions", data_toggle = "collapse", data_target = "#emailchangetext-additions" })
                                </div>
                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $("#@Html.IdFor(model => model.Appointment.ChangeEmailText)").change(function () {
                                            if ($(this).is(":checked")) {
                                                var selectedAppointmentType = $("input[name='@Html.IdFor(model => model.Appointment.AppointmentTypeId).ToString().Replace('_','.')']:checked", "#container-AppointmentTypeId").val();
                                                var url = "";
                                                if (selectedAppointmentType == '@(Appointment.AppointmentType.Sightseeing)') {
                                                    url = "@Url.Action("EmailTextView", new { customerid = ViewBag.CustomerId })";
                                                    url = url + "?viewdate=" + $("#@Html.IdFor(model => model.Appointment.AppointmentView.ViewDate)").val();
                                                    url = url + "&viewtime=" + $("input[type='text'][name='@Html.IdFor(model => model.Appointment.AppointmentView.ViewTime).ToString().Replace('_', '.')']").val();
                                                } else if (selectedAppointmentType == 'Confirmation_of_the_order') {
                                                    url = "@Url.Action("EmailTextService", new { customerid = ViewBag.CustomerId })";
                                                    url = url + "?emailnote=" + $("#@Html.IdFor(model => model.Appointment.EmailNote)").val();
                                                    if ($("#@Html.IdFor(model => model.Appointment.AppointmentService.ServiceUmzug)").is(":checked")) {
                                                        url = url + "&umzug=true";
                                                        url = url + "&umzugdate=" + $("#@Html.IdFor(model => model.Appointment.AppointmentService.UmzugDate)").val();
                                                        url = url + "&umzugtime=" + $("input[type='text'][name='@Html.IdFor(model => model.Appointment.AppointmentService.UmzugTime).ToString().Replace('_', '.')']").val();
                                                        if ($("#@Html.IdFor(model => model.Appointment.AppointmentService.DateUmzugMoreAppointment)").is(":checked")) {
                                                            url = url + "&umzugmoredates=true";
                                                            url = url + "&umzugdate2=" + $("#@Html.IdFor(model => model.Appointment.AppointmentService.UmzugDate2)").val();
                                                            url = url + "&umzugtime2=" + $("input[type='text'][name='@Html.IdFor(model => model.Appointment.AppointmentService.UmzugTime2).ToString().Replace('_', '.')']").val();
                                                            url = url + "&umzugdate3=" + $("#@Html.IdFor(model => model.Appointment.AppointmentService.UmzugDate3)").val();
                                                            url = url + "&umzugtime3=" + $("input[type='text'][name='@Html.IdFor(model => model.Appointment.AppointmentService.UmzugTime3).ToString().Replace('_', '.')']").val();
                                                        }
                                                    }
                                                    if ($("#@Html.IdFor(model => model.Appointment.AppointmentService.ServicePack)").is(":checked")) {
                                                        url = url + "&pack=true";
                                                        url = url + "&packdate=" + $("#@Html.IdFor(model => model.Appointment.AppointmentService.PackDate)").val();
                                                        url = url + "&packtime=" + $("input[type='text'][name='@Html.IdFor(model => model.Appointment.AppointmentService.PackTime).ToString().Replace('_', '.')']").val();
                                                    }
                                                    if ($("#@Html.IdFor(model => model.Appointment.AppointmentService.ServicePackOut)").is(":checked")) {
                                                        url = url + "&packout=true";
                                                        url = url + "&packoutdate=" + $("#@Html.IdFor(model => model.Appointment.AppointmentService.PackOutDate)").val();
                                                        url = url + "&packouttime=" + $("input[type='text'][name='@Html.IdFor(model => model.Appointment.AppointmentService.PackOutTime).ToString().Replace('_', '.')']").val();
                                                    }
                                                    if ($("#@Html.IdFor(model => model.Appointment.AppointmentService.ServiceEntsorgung)").is(":checked")) {
                                                        url = url + "&disposal=true";
                                                        url = url + "&entsorgungdate=" + $("#@Html.IdFor(model => model.Appointment.AppointmentService.EntsorgungDate)").val();
                                                        url = url + "&entsorgungtime=" + $("input[type='text'][name='@Html.IdFor(model => model.Appointment.AppointmentService.EntsorgungTime).ToString().Replace('_', '.')']").val();
                                                    }
                                                    if ($("#@Html.IdFor(model => model.Appointment.AppointmentService.ServiceReinigung)").is(":checked")) {
                                                        url = url + "&cleaning=true";
                                                        url = url + "&reinigungdate=" + $("#@Html.IdFor(model => model.Appointment.AppointmentService.ReinigungDate)").val();
                                                        url = url + "&reinigungtime=" + $("input[type='text'][name='@Html.IdFor(model => model.Appointment.AppointmentService.ReinigungTime).ToString().Replace('_', '.')']").val();
                                                        url = url + "&reinigungreleasedate=" + $("#@Html.IdFor(model => model.Appointment.AppointmentService.DateReinigungRelease)").val();
                                                        url = url + "&reinigungreleasetime=" + $("input[type='text'][name='@Html.IdFor(model => model.Appointment.AppointmentService.TimeReinigungRelease).ToString().Replace('_', '.')']").val();
                                                    }
                                                    if ($("#@Html.IdFor(model => model.Appointment.AppointmentService.ServiceReinigung2)").is(":checked")) {
                                                        url = url + "&cleaning2=true";
                                                        url = url + "&reinigung2date=" + $("#@Html.IdFor(model => model.Appointment.AppointmentService.Reinigung2Date)").val();
                                                        url = url + "&reinigung2time=" + $("input[type='text'][name='@Html.IdFor(model => model.Appointment.AppointmentService.Reinigung2Time).ToString().Replace('_', '.')']").val();
                                                        url = url + "&reinigung2releasedate=" + $("#@Html.IdFor(model => model.Appointment.AppointmentService.DateReinigung2Release)").val();
                                                        url = url + "&reinigung2releasetime=" + $("input[type='text'][name='@Html.IdFor(model => model.Appointment.AppointmentService.TimeReinigung2Release).ToString().Replace('_', '.')']").val();
                                                    }
                                                    if ($("#@Html.IdFor(model => model.Appointment.AppointmentService.ServiceTransport)").is(":checked")) {
                                                        url = url + "&transport=true";
                                                        url = url + "&transportdate=" + $("#@Html.IdFor(model => model.Appointment.AppointmentService.TransportDate)").val();
                                                        url = url + "&transporttime=" + $("input[type='text'][name='@Html.IdFor(model => model.Appointment.AppointmentService.TransportTime).ToString().Replace('_', '.')']").val();
                                                    }
                                                    if ($("#@Html.IdFor(model => model.Appointment.AppointmentService.ServiceLagerung)").is(":checked")) {
                                                        url = url + "&lagerung=true";
                                                        url = url + "&lagerungdate=" + $("#@Html.IdFor(model => model.Appointment.AppointmentService.LagerungDate)").val();
                                                        url = url + "&lagerungtime=" + $("input[type='text'][name='@Html.IdFor(model => model.Appointment.AppointmentService.LagerungTime).ToString().Replace('_', '.')']").val();
                                                    }
                                                } else if (selectedAppointmentType == '@(Appointment.AppointmentType.Delivery)') {
                                                    url = "@Url.Action("EmailTextDelivery", new { customerid = ViewBag.CustomerId })";
                                                    url = url + "?deliveryProduct=" + $("input[name='@Html.IdFor(model => model.Appointment.AppointmentDelivery.DeliveryProduct).ToString().Replace('_','.')']:checked", "#container-AppointmentTypeId_Delivery").val();
                                                    url = url + "&deliveryType=" + $("input[name='@Html.IdFor(model => model.Appointment.AppointmentDelivery.Delivery).ToString().Replace('_','.')']:checked", "#container-AppointmentTypeId_Delivery").val();
                                                    url = url + "&deliverydate=" + $("#@Html.IdFor(model => model.Appointment.AppointmentDelivery.DeliveryDate)").val();
                                                    url = url + "&deliverytimefrom=" + $("input[type='text'][name='@Html.IdFor(model => model.Appointment.AppointmentDelivery.DeliveryTimeFrom).ToString().Replace('_', '.')']").val();
                                                    url = url + "&deliverytimeto=" + $("input[type='text'][name='@Html.IdFor(model => model.Appointment.AppointmentDelivery.DeliveryTimeTo).ToString().Replace('_', '.')']").val();
                                                }

                                                loadEmailChangeData(url, "@Html.IdFor(model => model.Appointment.ChangeEmailTextContainer.Subject)", "@Html.IdFor(model => model.Appointment.ChangeEmailTextContainer.Body)", "emailchangetext-loader");
                                            } else {
                                                $("#@Html.IdFor(model => model.Appointment.ChangeEmailTextContainer.Subject)").val("");
                                                $("#@Html.IdFor(model => model.Appointment.ChangeEmailTextContainer.Body)").val("");
                                                tinymce.remove("#@Html.IdFor(model => model.Appointment.ChangeEmailTextContainer.Body)");
                                                tinymceInitialized = false;
                                            }
                                        });
                                        // if emailchangetext checkbox is checked at the beginning, so init tinymce
                                        if (@(Model.Appointment.ChangeEmailText.ToString().ToLower())) {
                                            initializeTinymce("@Html.IdFor(model => model.Appointment.ChangeEmailTextContainer.Body)");
                                        }
                                    });
                                </script>
                                <div id="emailchangetext-additions" class="col-xs-12 collapse@(Model.Appointment.ChangeEmailText ? " in" : string.Empty)">
                                    <div class="row clearfix bottom-space-inner">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div id="emailchangetext-loader" class="loader-absolute-container" style="display: none;">
                                                    <div class="loader"></div>
                                                </div>
                                            </div>
                                            <div class="form-group top-sm">
                                                <div class="col-xs-12">
                                                    @Html.LabelFor(model => model.Appointment.ChangeEmailTextContainer.Subject, htmlAttributes: new { @class = "label-bold" })
                                                </div>
                                                <div class="col-xs-12">
                                                    @Html.EditorFor(model => model.Appointment.ChangeEmailTextContainer.Subject, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                            <div class="form-group top-sm">
                                                <div class="col-xs-12">
                                                    @Html.LabelFor(model => model.Appointment.ChangeEmailTextContainer.Body, htmlAttributes: new { @class = "label-bold" })
                                                </div>
                                                <div class="col-xs-12">
                                                    @Html.TextAreaFor(model => model.Appointment.ChangeEmailTextContainer.Body, htmlAttributes: new { @class = "form-control", rows = 20 })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                    <hr />

                    @if (Model.IsEditable)
                    {
                        <div class="form-group top-space-inner">
                            <div class="col-md-offset-4 col-md-3 col-sm-offset-3">
                                <input type="submit" value="@ViewBag.SubmitText" class="btn btn-primary btn-block" />
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            @Html.LabelFor(model => model.Appointment.CreateDate, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3" })
                            <div class="col-md-8 col-sm-9">
                                @Html.EditorFor(model => model.Appointment.CreateDate, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Created by", htmlAttributes: new { @class = "control-label col-md-4 col-sm-3" })
                            <div class="col-md-8 col-sm-9">
                                @Html.EditorFor(model => model.Appointment.CreateUserId, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <hr />
                    }
                </div>
            </div>
        </div>
    </div>
}

<form method="post" class="form-horizontal" action="@Url.RouteUrl("Intranet_CustomerMeet", new { action = "Delete", customerid = ViewBag.CustomerId, id = Model.Appointment.AppointmentId })">
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-8">
            <div class="form-group">
                @if (Model.IsEditable)
                {
                    <div class="col-md-offset-4 col-md-3 col-sm-offset-3 col-sm-4 col-xs-6">
                        <a href="@Url.RouteUrl("Intranet_CustomerMeet", new { action = "Index", customerid = ViewBag.CustomerId })" class="btn btn-default btn-block">Cancel</a>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        @if ((Model.Appointment.AppointmentId > 0))
                        {
                            <input type="submit" value="Clear" class="btn btn-danger btn-block" onclick="javascript:return confirm('Would you like the date ?');" />
                        }
                    </div>
                }
                else
                {
                    <div class="col-md-offset-4 col-md-3 col-sm-offset-3 col-sm-4 col-xs-6">
                        <a href="@Url.RouteUrl("Intranet_CustomerMeet", new { action = "Index", customerid = ViewBag.CustomerId })" class="btn btn-default btn-block">Back</a>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <a href="@Url.RouteUrl("Intranet_CustomerMeet", new { action = "Edit", customerid = ViewBag.CustomerId, id = Model.Appointment.AppointmentId })" class="btn btn-primary btn-block">Edit</a>
                    </div>

                    <script type="text/javascript">
                        $(document).ready(function () {
                            $("#validator-form").find("input,select,textarea").each(function () {
                                $(this).prop("disabled", true);
                            });
                        });
                    </script>
                }
            </div>
        </div>
    </div>
</form>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>