﻿@model IEnumerable<Appointment>

@{
    Layout = "~/Areas/Intranet/Views/Shared/_LayoutCustomerView.cshtml";
    ViewBag.ActiveTab = "Meet";
    ViewBag.SubTitle = "Appointments";
}

<h2>@ViewBag.SubTitle</h2>

<div class="row">
    <div class="col-xs-12"><a href="@Url.RouteUrl("Intranet_CustomerMeet", new { action = "Edit", customerid = ViewBag.CustomerId })" class="real-link">Capture new date</a></div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="table table-linked">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.AppointmentTypeId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BookedServices)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AppointmentDateTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Where)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Details", new { customerid = item.CustomerId, id = item.AppointmentId })">
                                @Html.DisplayFor(modelItem => item.AppointmentTypeId)
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("Details", new { customerid = item.CustomerId, id = item.AppointmentId })">
                                @Html.DisplayFor(modelItem => item.BookedServices)
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("Details", new { customerid = item.CustomerId, id = item.AppointmentId })">
                                @Html.DisplayFor(modelItem => item.AppointmentDateTime)
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("Details", new { customerid = item.CustomerId, id = item.AppointmentId })">
                                @Html.DisplayFor(modelItem => item.Where)
                            </a>
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { customerid = item.CustomerId, id = item.AppointmentId }, new { @class = "real-link" })
                        </td>

                    </tr>
                }

            </table>
        </div>
    </div>
</div>
