﻿@model CRM_Umzugsfirma.ViewModels.Job.AutoJobViewModel
@using CRM_Umzugsfirma.Areas.Intranet.Models
@{
    ViewBag.Title = "OK";
}


<div class="error-body">
    <blockquote><h2>Erfolgreich</h2></blockquote>
    <div class="descr">
        <div class="row">
            @if (!string.IsNullOrEmpty(Model.InfoMessageToShow))
            {
                <div class="col-xs-12">
                    <div class="alert alert-info">@Model.InfoMessageToShow</div>
                </div>
            }
            else
            {
                <div class="col-xs-12">
                    Number gefundene Offers: @Model.IdList.Count
                </div>
                <div class="col-xs-12">
                    Autojob Datenbankeintrag wurde gemacht. AutoJobId: @Model.AutoJobId
                </div>
                <div class="col-xs-12">&nbsp;</div>
                <div class="col-xs-12">
                    @Model.ResultMessageToShow:
                </div>
                <div class="col-xs-12">&nbsp;</div>
                foreach (string offerId in Model.IdList)
                {
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">@offerId</div>
                }
            }
        </div>
    </div>
</div>
