﻿@model CRM_Umzugsfirma.ViewModels.AcceptOfferViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Offer Confirmation</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    <style type="text/css">
        .header img {
            height: 50px;
        }
        .col-center {
            margin: 0 auto;
        }
        .form-horizontal label {
            font-weight: bold;
        }
        textarea.form-control {
            max-width: 100%;
            background-color: #F0F6F9;
        }
    </style>
</head>
<body>
    <div class="body">
        <div class="container header">
            <div class="row">
                <div class="col-sm-6">
                    @Html.GetAccountImage(@Model.AccountInnerId.ToString(), "logo.jpg", @Model.AccountInnerId.ToString(), string.Empty, false)
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <hr />
        </div>
        <div class="container">
            <br />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.HiddenFor(model => model.OfferId)
                    @Html.HiddenFor(model => model.OfferInnerId)
                    @Html.HiddenFor(model => model.AccountId)
                    @Html.HiddenFor(model => model.AccountInnerId)
                    @Html.HiddenFor(model => model.AccountName)
                    @Html.HiddenFor(model => model.AccountStreet)
                    @Html.HiddenFor(model => model.AccountCity)
                    @Html.HiddenFor(model => model.AccountPhone)
                    @Html.HiddenFor(model => model.AccountMail)
                    @Html.HiddenFor(model => model.AccountContactName)
                    @Html.HiddenFor(model => model.CustomerId)
                    @Html.HiddenFor(model => model.CustomerInnerId)
                    @Html.HiddenFor(model => model.CustomerMarketId)
                    @Html.HiddenFor(model => model.Name)
                    @Html.HiddenFor(model => model.Salutation)
                    @Html.HiddenFor(model => model.CustomerPhone)
                    @Html.HiddenFor(model => model.CustomerMobile)
                    @Html.HiddenFor(model => model.CustomerEmail)
                    @Html.HiddenFor(model => model.LinkToOffer)

                    <div class="row">
                        <div class="col-xs-12">
                            <h2>Order placement - Offer: @Model.OfferInnerId</h2>
                        </div>
                        <div class="col-xs-12">&nbsp;</div>
                        <div class="col-xs-12">&nbsp;</div>
                        @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
                        {
                            <div class="col-xs-12">
                                <p class="alert alert-success">
                                    <b>Thank you for placing the order!</b><br />
                                    Your customer advisor will contact you as soon as possible.<br />
                                </p>
                                <br />
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                        {
                            <div class="col-xs-12">
                                <p class="alert alert-danger">
                                    <b>Unfortunately, an error happened. Please try again.</b><br />
                                    If the mistake is repeated, we kindly ask you to call the customer service representative by phone.<br />
                                    We apologize for the inconvenience!<br />
                                </p>
                                <br />
                            </div>
                        }
                        <div class="col-xs-12">@Model.Salutation</div>
                        <div class="col-xs-12">&nbsp;</div>
                        <div class="col-xs-12">Thank you for your trust in our company.</div>
                        <div class="col-xs-12">We would be glad to carry out this order for you and we assure you already on time and professional service.</div>
                        <div class="col-xs-12">You can confirm your order here. Your customer advisor will contact you as soon as possible for further action.</div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "col-xs-12" })
                        <div class="col-xs-12">
                            @Html.TextAreaFor(model => model.Comment, htmlAttributes: new { @class = "form-control", rows = 7 })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input type="submit" value="Confirm offer" class="btn btn-primary btn-block col-center" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">&nbsp;</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12"><hr /></div>
                            <div class="col-xs-12">&nbsp;</div>
                            <div class="col-xs-12">For any questions we are always at your disposal:</div>
                            <div class="col-xs-12">&nbsp;</div>
                            <div class="col-xs-12">Your customer advisor: <b>@Model.AccountContactName</b></div>
                            <div class="col-xs-12"><b>@Model.AccountName</b></div>
                            <div class="col-xs-12">@Model.AccountStreet</div>
                            <div class="col-xs-12">CH-@Model.AccountCity</div>
                            <div class="col-xs-12">&nbsp;</div>
                            <div class="col-xs-12">
                                <table cellspacing="0" cellpadding="0" border="0">
                                    <tr>
                                        <td width="50">Tel:</td>
                                        <td>@Model.AccountPhone</td>
                                    </tr>
                                    <tr>
                                        <td width="50">Email:</td>
                                        <td><a href="mailto:@Model.AccountMail"><u>@Model.AccountMail</u></a></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-xs-12">&nbsp;</div>
                        </div>
                    </div>
            }
        </div>
    </div>
</body>
</html>
