﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="top-space">
        <br /><br />
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="alert alert-danger text-center" role="alert">
                        <br />
                        <strong>Oops!</strong> Something went wrong, please try again.<br /> <br />
                        <strong>Oh snap!</strong> Change a few things up and try submitting again.<br /> <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
