﻿@model CRM_Umzugsfirma.ViewModels.AcceptOfferViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Offer confirmed</title>
    <style type="text/css">
        body {
            font-size: 1em !important;
        }

        h3 {
            font-size: 1.7em !important;
        }

        hr {
            margin-bottom: 20px !important;
        }

        tr {
            margin-bottom: 10px !important;
        }

        td.name {
            width: 130px !important;
        }

        td.bold {
            font-weight: bold !important;
        }
    </style>
</head>
<body>
    <div>
        <h3>Offer confirmed</h3>
        <hr />
        <p>The following customer has been confirmed:</p>
        <table cellspacing="5">
            <tr>
                <td class="name">@Html.DisplayNameFor(model => model.OfferInnerId):</td>
                <td class="bold">@Html.DisplayFor(model => model.OfferInnerId)</td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td class="name">@Html.DisplayNameFor(model => model.CustomerInnerId):</td>
                <td class="bold">@Html.DisplayFor(model => model.CustomerInnerId)</td>
            </tr>
            <tr>
                <td class="name">@Html.DisplayNameFor(model => model.Name):</td>
                <td class="bold">@Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <td class="name">@Html.DisplayNameFor(model => model.CustomerMarketId):</td>
                <td class="bold">@Html.DisplayFor(model => model.CustomerMarketId)</td>
            </tr>
            <tr>
                <td class="name">@Html.DisplayNameFor(model => model.CustomerPhone):</td>
                <td class="bold">@Html.DisplayFor(model => model.CustomerPhone)</td>
            </tr>
            <tr>
                <td class="name">@Html.DisplayNameFor(model => model.CustomerMobile):</td>
                <td class="bold">@Html.DisplayFor(model => model.CustomerMobile)</td>
            </tr>
            <tr>
                <td class="name">@Html.DisplayNameFor(model => model.CustomerEmail):</td>
                <td class="bold">@Html.DisplayFor(model => model.CustomerEmail)</td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">@Html.DisplayNameFor(model => model.Comment):</td>
            </tr>
            <tr>
                <td colspan="2" class="bold">
                
                    @if (!string.IsNullOrEmpty(Model.Comment))
                    {
                        @Html.Raw(Html.Encode(Model.Comment).Replace("\r\n", "<br />"))
                    }
                    else
                    {
                        <i>No message filled.</i>
                    }
                </td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" class="name bold">@Html.DisplayNameFor(model => model.LinkToOffer):</td>
            </tr>
            <tr>
                <td colspan="2" class="bold">
                    @if (!string.IsNullOrEmpty(Model.LinkToOffer))
                    {
                        <a href="@Model.LinkToOffer" target="_blank"><u>@Model.LinkToOffer</u></a>
                    }
                    else
                    {
                        <i>No Link</i>
                    }
                </td>
            </tr>
        </table>
        <br /><br />
        Best Regards<br />
        <a href="http://www.helvetiatransporte-crm.ch/">www.helvetiatransporte-crm.ch</a>
    </div>
</body>
</html>
