﻿@{
    ViewBag.Title = string.Format("CRM {0} - {1}", string.Empty, ViewBag.Title);
    if (string.IsNullOrEmpty(ViewBag.MetaDescription))
    {
        ViewBag.MetaDescription = "Profesionelle Unterstützung bei der Kundenverwaltung. Customer Relationship Management. eker solutions, Uygar Eker.";
    }
    if (string.IsNullOrEmpty(ViewBag.MetaKeywords))
    {
        ViewBag.MetaKeywords = "CRM, Customer Relationship Management, Kundenverwaltung, Move, Privatumzug, Geschäftsumzug. eker solutions, Uygar Eker";
    }
    if (string.IsNullOrEmpty(ViewBag.MetaCanonicalUrl))
    {
        ViewBag.MetaCanonicalUrl = Request.Url.GetLeftPart(UriPartial.Path).ToLower();
    }
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <meta name="title" content="@ViewBag.Title" />
    <meta name="description" content="@ViewBag.MetaDescription" />
    <meta name="keywords" content="@ViewBag.MetaKeywords" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="@ViewBag.MetaCanonicalUrl" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <meta property="og:locale" content="de_DE" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:description" content="@ViewBag.MetaDescription" />
    <meta property="og:url" content="@ViewBag.MetaCanonicalUrl" />
    <meta property="og:site_name" content="CRM of Helvetia Transporte AG, eker solutions, Uygar Eker" />

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/public")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("headerend", required: false)
</head>
<body>

    <noscript>
        <div id="NoJSMsg" class="container">
            Um den vollen Funktionsumfang dieser Webseite zu erfahren, <b>benötigen Sie JavaScript</b>.
            Eine Anleitung wie Sie JavaScript in Ihrem Browser einschalten, befindet sich
            <strong><a href="@Url.Content("http://www.enable-javascript.com/de/")" rel="nofollow" target="_blank">»&nbsp;hier</a></strong>
        </div>
    </noscript>

    @Html.Partial("Main/_TrackingScripts")
    <header>
        @Html.Partial("Main/_HeaderPartial")
    </header>


    <div class="container body-content">
        @RenderBody()
    </div>

    <div id="footer-wrapper">
        <footer>
            @Html.Partial("Main/_FooterPartial")
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
