﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Fehler";
    ViewBag.EmailTo = "info@eker.ch";
}

@section headerend {
    <style type="text/css">
        .error-body {
            padding: 10% 5%;
            font-size: 1.1em;
        }

        h2 {
            color: #923b37;
        }

        .descr {
            padding-top: 15px;
        }
    </style>
}

<div class="error-body">
    <blockquote><h2>Leider ist ein Fehler passiert</h2></blockquote>
    <div class="descr">
        <div class="row">
            <div class="col-xs-12">
                <h3>Es könnte sein, dass das System Sie aus Sicherheitsgründen automatisch ausgeloggt hat.</h3>
                <h3><a href="@Url.Action("Login", "UserAccount", new { area = "" })" class="real-link">Bitte hier nochmals einloggen</a></h3>
            </div>
        </div>
        <div class="row" style="margin-top: 200px;">
            <div class="col-xs-12">
                Falls der Fehler weiterhin auftritt, kontaktieren Sie uns per Mail an <a href="mailto:@ViewBag.EmailTo">@ViewBag.EmailTo</a>.
            </div>
        </div>
    </div>
</div>