﻿@{
    ViewBag.Title = "About";
    ViewBag.Message = "This CRM (customer management software) was developed for the company 'Helvetia Transporte AG' based in Schlieren ZH.";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
