﻿@{
    ViewBag.Title = "Technical Contact";
    ViewBag.Message = "If you have any questions about CRM (customer management software), we are happy to help";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<br />
<hr />
<br />

<address>
    eker solutions<br />
    <strong>Uygar Eker</strong><br />
    Parkway 5<br />
    8952 Schlieren<br />
    <abbr title="Mobile">Tel:</abbr> 071 622 09 56<br />
    Mail: <a href="mailto:info@eker.ch">info@eker.ch</a><br />
</address>

