﻿@{
    ViewBag.Title = "Forgot Password confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Please check your email account if you have received the password reset email.
    </p>
</div>

