﻿@{
    ViewBag.Title = "Password set successfully";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Your password has been changed. You're welcome @Html.ActionLink("hier klicken und anmelden.", "Login", "UserAccount", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
