﻿@model CRM_Umzugsfirma.Areas.Intranet.Models.Appointment

<div>
    <h4>Date-Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AppointmentTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentTypeId)
        </dd>

        @if (Model.AppointmentTypeId == Appointment.AppointmentType.Sightseeing)
        {
            <dt>
                @Html.DisplayNameFor(model => model.AppointmentView.MeetPlace)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AppointmentView.MeetPlace)
            </dd>
            <dt>
                Date-Time
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AppointmentView.ViewDate), @Html.DisplayFor(model => model.AppointmentView.ViewTime)
            </dd>
        }
        else if (Model.AppointmentTypeId == Appointment.AppointmentType.Confirmation_of_the_order)
        {
            <dt>
                @Html.DisplayNameFor(model => model.OfferInnerId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OfferInnerId)
            </dd>
            if (Model.AppointmentService.ServiceUmzug)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.AppointmentService.ServiceUmzug)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.AppointmentService.UmzugDate), @Html.DisplayFor(model => model.AppointmentService.UmzugTime) (Duration: @Html.DisplayFor(model => model.AppointmentService.DurationUmzug))
                </dd>
            }
            if (Model.AppointmentService.ServicePack)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.AppointmentService.ServicePack)
                </dt>
                <dd>
                    @if (!string.IsNullOrEmpty(Model.AppointmentService.PackDate))
                    {
                        @Html.Raw(string.Format("{0}, {1} (Duration: {2})", Model.AppointmentService.PackDate, Model.AppointmentService.PackTime, Model.AppointmentService.DurationPack))
                    }
                    else
                    {
                        <i>Same date as Move.</i>
                    }
                </dd>
            }
            if (Model.AppointmentService.ServicePackOut)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.AppointmentService.ServicePackOut)
                </dt>
                <dd>
                    @if (!string.IsNullOrEmpty(Model.AppointmentService.PackOutDate))
                    {
                        @Html.Raw(string.Format("{0}, {1} (Duration: {2})", Model.AppointmentService.PackOutDate, Model.AppointmentService.PackOutTime, Model.AppointmentService.DurationPackOut))
                    }
                    else
                    {
                        <i>Same date as Move.</i>
                    }
                </dd>
            }
            if (Model.AppointmentService.ServiceEntsorgung)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.AppointmentService.ServiceEntsorgung)
                </dt>
                <dd>
                    @if (!string.IsNullOrEmpty(Model.AppointmentService.EntsorgungDate))
                    {
                        @Html.Raw(string.Format("{0}, {1} (Duration: {2})", Model.AppointmentService.EntsorgungDate, Model.AppointmentService.EntsorgungTime, Model.AppointmentService.DurationEntsorgung))
                    }
                    else
                    {
                        <i>Same date as Move.</i>
                    }
                </dd>
            }
            if (Model.AppointmentService.ServiceReinigung)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.AppointmentService.ServiceReinigung)
                </dt>
                <dd>
                    @if (!string.IsNullOrEmpty(Model.AppointmentService.ReinigungDate))
                    {
                        @Html.Raw(string.Format("{0}, {1} (Duration: {2})", Model.AppointmentService.ReinigungDate, Model.AppointmentService.ReinigungTime, Model.AppointmentService.DurationReinigung))
                    }
                    else
                    {
                        <i>Same date as Move.</i>
                    }
                </dd>
            }
            if (Model.AppointmentService.ServiceReinigung2)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.AppointmentService.ServiceReinigung2)
                </dt>
                <dd>
                    @if (!string.IsNullOrEmpty(Model.AppointmentService.Reinigung2Date))
                    {
                        @Html.Raw(string.Format("{0}, {1} (Duration: {2})", Model.AppointmentService.Reinigung2Date, Model.AppointmentService.Reinigung2Time, Model.AppointmentService.DurationReinigung2))
                    }
                    else
                    {
                        <i>Same date as Move.</i>
                    }
                </dd>
            }
            if (Model.AppointmentService.ServiceLagerung)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.AppointmentService.ServiceLagerung)
                </dt>
                <dd>
                    @if (!string.IsNullOrEmpty(Model.AppointmentService.LagerungDate))
                    {
                        @Html.Raw(string.Format("{0}, {1}", Model.AppointmentService.LagerungDate, Model.AppointmentService.LagerungTime))
                    }
                    else
                    {
                        <i>Same date as Move.</i>
                    }
                </dd>
            }
            if (Model.AppointmentService.ServiceTransport)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.AppointmentService.ServiceTransport)
                </dt>
                <dd>
                    @if (!string.IsNullOrEmpty(Model.AppointmentService.TransportDate))
                    {
                        @Html.Raw(string.Format("{0}, {1} (Duration: {2})", Model.AppointmentService.TransportDate, Model.AppointmentService.TransportTime, Model.AppointmentService.DurationTransport))
                    }
                    else
                    {
                        <i>Same date as Move.</i>
                    }
                </dd>
            }
        }
        else if (Model.AppointmentTypeId == Appointment.AppointmentType.Delivery)
        {
            <dt>
                @Html.DisplayNameFor(model => model.AppointmentDelivery.DeliveryProduct)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AppointmentDelivery.DeliveryProduct)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AppointmentDelivery.Delivery)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AppointmentDelivery.Delivery)
            </dd>
            <dt>
                Date
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AppointmentDelivery.DeliveryDate), @Html.DisplayFor(model => model.AppointmentDelivery.DeliveryTimeFrom) to @Html.DisplayFor(model => model.AppointmentDelivery.DeliveryTimeTo)
            </dd>
        }

        <dt><br /></dt>
        <dd><br /></dd>

        <dt>
            @Html.DisplayNameFor(model => model.Where)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Where)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CalendarNote)
        </dt>

        <dd>
            @Html.Raw(Html.Encode(Model.CalendarNote).Replace("\r\n", "<br />"))
        </dd>

        <dt><br /></dt>
        <dd><br /></dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailToCustomer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailToCustomer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailNote)
        </dt>

        <dd>
            @Html.Raw(Html.Encode(Model.EmailNote).Replace("\r\n", "<br />"))
        </dd>

        <dt><br /></dt>
        <dd><br /></dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateUserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to the View", "Index")
</p>
