﻿@model CRM_Umzugsfirma.Areas.Intranet.ViewModels.Appointments.AppointmentViewModel
@using PagedList.Mvc;

@{
    ViewBag.Title = "Appointments";
}

@section Scripts {
    @Scripts.Render("~/bundles/datepicker")
}
@Styles.Render("~/Content/css/datepicker")
@Styles.Render("~/Content/css/pagedlist")

<h2>@ViewBag.Title</h2>

<div class="bs-box bs-box-callout">
    <div class="bs-top primary">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-11 col-lg-8">
                    <div class="form-horizontal search-box">

                        <div class="form-group">
                            @Html.LabelFor(model => model.SearchFilter.AppointmentTypeId, htmlAttributes: new { @class = "control-label col-sm-3 col-md-3" })
                            <div class="col-sm-9 col-md-9">
                                @Html.RadioButtonSearchForEnum(model => model.SearchFilter.AppointmentTypeId)
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            @Html.Label("Next Meetings", htmlAttributes: new { @class = "control-label col-sm-3 col-md-3" })
                            <div class="col-sm-9 col-md-9">
                                <div class="checkbox-inline">
                                    @Html.CheckBoxFor(model => model.SearchFilter.OnlyNextAppointments, new { @class = "control-checkbox" })
                                    @Html.LabelFor(model => model.SearchFilter.OnlyNextAppointments)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-sm-3 col-md-3"><i>or</i></label>
                        </div>
                        <div class="form-group">
                            @Html.Label("Dates between", htmlAttributes: new { @class = "control-label col-sm-3 col-md-3" })
                            <div class="col-sm-4 col-md-3">
                                @Html.MyDatepickerFor(model => model.SearchFilter.DateCreateFrom, false, true)
                            </div>
                            @Html.Label("to", htmlAttributes: new { @class = "control-label col-sm-1" })
                            <div class="col-sm-4 col-md-3">
                                @Html.MyDatepickerFor(model => model.SearchFilter.DateCreateTo, false, true)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-md-offset-2 col-sm-3 col-xs-6">
                                <input type="submit" value="Search" class="btn btn-primary btn-block" />
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                @Html.ActionLink("Reset to default", "Index", "Appointments", new { area = "Intranet", reset = 1 }, new { @class = "btn btn-default btn-block" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
    <div class="bs-end">

        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">

                    @*Partial render Resultlist*@
                    @Html.Partial("~/Areas/Intranet/Views/Appointments/ResultList.cshtml", Model)

                    <br />
                    Search has <span class="color-mainlink">@Model.ResultList.TotalItemCount</span> Scored hits.
                    @Html.PagedListPager(Model.ResultList, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort }))
                    <i>Page @(Model.ResultList.PageCount < Model.ResultList.PageNumber ? 0 : Model.ResultList.PageNumber) of @Model.ResultList.PageCount</i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-right">
                    <div class="pull-left inner-space-sm">
                        @Html.ActionLink("Print", "Print", "Appointments", new { area = "Intranet", sortOrder = ViewBag.CurrentSort }, new { @class = "btn btn-default btn-block", target = "_blank" })
                    </div>
                    <div class="pull-right inner-space-sm">
                        @Html.ActionLink("Excel", "Csv", "Appointments", new { area = "Intranet", sortOrder = ViewBag.CurrentSort }, new { @class = "btn btn-success btn-block" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
