﻿@model CRM_Umzugsfirma.Areas.Intranet.ViewModels.Appointments.AppointmentViewModel

@{
    IFormatProvider formatProvider = new System.Globalization.CultureInfo("de-CH");
}
@if (Model.PrintVersion)
{
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/print")
}

<table class="table table-linked @(Model.PrintVersion ? "admin-resultlist" : string.Empty)">
    <thead>
        <tr>
            <th>
                <a href="@Url.Action("Index", new { sortOrder = ViewBag.SortTypeParm })">
                    @Html.DisplayNameFor(model => model.ResultListHeader.AppointmentTypeId)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResultListHeader.BookedServices)
            </th>
            <th>
                Customer
            </th>
            <th>
                <a href="@Url.Action("Index", new { sortOrder = ViewBag.SortDateFromParam })">
                    Appointment at
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResultListHeader.Where)
            </th>
            @if (!Model.PrintVersion)
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ResultList)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Details", new { id = item.AppointmentId })">
                        @Html.DisplayFor(modelItem => item.AppointmentTypeId)<br />
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", new {id = item.AppointmentId})">
                        @Html.DisplayFor(modelItem => item.BookedServices)
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", new { id = item.AppointmentId })">
                        @if (item.CustomerMarketId == MarketType.Private_person)
                        {
                            @(HttpUtility.HtmlDecode(string.Format(formatProvider, "{0} {1}", Html.DisplayFor(modelItem => item.LastName), Html.DisplayFor(modelItem => item.FirstName))))
                        }
                        else
                        {
                            <i>@Html.DisplayFor(modelItem => item.CompanyName)</i>
                        }
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", new { id = item.AppointmentId })">
                        @Html.DisplayFor(modelItem => item.AppointmentDateTime)
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", new { id = item.AppointmentId })">
                        @Html.DisplayFor(modelItem => item.Where)
                    </a>
                </td>
                @if (!Model.PrintVersion)
                {
                    <td>
                        <a class="real-link" href="@Url.RouteUrl("Intranet_CustomerMeet", new { action = "Index", customerid = item.CustomerId })">To the customer</a>
                    </td>
                }
            </tr>
        }
    </tbody>

</table>

@if (Model.PrintVersion)
{
    <script>
        window.print();
    </script>
}