﻿@model CRM_Umzugsfirma.ViewModels.Print.OfferPrintViewModel
    @{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
<head>
    <title>Offer</title>
    @Styles.Render("~/Content/css")
    <link href="/Content/print.min.css" rel="stylesheet" />
    <style type="text/css" media="all">
        .sender-adr {
            font-size: 10pt;
            padding-bottom: 20px;
            border-bottom: 1px solid #333;
        }

        .maintitle, .font-maincolor, .font-linkcolor {
            color: #28608F !important;
        }

        .table-box .table-head {
            background-color: #28608F !important;
        }
    </style>
</head>

<body>
    <div class="content">
        <div class="clearfix">
            <div class="row btm-spc">
                <div class="col-xs-7">
                    <div class="row">
                        <div class="col-xs-12">
                            &nbsp;<br /><br />
                        </div>
                        <div class="col-xs-12">
                            <div class="btm-spc">
                                <span class="sender-adr">
                                    @Model.Account.AccountName | @Model.Account.Street | CH-@Model.Account.Zip @Model.Account.City
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-5 clearfix">
                    <div class="pull-right">
                        <img src="@Url.ContentFullPath(string.Format("{0}/img/logo.jpg", Model.PathAccount))" width="250" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @if (Model.Customer.MarketId == CRM_Umzugsfirma.Areas.Intranet.Models.MarketType.Private_person)
            {
                if (Model.Customer.TitleId != CRM_Umzugsfirma.Areas.Intranet.Models.TitleType.Please_choose)
                {
                    <div class="col-xs-12">@Model.Customer.TitleId</div>
                }
                <div class="col-xs-12">@Model.Customer.LastName @Model.Customer.FirstName</div>
            }
            else
            {
                <div class="col-xs-12">@Model.Customer.CompanyName</div>
                if (!string.IsNullOrEmpty(Model.Customer.CompanyContactPerson))
                {
                    <div class="col-xs-12">@Model.Customer.CompanyContactPerson</div>
                }
            }
            <div class="col-xs-12">@Model.Customer.Street</div>
            <div class="col-xs-12">CH-@Model.Customer.Zip @Model.Customer.City</div>
            @{
                string phone = Model.Customer.Phone;
                if (!string.IsNullOrEmpty(Model.Customer.Mobile))
                {
                    phone = string.Format("{0}{1}{2}", phone, !string.IsNullOrEmpty(phone) ? " / " : string.Empty, Model.Customer.Mobile);
                }
            }
            <div class="col-xs-12">@phone</div>
        </div>
        <div class="row" style="margin-top: 40px;">
            <div class="col-xs-6 maintitle">
                Offer Nr: @Model.Offer.OfferInnerId
            </div>
            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-offset-4 col-xs-8" style="padding-top: 12px;">
                        @((Model.Offer.ModifyDate != null && Model.Offer.ModifyDate != DateTime.MinValue) ? Model.Offer.ModifyDate.ToString("dd. MMMM yyyy") : Model.Offer.CreateDate.ToString("dd. MMMM yyyy"))
                    </div>
                </div>

            </div>
        </div>
        <div class="row" style="margin-top: 40px;">
            <div class="col-xs-12">
                @Model.CustomerSalutation<br /><br />
            </div>
            <div class="col-xs-12">
                Thank you for your request. Regarding the information and our experience, we recommend the following rate:<br /><br />
            </div>
        </div>

        @*AdrOut / AdrIn*@
        @if (!string.IsNullOrEmpty(Model.Offer.AdrInStreet) || !string.IsNullOrEmpty(Model.Offer.AdrInCity))
        {
            <div class="section">
                <div class="table-box indent inner-border">
                    <div class="table-head">
                        <div class="row">
                            <div class="col-xs-6 bordered" style="color: #fff !important;">@Model.AdrOutTitle:</div>
                            <div class="col-xs-6" style="color: #fff !important;">@Model.AdrInTitle:</div>
                        </div>
                    </div>
                    <div class="table-content">
                        <div class="row">
                            <div class="col-xs-6 bordered">
                                @Model.Offer.AdrOutStreet<br />
                                CH-@Model.Offer.AdrOutZip @Model.Offer.AdrOutCity<br />
                                @string.Format("{0}Lift: {1}",
                             (Model.Offer.AdrOutFloorType != CRM_Umzugsfirma.Areas.Intranet.Models.Offer.FloorType.Please_choose) ? string.Format("Floor: {0} / ", Model.Offer.AdrOutFloorType.ToString().Replace("emp_", "").Replace("_plus_", "+").Replace('_', ' ')) : string.Empty, Model.Offer.AdrOutHasLift)
                                @if (Model.Offer.AdrOutBuildingType != CRM_Umzugsfirma.Areas.Intranet.Models.Offer.BuildingType.Please_choose)
                                {
                                    <br />
                                    @Html.Raw(string.Format("Building: {0}", Model.Offer.AdrOutBuildingType.ToString().Replace("_slash_", " / ")))
                                }
                            </div>
                            <div class="col-xs-6">
                                @Model.Offer.AdrInStreet<br />
                                CH-@Model.Offer.AdrInZip @Model.Offer.AdrInCity<br />
                                @string.Format("{0}Lift: {1}",
                             (Model.Offer.AdrInFloorType != CRM_Umzugsfirma.Areas.Intranet.Models.Offer.FloorType.Please_choose) ? string.Format("Floor: {0} / ", Model.Offer.AdrInFloorType.ToString().Replace("emp_", "").Replace("_plus_", "+").Replace('_', ' ')) : string.Empty, Model.Offer.AdrInHasLift)
                                @if (Model.Offer.AdrInBuildingType != CRM_Umzugsfirma.Areas.Intranet.Models.Offer.BuildingType.Please_choose)
                                {
                                    <br />
                                    @Html.Raw(string.Format("Building: {0}", Model.Offer.AdrInBuildingType.ToString().Replace("_slash_", " / ")))
                                }
                            </div>
                        </div>
                    </div>
                </div>
                @if (Model.Offer.AdrOut2 && Model.Offer.AdrIn2)
                {
                    <div class="table-box indent inner-border">
                        <div class="table-head" style="border-top: none;">
                            <div class="row">
                                <div class="col-xs-6 bordered" style="color: #fff !important;">2. From:</div>
                                <div class="col-xs-6" style="color: #fff !important;">2. To:</div>
                            </div>
                        </div>
                        <div class="table-content">
                            <div class="row">
                                <div class="col-xs-6 bordered">
                                    @Model.Offer.AdrOutStreet2<br />
                                    CH-@Model.Offer.AdrOutZip2 @Model.Offer.AdrOutCity2<br />
                                    @string.Format("{0}Lift: {1}", (Model.Offer.AdrOutFloorType2 != CRM_Umzugsfirma.Areas.Intranet.Models.Offer.FloorType.Please_choose) ? string.Format("Floor: {0} / ", Model.Offer.AdrOutFloorType2.ToString().Replace("emp_", "").Replace("_plus_", "+").Replace('_', ' ')) : string.Empty, Model.Offer.AdrOutHasLift2)
                                    @if (Model.Offer.AdrOutBuildingType2 != CRM_Umzugsfirma.Areas.Intranet.Models.Offer.BuildingType.Please_choose)
                                    {
                                        <br />
                                        @Html.Raw(string.Format("Building: {0}", Model.Offer.AdrOutBuildingType2.ToString().Replace("_slash_", " / ")))
                                    }
                                </div>
                                <div class="col-xs-6">
                                    @Model.Offer.AdrInStreet2<br />
                                    CH-@Model.Offer.AdrInZip2 @Model.Offer.AdrInCity2<br />
                                    @string.Format("{0}Lift: {1}", (Model.Offer.AdrInFloorType2 != CRM_Umzugsfirma.Areas.Intranet.Models.Offer.FloorType.Please_choose) ? string.Format("Floor: {0} / ", Model.Offer.AdrInFloorType2.ToString().Replace("emp_", "").Replace("_plus_", "+").Replace('_', ' ')) : string.Empty, Model.Offer.AdrInHasLift2)
                                    @if (Model.Offer.AdrInBuildingType2 != CRM_Umzugsfirma.Areas.Intranet.Models.Offer.BuildingType.Please_choose)
                                    {
                                        <br />
                                        @Html.Raw(string.Format("Building: {0}", Model.Offer.AdrInBuildingType2.ToString().Replace("_slash_", " / ")))
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else if (Model.Offer.AdrOut2)
                {
                    <div class="row">
                        <div class="col-xs-6" style="padding-right: 0;">
                            <div class="table-box indent">
                                <div class="table-head" style="color: #fff !important; border-top: none;">2. From:</div>
                                <div class="table-content">
                                    @Model.Offer.AdrOutStreet2<br />
                                    CH-@Model.Offer.AdrOutZip2 @Model.Offer.AdrOutCity2<br />
                                    @string.Format("{0}Lift: {1}", (Model.Offer.AdrOutFloorType2 != CRM_Umzugsfirma.Areas.Intranet.Models.Offer.FloorType.Please_choose) ? string.Format("Floor: {0} / ", Model.Offer.AdrOutFloorType2.ToString().Replace("emp_", "").Replace("_plus_", "+").Replace('_', ' ')) : string.Empty, Model.Offer.AdrOutHasLift2)
                                    @if (Model.Offer.AdrOutBuildingType2 != CRM_Umzugsfirma.Areas.Intranet.Models.Offer.BuildingType.Please_choose)
                                    {
                                        <br />
                                        @Html.Raw(string.Format("Building: {0}", Model.Offer.AdrOutBuildingType2.ToString().Replace("_slash_", " / ")))
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else if (Model.Offer.AdrIn2)
                {
                    <div class="row">
                        <div class="col-xs-offset-6 col-xs-6" style="padding-left: 0;">
                            <div class="table-box indent">
                                <div class="table-head" style="color: #fff !important; border-top: none;">2. To:</div>
                                <div class="table-content">
                                    @Model.Offer.AdrInStreet2<br />
                                    CH-@Model.Offer.AdrInZip2 @Model.Offer.AdrInCity2<br />
                                    @string.Format("{0}Lift: {1}", (Model.Offer.AdrInFloorType2 != CRM_Umzugsfirma.Areas.Intranet.Models.Offer.FloorType.Please_choose) ? string.Format("Floor: {0} / ", Model.Offer.AdrInFloorType2.ToString().Replace("emp_", "").Replace("_plus_", "+").Replace('_', ' ')) : string.Empty, Model.Offer.AdrInHasLift2)
                                    @if (Model.Offer.AdrInBuildingType2 != CRM_Umzugsfirma.Areas.Intranet.Models.Offer.BuildingType.Please_choose)
                                    {
                                        <br />
                                        @Html.Raw(string.Format("Building: {0}", Model.Offer.AdrInBuildingType2.ToString().Replace("_slash_", " / ")))
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (Model.Offer.AdrOut3 && Model.Offer.AdrIn3)
                {
                    <div class="table-box indent inner-border">
                        <div class="table-head" style="border-top: none;">
                            <div class="row">
                                <div class="col-xs-6 bordered" style="color: #fff !important;">3. From:</div>
                                <div class="col-xs-6" style="color: #fff !important;">3. To:</div>
                            </div>
                        </div>
                        <div class="table-content">
                            <div class="row">
                                <div class="col-xs-6 bordered">
                                    @Model.Offer.AdrOutStreet3<br />
                                    CH-@Model.Offer.AdrOutZip3 @Model.Offer.AdrOutCity3<br />
                                    @string.Format("{0}Lift: {1}", (Model.Offer.AdrOutFloorType3 != CRM_Umzugsfirma.Areas.Intranet.Models.Offer.FloorType.Please_choose) ? string.Format("Floor: {0} / ", Model.Offer.AdrOutFloorType3.ToString().Replace("emp_", "").Replace("_plus_", "+").Replace('_', ' ')) : string.Empty, Model.Offer.AdrOutHasLift3)
                                    @if (Model.Offer.AdrOutBuildingType3 != CRM_Umzugsfirma.Areas.Intranet.Models.Offer.BuildingType.Please_choose)
                                    {
                                        <br />
                                        @Html.Raw(string.Format("Building: {0}", Model.Offer.AdrOutBuildingType3.ToString().Replace("_slash_", " / ")))
                                    }
                                </div>
                                <div class="col-xs-6">
                                    @Model.Offer.AdrInStreet3<br />
                                    CH-@Model.Offer.AdrInZip3 @Model.Offer.AdrInCity3<br />
                                    @string.Format("{0}Lift: {1}", (Model.Offer.AdrInFloorType3 != CRM_Umzugsfirma.Areas.Intranet.Models.Offer.FloorType.Please_choose) ? string.Format("Floor: {0} / ", Model.Offer.AdrInFloorType3.ToString().Replace("emp_", "").Replace("_plus_", "+").Replace('_', ' ')) : string.Empty, Model.Offer.AdrInHasLift3)
                                    @if (Model.Offer.AdrInBuildingType3 != CRM_Umzugsfirma.Areas.Intranet.Models.Offer.BuildingType.Please_choose)
                                    {
                                        <br />
                                        @Html.Raw(string.Format("Building: {0}", Model.Offer.AdrInBuildingType3.ToString().Replace("_slash_", " / ")))
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else if (Model.Offer.AdrOut3)
                {
                    <div class="row">
                        <div class="col-xs-6" style="padding-right: 0;">
                            <div class="table-box indent">
                                <div class="table-head" style="color: #fff !important; border-top: none;">3. From:</div>
                                <div class="table-content">
                                    @Model.Offer.AdrOutStreet3<br />
                                    CH-@Model.Offer.AdrOutZip3 @Model.Offer.AdrOutCity3<br />
                                    @string.Format("{0}Lift: {1}", (Model.Offer.AdrOutFloorType3 != CRM_Umzugsfirma.Areas.Intranet.Models.Offer.FloorType.Please_choose) ? string.Format("Floor: {0} / ", Model.Offer.AdrOutFloorType3.ToString().Replace("emp_", "").Replace("_plus_", "+").Replace('_', ' ')) : string.Empty, Model.Offer.AdrOutHasLift3)
                                    @if (Model.Offer.AdrOutBuildingType3 != CRM_Umzugsfirma.Areas.Intranet.Models.Offer.BuildingType.Please_choose)
                                    {
                                        <br />
                                        @Html.Raw(string.Format("Building: {0}", Model.Offer.AdrOutBuildingType3.ToString().Replace("_slash_", " / ")))
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else if (Model.Offer.AdrIn3)
                {
                    <div class="row">
                        <div class="col-xs-offset-6 col-xs-6" style="padding-left: 0;">
                            <div class="table-box indent">
                                <div class="table-head" style="color: #fff !important; border-top: none;">3. To:</div>
                                <div class="table-content">
                                    @Model.Offer.AdrInStreet3<br />
                                    CH-@Model.Offer.AdrInZip3 @Model.Offer.AdrInCity3<br />
                                    @string.Format("{0}Lift: {1}", (Model.Offer.AdrInFloorType3 != CRM_Umzugsfirma.Areas.Intranet.Models.Offer.FloorType.Please_choose) ? string.Format("Floor: {0} / ", Model.Offer.AdrInFloorType3.ToString().Replace("emp_", "").Replace("_plus_", "+").Replace('_', ' ')) : string.Empty, Model.Offer.AdrInHasLift3)
                                    @if (Model.Offer.AdrInBuildingType3 != CRM_Umzugsfirma.Areas.Intranet.Models.Offer.BuildingType.Please_choose)
                                    {
                                        <br />
                                        @Html.Raw(string.Format("Building: {0}", Model.Offer.AdrInBuildingType3.ToString().Replace("_slash_", " / ")))
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="section">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="table-box indent">
                            <div class="table-head" style="color: #fff !important;">@Model.AdrOutTitle:</div>
                            <div class="table-content">
                                @Model.Offer.AdrOutStreet<br />
                                CH-@Model.Offer.AdrOutZip @Model.Offer.AdrOutCity<br />
                                @string.Format("{0}Lift: {1}", (Model.Offer.AdrOutFloorType != CRM_Umzugsfirma.Areas.Intranet.Models.Offer.FloorType.Please_choose) ? string.Format("Floor: {0} / ", Model.Offer.AdrOutFloorType.ToString().Replace("emp_", "").Replace("_plus_", "+").Replace('_', ' ')) : string.Empty, Model.Offer.AdrOutHasLift)
                                @if (Model.Offer.AdrOutBuildingType != CRM_Umzugsfirma.Areas.Intranet.Models.Offer.BuildingType.Please_choose)
                                {
                                    <br />
                                    @Html.Raw(string.Format("Building: {0}", Model.Offer.AdrOutBuildingType.ToString().Replace("_slash_", " / ")))
                                }
                            </div>
                        </div>
                        @if (Model.Offer.AdrOut2)
                        {
                            <div class="table-box indent">
                                <div class="table-head" style="color: #fff !important; border-top: none;">2. From:</div>
                                <div class="table-content">
                                    @Model.Offer.AdrOutStreet2<br />
                                    CH-@Model.Offer.AdrOutZip2 @Model.Offer.AdrOutCity2<br />
                                    @string.Format("{0}Lift: {1}", (Model.Offer.AdrOutFloorType2 != CRM_Umzugsfirma.Areas.Intranet.Models.Offer.FloorType.Please_choose) ? string.Format("Floor: {0} / ", Model.Offer.AdrOutFloorType2.ToString().Replace("emp_", "").Replace("_plus_", "+").Replace('_', ' ')) : string.Empty, Model.Offer.AdrOutHasLift2)
                                    @if (Model.Offer.AdrOutBuildingType2 != CRM_Umzugsfirma.Areas.Intranet.Models.Offer.BuildingType.Please_choose)
                                    {
                                        <br />
                                        @Html.Raw(string.Format("Building: {0}", Model.Offer.AdrOutBuildingType2.ToString().Replace("_slash_", " / ")))
                                    }
                                </div>
                            </div>
                            if (Model.Offer.AdrOut3)
                            {
                                <div class="table-box indent">
                                    <div class="table-head" style="color: #fff !important; border-top: none;">3. From:</div>
                                    <div class="table-content">
                                        @Model.Offer.AdrOutStreet3<br />
                                        CH-@Model.Offer.AdrOutZip3 @Model.Offer.AdrOutCity3<br />
                                        @string.Format("{0}Lift: {1}", (Model.Offer.AdrOutFloorType3 != CRM_Umzugsfirma.Areas.Intranet.Models.Offer.FloorType.Please_choose) ? string.Format("Floor: {0} / ", Model.Offer.AdrOutFloorType3.ToString().Replace("emp_", "").Replace("_plus_", "+").Replace('_', ' ')) : string.Empty, Model.Offer.AdrOutHasLift3)
                                        @if (Model.Offer.AdrOutBuildingType3 != CRM_Umzugsfirma.Areas.Intranet.Models.Offer.BuildingType.Please_choose)
                                        {
                                            <br />
                                            @Html.Raw(string.Format("Building: {0}", Model.Offer.AdrOutBuildingType3.ToString().Replace("_slash_", " / ")))
                                        }
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        }

        @*packing_service*@
        @if (Model.Offer.PackActive)
        {
            <div class="section">
                <div class="table-box">
                    <div class="table-head">
                        <div class="row">
                            <div class="col-xs-12" style="color: #fff !important;">packing_service</div>
                        </div>
                    </div>
                    <div class="table-content">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row" style="margin-bottom: 10px;">
                                    <div class="col-xs-3"><b>Tariff:</b></div>
                                    <div class="col-xs-9">@Model.Offer.PackPriceRateDescr</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="row">
                                                    <div class="col-xs-6">Packing Date:</div>
                                                    <div class="col-xs-6">@string.Format("{0}", !string.IsNullOrEmpty(Model.Offer.PackDate) ? Model.Offer.PackDate : "offen")</div>
                                                </div>
                                                @if (!string.IsNullOrEmpty(Model.Offer.PackTime))
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-6">Starting Work:</div>
                                                        <div class="col-xs-6">@string.Format("{0} O'clock", Model.Offer.PackTime)</div>
                                                    </div>
                                                }
                                                <div class="row">
                                                    <div class="col-xs-6">Directions / Return Trip:</div>
                                                    <div class="col-xs-6">@string.Format("CHF {0}.-", Model.Offer.PackCostWay)</div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="row">
                                                    <div class="col-xs-5">Estimated Expenditure:</div>
                                                    <div class="col-xs-7">@string.Format("{0} Hours", Model.Offer.PackDuration)</div>
                                                </div>
                                                @if (Model.Offer.PackCostAddit)
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-5">Extra_cost:</div>
                                                        <div class="col-xs-7">
                                                            <div class="row">
                                                                @for (int i = 0; i < Model.PackAdditCost.Count; i++)
                                                                {
                                                                    <div class="col-xs-12">
                                                                        @string.Format("{0} CHF {1}.-", Model.PackAdditCost[i].Descr, Model.PackAdditCost[i].OverwrittenPrice)
                                                                    </div>
                                                                }
                                                                @if (!string.IsNullOrEmpty(Model.Offer.PackCostAdditFreeTextPlus1))
                                                                {
                                                                    <div class="col-xs-12">@string.Format("{0} CHF {1}.-", Model.Offer.PackCostAdditFreeTextPlus1, Model.Offer.PackCostAdditFreeTextPlus1Price)</div>
                                                                }
                                                                @if (!string.IsNullOrEmpty(Model.Offer.PackCostAdditFreeTextPlus2))
                                                                {
                                                                    <div class="col-xs-12">@string.Format("{0} CHF {1}.-", Model.Offer.PackCostAdditFreeTextPlus2, Model.Offer.PackCostAdditFreeTextPlus2Price)</div>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                @if (Model.Offer.PackCostDiscount > 0)
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-5">Discount:</div>
                                                        <div class="col-xs-7">@string.Format("CHF -{0}.-", Model.Offer.PackCostDiscount)</div>
                                                    </div>
                                                }
                                                @if (Model.Offer.PackCostDiscount2 > 0)
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-5">Concession:</div>
                                                        <div class="col-xs-7">@string.Format("CHF -{0}.-", Model.Offer.PackCostDiscount2)</div>
                                                    </div>
                                                }
                                                @if (!string.IsNullOrEmpty(Model.Offer.PackCostAdditFreeTextMinus1))
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-5">@Model.Offer.PackCostAdditFreeTextMinus1:</div>
                                                        <div class="col-xs-7">@string.Format("CHF -{0}.-", Model.Offer.PackCostAdditFreeTextMinus1Price)</div>
                                                    </div>
                                                }
                                                <div class="row" style="margin-top: 3px;">
                                                    <div class="col-xs-5"><b>Estimated_Costs:</b></div>
                                                    <div class="col-xs-7"><b class="font-maincolor">@string.Format("CHF {0}.-", (Model.Offer.PackCostEstimated.Contains('-') ? string.Format("{0}.- to CHF {1}", Model.Offer.PackCostEstimated.Split('-')[0], Model.Offer.PackCostEstimated.Split('-')[1]) : Model.Offer.PackCostEstimated))</b></div>
                                                </div>
                                                @if (Model.Offer.PackCostHighSecurity)
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-5"><b>Cost_ceiling:</b></div>
                                                        <div class="col-xs-7"><b class="font-maincolor">@string.Format("CHF {0}.-", Model.Offer.PackCostHighSecurityPrice)</b></div>
                                                    </div>
                                                }
                                                else if (Model.Offer.PackCostFix)
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-5"><b>Flat_rate:</b></div>
                                                        <div class="col-xs-7"><b class="font-maincolor">@string.Format("CHF {0}.-", Model.Offer.PackCostFixPrice)</b></div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 15px; font-size: 9pt;">
                                    <div class="col-xs-12">
                                        The needed Packing material will be charged additionally to the rental price.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        @*Move*@
        @if (Model.Offer.UmzugActive)
        {
            <div class="section">
                <div class="table-box">
                    <div class="table-head">
                        <div class="row">
                            <div class="col-xs-12" style="color: #fff !important;">Move</div>
                        </div>
                    </div>
                    <div class="table-content">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row" style="margin-bottom: 10px;">
                                    <div class="col-xs-3"><b>Tariff:</b></div>
                                    <div class="col-xs-9">@Model.Offer.UmzugPriceRateDescr</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="row">
                                                    <div class="col-xs-6">Moving Date:</div>
                                                    <div class="col-xs-6">@string.Format("{0}", !string.IsNullOrEmpty(Model.Offer.UmzugDate) ? Model.Offer.UmzugDate : "offen")</div>
                                                </div>
                                                @if (!string.IsNullOrEmpty(Model.Offer.UmzugTime))
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-6">Starting Work:</div>
                                                        <div class="col-xs-6">@string.Format("{0} O'clock", Model.Offer.UmzugTime)</div>
                                                    </div>
                                                }
                                                @if (!string.IsNullOrEmpty(Model.Offer.UmzugInDate))
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-6">Move-in Date:</div>
                                                        <div class="col-xs-6">@Model.Offer.UmzugInDate</div>
                                                    </div>
                                                }
                                                <div class="row">
                                                    <div class="col-xs-6">Directions / Return Trip:</div>
                                                    <div class="col-xs-6">@string.Format("CHF {0}.-", Model.Offer.UmzugCostWay)</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-6">Dismantling and Construction:</div>
                                                    <div class="col-xs-6">@((Model.Offer.UmzugInstallFurnitureType != CRM_Umzugsfirma.Areas.Intranet.Models.Offer.InstallFurnitureType.Please_choose) ? Model.Offer.UmzugInstallFurnitureType.ToString().Replace('_', ' ') : "-")</div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="row">
                                                    <div class="col-xs-5">Estimated Expenditure:</div>
                                                    <div class="col-xs-7">@string.Format("{0} Hours", Model.Offer.UmzugDuration)</div>
                                                </div>
                                                @if (Model.Offer.UmzugCostAddit)
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-5">Extra_cost:</div>
                                                        <div class="col-xs-7">
                                                            <div class="row">
                                                                @for (int i = 0; i < Model.UmzugAdditCost.Count; i++)
                                                                {
                                                                    <div class="col-xs-12">
                                                                        @string.Format("{0} CHF {1}.-", Model.UmzugAdditCost[i].Descr, Model.UmzugAdditCost[i].OverwrittenPrice)
                                                                    </div>
                                                                }
                                                                @if (!string.IsNullOrEmpty(Model.Offer.UmzugCostAdditFreeTextPlus1))
                                                                {
                                                                    <div class="col-xs-12">@string.Format("{0} CHF {1}.-", Model.Offer.UmzugCostAdditFreeTextPlus1, Model.Offer.UmzugCostAdditFreeTextPlus1Price)</div>
                                                                }
                                                                @if (!string.IsNullOrEmpty(Model.Offer.UmzugCostAdditFreeTextPlus2))
                                                                {
                                                                    <div class="col-xs-12">@string.Format("{0} CHF {1}.-", Model.Offer.UmzugCostAdditFreeTextPlus2, Model.Offer.UmzugCostAdditFreeTextPlus2Price)</div>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                @if (Model.Offer.UmzugCostDiscount > 0)
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-5">Discount:</div>
                                                        <div class="col-xs-7">@string.Format("CHF -{0}.-", Model.Offer.UmzugCostDiscount)</div>
                                                    </div>
                                                }
                                                @if (Model.Offer.UmzugCostDiscount2 > 0)
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-5">Concession:</div>
                                                        <div class="col-xs-7">@string.Format("CHF -{0}.-", Model.Offer.UmzugCostDiscount2)</div>
                                                    </div>
                                                }
                                                @if (!string.IsNullOrEmpty(Model.Offer.UmzugCostAdditFreeTextMinus1))
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-5">@Model.Offer.UmzugCostAdditFreeTextMinus1:</div>
                                                        <div class="col-xs-7">@string.Format("CHF -{0}.-", Model.Offer.UmzugCostAdditFreeTextMinus1Price)</div>
                                                    </div>
                                                }
                                                <div class="row" style="margin-top: 3px;">
                                                    <div class="col-xs-5"><b>Estimated_Costs:</b></div>
                                                    <div class="col-xs-7"><b class="font-maincolor">@string.Format("CHF {0}.-", (Model.Offer.UmzugCostEstimated.Contains('-') ? string.Format("{0}.- to CHF {1}", Model.Offer.UmzugCostEstimated.Split('-')[0], Model.Offer.UmzugCostEstimated.Split('-')[1]) : Model.Offer.UmzugCostEstimated))</b></div>
                                                </div>
                                                @if (Model.Offer.UmzugCostHighSecurity)
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-5"><b>Cost_ceiling:</b></div>
                                                        <div class="col-xs-7"><b class="font-maincolor">@string.Format("CHF {0}.-", Model.Offer.UmzugCostHighSecurityPrice)</b></div>
                                                    </div>
                                                }
                                                else if (Model.Offer.UmzugCostFix)
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-5"><b>Flat_rate:</b></div>
                                                        <div class="col-xs-7"><b class="font-maincolor">@string.Format("CHF {0}.-", Model.Offer.UmzugCostFixPrice)</b></div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 15px; font-size: 9pt;">
                                    <div class="col-xs-12">
                                        There are no extra kilometers or fuel costs charged. We charge a minimum of 3 hours.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        @*unpacking_service*@
        @if (Model.Offer.PackOutActive)
        {
            <div class="section">
                <div class="table-box">
                    <div class="table-head">
                        <div class="row">
                            <div class="col-xs-12" style="color: #fff !important;">unpacking_service</div>
                        </div>
                    </div>
                    <div class="table-content">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row" style="margin-bottom: 10px;">
                                    <div class="col-xs-3"><b>Tariff:</b></div>
                                    <div class="col-xs-9">@Model.Offer.PackOutPriceRateDescr</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="row">
                                                    <div class="col-xs-6">Packing Date:</div>
                                                    <div class="col-xs-6">@string.Format("{0}", !string.IsNullOrEmpty(Model.Offer.PackOutDate) ? Model.Offer.PackOutDate : "offen")</div>
                                                </div>
                                                @if (!string.IsNullOrEmpty(Model.Offer.PackOutTime))
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-6">Starting Work:</div>
                                                        <div class="col-xs-6">@string.Format("{0} O'clock", Model.Offer.PackOutTime)</div>
                                                    </div>
                                                }
                                                <div class="row">
                                                    <div class="col-xs-6">Directions / Return Trip:</div>
                                                    <div class="col-xs-6">@string.Format("CHF {0}.-", Model.Offer.PackOutCostWay)</div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="row">
                                                    <div class="col-xs-5">Estimated Expenditure:</div>
                                                    <div class="col-xs-7">@string.Format("{0} Hours", Model.Offer.PackOutDuration)</div>
                                                </div>
                                                @if (Model.Offer.PackOutCostAddit)
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-5">Extra_cost:</div>
                                                        <div class="col-xs-7">
                                                            <div class="row">
                                                                @for (int i = 0; i < Model.PackOutAdditCost.Count; i++)
                                                                {
                                                                    <div class="col-xs-12">
                                                                        @string.Format("{0} CHF {1}.-", Model.PackOutAdditCost[i].Descr, Model.PackOutAdditCost[i].OverwrittenPrice)
                                                                    </div>
                                                                }
                                                                @if (!string.IsNullOrEmpty(Model.Offer.PackOutCostAdditFreeTextPlus1))
                                                                {
                                                                    <div class="col-xs-12">@string.Format("{0} CHF {1}.-", Model.Offer.PackOutCostAdditFreeTextPlus1, Model.Offer.PackOutCostAdditFreeTextPlus1Price)</div>
                                                                }
                                                                @if (!string.IsNullOrEmpty(Model.Offer.PackOutCostAdditFreeTextPlus2))
                                                                {
                                                                    <div class="col-xs-12">@string.Format("{0} CHF {1}.-", Model.Offer.PackOutCostAdditFreeTextPlus2, Model.Offer.PackOutCostAdditFreeTextPlus2Price)</div>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                @if (Model.Offer.PackOutCostDiscount > 0)
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-5">Discount:</div>
                                                        <div class="col-xs-7">@string.Format("CHF -{0}.-", Model.Offer.PackOutCostDiscount)</div>
                                                    </div>
                                                }
                                                @if (Model.Offer.PackOutCostDiscount2 > 0)
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-5">Concession:</div>
                                                        <div class="col-xs-7">@string.Format("CHF -{0}.-", Model.Offer.PackOutCostDiscount2)</div>
                                                    </div>
                                                }
                                                @if (!string.IsNullOrEmpty(Model.Offer.PackOutCostAdditFreeTextMinus1))
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-5">@Model.Offer.PackOutCostAdditFreeTextMinus1:</div>
                                                        <div class="col-xs-7">@string.Format("CHF -{0}.-", Model.Offer.PackOutCostAdditFreeTextMinus1Price)</div>
                                                    </div>
                                                }
                                                <div class="row" style="margin-top: 3px;">
                                                    <div class="col-xs-5"><b>Estimated_Costs:</b></div>
                                                    <div class="col-xs-7"><b class="font-maincolor">@string.Format("CHF {0}.-", (Model.Offer.PackOutCostEstimated.Contains('-') ? string.Format("{0}.- to CHF {1}", Model.Offer.PackOutCostEstimated.Split('-')[0], Model.Offer.PackOutCostEstimated.Split('-')[1]) : Model.Offer.PackOutCostEstimated))</b></div>
                                                </div>
                                                @if (Model.Offer.PackOutCostHighSecurity)
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-5"><b>Cost_ceiling:</b></div>
                                                        <div class="col-xs-7"><b class="font-maincolor">@string.Format("CHF {0}.-", Model.Offer.PackOutCostHighSecurityPrice)</b></div>
                                                    </div>
                                                }
                                                else if (Model.Offer.PackOutCostFix)
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-5"><b>Flat_rate:</b></div>
                                                        <div class="col-xs-7"><b class="font-maincolor">@string.Format("CHF {0}.-", Model.Offer.PackOutCostFixPrice)</b></div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 15px; font-size: 9pt;">
                                    <div class="col-xs-12">
                                        The needed Packing material will be charged additionally to the rental price.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        @*disposal*@
        @if (Model.Offer.EntsorgungActive)
        {
            <div class="section">
                <div class="table-box">
                    <div class="table-head">
                        <div class="row">
                            <div class="col-xs-12" style="color: #fff !important;">disposal</div>
                        </div>
                    </div>
                    <div class="table-content">
                        <div class="row">
                            <div class="col-xs-12">
                                @if (!string.IsNullOrEmpty(Model.Offer.EntsorgungPersonPriceRateDescr))
                                {
                                    <div class="row" style="margin-bottom: 10px;">
                                        <div class="col-xs-3"><b>Tariff:</b></div>
                                        <div class="col-xs-9">@Model.Offer.EntsorgungPersonPriceRateDescr</div>
                                    </div>
                                }
                                @if (!string.IsNullOrEmpty(Model.Offer.EntsorgungPriceRateDescr))
                                {
                                    <div class="row" style="margin-bottom: 10px;">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-3"><b>Disposal Tariff:</b></div>
                                                <div class="col-xs-9">@Model.Offer.EntsorgungPriceRateDescr</div>
                                            </div>
                                            @if (!string.IsNullOrEmpty(Model.Offer.EntsorgungFixCost) && Model.Offer.EntsorgungFixCost != "0")
                                            {
                                                <div class="row">
                                                    <div class="col-xs-3">Disposal Costs:</div>
                                                    <div class="col-xs-9">CHF @Html.NumberCashPrintable(Model.Offer.EntsorgungFixCost) flat-rate (Expenditure at the Disposal Site)</div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                @if (!string.IsNullOrEmpty(Model.Offer.EntsorgungDate))
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-6">Disposal Date:</div>
                                                        <div class="col-xs-6">@string.Format("{0}{1}", Model.Offer.EntsorgungDate, (!string.IsNullOrEmpty(Model.Offer.EntsorgungTime) ? string.Format(", {0} O'clock", Model.Offer.EntsorgungTime) : ""))</div>
                                                    </div>
                                                }
                                                @if (!string.IsNullOrEmpty(Model.Offer.EntsorgungDuration))
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-6">Estimated Expenditure:</div>
                                                        <div class="col-xs-6">@string.Format("{0} Hours", Model.Offer.EntsorgungDuration)</div>
                                                    </div>
                                                }
                                                @if (!string.IsNullOrEmpty(Model.Offer.EntsorgungVolume))
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-6">Estimated Volume:</div>
                                                        <div class="col-xs-6">@Model.Offer.EntsorgungVolume m<sup>3</sup></div>
                                                    </div>
                                                }
                                                @if (!string.IsNullOrEmpty(Model.Offer.EntsorgungPersonPriceRateDescr) && (Model.Offer.EntsorgungCostWay > 0))
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-6">Directions / Return Trip:</div>
                                                        <div class="col-xs-6">@string.Format("CHF {0}.-", Model.Offer.EntsorgungCostWay)</div>
                                                    </div>
                                                }
                                            </div>
                                            <div class="col-xs-6">
                                                @if (Model.Offer.EntsorgungCostAddit)
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-5">Extra_cost:</div>
                                                        <div class="col-xs-7">
                                                            <div class="row">
                                                                @for (int i = 0; i < Model.EntsorgungAdditCost.Count; i++)
                                                                {
                                                                    <div class="col-xs-12">
                                                                        @string.Format("{0} CHF {1}.-", Model.EntsorgungAdditCost[i].Descr, Model.EntsorgungAdditCost[i].OverwrittenPrice)
                                                                    </div>
                                                                }
                                                                @if (!string.IsNullOrEmpty(Model.Offer.EntsorgungCostAdditFreeTextPlus1))
                                                                {
                                                                    <div class="col-xs-12">@string.Format("{0} CHF {1}.-", Model.Offer.EntsorgungCostAdditFreeTextPlus1, Model.Offer.EntsorgungCostAdditFreeTextPlus1Price)</div>
                                                                }
                                                                @if (!string.IsNullOrEmpty(Model.Offer.EntsorgungCostAdditFreeTextPlus2))
                                                                {
                                                                    <div class="col-xs-12">@string.Format("{0} CHF {1}.-", Model.Offer.EntsorgungCostAdditFreeTextPlus2, Model.Offer.EntsorgungCostAdditFreeTextPlus2Price)</div>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                @if (Model.Offer.EntsorgungCostDiscount > 0)
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-5">Discount:</div>
                                                        <div class="col-xs-7">@string.Format("CHF -{0}.-", Model.Offer.EntsorgungCostDiscount)</div>
                                                    </div>
                                                }
                                                @if (!string.IsNullOrEmpty(Model.Offer.EntsorgungCostAdditFreeTextMinus1))
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-5">@Model.Offer.EntsorgungCostAdditFreeTextMinus1:</div>
                                                        <div class="col-xs-7">@string.Format("CHF -{0}.-", Model.Offer.EntsorgungCostAdditFreeTextMinus1Price)</div>
                                                    </div>
                                                }
                                                @if (!string.IsNullOrEmpty(Model.Offer.EntsorgungCostEstimated))
                                                {
                                                    <div class="row" style="margin-top: 3px;">
                                                        <div class="col-xs-5"><b>Estimated_Costs:</b></div>
                                                        <div class="col-xs-7"><b class="font-maincolor">@string.Format("CHF {0}.-", (Model.Offer.EntsorgungCostEstimated.Contains('-') ? string.Format("{0}.- to CHF {1}", Model.Offer.EntsorgungCostEstimated.Split('-')[0], Model.Offer.EntsorgungCostEstimated.Split('-')[1]) : Model.Offer.EntsorgungCostEstimated))</b></div>
                                                    </div>
                                                }
                                                @if (Model.Offer.EntsorgungCostHighSecurity)
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-5"><b>Cost_ceiling:</b></div>
                                                        <div class="col-xs-7"><b class="font-maincolor">@string.Format("CHF {0}.-", Model.Offer.EntsorgungCostHighSecurityPrice)</b></div>
                                                    </div>
                                                }
                                                @if (Model.Offer.EntsorgungCostFix)
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-5"><b>Flat_rate:</b></div>
                                                        <div class="col-xs-7"><b class="font-maincolor">@string.Format("CHF {0}.-", Model.Offer.EntsorgungCostFixPrice)</b></div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }


        @*cleaning*@
        @if (Model.Offer.ReinigungActive)
        {
            <div class="section">
                <div class="table-box">
                    <div class="table-head">
                        <div class="row">
                            <div class="col-xs-12" style="color: #fff !important;">cleaning with acceptance guarantee</div>
                        </div>
                    </div>
                    <div class="table-content">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row" style="margin-bottom: 10px;">
                                    <div class="col-xs-3"><b>Tariff:</b></div>
                                    <div class="col-xs-9">@Model.Offer.ReinigungPriceRateDescr</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="row">
                                                    <div class="col-xs-6">cleaning Date:</div>
                                                    <div class="col-xs-6">@string.Format("{0}", !string.IsNullOrEmpty(Model.Offer.ReinigungDate) ? Model.Offer.ReinigungDate : "offen")</div>
                                                </div>
                                                @if (!string.IsNullOrEmpty(Model.Offer.ReinigungTime))
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-6">Starting Work:</div>
                                                        <div class="col-xs-6">@string.Format("{0} O'clock", Model.Offer.ReinigungTime)</div>
                                                    </div>
                                                }
                                                @if (!string.IsNullOrEmpty(Model.Offer.ReinigungDateCommit))
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-6">Deadline:</div>
                                                        <div class="col-xs-6">@Model.Offer.ReinigungDateCommit</div>
                                                    </div>
                                                    if (!string.IsNullOrEmpty(Model.Offer.ReinigungTimeCommit))
                                                    {
                                                        <div class="row">
                                                            <div class="col-xs-6">Delivery Time:</div>
                                                            <div class="col-xs-6">@string.Format("{0} O'clock", Model.Offer.ReinigungTimeCommit)</div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                            <div class="col-xs-6">
                                                @if (Model.Offer.ReinigungCostAddit)
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-5">Extra_cost:</div>
                                                        <div class="col-xs-7">
                                                            <div class="row">
                                                                @for (int i = 0; i < Model.ReinigungAdditCost.Count; i++)
                                                                {
                                                                    <div class="col-xs-12">
                                                                        @string.Format("{0} CHF {1}.-", Model.ReinigungAdditCost[i].Descr, Model.ReinigungAdditCost[i].OverwrittenPrice)
                                                                    </div>
                                                                }
                                                                @if (!string.IsNullOrEmpty(Model.Offer.ReinigungCostAdditFreeTextPlus1))
                                                                {
                                                                    <div class="col-xs-12">@string.Format("{0} CHF {1}.-", Model.Offer.ReinigungCostAdditFreeTextPlus1, Model.Offer.ReinigungCostAdditFreeTextPlus1Price)</div>
                                                                }
                                                                @if (!string.IsNullOrEmpty(Model.Offer.ReinigungCostAdditFreeTextPlus2))
                                                                {
                                                                    <div class="col-xs-12">@string.Format("{0} CHF {1}.-", Model.Offer.ReinigungCostAdditFreeTextPlus2, Model.Offer.ReinigungCostAdditFreeTextPlus2Price)</div>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                @if (!string.IsNullOrEmpty(Model.Offer.ReinigungCostAdditFreeTextMinus1))
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-5">@Model.Offer.ReinigungCostAdditFreeTextMinus1:</div>
                                                        <div class="col-xs-7">@string.Format("CHF -{0}.-", Model.Offer.ReinigungCostAdditFreeTextMinus1Price)</div>
                                                    </div>
                                                }
                                                <div class="row" style="margin-top: 3px;">
                                                    <div class="col-xs-5"><b>Flat_rate:</b></div>
                                                    <div class="col-xs-7"><b class="font-maincolor">@string.Format("CHF {0}.-", (Model.Offer.ReinigungCostSum.Contains('-') ? string.Format("{0}.- to CHF {1}", Model.Offer.ReinigungCostSum.Split('-')[0], Model.Offer.ReinigungCostSum.Split('-')[1]) : Model.Offer.ReinigungCostSum))</b></div>
                                                </div>
                                                @*<div class="row" style="margin-top: 3px;">
                                                        <div class="col-xs-5"><b>Estimated_Costs:</b></div>
                                                        <div class="col-xs-7"><b class="font-maincolor">@string.Format("CHF {0}.-", (Model.Offer.ReinigungCostSum.Contains('-') ? string.Format("{0}.- to CHF {1}", Model.Offer.ReinigungCostSum.Split('-')[0], Model.Offer.ReinigungCostSum.Split('-')[1]) : Model.Offer.ReinigungCostSum))</b></div>
                                                    </div>*@
                                                @*@if (Model.Offer.ReinigungCostFix)
                                                    {
                                                        <div class="row">
                                                            <div class="col-xs-5"><b>Flat_rate:</b></div>
                                                            <div class="col-xs-7"><b class="font-maincolor">@string.Format("CHF {0}.-", Model.Offer.ReinigungCostFixPrice)</b></div>
                                                        </div>
                                                    }*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }


        @*Storage*@
        @if (Model.Offer.LagerungActive)
        {
            <div class="section">
                <div class="table-box">
                    <div class="table-head">
                        <div class="row">
                            <div class="col-xs-12" style="color: #fff !important;">Storage</div>
                        </div>
                    </div>
                    <div class="table-content">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row" style="margin-bottom: 10px;">
                                    <div class="col-xs-3"><b>Tariff:</b></div>
                                    <div class="col-xs-9">@Model.Offer.LagerungPriceRateDescr</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                @if (!string.IsNullOrEmpty(Model.Offer.LagerungVolume))
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-6">Volume:</div>
                                                        <div class="col-xs-6">@Model.Offer.LagerungVolume m<sup>3</sup></div>
                                                    </div>
                                                }
                                            </div>
                                            <div class="col-xs-6">
                                                @if (!string.IsNullOrEmpty(Model.Offer.LagerungCostAdditFreeTextPlus1) || !string.IsNullOrEmpty(Model.Offer.LagerungCostAdditFreeTextPlus2))
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-5">Extra_cost:</div>
                                                        <div class="col-xs-7">
                                                            <div class="row">
                                                                @if (!string.IsNullOrEmpty(Model.Offer.LagerungCostAdditFreeTextPlus1))
                                                                {
                                                                    <div class="col-xs-12">@string.Format("{0} CHF {1}.-", Model.Offer.LagerungCostAdditFreeTextPlus1, Model.Offer.LagerungCostAdditFreeTextPlus1Price)</div>
                                                                }
                                                                @if (!string.IsNullOrEmpty(Model.Offer.LagerungCostAdditFreeTextPlus2))
                                                                {
                                                                    <div class="col-xs-12">@string.Format("{0} CHF {1}.-", Model.Offer.LagerungCostAdditFreeTextPlus2, Model.Offer.LagerungCostAdditFreeTextPlus2Price)</div>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                @if (!string.IsNullOrEmpty(Model.Offer.LagerungCostAdditFreeTextMinus1))
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-5">@Model.Offer.LagerungCostAdditFreeTextMinus1:</div>
                                                        <div class="col-xs-7">@string.Format("CHF -{0}.-", Model.Offer.LagerungCostAdditFreeTextMinus1Price)</div>
                                                    </div>
                                                }
                                                @if (!string.IsNullOrEmpty(Model.Offer.LagerungCostEstimated))
                                                {
                                                    <div class="row" style="margin-top: 3px;">
                                                        <div class="col-xs-5"><b>Costs:</b></div>
                                                        <div class="col-xs-7"><b class="font-maincolor">@string.Format("CHF {0}.-", (Model.Offer.LagerungCostEstimated.Contains('-') ? string.Format("{0}.- to CHF {1}", Model.Offer.LagerungCostEstimated.Split('-')[0], Model.Offer.LagerungCostEstimated.Split('-')[1]) : Model.Offer.LagerungCostEstimated))</b></div>
                                                    </div>
                                                }
                                                @if (Model.Offer.LagerungCostFix)
                                                {
                                                    <div class="row">
                                                        <div class="col-xs-5"><b>Flat_rate:</b></div>
                                                        <div class="col-xs-7"><b class="font-maincolor">@string.Format("CHF {0}.-", Model.Offer.LagerungCostFixPrice)</b></div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }


        @*Packing_Material*@
        @if (Model.Offer.PackMaterialActive)
        {
            <div class="section">
                <div class="table-box">
                    <div class="table-head">
                        <div class="row">
                            <div class="col-xs-12" style="color: #fff !important;">Packing_Material</div>
                        </div>
                    </div>
                    <div class="table-content">
                        <div class="row">
                            <div class="col-xs-12">
                                <div style="margin-bottom: 10px;">
                                    <div class="row">
                                        <div class="col-xs-3"><b>Type</b></div>
                                        <div class="col-xs-2"><b>for Rent/Purchase</b></div>
                                        <div class="col-xs-2"><b>Price per Piece</b></div>
                                        <div class="col-xs-2"><b>Number</b></div>
                                        <div class="col-xs-2"><b>Total</b></div>
                                    </div>
                                    @for (int i = 0; i < Model.PackMaterials.Count; i++)
                                    {
                                        <div class="row">
                                            <div class="col-xs-3">@Model.PackMaterials[i].Text</div>
                                            <div class="col-xs-2">@Model.PackMaterials[i].MieteKauf</div>
                                            <div class="col-xs-2">@string.Format("CHF {0}{1}", Model.PackMaterials[i].PricePerPiece, Model.PackMaterials[i].PricePerPiece.Contains('.') ? string.Empty : ".-")</div>
                                            <div class="col-xs-2">@Model.PackMaterials[i].CountNumber</div>
                                            <div class="col-xs-2">@string.Format("CHF {0}{1}", Model.PackMaterials[i].EndPrice, Model.PackMaterials[i].EndPrice.Contains('.') ? string.Empty : ".-")</div>
                                        </div>
                                    }
                                </div>
                                @if (Model.Offer.PackMaterialCostDiscount > 0)
                                {
                                    <div class="row">
                                        <div class="col-xs-3">Reduction:</div>
                                        <div class="col-xs-9">@Model.Offer.PackMaterialCostDiscount</div>
                                    </div>
                                }
                                @if (Model.Offer.PackMaterialDeliver)
                                {
                                    <div class="row">
                                        <div class="col-xs-3">Delivery:</div>
                                        <div class="col-xs-9">@string.Format("CHF {0}.-", Model.Offer.PackMaterialDeliverPrice)</div>
                                    </div>
                                }
                                @if (Model.Offer.PackMaterialPickup)
                                {
                                    <div class="row">
                                        <div class="col-xs-3">Pickup:</div>
                                        <div class="col-xs-9">@string.Format("CHF {0}.-", Model.Offer.PackMaterialPickupPrice)</div>
                                    </div>
                                }
                                <div class="row">
                                    <div class="col-xs-3"><b>Total:</b></div>
                                    <div class="col-xs-9"><b class="font-maincolor">@string.Format("CHF {0}{1}", Model.Offer.PackMaterialCostSum, Model.Offer.PackMaterialCostSum.Contains('.') ? string.Empty : ".-")</b></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }


        @*Comment*@
        @if (!string.IsNullOrEmpty(Model.Offer.Comment))
        {
            <div class="section">
                <div class="table-box">
                    <div class="table-head">
                        <div class="row">
                            <div class="col-xs-12" style="color: #fff !important;">Comment</div>
                        </div>
                    </div>
                    <div class="table-content">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.Raw(Html.Encode(Model.Offer.Comment).Replace("\r\n", "<br />"))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        @*Texte Bestimmungen*@
        <div class="row section" style="margin-top: 60px;">
            @if (Model.Offer.ReinigungActive && !Model.Offer.UmzugActive && !Model.Offer.PackActive && !Model.Offer.EntsorgungActive && !Model.Offer.LagerungActive)
            {
                //Just bei cleaning
                <div class="col-xs-12">
                    <div class="row section">
                        <div class="col-xs-3">
                            <b>Liability Insurance:</b><br />
                            (included in the price)
                        </div>
                        <div class="col-xs-9">The liability insurance amounts <b>CHF 10'000'000.–</b>.</div>
                    </div>
                    @*<div class="row section">
                        <div class="col-xs-3"><b>Terms of payment:</b></div>
                        <div class="col-xs-9">
                            @if (Model.Offer.PaymentId == CRM_Umzugsfirma.Areas.Intranet.Models.Offer.PaymentType.Bar)
                            {
                                @Html.Raw("Move: After completing the work, pay the team leader in cash.")<br />
                                @Html.Raw("cleaning: Cash after the apartment has been handed over.")<br />
                            }
                            else
                            {
                                @Html.Raw("Invoice: The payment must be made within 7 days.")<br />
                            }
                            @Html.Raw("All prices of our offers include 8% VAT.")
                        </div>
                    </div>*@
                    <div class="row">
                        <div class="col-xs-3"><b>Service overview for cleaning:</b></div>
                        <div class="col-xs-9">
                            <ul style="padding-left: 15px;">
                                <li>Complete kitchen cleaning incl. refrigerator, freezer trays, oven, extractor fan, drawers, sink, flooring</li>
                                <li>Bathroom/WC cleaning and descaling cistern, basin bath and shower tray, taps, mirrors, tiled walls, floor covering</li>
                                <li>Wet cleaning and drying of blinds/shutters</li>
                                <li>cleaning of window interior and exterior, incl. frame and window-sills</li>
                                <li>cleaning of doors, incl. frame</li>
                                <li>Wet cleaning and drying of radiators</li>
                                <li>Vacuuming and moisture absorption of flooring</li>
                                <li>Wet cleaning and drying of built-in cupboards</li>
                                <li>cleaning of any cobwebs from walls/ceilings/beams</li>
                                <li>Sweeping of terrace/patio/balcony</li>
                                <li>Basement/attic/garage by arrangement</li>
                                <li>Dowel service (without guarantee)</li>
                            </ul>
                            <div class="section">
                                Special attachments (e.g. conservatories) as well as additional services that require the use of machines (e.g. shampooing of carpets, polishing of stone and parquet floors, high-pressure cleaning) are billed separately.
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-xs-12">
                    <div class="row section">
                        <div class="col-xs-3"><b>Specific agreement:</b></div>
                        <div class="col-xs-9">Costs for protective material for pictures, electronic devices and mattress covers are included in the hourly rate. Of course we carry carrying straps, tools and enough rugs.</div>
                    </div>
                    <div class="row section">
                        <div class="col-xs-3"><b>Time Calculation:</b></div>
                        <div class="col-xs-9">Time Calculation.</div>
                    </div>
                    <div class="row section">
                        <div class="col-xs-3">
                            <b>Transport Insurance:</b><br />
                            (included in the price)
                        </div>
                        <div class="col-xs-9">The Transport Insurance is <b>CHF 100'000.–</b> per delivery van.</div>
                    </div>
                    <div class="row section">
                        <div class="col-xs-3">
                            <b>Liability Insurance:</b><br />
                            (included in the price)
                        </div>
                        <div class="col-xs-9">The Liability Insurance is <b>CHF 10'000'000.–</b>.</div>
                    </div>
                    <div class="row section">
                        <div class="col-xs-3"><b>Weight Supplements:</b></div>
                        <div class="col-xs-9">Heavy load surcharge of CHF 150.- for items with a dead weight of over 100kg. Piano supplement flat rate CHF 250.-</div>
                    </div>
                    <div class="row section">
                        <div class="col-xs-3"><b>Pause:</b></div>
                        <div class="col-xs-9">Break for employees is 15 minutes per day and afternoon. The lunch break is one hour and is considered as working time.</div>
                    </div>
                    <div class="row section">
                        <div class="col-xs-3"><b>Packing Material:</b></div>
                        <div class="col-xs-9">If necessary, you can visit our website at: <span class="font-linkcolor">@Model.Account.WebPage</span> to order.</div>
                    </div>
                    @*<div class="row section">
                        <div class="col-xs-3"><b>Terms of payment:</b></div>
                        <div class="col-xs-9">
                            @if (Model.Offer.PaymentId == CRM_Umzugsfirma.Areas.Intranet.Models.Offer.PaymentType.Bar)
                            {
                                @Html.Raw("Move: After completing the work, pay the team leader in cash.")<br />
                                if (Model.Offer.ReinigungActive)
                                {
                                    @Html.Raw("cleaning: Cash after the apartment has been handed over.")<br />
                                }
                            }
                            else
                            {
                                @Html.Raw("Invoice: The payment must be made within 7 days.")<br />
                            }
                            @Html.Raw("All prices of our offers include 8% VAT.")
                        </div>
                    </div>*@
                </div>
            }
            <div class="col-xs-12" style="margin-top: 20px;">
                <div class="row">
                    <div class="col-xs-12">
                        If you like our offer, we ask you to confirm the offer by email or fax or to send it back to us by post.
                    </div>
                    <div class="col-xs-12">
                        &nbsp;
                    </div>
                    <div class="col-xs-12">
                        <b>I hereby give the company @Model.Account.AccountName the above order and confirm the terms and conditions of @Model.Account.AccountName to have read and to accept.</b>
                    </div>
                </div>
                <div class="row" style="margin-top: 50px;">
                    <div class="col-xs-2">Place, Date:</div>
                    <div class="col-xs-5" style="border-bottom: 1px solid #000;">&nbsp;</div>
                </div>
                <div class="row" style="margin-top: 50px;">
                    <div class="col-xs-2">Signature:</div>
                    <div class="col-xs-5" style="border-bottom: 1px solid #000;">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>