﻿@model CRM_Umzugsfirma.Areas.Intranet.Models.Offer

<div>
    <h4>Appointment-Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OfferInnerId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OfferInnerId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OfferId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OfferId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfferStateId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OfferStateId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ViewAppointmentStateId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ViewAppointmentStateId)
        </dd>

        <dt><br /></dt>
        <dd><br /></dd>

        <dt>
            Services
        </dt>
        <dd>
            @ViewBag.BookedServices
        </dd>
        <dt><br /></dt>
        <dd><br /></dd>

        @if (Model.UmzugActive)
        {
            <dt>
                Moving Date
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UmzugDate), @Html.DisplayFor(model => model.UmzugTime) (Dauer: @Html.DisplayFor(model => model.UmzugDuration))
            </dd>
            <dt>
                Cost
            </dt>
            <dd>
                @string.Format("Geschätzt: {0}, Cost Ceiling: {1}, Flat rate: {2}", Model.UmzugCostEstimated, Model.UmzugCostHighSecurity ? string.Format("Ja. {0}", Model.UmzugCostHighSecurityPrice) : "Nein", Model.UmzugCostFix ? string.Format("Ja. {0}", Model.UmzugCostFixPrice) : "Nein")
            </dd>
        }
        @if (Model.PackActive)
        {
            <dt>
                Einpacktermin
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PackDate), @Html.DisplayFor(model => model.PackTime) (Dauer: @Html.DisplayFor(model => model.PackDuration))
            </dd>
            <dt>
                Cost
            </dt>
            <dd>
                @string.Format("Geschätzt: {0}, Cost Ceiling: {1}, Flat rate: {2}", Model.PackCostEstimated, Model.PackCostHighSecurity ? string.Format("Ja. {0}", Model.PackCostHighSecurityPrice) : "Nein", Model.PackCostFix ? string.Format("Ja. {0}", Model.PackCostFixPrice) : "Nein")
            </dd>
        }
        @if (Model.PackOutActive)
        {
            <dt>
                Auspacktermin
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PackOutDate), @Html.DisplayFor(model => model.PackOutTime) (Dauer: @Html.DisplayFor(model => model.PackOutDuration))
            </dd>
            <dt>
                Cost
            </dt>
            <dd>
                @string.Format("Geschätzt: {0}, Cost Ceiling: {1}, Flat rate: {2}", Model.PackOutCostEstimated, Model.PackOutCostHighSecurity ? string.Format("Ja. {0}", Model.PackOutCostHighSecurityPrice) : "Nein", Model.PackOutCostFix ? string.Format("Ja. {0}", Model.PackOutCostFixPrice) : "Nein")
            </dd>
        }
        @if (Model.EntsorgungActive)
        {
            <dt>
                Disposal-Cost
            </dt>
            <dd>
                @string.Format("Geschätzt: {0}, Flat rate: {1}", Model.EntsorgungCostEstimated, Model.EntsorgungCostFix ? string.Format("Ja. {0}", Model.EntsorgungCostFixPrice) : "Nein")
            </dd>
        }
        @if (Model.ReinigungActive)
        {
            <dt>
                cleaning Date
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OfferCleaning.ReinigungDate), @Html.DisplayFor(model => model.OfferCleaning.ReinigungTime)
            </dd>
            <dt>
                Deadline
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OfferCleaning.ReinigungDateCommit), @Html.DisplayFor(model => model.OfferCleaning.ReinigungTimeCommit)
            </dd>
            <dt>
                Cost
            </dt>
            <dd>
                @string.Format("Geschätzt: {0}, Flat rate: {1}", Model.OfferCleaning.ReinigungCostSum, Model.OfferCleaning.ReinigungCostFix ? string.Format("Ja. {0}", Model.OfferCleaning.ReinigungCostFixPrice) : "Nein")
            </dd>
        }
        @if (Model.Reinigung2Active)
        {
            <dt>
                cleaning Date 2
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OfferCleaning2.ReinigungDate), @Html.DisplayFor(model => model.OfferCleaning2.ReinigungTime)
            </dd>
            <dt>
                Deadline
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OfferCleaning2.ReinigungDateCommit), @Html.DisplayFor(model => model.OfferCleaning2.ReinigungTimeCommit)
            </dd>
            <dt>
                Cost
            </dt>
            <dd>
                @string.Format("Geschätzt: {0}, Flat rate: {1}", Model.OfferCleaning2.ReinigungCostSum, Model.OfferCleaning2.ReinigungCostFix ? string.Format("Ja. {0}", Model.OfferCleaning2.ReinigungCostFixPrice) : "Nein")
            </dd>
        }
        @if (Model.TransportActive)
        {
            <dt>
                Transport Date
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OfferTransport.TransportDate), @Html.DisplayFor(model => model.OfferTransport.TransportTime) (Dauer: @Html.DisplayFor(model => model.OfferTransport.TransportDuration))
            </dd>
            <dt>
                Route
            </dt>
            <dd>
                @Html.LocationDescription(Model.AdrOutZip, Model.AdrOutCity, Model.AdrOutCountryCode) - @Html.LocationDescription(Model.AdrInZip, Model.AdrInCity, Model.AdrInCountryCode)
            </dd>
            <dt>
                Cost
            </dt>
            <dd>
                @string.Format("{0}: {1}, Cost Ceiling: {2}, Flat rate: {3}", (Model.OfferTransport.TransportCostFixRatePrice > 0 ? "Package Price" : "Geschätzt"), Model.OfferTransport.TransportCostEstimated, Model.OfferTransport.TransportCostHighSecurity ? string.Format("Ja. {0}", Model.OfferTransport.TransportCostHighSecurityPrice) : "Nein", Model.OfferTransport.TransportCostFix ? string.Format("Ja. {0}", Model.OfferTransport.TransportCostFixPrice) : "Nein")
            </dd>
        }
        @if (Model.LagerungActive)
        {
            <dt>
                Storage-Cost
            </dt>
            <dd>
                @string.Format("Geschätzt: {0}, Flat rate: {1}", Model.LagerungCostEstimated, Model.LagerungCostFix ? string.Format("Ja. {0}", Model.LagerungCostFixPrice) : "Nein")
            </dd>
        }

        <dt><br /></dt>
        <dd><br /></dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdrOutCity)
        </dt>

        <dd>
            @string.Format("{0}, {1}", Model.AdrOutStreet, Html.LocationDescription(Model.AdrOutZip, Model.AdrOutCity, Model.AdrOutCountryCode))
        </dd>

        <dt><br /></dt>
        <dd><br /></dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateUserId)
        </dd>

        <dt><br /></dt>
        <dd><br /></dd>

        <dt>&nbsp;</dt>
        <dd>@Html.ActionLink("Back to View", "Index") &nbsp;&nbsp;|&nbsp;&nbsp; <a href="@Url.RouteUrl("Intranet_CustomerOffer", new { action = "Index", customerid = Model.CustomerId })">To the customer</a></dd>
    </dl>
</div>