﻿@model CRM_Umzugsfirma.Areas.Intranet.ViewModels.Offers.OfferViewModel

@{
    IFormatProvider formatProvider = new System.Globalization.CultureInfo("de-CH");
}
@if (Model.PrintVersion)
{
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/print")
}

<table class="table table-linked @(Model.PrintVersion ? "admin-resultlist" : string.Empty)">
    <thead>
        <tr>
            <th>
                <a href="@Url.Action("Index", new { sortOrder = ViewBag.SortIdParam })">
                    @Html.DisplayNameFor(model => model.ResultListHeader.OfferInnerId)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResultListHeader.BookedServices)
            </th>
            <th>
                Customer
            </th>
            <th>
                Appointment at
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResultListHeader.Where)
            </th>
            <th>
                <a href="@Url.Action("Index", new { sortOrder = ViewBag.SortStateIdParam })">
                    @Html.DisplayNameFor(model => model.ResultListHeader.OfferStateId)
                </a>
            </th>
            <th>Created on</th>
            @if (!Model.PrintVersion)
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ResultList)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Details", new { id = item.OfferId })">
                        @Html.DisplayFor(modelItem => item.OfferInnerId)
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", new { id = item.OfferId })">
                        @Html.DisplayFor(modelItem => item.BookedServices)
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", new { id = item.OfferId })">
                        @if (item.CustomerMarketId == MarketType.Private_person)
                        {
                            @(HttpUtility.HtmlDecode(string.Format(formatProvider, "{0} {1}", Html.DisplayFor(modelItem => item.LastName), Html.DisplayFor(modelItem => item.FirstName))))
                        }
                        else
                        {
                            <i>@Html.DisplayFor(modelItem => item.CompanyName)</i>
                        }
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", new { id = item.OfferId })">
                        @if (!string.IsNullOrEmpty(item.DateUmzugFromString))
                        {
                            @Html.Raw(string.Format("{0}, {1}", item.DateUmzugFromString, item.TimeUmzugFrom))
                        }
                        else if (!string.IsNullOrEmpty(item.DatePackFromString))
                        {
                            @Html.Raw(string.Format("{0}, {1}", item.DatePackFromString, item.TimePackFrom))
                        }
                        else if (!string.IsNullOrEmpty(item.DatePackOutFromString))
                        {
                            @Html.Raw(string.Format("{0}, {1}", item.DatePackOutFromString, item.TimePackOutFrom))
                        }
                        else if (!string.IsNullOrEmpty(item.DateReinigungFromString))
                        {
                            @Html.Raw(string.Format("{0}, {1}", item.DateReinigungFromString, item.TimeReinigungFrom))
                        }
                        else if (!string.IsNullOrEmpty(item.DateReinigung2FromString))
                        {
                            @Html.Raw(string.Format("{0}, {1}", item.DateReinigung2FromString, item.TimeReinigung2From))
                        }
                        else if (!string.IsNullOrEmpty(item.DateTransportFromString))
                        {
                            @Html.Raw(string.Format("{0}, {1}", item.DateTransportFromString, item.TimeTransportFrom))
                        }
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", new { id = item.OfferId })">
                        @Html.DisplayFor(modelItem => item.Where)
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", new { id = item.OfferId })">
                        @Html.DisplayFor(modelItem => item.OfferStateId)
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", new { id = item.OfferId })">
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </a>
                </td>
                @if (!Model.PrintVersion)
                {
                    <td>
                        <a class="real-link" href="@Url.RouteUrl("Intranet_CustomerOffer", new { action = "Index", customerid = item.CustomerId })">To the customer</a>
                    </td>
                }
            </tr>
        }
    </tbody>

</table>

@if (Model.PrintVersion)
{
    <script>
        window.print();
    </script>
}