﻿@model ConfigurationViewModel
@{
    ViewBag.Title = "Administrator";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Configuration", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.What, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.What, new { @class = "form-control" })
        </div>
        @ViewBag.ResultText
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Say" />
        </div>
    </div>
}

