﻿@{
    ViewBag.Title = "Administrator";
}


<div class="row">
    <div class="col-xs-12">
        <h2>Hi Administrator</h2>
        <p>
            You are in the admin context currently.
            What's up?
        </p>
    </div>
</div>