﻿@using CRM_Umzugsfirma.Areas.Intranet.Models.Enums
@model CustomerBillViewModel

@Html.HiddenFor(model => model.Bill.BillCleaning.BillCleaningId)
@Html.HiddenFor(model => model.Bill.BillCleaning.BillId)
@Html.HiddenFor(model => model.Bill.BillCleaning.SectorId)

<div class="form-group">
    <div class="col-xs-12">
        @Html.CheckBoxFor(model => model.Bill.ReinigungActive, new
                       {
                           @class = "control-checkbox",
                           aria_expanded = Model.Bill.ReinigungActive ? "true" : "false",
                           aria_controls = "reinigungcontainer",
                           data_toggle = "collapse",
                           data_target = "#reinigungcontainer"
                       })
        @Html.LabelFor(model => model.Bill.ReinigungActive, htmlAttributes: new { @class = "label-bold bigger-font" })
    </div>
</div>
<div id="reinigungcontainer" class="form-group collapse@(Model.Bill.ReinigungActive ? " in" : string.Empty)">
    <div class="inner-space-col group-color clearfix">
        <div class="col-xs-12 col-md-6 col-xl-5">
            <div class="row">
                @Html.LabelFor(model => model.Bill.BillCleaning.ReinigungDate, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                <div class="col-xs-12">
                    @Html.MyDatepickerFor(model => model.Bill.BillCleaning.ReinigungDate, true, true, "req-field")
                    @Html.ValidationMessageFor(model => model.Bill.BillCleaning.ReinigungDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        @Html.LabelFor(model => model.Bill.BillCleaning.ReinigungType, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                        <div class="col-xs-12">
                            @Html.MyDropdownListFor(model => model.Bill.BillCleaning.ReinigungType, (List<SelectListItem>)ViewBag.ReinigungTypeList, new { @class = "form-control", data_onchange = "#reinigungtypchangecont" })
                        </div>
                    </div>
                    <div id="reinigungtypchangecont" class="form-group top-sm" style="@((Model.Bill.BillCleaning.ReinigungType == CleaningType.Please_choose) ? "display: block;" : "display: none;")">
                        @Html.LabelFor(model => model.Bill.BillCleaning.ReinigungTypeFreeText, htmlAttributes: new { @class = "col-xs-12" })
                        <div class="col-xs-12">
                            @Html.EditorFor(model => model.Bill.BillCleaning.ReinigungTypeFreeText, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                            @Html.ValidationMessageFor(model => model.Bill.BillCleaning.ReinigungTypeFreeText, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group top-sm">
                @Html.LabelFor(model => model.Bill.BillCleaning.ReinigungWishedServiceFreeText, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                <div class="col-xs-12">
                    @Html.EditorFor(model => model.Bill.BillCleaning.ReinigungWishedServiceFreeText, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "[Partial services: Ex. Just window, bathroom, ..] / [Construction cleaning: stone floors, wet, ..]" } })
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-xs-12" style="background-color: #bbb; padding-bottom: 20px;">
                    <div class="form-group top-sm">
                        @Html.LabelFor(model => model.Bill.BillCleaning.ReinigungRoom, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                        <div class="col-xs-12">
                            @Html.EditorFor(model => model.Bill.BillCleaning.ReinigungRoom, new { htmlAttributes = new { @class = "form-control req-semi-field", type = "text", placeholder = "[3-3.5 Room]" } })
                            @Html.ValidationMessageFor(model => model.Bill.BillCleaning.ReinigungRoom, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Bill.BillCleaning.ReinigungPerPrice, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                        <div class="col-xs-12">
                            @Html.EditorFor(model => model.Bill.BillCleaning.ReinigungPerPrice, new { htmlAttributes = new { @class = "form-control req-semi-field", type = "text" } })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <i>Either fill in "Tariff Price (Flat_rate)" or "No. of hours / CHF Approach Tariff". If Tariff Price is filled, it will be taken.</i>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" style="background-color: #bbb; padding-bottom: 20px;">
                    <div class="form-group top-sm">
                        <div class="col-xs-4">
                            <div class="row">
                                @Html.LabelFor(model => model.Bill.BillCleaning.ReinigungHourlyDuration, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                                <div class="col-xs-12">
                                    @Html.EditorFor(model => model.Bill.BillCleaning.ReinigungHourlyDuration, new { htmlAttributes = new { @class = "form-control req-semi-field", type = "text" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <div class="row">
                                @Html.LabelFor(model => model.Bill.BillCleaning.ReinigungHourlyPerPrice, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                                <div class="col-xs-12">
                                    @Html.EditorFor(model => model.Bill.BillCleaning.ReinigungHourlyPerPrice, new { htmlAttributes = new { @class = "form-control req-semi-field", type = "text" } })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    @Html.CheckBoxFor(model => model.Bill.BillCleaning.ReinigungCostAddit, new
                                   {
                                       @class = "control-checkbox",
                                       aria_expanded = Model.Bill.BillCleaning.ReinigungCostAddit ? "true" : "false",
                                       aria_controls = "reinigungadditcontainer",
                                       data_toggle = "collapse",
                                       data_target = "#reinigungadditcontainer"
                                   })
                    @Html.LabelFor(model => model.Bill.BillCleaning.ReinigungCostAddit, htmlAttributes: new { @class = "label-bold" })
                </div>
                <div id="reinigungadditcontainer" class="col-xs-12 collapse@(Model.Bill.BillCleaning.ReinigungCostAddit ? " in" : string.Empty)">
                    @for (int i = 0; i < Model.ReinigungPriceAdditCosts.Count; i++)
                    {
                        <div class="form-group top-sm">
                            @Html.HiddenFor(m => m.ReinigungPriceAdditCosts[i].Id)
                            @Html.HiddenFor(m => m.ReinigungPriceAdditCosts[i].Descr)
                            @Html.HiddenFor(m => m.ReinigungPriceAdditCosts[i].DescrToShow)
                            <div class="col-xs-8">
                                @Html.CheckBoxFor(m => m.ReinigungPriceAdditCosts[i].Selected, new { @class = "control-checkbox", data_value = Model.ReinigungPriceAdditCosts[i].Descr })
                                @Html.LabelFor(m => m.ReinigungPriceAdditCosts[i].Selected, Model.ReinigungPriceAdditCosts[i].Descr)
                            </div>
                            <div class="col-xs-4">
                                @Html.EditorFor(m => m.ReinigungPriceAdditCosts[i].Price, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                            </div>
                        </div>
                    }
                    <div class="form-group top-sm">
                        <div class="col-xs-8">
                            @Html.EditorFor(m => m.Bill.BillCleaning.ReinigungCostAdditFreeTextPlus1, new { htmlAttributes = new { @class = "form-control", placeholder = "Free Text" } })
                        </div>
                        <div class="col-xs-4">
                            @Html.EditorFor(m => m.Bill.BillCleaning.ReinigungCostAdditFreeTextPlus1Price, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        </div>
                    </div>
                    <div class="form-group top-sm">
                        <div class="col-xs-8">
                            @Html.EditorFor(m => m.Bill.BillCleaning.ReinigungCostAdditFreeTextPlus2, new { htmlAttributes = new { @class = "form-control", placeholder = "Free Text" } })
                        </div>
                        <div class="col-xs-4">
                            @Html.EditorFor(m => m.Bill.BillCleaning.ReinigungCostAdditFreeTextPlus2Price, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-xl-5 right-top-space-sm">
            <div class="row">
                <label class="col-xs-12 label-bold">- @Html.DisplayNameFor(model => model.Bill.BillCleaning.ReinigungCostDiscount)</label>
                <div class="col-xs-12">
                    @Html.EditorFor(model => model.Bill.BillCleaning.ReinigungCostDiscount, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                </div>
            </div>
            <div class="form-group top-sm">
                <label class="col-xs-12 label-bold">- @Html.DisplayNameFor(model => model.Bill.BillCleaning.ReinigungCostDiscount2)</label>
                <div class="col-xs-12">
                    @Html.EditorFor(model => model.Bill.BillCleaning.ReinigungCostDiscount2, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                </div>
            </div>
            <div class="form-group top-sm">
                <label class="col-xs-12 label-bold">- @Html.DisplayNameFor(model => model.Bill.BillCleaning.ReinigungCostAdditFreeTextMinus1)</label>
                <div class="col-xs-12">
                    <div class="form-group top-sm">
                        <div class="col-xs-8">
                            @Html.EditorFor(m => m.Bill.BillCleaning.ReinigungCostAdditFreeTextMinus1, new { htmlAttributes = new { @class = "form-control", placeholder = "Free Text" } })
                        </div>
                        <div class="col-xs-4">
                            @Html.EditorFor(m => m.Bill.BillCleaning.ReinigungCostAdditFreeTextMinus1Price, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        </div>
                    </div>
                    <div class="form-group top-sm">
                        <div class="col-xs-8">
                            @Html.EditorFor(m => m.Bill.BillCleaning.ReinigungCostAdditFreeTextMinus2, new { htmlAttributes = new { @class = "form-control", placeholder = "Free Text" } })
                        </div>
                        <div class="col-xs-4">
                            @Html.EditorFor(m => m.Bill.BillCleaning.ReinigungCostAdditFreeTextMinus2Price, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group top-sm">
                @Html.LabelFor(model => model.Bill.BillCleaning.ReinigungCostSub, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                <div class="col-xs-12">
                    @Html.EditorFor(model => model.Bill.BillCleaning.ReinigungCostSub, new { htmlAttributes = new { @class = "form-control req-field", type = "text" } })
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <hr />
                </div>
            </div>

            <div class="form-group top-sm">
                <label class="col-xs-12 label-bold">- @Html.DisplayNameFor(model => model.Bill.BillCleaning.ReinigungCostDamage)</label>
                <div class="col-xs-12">
                    @Html.EditorFor(model => model.Bill.BillCleaning.ReinigungCostDamage, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                </div>
            </div>
            <div class="form-group top-sm">
                <label class="col-xs-12 label-bold">- @Html.DisplayNameFor(model => model.Bill.BillCleaning.ReinigungCostPartialPayment)</label>
                <div class="col-xs-12">
                    @Html.EditorFor(model => model.Bill.BillCleaning.ReinigungCostPartialPayment, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                </div>
            </div>
            <div class="form-group top-sm">
                <label class="col-xs-12 label-bold">- @Html.DisplayNameFor(model => model.Bill.BillCleaning.ReinigungCostPartialByCash)</label>
                <div class="col-xs-12">
                    @Html.EditorFor(model => model.Bill.BillCleaning.ReinigungCostPartialByCash, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                </div>
            </div>
            <div class="form-group top-sm">
                @Html.LabelFor(model => model.Bill.BillCleaning.ReinigungCost, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                <div class="col-xs-12">
                    @Html.EditorFor(model => model.Bill.BillCleaning.ReinigungCost, new { htmlAttributes = new { @class = "form-control colored", type = "text" } })
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#Bill_BillCleaning_ReinigungCostSub').focus(function () {
            updateReinigung();
        });
        $('#Bill_BillCleaning_ReinigungCost').focus(function () {
            updateReinigung();
        });
        $('#Bill_BillCleaning_ReinigungType').change(function () {
            if (this.value !== "" && this.value !== "0") {
                $(this.dataset.onchange).hide();
                $('#Bill_BillCleaning_ReinigungTypeFreeText').val('');
            }
            else {
                $(this.dataset.onchange).show();
            }
        });
        $('#Bill_BillCleaning_ReinigungPerPrice, #Bill_BillCleaning_ReinigungHourlyDuration, #Bill_BillCleaning_ReinigungHourlyPerPrice').change(function () {
            // remove sum cost, so that user must set it again after change tarif
            $('#Bill_BillCleaning_ReinigungCostSub').val('');
            $('#Bill_BillCleaning_ReinigungCost').val('');
        });
    });
    function updateReinigung() {
        var price = 0;

        var ctrl = $('#Bill_BillCleaning_ReinigungCostSub');
        // precheck val for 0 and remove it
        if ((ctrl.val() == "0.00") || (ctrl.val() == "0,00") || (ctrl.val() == "0.0") || (ctrl.val() == "0,0") || (ctrl.val() == "0")) {
            ctrl.val(ctrl.val().replace("0.00", "").replace("0,00", "").replace("0.0", "").replace("0,0", "").replace("0", ""));
        }

        if (!ctrl.val()) {
            // no price set, so calculate it

            // 2 possibility for calculate. take tarif pauschal if set, else take hourlytarif
            if ($('#Bill_BillCleaning_ReinigungRoom').val() != "") {
                var helpPrice = $('#Bill_BillCleaning_ReinigungPerPrice').val();
                if (helpPrice != "" && isNumeric(helpPrice)) price = parseInt(helpPrice);
                else return;
            } else if ($('#HelperReinigungHourlyPriceRateId').val() != "") {
                var helpPrice = $('#Bill_BillCleaning_ReinigungHourlyPerPrice').val();
                if (helpPrice != "" && isNumeric(helpPrice)) price = parseInt(helpPrice);
                else return;
                var duration = 0;
                var helpDuration = $('#Bill_BillCleaning_ReinigungHourlyDuration').val();
                if (helpDuration != "" && isNumeric(helpDuration)) duration = parseFloat(helpDuration);
                else return;
                price = price * duration;
            }

            if (price == 0) return;

            var additionprice = 0;
            if ($('#Bill_BillCleaning_ReinigungCostAddit').is(':checked')) {
                $('#reinigungadditcontainer').find('input:checked').each(function () {
                    var intprice = $('#' + this.id.replace("_Selected", "_Price")).val();
                    if (intprice != "" && isNumeric(intprice)) {
                        additionprice += parseInt(intprice);
                    }
                });
                var priceplus = $('#Bill_BillCleaning_ReinigungCostAdditFreeTextPlus1Price').val();
                if (priceplus != "") additionprice += parseFloat(priceplus);
                priceplus = $('#Bill_BillCleaning_ReinigungCostAdditFreeTextPlus2Price').val();
                if (priceplus != "") additionprice += parseFloat(priceplus);
            }

            var subprice = 0;
            var priceminus = $('#Bill_BillCleaning_ReinigungCostDiscount').val();
            if (priceminus != "" && isNumeric(priceminus)) subprice += parseFloat(priceminus);
            priceminus = $('#Bill_BillCleaning_ReinigungCostDiscount2').val();
            if (priceminus != "" && isNumeric(priceminus)) subprice += parseFloat(priceminus);
            priceminus = $('#Bill_BillCleaning_ReinigungCostAdditFreeTextMinus1Price').val();
            if (priceminus != "" && isNumeric(priceminus)) subprice += parseFloat(priceminus);
            priceminus = $('#Bill_BillCleaning_ReinigungCostAdditFreeTextMinus2Price').val();
            if (priceminus != "" && isNumeric(priceminus)) subprice += parseFloat(priceminus);

            // set temporary price
            price = (Math.round((price + additionprice - subprice) * 100) / 100);
            if (price % 1 == 0) {
                ctrl[0].value = price;
            }
            else {
                ctrl[0].value = price.toFixed(2);
            }
        }
        else {
            var helpPrice = ctrl.val();
            if (helpPrice != "" && isNumeric(helpPrice)) price = parseFloat(helpPrice);
        }

        subprice = 0;
        priceminus = $('#Bill_BillCleaning_ReinigungCostDamage').val();
        if (priceminus != "" && isNumeric(priceminus)) subprice += parseFloat(priceminus);
        priceminus = $('#Bill_BillCleaning_ReinigungCostPartialPayment').val();
        if (priceminus != "" && isNumeric(priceminus)) subprice += parseFloat(priceminus);
        priceminus = $('#Bill_BillCleaning_ReinigungCostPartialByCash').val();
        if (priceminus != "" && isNumeric(priceminus)) subprice += parseFloat(priceminus);

        price = (Math.round((price - subprice) * 100) / 100);
        if (price % 1 == 0) {
            $('#Bill_BillCleaning_ReinigungCost')[0].value = price;
        }
        else {
            $('#Bill_BillCleaning_ReinigungCost')[0].value = price.toFixed(2);
        }
    }
</script>