﻿@model CustomerBillViewModel

@Html.HiddenFor(model => model.Bill.BillTransport.BillTransportId)
@Html.HiddenFor(model => model.Bill.BillTransport.BillId)
@Html.HiddenFor(model => model.Bill.BillTransport.SectorId)
@Html.HiddenFor(model => model.Bill.BillTransport.TransportCostHighSecurityPrice)

<div class="form-group">
    <div class="col-xs-12">
        @Html.CheckBoxFor(model => model.Bill.TransportActive, new
                       {
                           @class = "control-checkbox",
                           aria_expanded = Model.Bill.TransportActive ? "true" : "false",
                           aria_controls = "transportcontainer",
                           data_toggle = "collapse",
                           data_target = "#transportcontainer"
                       })
        @Html.LabelFor(model => model.Bill.TransportActive, htmlAttributes: new { @class = "label-bold bigger-font" })
    </div>
</div>
<div id="transportcontainer" class="form-group collapse@(Model.Bill.TransportActive ? " in" : string.Empty)">
    <div class="inner-space-col group-color clearfix">
        <div class="col-xs-12 col-md-6 col-xl-5">
            <div class="row">
                @Html.LabelFor(model => model.Bill.BillTransport.TransportTypeFreeText, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                <div class="col-xs-12">
                    @Html.EditorFor(model => model.Bill.BillTransport.TransportTypeFreeText, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(model => model.Bill.BillTransport.TransportDate, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                <div class="col-xs-12">
                    @Html.MyDatepickerFor(model => model.Bill.BillTransport.TransportDate, true, true, "req-field")
                    @Html.ValidationMessageFor(model => model.Bill.BillTransport.TransportDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12" style="background-color: #bbb; padding-bottom: 20px;">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Bill.BillTransport.TransportCostFixRatePrice, htmlAttributes: new { @class = "col-xs-12" })
                        <div class="col-xs-12">
                            @Html.EditorFor(model => model.Bill.BillTransport.TransportCostFixRatePrice, new { htmlAttributes = new { @class = "form-control req-semi-field", type = "text" } })
                            @Html.ValidationMessageFor(model => model.Bill.BillTransport.TransportCostFixRatePrice, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <i>Either fill in "Package Price Tariff" or "Hourly Tariff". If Package Price Tariff is filled, it will be taken.</i>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" style="background-color: #bbb; padding-bottom: 20px;">
                    <div class="form-group top-sm">
                        @Html.LabelFor(model => model.Bill.BillTransport.TransportDuration, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                        <div class="col-xs-12">
                            @Html.EditorFor(model => model.Bill.BillTransport.TransportDuration, new { htmlAttributes = new { @class = "form-control req-semi-field", type = "text" } })
                            @Html.ValidationMessageFor(model => model.Bill.BillTransport.TransportDuration, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group top-sm">
                        <div class="col-xs-12">
                            <div class="row">
                                @Html.LabelFor(model => model.Bill.BillTransport.TransportPerPrice, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                                <div class="col-xs-12">
                                    @Html.EditorFor(model => model.Bill.BillTransport.TransportPerPrice, new { htmlAttributes = new { @class = "form-control req-semi-field", type = "text" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="transportpricesegment2" class="form-group top-sm collapse-transportpricesegment2 collapse@((!string.IsNullOrEmpty(Model.Bill.BillTransport.TransportDuration2) || Model.Bill.BillTransport.TransportPerPrice2 > 0) ? " in" : string.Empty)">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="row">
                                        @Html.LabelFor(model => model.Bill.BillTransport.TransportDuration2, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                                        <div class="col-xs-12">
                                            @Html.EditorFor(model => model.Bill.BillTransport.TransportDuration2, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <div class="row">
                                        @Html.LabelFor(model => model.Bill.BillTransport.TransportPerPrice2, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                                        <div class="col-xs-12">
                                            @Html.EditorFor(model => model.Bill.BillTransport.TransportPerPrice2, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="transportpricesegment2-link" class="form-group top-space-min collapse-transportpricesegment2 collapse@((string.IsNullOrEmpty(Model.Bill.BillTransport.TransportDuration2) && Model.Bill.BillTransport.TransportPerPrice2 <= 0) ? " in" : string.Empty)">
                        <div class="col-xs-12">
                            <a data-toggle="collapse" href=".collapse-transportpricesegment2" aria-expanded="@((!string.IsNullOrEmpty(Model.Bill.BillTransport.TransportDuration2) || Model.Bill.BillTransport.TransportPerPrice2 > 0) ? "true" : "false")" aria-controls="transportpricesegment2 transportpricesegment2-link">+ Futher Time Entry</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group top-sm">
                @Html.LabelFor(model => model.Bill.BillTransport.TransportCostWay, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                <div class="col-xs-12">
                    @Html.EditorFor(model => model.Bill.BillTransport.TransportCostWay, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    @Html.CheckBoxFor(model => model.Bill.BillTransport.TransportCostAddit, new
                                   {
                                       @class = "control-checkbox",
                                       aria_expanded = Model.Bill.BillTransport.TransportCostAddit ? "true" : "false",
                                       aria_controls = "transportadditcontainer",
                                       data_toggle = "collapse",
                                       data_target = "#transportadditcontainer"
                                   })
                    @Html.LabelFor(model => model.Bill.BillTransport.TransportCostAddit, htmlAttributes: new { @class = "label-bold" })
                </div>
                <div id="transportadditcontainer" class="col-xs-12 collapse@(Model.Bill.BillTransport.TransportCostAddit ? " in" : string.Empty)">
                    <div class="form-group top-sm">
                        <div class="col-xs-8">
                            @Html.EditorFor(m => m.Bill.BillTransport.TransportCostAdditFreeTextPlus1, new { htmlAttributes = new { @class = "form-control", placeholder = "Free Text" } })
                        </div>
                        <div class="col-xs-4">
                            @Html.EditorFor(m => m.Bill.BillTransport.TransportCostAdditFreeTextPlus1Price, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        </div>
                    </div>
                    <div class="form-group top-sm">
                        <div class="col-xs-8">
                            @Html.EditorFor(m => m.Bill.BillTransport.TransportCostAdditFreeTextPlus2, new { htmlAttributes = new { @class = "form-control", placeholder = "Free Text" } })
                        </div>
                        <div class="col-xs-4">
                            @Html.EditorFor(m => m.Bill.BillTransport.TransportCostAdditFreeTextPlus2Price, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        </div>
                    </div>
                    <div class="form-group top-sm">
                        <div class="col-xs-8">
                            @Html.EditorFor(m => m.Bill.BillTransport.TransportCostAdditFreeTextPlus3, new { htmlAttributes = new { @class = "form-control", placeholder = "Free Text" } })
                        </div>
                        <div class="col-xs-4">
                            @Html.EditorFor(m => m.Bill.BillTransport.TransportCostAdditFreeTextPlus3Price, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        </div>
                    </div>
                    <div class="form-group top-sm">
                        <div class="col-xs-8">
                            @Html.EditorFor(m => m.Bill.BillTransport.TransportCostAdditFreeTextPlus4, new { htmlAttributes = new { @class = "form-control", placeholder = "Free Text" } })
                        </div>
                        <div class="col-xs-4">
                            @Html.EditorFor(m => m.Bill.BillTransport.TransportCostAdditFreeTextPlus4Price, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        </div>
                    </div>
                    <div class="form-group top-sm">
                        <div class="col-xs-8">
                            @Html.EditorFor(m => m.Bill.BillTransport.TransportCostAdditFreeTextPlus5, new { htmlAttributes = new { @class = "form-control", placeholder = "Free Text" } })
                        </div>
                        <div class="col-xs-4">
                            @Html.EditorFor(m => m.Bill.BillTransport.TransportCostAdditFreeTextPlus5Price, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        </div>
                    </div>
                    <div class="form-group top-sm">
                        <div class="col-xs-8">
                            @Html.EditorFor(m => m.Bill.BillTransport.TransportCostAdditFreeTextPlus6, new { htmlAttributes = new { @class = "form-control", placeholder = "Free Text" } })
                        </div>
                        <div class="col-xs-4">
                            @Html.EditorFor(m => m.Bill.BillTransport.TransportCostAdditFreeTextPlus6Price, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        </div>
                    </div>
                    <div class="form-group top-sm">
                        <div class="col-xs-8">
                            @Html.EditorFor(m => m.Bill.BillTransport.TransportCostAdditFreeTextPlus7, new { htmlAttributes = new { @class = "form-control", placeholder = "Free Text" } })
                        </div>
                        <div class="col-xs-4">
                            @Html.EditorFor(m => m.Bill.BillTransport.TransportCostAdditFreeTextPlus7Price, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-xl-5 right-top-space-sm">
            <div class="row">
                <label class="col-xs-12 label-bold">- @Html.DisplayNameFor(model => model.Bill.BillTransport.TransportCostDiscount)</label>
                <div class="col-xs-12">
                    @Html.EditorFor(model => model.Bill.BillTransport.TransportCostDiscount, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                </div>
            </div>
            <div class="form-group top-sm">
                <label class="col-xs-12 label-bold">- @Html.DisplayNameFor(model => model.Bill.BillTransport.TransportCostDiscount2)</label>
                <div class="col-xs-12">
                    @Html.EditorFor(model => model.Bill.BillTransport.TransportCostDiscount2, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                </div>
            </div>
            <div class="form-group top-sm">
                <label class="col-xs-12 label-bold">- @Html.DisplayNameFor(model => model.Bill.BillTransport.TransportCostAdditFreeTextMinus1)</label>
                <div class="col-xs-12">
                    <div class="form-group top-sm">
                        <div class="col-xs-8">
                            @Html.EditorFor(m => m.Bill.BillTransport.TransportCostAdditFreeTextMinus1, new { htmlAttributes = new { @class = "form-control", placeholder = "Free Text" } })
                        </div>
                        <div class="col-xs-4">
                            @Html.EditorFor(m => m.Bill.BillTransport.TransportCostAdditFreeTextMinus1Price, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        </div>
                    </div>
                    <div class="form-group top-sm">
                        <div class="col-xs-8">
                            @Html.EditorFor(m => m.Bill.BillTransport.TransportCostAdditFreeTextMinus2, new { htmlAttributes = new { @class = "form-control", placeholder = "Free Text" } })
                        </div>
                        <div class="col-xs-4">
                            @Html.EditorFor(m => m.Bill.BillTransport.TransportCostAdditFreeTextMinus2Price, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group top-sm">
                @Html.LabelFor(model => model.Bill.BillTransport.TransportCostSub, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                <div class="col-xs-12">
                    @Html.EditorFor(model => model.Bill.BillTransport.TransportCostSub, new { htmlAttributes = new { @class = "form-control colored", type = "text" } })
                </div>
            </div>
            @if (Model.Bill.BillTransport.TransportCostHighSecurityPrice > 0)
            {
                <div class="form-group top-sm">
                    <div class="col-xs-12">
                        @Html.CheckBoxFor(model => model.Bill.BillTransport.TransportCostHighSecurity, new { @class = "control-checkbox" })
                        <label for="Bill_BillTransport_TransportCostHighSecurity" class="label label-danger">Cost_ceiling: @Model.Bill.BillTransport.TransportCostHighSecurityPrice</label>
                    </div>
                </div>
            }
            <div class="form-group top-sm">
                <div class="col-xs-12">
                    @Html.CheckBoxFor(model => model.Bill.BillTransport.TransportCostFix, new
                                   {
                                       @class = "control-checkbox",
                                       aria_expanded = Model.Bill.BillTransport.TransportCostFix ? "true" : "false",
                                       aria_controls = "transportcostfixcont",
                                       data_toggle = "collapse",
                                       data_target = "#transportcostfixcont"
                                   })
                    @Html.LabelFor(model => model.Bill.BillTransport.TransportCostFix, htmlAttributes: new { @class = "label-bold" })
                </div>
                <div id="transportcostfixcont" class="col-xs-12 collapse@(Model.Bill.BillTransport.TransportCostFix ? " in" : string.Empty)">
                    @Html.EditorFor(model => model.Bill.BillTransport.TransportCostFixPrice, new { htmlAttributes = new { @class = "form-control colored", type = "text" } })
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <hr />
                </div>
            </div>

            <div class="form-group top-sm">
                <label class="col-xs-12 label-bold">- @Html.DisplayNameFor(model => model.Bill.BillTransport.TransportCostDamage)</label>
                <div class="col-xs-12">
                    @Html.EditorFor(model => model.Bill.BillTransport.TransportCostDamage, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                </div>
            </div>
            <div class="form-group top-sm">
                <label class="col-xs-12 label-bold">- @Html.DisplayNameFor(model => model.Bill.BillTransport.TransportCostPartialPayment)</label>
                <div class="col-xs-12">
                    @Html.EditorFor(model => model.Bill.BillTransport.TransportCostPartialPayment, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                </div>
            </div>
            <div class="form-group top-sm">
                <label class="col-xs-12 label-bold">- @Html.DisplayNameFor(model => model.Bill.BillTransport.TransportCostPartialByCash)</label>
                <div class="col-xs-12">
                    @Html.EditorFor(model => model.Bill.BillTransport.TransportCostPartialByCash, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                </div>
            </div>
            <div class="form-group top-sm">
                @Html.LabelFor(model => model.Bill.BillTransport.TransportCost, htmlAttributes: new { @class = "col-xs-12 label-bold" })
                <div class="col-xs-12">
                    @Html.EditorFor(model => model.Bill.BillTransport.TransportCost, new { htmlAttributes = new { @class = "form-control colored", type = "text" } })
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#Bill_BillTransport_TransportCostSub').focus(function () {
            updateTransport();
        });
        $('#Bill_BillTransport_TransportCost').focus(function () {
            updateTransport();
        });
        $('#Bill_BillTransport_TransportCostHighSecurity').focus(function () {
            updateTransport();
        });
        $('#Bill_BillTransport_TransportCostFixRatePrice, #Bill_BillTransport_TransportPerPrice').change(function () {
            // remove sum cost, so that user must set it again after change tarif
            $('#Bill_BillTransport_TransportCostSub').val('');
            $('#Bill_BillTransport_TransportCost').val('');
        });
    });
    function updateTransport() {
        var price = 0;

        // 2 possibility for calculate. take tarif flat-rate if set, else take hourlytarif
        var helpPrice = $('#Bill_BillTransport_TransportCostFixRatePrice').val();
        if (helpPrice != "" && isNumeric(helpPrice) && helpPrice > 0) {
            // Tariff-Flat_rate is taken
            price = parseInt(helpPrice);
        } else {
            // Tariff-Hourly is taken
            helpPrice = $('#Bill_BillTransport_TransportPerPrice').val();
            if (helpPrice != "" && isNumeric(helpPrice) && helpPrice > 0) price = parseInt(helpPrice);
            else return;
            var duration = 0;
            var helpDuration = $('#Bill_BillTransport_TransportDuration').val();
            if (helpDuration != "" && isNumeric(helpDuration) && helpDuration > 0) duration = parseFloat(helpDuration);
            else return;

            price = price * duration;

            // pricesegment2
            duration = 0;
            helpDuration = $('#Bill_BillTransport_TransportDuration2').val();
            if (helpDuration != "" && isNumeric(helpDuration) && helpDuration > 0) duration = parseFloat(helpDuration);
            if (duration != 0) {
                helpPrice = $('#Bill_BillTransport_TransportPerPrice2').val();
                if (helpPrice != "" && isNumeric(helpPrice) && helpPrice > 0) {
                    price = price + (parseInt(helpPrice) * duration);
                }
            }

            // add some inserted additions
            var additionprice = 0;
            var additpr = $('#Bill_BillTransport_TransportCostWay').val();
            if (additpr != "" && isNumeric(additpr)) additionprice += parseInt(additpr);
            if ($('#Bill_BillTransport_TransportCostAddit').is(':checked')) {
                var priceplus = $('#Bill_BillTransport_TransportCostAdditFreeTextPlus1Price').val();
                if (priceplus != "") additionprice += parseFloat(priceplus);
                priceplus = $('#Bill_BillTransport_TransportCostAdditFreeTextPlus2Price').val();
                if (priceplus != "") additionprice += parseFloat(priceplus);
                priceplus = $('#Bill_BillTransport_TransportCostAdditFreeTextPlus3Price').val();
                if (priceplus != "") additionprice += parseFloat(priceplus);
                priceplus = $('#Bill_BillTransport_TransportCostAdditFreeTextPlus4Price').val();
                if (priceplus != "") additionprice += parseFloat(priceplus);
                priceplus = $('#Bill_BillTransport_TransportCostAdditFreeTextPlus5Price').val();
                if (priceplus != "") additionprice += parseFloat(priceplus);
                priceplus = $('#Bill_BillTransport_TransportCostAdditFreeTextPlus6Price').val();
                if (priceplus != "") additionprice += parseFloat(priceplus);
                priceplus = $('#Bill_BillTransport_TransportCostAdditFreeTextPlus7Price').val();
                if (priceplus != "") additionprice += parseFloat(priceplus);
            }

            price = price + additionprice;
        }

        if (price == 0) return;

        // subtract some inserted discounts
        var subprice = 0;
        var priceminus = $('#Bill_BillTransport_TransportCostDiscount').val();
        if (priceminus != "" && isNumeric(priceminus)) subprice += parseFloat(priceminus);
        priceminus = $('#Bill_BillTransport_TransportCostDiscount2').val();
        if (priceminus != "" && isNumeric(priceminus)) subprice += parseFloat(priceminus);
        priceminus = $('#Bill_BillTransport_TransportCostAdditFreeTextMinus1Price').val();
        if (priceminus != "" && isNumeric(priceminus)) subprice += parseFloat(priceminus);
        priceminus = $('#Bill_BillTransport_TransportCostAdditFreeTextMinus2Price').val();
        if (priceminus != "" && isNumeric(priceminus)) subprice += parseFloat(priceminus);

        price = (Math.round((price - subprice) * 100) / 100);

        // set temporary price
        if (price % 1 == 0) {
            $('#Bill_BillTransport_TransportCostSub')[0].value = price;
        }
        else {
            $('#Bill_BillTransport_TransportCostSub')[0].value = price.toFixed(2);
        }

        // has highprice
        if ($('#Bill_BillTransport_TransportCostHighSecurity').is(':checked')) {
            var helpPrice = $('#Bill_BillTransport_TransportCostHighSecurityPrice').val();
            if (helpPrice != "" && isNumeric(helpPrice) && (price > helpPrice)) price = parseFloat(helpPrice);
        }
        // is fix price
        if ($('#Bill_BillTransport_TransportCostFix').is(':checked')) {
            var helpPrice = $('#Bill_BillTransport_TransportCostFixPrice').val();
            if (helpPrice != "" && isNumeric(helpPrice)) price = parseFloat(helpPrice);
        }

        subprice = 0;
        priceminus = $('#Bill_BillTransport_TransportCostDamage').val();
        if (priceminus != "" && isNumeric(priceminus)) subprice += parseFloat(priceminus);
        priceminus = $('#Bill_BillTransport_TransportCostPartialPayment').val();
        if (priceminus != "" && isNumeric(priceminus)) subprice += parseFloat(priceminus);
        priceminus = $('#Bill_BillTransport_TransportCostPartialByCash').val();
        if (priceminus != "" && isNumeric(priceminus)) subprice += parseFloat(priceminus);

        // set end price
        price = (Math.round((price - subprice) * 100) / 100);
        if (price % 1 == 0) {
            $('#Bill_BillTransport_TransportCost')[0].value = price;
        }
        else {
            $('#Bill_BillTransport_TransportCost')[0].value = price.toFixed(2);
        }
    }
</script>