﻿@model IEnumerable<Bill>

@{
    Layout = "~/Areas/Intranet/Views/Shared/_LayoutCustomerView.cshtml";
    ViewBag.ActiveTab = "Bill";
    ViewBag.SubTitle = "Bills";
}

<h2>@ViewBag.SubTitle</h2>

<div class="row">
    <div class="col-xs-12"><a href="@Url.RouteUrl("Intranet_CustomerBill", new { action = "Edit", customerid = ViewBag.CustomerId })" class="real-link">Create a new invoice</a></div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="table table-linked">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.BillInnerId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreateDate)
                    </th>
                    <th>
                        Services
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BillCostString)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ToPayDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BillStateId)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Details", new { customerid = item.CustomerId, id = item.BillId })">
                                @Html.DisplayFor(modelItem => item.BillInnerId)
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("Details", new { customerid = item.CustomerId, id = item.BillId })">
                                @Html.DisplayFor(modelItem => item.CreateDate)
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("Details", new { customerid = item.CustomerId, id = item.BillId })">
                                @{
                                    string s = (item.UmzugActive ? ",Move" : string.Empty);
                                    s += (item.PackActive ? ",Pack" : string.Empty);
                                    s += (item.PackOutActive ? ",Unpack" : string.Empty);
                                    s += (item.EntsorgungActive ? ",disposal" : string.Empty);
                                    s += (item.ReinigungActive || item.Reinigung2Active ? ",cleaning" : string.Empty);
                                    s += (item.TransportActive ? ",transport" : string.Empty);
                                    s += (item.LagerungActive ? ",Storage" : string.Empty);
                                    if (s.Length > 0)
                                    {
                                        s = s.Substring(1);
                                    }
                                    @Html.Raw(s)
                                }
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("Details", new { customerid = item.CustomerId, id = item.BillId })">
                                @Html.DisplayFor(modelItem => item.BillCost)
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("Details", new { customerid = item.CustomerId, id = item.BillId })">
                                @Html.DisplayFor(modelItem => item.ToPayDate)
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("Details", new { customerid = item.CustomerId, id = item.BillId })">
                                @Html.DisplayFor(modelItem => item.BillStateId)
                            </a>
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { customerid = item.CustomerId, id = item.BillId }, new { @class = "real-link" })
                        </td>

                    </tr>
                }

            </table>
        </div>
    </div>
</div>
