﻿@model CRM_Umzugsfirma.Areas.Intranet.Models.Customer

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/customval")
}

<h2>@ViewBag.Title</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-7">

            <div class="form-horizontal">
                <div id="validator-form">

                    <div class="form-group">
                        @Html.HiddenFor(model => model.CustomerId)
                        @Html.HiddenFor(model => model.CustomerInnerId)
                        @Html.HiddenFor(model => model.AccountId)

                        @Html.HiddenFor(model => model.IsActive)
                        @Html.HiddenFor(model => model.IsDeleted)
                        @Html.HiddenFor(model => model.CreateDate)
                        @Html.HiddenFor(model => model.CreateUserId)
                        @Html.HiddenFor(model => model.ContractType)
                        @Html.HiddenFor(model => model.ContractTypeChangeDate)
                        @Html.HiddenFor(model => model.ContactStage)
                        @Html.HiddenFor(model => model.ContactAlreadyHave)
                    </div>

                    @if ((Model != null) && (Model.CustomerId > 0))
                    {
                        <div class="form-group">
                            @Html.LabelFor(model => model.CustomerInnerId, htmlAttributes: new { @class = "control-label col-md-5 col-sm-3" })
                            <div class="col-md-7 col-sm-9">
                                @Html.EditorFor(model => model.CustomerInnerId, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                            </div>
                            <hr />
                        </div>
                    }

                    <div id="container-MarketId" class="collapse-nopanel">

                        <div class="form-group">
                            @Html.LabelFor(model => model.MarketId, htmlAttributes: new { @class = "control-label col-md-5 col-sm-3 req-field" })
                            <div class="col-md-7 col-sm-9">
                                @Html.RadioButtonForEnum(model => model.MarketId, "container-MarketId")
                                @Html.ValidationMessageFor(model => model.MarketId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <hr />

                        <div class="panel">
                            <div id="container-MarketId_Privatperson" class="clearfix collapse@((Model == null || Model.MarketId != MarketType.Company) ? " in" : string.Empty)" aria-expanded="@(Model == null || Model.MarketId != MarketType.Company)">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TitleId, htmlAttributes: new { @class = "control-label col-md-5 col-sm-3 req-field" })
                                    <div class="col-md-7 col-sm-9">
                                        @Html.RadioButtonForEnum(model => model.TitleId)
                                        @Html.ValidationMessageFor(model => model.TitleId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-5 col-sm-3" })
                                    <div class="col-md-7 col-sm-9">
                                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-5 col-sm-3" })
                                    <div class="col-md-7 col-sm-9">
                                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="panel">
                            <div id="container-MarketId_Firma" class="clearfix panel collapse@((Model != null && Model.MarketId == MarketType.Company) ? " in" : string.Empty)" aria-expanded="@(Model != null && Model.MarketId == MarketType.Company)">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label col-md-5 col-sm-3" })
                                    <div class="col-md-7 col-sm-9">
                                        @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.CompanyContactPerson, htmlAttributes: new { @class = "control-label col-md-5 col-sm-3" })
                                    <div class="col-md-7 col-sm-9">
                                        @Html.EditorFor(model => model.CompanyContactPerson, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.CompanyContactPerson, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Street, htmlAttributes: new { @class = "control-label col-md-5 col-sm-3" })
                        <div class="col-md-7 col-sm-9">
                            @Html.EditorFor(model => model.Street, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Street, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Zip, htmlAttributes: new { @class = "control-label col-md-5 col-sm-3" })
                        <div class="col-md-7 col-sm-9">
                            @Html.EditorFor(model => model.Zip, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                            @Html.ValidationMessageFor(model => model.Zip, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-5 col-sm-3" })
                        <div class="col-md-7 col-sm-9">
                            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CountryCode, htmlAttributes: new { @class = "control-label col-md-5 col-sm-3" })
                        <div class="col-md-7 col-sm-9">
                            @Html.MyDropdownListFor(model => model.CountryCode, (List<SelectListItem>)ViewBag.CountryCodeList)
                            @Html.ValidationMessageFor(model => model.CountryCode, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CustomerSource, htmlAttributes: new { @class = "control-label col-md-5 col-sm-3" })
                        <div class="col-md-7 col-sm-9">
                            @Html.DropDownListFor(model => model.CustomerSource, new SelectList(new List<Object>{
                            new {value = "Facebook", text = "Facebook" },
                            new {value = "Google", text = "Google"},
                            new {value = "Local", text = "Local"},
                            new {value = "Homegate", text = "Homegate"},
                            new {value = "Topmovers", text = "Topmovers" },
                            new {value = "Compero", text = "Compero" },
                            new {value = "Move.ch", text = "Move.ch" },
                            new {value = "Existing Customer", text = "Existing Customer"},
                            new {value = "Recommendation", text = "Recommendation"},
                            new {value = "Telephone", text = "Telephone" },
                            new {value = "Telsearch", text = "Telsearch" },
                            new {value = "Email", text = "Email" },
                            new {value = "Offertenvergleich.ch", text = "Offertenvergleich.ch"}},"value", "text", 2))
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.OtherSource, htmlAttributes: new { @class = "control-label col-md-5 col-sm-3" })
                        <div class="col-md-7 col-sm-9">
                            @Html.EditorFor(model => model.OtherSource, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.OtherSource, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                    <hr />

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-5 col-sm-3 req-field" })
                        <div class="col-md-7 col-sm-9">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-5 col-sm-3" })
                        <div class="col-md-7 col-sm-9">
                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label col-md-5 col-sm-3" })
                        <div class="col-md-7 col-sm-9">
                            @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Fax, htmlAttributes: new { @class = "control-label col-md-5 col-sm-3" })
                        <div class="col-md-7 col-sm-9">
                            @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <hr />

                    <div class="form-group">
                        @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-5 col-sm-3" })
                        <div class="col-md-7 col-sm-9">
                            @Html.TextAreaFor(model => model.Note, htmlAttributes: new { @class = "form-control", rows = 5 })
                            @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group top-space-inner">
                        <div class="col-md-offset-5 col-md-2 col-sm-offset-3">
                            <input type="submit" value="@ViewBag.SubmitText" class="btn btn-primary btn-block" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
}

@using (Html.BeginForm("Delete", "CustomerHome", new { id = @Model.CustomerId }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-7">
            <div class="form-group">
                <div class="col-md-offset-5 col-md-2 col-sm-offset-3 col-sm-5 col-xs-6">
                    <a href="@(Session["CustomerRedirUrl"] != null ? Session["CustomerRedirUrl"].ToString() : Url.Action("index"))" class="btn btn-default btn-block">Cancel</a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    @if ((Model != null) && (Model.CustomerId > 0))
                    {
                        <input type="submit" value="Clear" class="btn btn-danger btn-block" onclick="javascript:return confirm('Do you want the customer\'@Model.LastName @Model.FirstName @Model.CompanyName\' (Customer-No: @Model.CustomerInnerId) ?');" />
                    }
                </div>
            </div>
        </div>
    </div>
}
