﻿@model CustomerSearchViewModel
@using PagedList.Mvc;

@{
    ViewBag.Title = "Customer";
}

@section Scripts {
    @Scripts.Render("~/bundles/datepicker")
}
@Styles.Render("~/Content/css/datepicker")
@Styles.Render("~/Content/css/pagedlist")

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-xs-12">@Html.ActionLink("Capture new customer", "Edit", null, new { @class = "real-link" })</div>
</div>

<hr />

<div class="bs-box bs-box-callout">
    <div class="bs-top primary">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-11 col-lg-8">
                    <div class="form-horizontal search-box">

                        <div class="form-group">
                            @Html.LabelFor(model => model.SearchFilter.MarketId, htmlAttributes: new { @class = "control-label col-sm-3 col-md-2" })
                            <div class="col-sm-9 col-md-6">
                                @Html.RadioButtonSearchForEnum(model => model.SearchFilter.MarketId)
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.SearchFilter.LastName, htmlAttributes: new { @class = "control-label col-sm-3 col-md-4" })
                                    <div class="col-sm-9 col-md-8">
                                        @Html.EditorFor(model => model.SearchFilter.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.SearchFilter.FirstName, htmlAttributes: new { @class = "control-label col-sm-3 col-md-2" })
                                    <div class="col-sm-9 col-md-8">
                                        @Html.EditorFor(model => model.SearchFilter.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SearchFilter.CompanyName, htmlAttributes: new { @class = "control-label col-sm-3 col-md-2" })
                            <div class="col-sm-9 col-md-4">
                                @Html.EditorFor(model => model.SearchFilter.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.SearchFilter.Zip, htmlAttributes: new { @class = "control-label col-sm-3 col-md-4" })
                                    <div class="col-sm-9 col-md-8">
                                        @Html.EditorFor(model => model.SearchFilter.Zip, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.SearchFilter.City, htmlAttributes: new { @class = "control-label col-sm-3 col-md-2" })
                                    <div class="col-sm-9 col-md-8">
                                        @Html.EditorFor(model => model.SearchFilter.City, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            @Html.LabelFor(model => model.SearchFilter.ContractType, htmlAttributes: new { @class = "control-label col-sm-3 col-md-2" })
                            <div class="col-sm-9 col-md-6">
                                @Html.RadioButtonSearchForEnum(model => model.SearchFilter.ContractType)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("From", htmlAttributes: new { @class = "control-label col-sm-3 col-md-2" })
                            <div class="col-sm-4">
                                @Html.MyDatepickerFor(model => model.SearchFilter.DateCreateFrom, false, true)
                            </div>
                            @Html.Label("to", htmlAttributes: new { @class = "control-label col-sm-1" })
                            <div class="col-sm-4">
                                @Html.MyDatepickerFor(model => model.SearchFilter.DateCreateTo, false, true)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 col-md-2">&nbsp;</label>
                            @Html.CheckboxFormGroup(model => model.SearchFilter.NotReached, false, true, true, "col-sm-9 col-md-6")
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-md-offset-2 col-sm-3 col-xs-6">
                                <input type="submit" value="Search" class="btn btn-primary btn-block" />
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                @Html.ActionLink("Reset to default", "Index", "CustomerHome", new { area = "Intranet", reset = 1 }, new { @class = "btn btn-default btn-block" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }






    </div>
    <div class="bs-end">

        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">

                    @*Partial render Resultlist*@
                    @Html.Partial("~/Areas/Intranet/Views/Customer/CustomerHome/ResultList.cshtml", Model)

                    <br />
                    Search has <span class="color-mainlink">@Model.ResultList.TotalItemCount</span> Scored hits.
                    @Html.PagedListPager(Model.ResultList, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort }))
                    <i>Page @(Model.ResultList.PageCount < Model.ResultList.PageNumber ? 0 : Model.ResultList.PageNumber) of @Model.ResultList.PageCount</i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-right">
                    <div class="pull-left inner-space-sm">
                        @Html.ActionLink("Print", "Print", "CustomerHome", new { area = "Intranet", sortOrder = ViewBag.CurrentSort }, new { @class = "btn btn-default btn-block", target = "_blank" })
                    </div>
                    <div class="pull-right inner-space-sm">
                        @Html.ActionLink("Excel", "Csv", "CustomerHome", new { area = "Intranet", sortOrder = ViewBag.CurrentSort }, new { @class = "btn btn-success btn-block" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
