﻿@model CustomerSearchViewModel

@{
    IFormatProvider formatProvider = new System.Globalization.CultureInfo("de-CH");
}
@if (Model.PrintVersion)
{
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/print")
}

<table class="table table-linked @(Model.PrintVersion ? "admin-resultlist" : string.Empty)">
    <thead>
        <tr>
            <th>
                <a href="@Url.Action("Index", new { sortOrder = ViewBag.SortIdParm })">
                    @Html.DisplayNameFor(model => model.ResultListHeader.CustomerInnerId)
                </a>
            </th>
            <th>
                <a href="@Url.Action("Index", new { sortOrder = ViewBag.SortNameParam })">
                    Name
                </a>
            </th>
            <th>
                <a href="@Url.Action("Index", new { sortOrder = ViewBag.SortCityParam })">
                    @Html.DisplayNameFor(model => model.ResultListHeader.City)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResultListHeader.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResultListHeader.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResultListHeader.CustomerSource)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResultListHeader.OtherSource)
            </th>
            <th>
                <a href="@Url.Action("Index", new { sortOrder = ViewBag.SortStateParam })">
                    @Html.DisplayNameFor(model => model.ResultListHeader.ContactStage)
                </a>
            </th>
            <th>
                <a href="@Url.Action("Index", new { sortOrder = ViewBag.SortInContactParam })">
                    @Html.DisplayNameFor(model => model.ResultListHeader.ContactAlreadyHave)
                </a>
            </th>
            @if (!Model.PrintVersion)
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ResultList)
        {
        <tr>
            <td>
                <a href="@Url.Action("Details", new { id = item.CustomerId })">
                    @Html.DisplayFor(modelItem => item.CustomerInnerId)<br />
                </a>
            </td>
            <td>
                <a href="@Url.Action("Details", new { id = item.CustomerId })">
                    @if (item.MarketId == MarketType.Private_person)
                    {
                        @(HttpUtility.HtmlDecode(string.Format(formatProvider, "{0} {1}", Html.DisplayFor(modelItem => item.LastName), Html.DisplayFor(modelItem => item.FirstName))))
                    }
                    else
                    {
                        <i>@Html.DisplayFor(modelItem => item.CompanyName)</i>
                    }
                </a>
            </td>
            <td>
                <a href="@Url.Action("Details", new { id = item.CustomerId })">
                    @Html.LocationDescription(item.Zip, item.City, item.CountryCode)
                </a>
            </td>
            <td>
                <a href="@Url.Action("Details", new { id = item.CustomerId })">
                    @if (!string.IsNullOrEmpty(item.Phone))
                    {
                        @Html.DisplayFor(modelItem => item.Phone)
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Mobile)
                    }
                </a>
            </td>
            <td>
                <a href="@Url.Action("Details", new { id = item.CustomerId })">
                    @Html.DisplayTextFor(modelItem => item.Email)
                </a>
            </td>
            <td>
                <a href="@Url.Action("Details", new { id = item.CustomerSource })">
                    @Html.DisplayTextFor(modelItem => item.CustomerSource)
                </a>
            </td>
            <td>
                <a href="@Url.Action("Details", new { id = item.OtherSource })">
                    @Html.DisplayTextFor(modelItem => item.OtherSource)
                </a>
            </td>
            <td>
                <a href="@Url.Action("Details", new { id = item.CustomerId })">
                    @Html.DisplayFor(modelItem => item.ContactStage)
                </a>
            </td>
            <td>
                <a href="@Url.Action("Details", new { id = item.CustomerId })">
                    @Html.DisplayFor(modelItem => item.ContactAlreadyHave)
                </a>
            </td>
            @if (!Model.PrintVersion)
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CustomerId }, new { @class = "real-link" })
                </td>
            }
        </tr>
        }
    </tbody>

</table>

@if (Model.PrintVersion)
{
    <script>
        window.print();
    </script>
}